<template>
    <div class="chat">
        <div class="chat__companion">
            <button class="chat__back" @click.prevent="back">
                <SvgSymbol name="back" class="chat__back-icon" />
            </button>
            <a class="chat__companion-link" :href="companion.url">
                <div class="chat__companion-wrapper">
                    <div class="chat__companion-avatar">
                        <BackendImage :image="companion.avatar" />
                    </div>
                    <div class="chat__companion-name">{{ companion.name }}</div>
                </div>
            </a>
        </div>

        <div class="chat__messages custom-scrollbar" ref="messagesContainer">
            <TransitionGroup
                name="fade"
                tag="div"
                class="chat__list"
                @enter="scrollToBottom"
            >
                <template v-for="(message, index) in chat.messages">
                    <div v-if="needRenderDate(index)" :key="message.id + 'date'" class="chat__date">
                        {{ getDate(message.date) }}
                    </div>
                    <Message
                        :key="message.id"
                        :message="message"
                        :users="users"
                        :my-id="myId"
                        class="chat__message"
                    />
                </template>
            </TransitionGroup>
        </div>

        <div class="chat__controls">
            <!-- key - для сброса поля ввода при переключении чатов -->
            <ChatWrite class="chat__write" :key="chat.toUserId" @send="onSend" />

            <div v-if="chat && chat.order && chat.order.length" class="chat__order">
                <ChatOrderProductsSlider :items="chat.order" @remove="removeProduct" />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Emit, Prop, Ref, Vue} from 'vue-property-decorator';
    import TChatUser from '~/types/chat/TChatUser';
    import Message from '~/components/chat/messages/Message.vue';
    import ChatOrderProduct from '~/components/chat/ChatOrderProduct.vue';
    import ChatWrite from '~/components/chat/ChatWrite.vue';
    import ChatOrderProductsSlider from '~/components/chat/ChatOrderProductsSlider.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import BackendImage from '~/components/BackendImage.vue';
    import TChat from '~/types/chat/TChat';
    import TChatUserRef from '~/types/chat/TChatUserRef';

    @Component({
        components: {BackendImage, SvgSymbol, ChatOrderProductsSlider, ChatWrite, ChatOrderProduct, Message},
    })
    export default class ChatMessages extends Vue {
        @Prop({required: true}) chat!: TChat;
        @Prop({required: true}) users!: TChatUserRef;
        @Prop({required: true}) myId!: number;

        @Ref('messagesContainer') messagesContainer!: HTMLElement;

        mounted() {

        }

        get companionId() {
            if (this.chat.fromUserId !== this.myId) {
                return this.chat.fromUserId;
            } else {
                return this.chat.toUserId;
            }
        }

        get companion(): TChatUser {
            return this.users[this.companionId];
        }

        scrollToBottom() {
            this.messagesContainer.scrollTo({
                top: this.messagesContainer.scrollHeight,
                behavior: 'smooth',
            });
        }

        onSend(message: string, images?: File[]) {
            this.$emit('sendNewMessage', {
                chatUserId: this.chat.toUserId,
                message: message,
                images,
            });
        }

        needRenderDate(index: number): boolean {
            if (index === 0) {
                return true;
            }

            const currentTimestamp = this.chat.messages[index].date * 1000;
            const prevTimestamp = this.chat.messages[index - 1].date * 1000;
            const currentDate = new Date();
            const prevDate = new Date();

            currentDate.setTime(currentTimestamp);
            prevDate.setTime(prevTimestamp);

            return currentDate.getFullYear() !== prevDate.getFullYear()
                || currentDate.getMonth() !== prevDate.getMonth()
                || currentDate.getDate() !== prevDate.getDate();
        }

        getDate(timestamp: number): string {
            const date = new Date();

            date.setTime(timestamp * 1000);

            const dayMonth = new Intl.DateTimeFormat('ru-RU', {
                day: 'numeric',
                month: 'long',
            }).format(date);

            const year = date.getFullYear();

            return dayMonth + ' ' + year;
        }

        removeProduct(basketId: number) {
            this.$emit('removeProduct', { basketId });
        }

        @Emit('back')
        back() {}
    }
</script>
