<template>
    <a :href="item.href" class="chat-product link" draggable="false">
        <div class="chat-product__picture">
            <BackendImage :image="item.picture" draggable="false" />
        </div>

        <div class="chat-product__name" v-html="item.name" />

        <div class="chat-product__price">
            <span v-html="item.price" /> x
            <span>{{ item.count }}</span> =
            <span>{{ item.count * item.price }}</span>
        </div>
    </a>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TChatProduct from '~/types/chat/TChatProduct';
    import BackendImage from '~/components/BackendImage.vue';

    @Component({
        components: {BackendImage},
    })
    export default class ChatProduct extends Vue {
        @Prop({required: true}) item!: TChatProduct;
    }
</script>
