<template>
    <button class="chat-user" :class="{'chat-user--active': active}">
        <span class="chat-user__avatar-wrap">
            <span class="chat-user__avatar">
                <BackendImage :image="companion.avatar" />
            </span>
            <i v-if="hasUnread" class="chat-user__unread" />
        </span>

        <span class="chat-user__name" v-html="companion.name" />

        <span class="chat-user__address" v-html="companion.address" />

        <span class="chat-user__date-wrap">{{ date }}</span>

        <span class="chat-user__message">{{ lastMessage ? lastMessage.message : 'Чат не начат' }}</span>
    </button>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import BackendImage from '~/components/BackendImage.vue';
    import TChat from '~/types/chat/TChat';
    import TChatUserRef from '~/types/chat/TChatUserRef';
    import TChatUser from '~/types/chat/TChatUser';
    import {TMessage} from '~/types/chat/TMessage';
    import {dateTimeFromTimestamp} from '~/helper/common';

    @Component({
        components: {BackendImage},
    })
    export default class ChatPreview extends Vue {
        @Prop({required: true}) chat!: TChat;
        @Prop({required: true}) users!: TChatUserRef;
        @Prop({required: true}) myId!: number;
        @Prop({default: false}) active!: boolean;

        get companionId() {
            if (this.chat.fromUserId !== this.myId) {
                return this.chat.fromUserId;
            } else {
                return this.chat.toUserId;
            }
        }

        get hasUnread() {
            if (this.chat.lastReadId) {
                if (this.lastMessage) {
                    return this.chat.lastReadId < this.lastMessage.id;
                }
            } else if (this.lastMessage) {
                return true;
            }

            return false;
        }

        get companion(): TChatUser {
            return this.users[this.companionId];
        }

        get lastMessage(): TMessage | null {
            return this.chat.messages ? this.chat.messages[this.chat.messages.length - 1] : null;
        }

        get date(): string {
            return this.lastMessage ? dateTimeFromTimestamp(this.lastMessage.date) : '';
        }
    }
</script>
