<template>
    <div class="order-products-slider">
        <VueSlickCarousel
            v-bind="sliderSettings"
            :class="['slider', 'slider--stretch', 'slider--spaced']"
            ref="slider"
            :key="key"
            @reInit="updatePagesDebounced"
            @beforeChange="updatePagesDebounced">
            <div
                v-for="(item, index) in items"
                :key="item.id"
                class="slider__slide order-products-slider__slide"
            >
                <ChatOrderProduct :item="item" draggable="false" />
                <button class="order-products-slider__remove cross-btn" @click="removeProduct(item.id, index)" />
            </div>
        </VueSlickCarousel>

        <SliderNav class="order-products-slider__nav"
                   :current="currentPage"
                   :total="totalPages"
                   @prev-click="prev"
                   @next-click="next" />
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Mixins, Prop, Emit} from 'vue-property-decorator';
    import BaseSlider from '~/components/slider/BaseSlider.vue';
    import VueSlickCarousel from 'vue-slick-carousel';
    import SliderNav from '~/components/slider/SliderNav.vue';
    import CircleDots from '~/components/slider/CircleDots.vue';
    import TChatOrderProduct from '~/types/chat/TChatOrderProduct';
    import ChatOrderProduct from '~/components/chat/ChatOrderProduct.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import {BREAKPOINTS} from '~/helper/const';
    import TSliderParams from '~/types/slider/TSliderParams';

    @Component({
        components: {ChatOrderProduct, CircleDots, SliderNav, VueSlickCarousel},
    })
    export default class chatOrderProductsSlider extends Mixins<TExtendComponent<BaseSlider>>(Vue, BaseSlider) {
        @Prop({default: () => []}) items!: TChatOrderProduct[];

        key: number = 1;
        sliderSettings: TSliderParams = {
            slidesToShow: 2,
            responsive: [
                {
                    breakpoint: BREAKPOINTS.sm,
                    settings: {
                        slidesToShow: 1,

                    },
                },
            ],
        };

        @Emit('remove')
        removeProduct(basketId: number, index: number) {
            this.items.splice(index, 1);
            this.sliderSettings.initialSlide = this.currentPage;
            this.key++;
        }

    }
</script>
