<template>
    <div class="profile-grid page__section">
        <TabsNav :navs="nav" class="profile-grid__nav" />
        <component :is="pageComponent" v-bind="pageData" />
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TTabNav from '~/types/tabs/TTabNav';
    import TObjectCollection from '~/types/TObjectCollection';
    import Profile from '~/components/profile/Profile.vue';
    import TabsNav from '~/components/TabsNav.vue';
    import ChatRoot from '~/components/chat/ChatRoot.vue';
    import ProfileChefProducts from '~/components/profile/ProfileChefProducts.vue';
    import ProfileChefMaterials from '~/components/profile/ProfileChefMaterials.vue';

    type TProfileNavCodes = 'profile' | 'chef-products' | 'favorite' | 'chats' | 'materials' | 'chef-materials';

    type TProfileNav = TTabNav & {
        code: TProfileNavCodes,
    }

    @Component({
        components: {TabsNav, Profile},
    })
    export default class ProfileRoot extends Vue {
        @Prop({default: () => {}}) pageData!: TObjectCollection;
        @Prop({default: () => []}) nav!: TProfileNav[];

        get currentNav(): TProfileNav | undefined {
            return this.nav.find(item => item.active);
        }

        get pageComponent() {
            if (!this.currentNav) {
                return 'div';
            }

            switch (this.currentNav.code) {
                case 'profile':
                    return Profile;
                case 'chef-products':
                    return ProfileChefProducts;
                case 'favorite':
                    return 'div';
                case 'chats':
                    return ChatRoot;
                case 'chef-materials':
                    return ProfileChefMaterials;
                case 'materials':
                    return 'div';
                default:
                    return 'div';
            }
        }
    }
</script>
