<template>
    <div class="profile-info">
        <transition name="fade" mode="out-in">
            <ProfileInfo v-if="!edit" :user-data="userData" class="profile-info__col" @edit="toggleEdit" />
            <ProfileEdit v-else :user-data="userData" :form-data="formData" class="profile-info__col" :only-password="editOnlyPassword" @edit="toggleEdit" />
        </transition>
        <div v-if="imageSrc" class="profile-info__picture">
            <img :src="imageSrc" alt="">
        </div>

        <div v-if="chefData" class="profile-info__chef chef-profile-root">
            <div class="chef-profile">
                <div class="chef-profile__head">
                    <h4 class="h4">Данные повара</h4>
                    <div>
                        <a href="javascript:void(0)" class="chef-profile__edit link link--dashed link--with-icon">
                            <SvgSymbol name="edit" class="link__icon" />
                            <span class="link__text">Редактировать</span>
                        </a>
                    </div>
                </div>
                <ChefInfo :chef-data="chefData" :is-profile="true" />
            </div>

            <div class="chef-profile-root__kitchen">
                <h4 class="h4">Моя кухня</h4>
                <ProfileChefKitchen :items="chefKitchen" />
            </div>

            <div class="chef-profile-root__documents">
                <DocumentsList :groups="documents" :can-add="true" />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import BackendImage from '~/components/BackendImage.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import TUserData from '~/types/profile/TUserData';
    import ProfileInfo from '~/components/profile/ProfileInfo.vue';
    import ProfileEdit from '~/components/profile/ProfileEdit.vue';
    import TFormData from '~/types/form/TFormData';
    import {randString, scrollTo} from '~/helper/common';
    import TChefProfile from '~/types/chef/TChefProfile';
    import TChefKitchen from '~/types/chef/TChefKitchen';
    import TDocumentsGroup from '~/types/TDocumentsGroup';
    import ChefInfo from '~/components/chef/ChefInfo.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormPassword from '~/components/forms/fields/FormPassword.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import ProfileChefKitchen from '~/components/profile/ProfileChefKitchen.vue';
    import DocumentsList from '~/components/documents/DocumentsList.vue';
    import TFormField from '~/types/form/TFormField';

    @Component({
        components: {
            DocumentsList,
            ProfileChefKitchen,
            FormInput, FormPassword, InputLabel, ChefInfo, ProfileEdit, ProfileInfo, SvgSymbol, BackendImage},
    })
    export default class Profile extends Vue {
        @Prop({default: () => {}}) userData!: TUserData;
        @Prop({default: () => {}}) formData!: TFormData;

        @Prop({default: () => {}}) chefData!: TChefProfile;
        @Prop({default: () => []}) chefKitchen!: TChefKitchen[];
        @Prop({default: () => []}) documents!: TDocumentsGroup[];

        @Prop({default: ''}) imageSrc!: string;

        edit: boolean = false;
        editOnlyPassword: boolean = false;

        toggleEdit(onlyPassword: boolean) {
            this.edit = !this.edit;
            this.editOnlyPassword = this.edit && onlyPassword;

            scrollTo(this.$el);
        }
    }
</script>
