<template>
    <div class="profile-chef-kitchen">
        <DndZone handle-class="profile-chef-kitchen__item-image">
            <DndContainer
                :dnd-model="currentItems"
                dnd-id="grid-kitchen"
                dense
                class="profile-chef-kitchen__list"
            >
                <DndItem
                    v-for="(item, index) in currentItems"
                    :key="item.id"
                    :dnd-id="item.id"
                    :dnd-model="item"
                >
                    <div class="profile-chef-kitchen__item">
                        <BackendImage class="profile-chef-kitchen__item-image" :image="item.picture" draggable="false" />
                        <button class="profile-chef-kitchen__remove" @click.prevent="remove(index)">
                            <SvgSymbol name="trash" />
                        </button>
                    </div>
                </DndItem>
                <AddCard key="add-card" text="Добавить фото" />
            </DndContainer>
        </DndZone>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TChefKitchen from '~/types/chef/TChefKitchen';
    import BackendImage from '~/components/BackendImage.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import VueDndZone from 'vue-dnd-zone';
    import AddCard from '~/components/AddCard.vue';

    @Component({
        components: {AddCard, SvgSymbol, BackendImage},
    })
    export default class ProfileChefKitchen extends Vue {
        @Prop({default: []}) items!: TChefKitchen[];

        currentItems: TChefKitchen[] = this.items;

        created() {
            Vue.use(VueDndZone);
        }

        remove(index: number) {
            this.currentItems.splice(index, 1);
        }
    }
</script>
