<template>
    <form v-bind="formData.attributes">
        <template v-if="!onlyPassword">
            <div class="profile-form__section profile-form__head">
                <FormAvatarInput :avatar-src="userData.avatar" class="profile-form__avatar" :state="getField('avatar')" />

                <div class="profile-form__name">
                    <div class="profile-form__label">Как вас зовут?</div>
                    <InputLabel v-bind="getFieldLabelParams('fio')">
                        <FormInput :state="getField('fio')" :has-error="!validation.getField('fio').valid" v-model="fio" />
                    </InputLabel>
                </div>

                <div class="profile-form__address">
                    <div class="profile-form__label">Адрес</div>
                    <InputLabel v-bind="getFieldLabelParams('address')">
                        <FormInput :state="getField('address')" :has-error="!validation.getField('address').valid" v-model="address" />
                        <SvgSymbol name="location" class="profile-form__address-icon" />
                    </InputLabel>
                </div>
            </div>

            <div class="profile-form__section">
                <div class="profile-form__label">Расскажите о&nbsp;себе</div>
                <InputLabel v-bind="getFieldLabelParams('about')">
                    <FormTextarea :state="getField('about')" :has-error="!validation.getField('about').valid" v-model="about" />
                </InputLabel>
            </div>
        </template>

        <div class="profile-form__section profile-form__section--sm">
            <div class="form__grid form__grid--two">
                <template v-if="!onlyPassword">
                    <div>
                        <div class="profile-form__label">Телефон</div>
                        <InputLabel v-bind="getFieldLabelParams('phone')">
                            <FormInput :state="getField('phone')" :has-error="!validation.getField('phone').valid" v-model="phone" />
                        </InputLabel>
                    </div>

                    <div>
                        <div class="profile-form__label">Email</div>
                        <InputLabel v-bind="getFieldLabelParams('email')">
                            <FormInput :state="getField('email')" :has-error="!validation.getField('email').valid" v-model="email" />
                        </InputLabel>
                    </div>
                </template>
            </div>
        </div>

        <div class="profile-form__section">
            <FormSubmit v-if="hasField('submit')" class="form__submit" :state="getField('submit')" @click.native.prevent="emitEdit" />
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Emit, Mixins, Prop, Vue} from 'vue-property-decorator';
    import TUserData from '~/types/profile/TUserData';
    import BackendImage from '~/components/BackendImage.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import FormAvatarInput from '~/components/forms/fields/FormAvatarInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import FormTextarea from '~/components/forms/fields/FormTextarea.vue';
    import FormPassword from '~/components/forms/fields/FormPassword.vue';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';

    @Component({
        components: {
            FormSubmit,
            FormPassword, FormTextarea, FormInput, InputLabel, FormAvatarInput, SvgSymbol, BackendImage},
    })
    export default class ProfileEdit extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        @Prop({default: () => {}}) userData!: TUserData;
        @Prop({default: false}) onlyPassword!: boolean;

        fio: string = '';
        address: string = '';
        about: string = '';
        phone: string = '';
        email: string = '';

        @Emit('edit')
        emitEdit() {}
    }
</script>
