<template>
    <div class="chef-profile-products">
        <transition name="fade" mode="out-in">
            <DndZone v-if="!inAdd" :handle-class="isAdaptive ? 'non-exists-selector' : 'product-card__img'">
                <DndContainer
                    :dnd-model="currentProducts"
                    dnd-id="grid-products"
                    dense
                    class="chef-profile-products__list"
                >
                    <DndItem
                        v-for="(product, index) in currentProducts"
                        :key="product.id"
                        :dnd-id="product.id"
                        :dnd-model="product"
                    >
                        <ProductCard :item="product" :editable="true" @delete="deleteProduct(index)" />
                    </DndItem>
                    <AddCard key="add-item" text="Добавить<br> блюдо" @click.native="inAdd = true" />
                </DndContainer>
            </DndZone>
            <AddProductForm v-else :form-data="formData" title="Добавить блюдо" class="chef-profile-products__form" @submit="inAdd = false" />
        </transition>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
    import BackendImage from '~/components/BackendImage.vue';
    import ChefLabels from '~/components/chef/ChefLabels.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import ChefInfo from '~/components/chef/ChefInfo.vue';
    import ProfileChefKitchen from '~/components/profile/ProfileChefKitchen.vue';
    import DocumentsList from '~/components/documents/DocumentsList.vue';
    import {TProduct} from '~/types/product/TProduct';
    import ProductCard from '~/components/product/ProductCard.vue';
    import VueDndZone from 'vue-dnd-zone';
    import AddCard from '~/components/AddCard.vue';
    import TFormData from '~/types/form/TFormData';
    import AddProductForm from '~/components/forms/AddProductForm.vue';
    import {scrollTo} from '~/helper/common';
    import eventBus from '~/helper/event-bus';

    @Component({
        components: {
            AddProductForm,
            AddCard,
            ProductCard, DocumentsList, ProfileChefKitchen, ChefInfo, SvgSymbol, ChefLabels, BackendImage},
    })
    export default class ProfileChefProducts extends Vue {
        @Prop({default: () => []}) products!: TProduct[];
        @Prop({default: () => []}) formData!: TFormData;

        currentProducts: TProduct[] = this.products;
        inAdd: boolean = false;
        isAdaptive: boolean = false;

        created() {
            Vue.use(VueDndZone);
            eventBus.$on('resize-watcher', this.onResize);
        }

        beforeDestroy() {

        }

        @Watch('inAdd')
        onAddChanged() {
            scrollTo(this.$el, 20);
        }

        deleteProduct(index: number) {
            this.currentProducts.splice(index, 1);
        }

        onResize({isSm}) {
            this.isAdaptive = isSm;
        }
    }
</script>
