<template>
    <div class="profile-chef-materials">
        <div class="profile-chef-materials__grid">
            <div>
                <h1 v-if="title" class="h1" v-html="title" />
                <div class="profile-chef-materials__description text-content" v-html="description" />
                <DocumentsList v-if="documents.length" :groups="documents" :sm-title="true" :lg-margin="true" class="profile-chef-materials__documents" />
            </div>
            <div v-if="image" class="profile-chef-materials__picture">
                <img :src="image" alt="">
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TDocumentsGroup from '~/types/TDocumentsGroup';
    import DocumentsList from '~/components/documents/DocumentsList.vue';
    import BackendImage from '~/components/BackendImage.vue';

    @Component({
        components: {BackendImage, DocumentsList},
    })
    export default class ProfileChefMaterials extends Vue {
        @Prop({default: ''}) title!: string;
        @Prop({default: ''}) description!: string;
        @Prop({default: () => []}) documents!: TDocumentsGroup[];
        @Prop({default: null}) image!: string;
    }
</script>
