<template>
    <div class="profile">
        <div class="profile__section profile__head">
            <div class="profile__avatar-wrap">
                <img :src="userData.avatar" alt="">
            </div>
            <a href="javascript:void(0)" class="profile__edit link link--with-icon link--dashed" @click.prevent="emitEdit(false)">
                <SvgSymbol name="edit" class="link__icon" />
                <span class="link__text">Редактировать</span>
            </a>

            <h4 class="h4 profile__name">{{ userData.fio }}</h4>

            <div class="profile__address">
                <SvgSymbol name="location" class="profile__address-icon" />
                <span>{{ userData.address }}</span>
            </div>
        </div>

        <div class="profile__section">
            <h4 class="h4">О себе</h4>
            <div class="profile__about">{{ userData.about }}</div>
            <div class="profile__registration-date">
                <div class="profile__registration-date-label">Дата регистрации</div>
                <div class="profile__registration-date-value">{{ userData.registerDate }}</div>
            </div>
        </div>

        <div class="profile__section form profile__fake-form">
            <h4 class="h4 profile__form-label">Данные для&nbsp;входа</h4>
            <div class="form__grid form__grid--two">
                <InputLabel :label="fakePassword.label" :has-value="true">
                    <FormPassword :state="fakePassword" :show-icon="false" />
                </InputLabel>
                <div class="profile__edit-password">
                    <a href="javascript:void(0)" class="link link--dashed vue-popup" data-type="change-password">Изменить пароль</a>
                </div>
                <div>
                    <InputLabel :label="fakePhone.label" :has-value="true">
                        <FormPhone :state="fakePhone" />
                    </InputLabel>
                </div>
                <div>
                    <InputLabel :label="fakeEmail.label" :has-value="true">
                        <FormInput :state="fakeEmail" />
                    </InputLabel>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Emit, Prop, Vue} from 'vue-property-decorator';
    import TUserData from '~/types/profile/TUserData';
    import BackendImage from '~/components/BackendImage.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import FormPassword from '~/components/forms/fields/FormPassword.vue';
    import TFormField from '~/types/form/TFormField';
    import {randString} from '~/helper/common';
    import FormPhone from '~/components/forms/fields/FormPhone.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';

    @Component({
        components: {InputLabel, FormInput, FormPhone, FormPassword, SvgSymbol, BackendImage},
    })
    export default class ProfileInfo extends Vue {
        @Prop({default: () => {}}) userData!: TUserData;

        @Emit('edit')
        emitEdit(password: boolean) {}

        get fakePassword(): TFormField {
            return {
                type: 'password',
                value: randString(20),
                label: 'Пароль',
                disabled: true,
            };
        }

        get fakePhone(): TFormField {
            return {
                type: 'tel',
                value: this.userData.phone,
                label: 'Телефон',
                disabled: true,
            };
        }

        get fakeEmail(): TFormField {
            return {
                type: 'email',
                value: this.userData.email,
                label: 'Email',
                disabled: true,
            };
        }
    }
</script>
