@import "../../_var";

.catalog-category {
    .clear-link();
    .transit(~'background-color, color, opacity');
    display: block;
    background: @cWhite;
    border-radius: @borderRadius;
    box-sizing: border-box;
    padding: 11px 18px;

   .hover({
       color: @cWhite;
       background-color: @cGreen;

       .catalog-category {
           &__count {
               color: currentColor;
           }
       }
   });

    &__name {
        font: 700 var(--fs24)/var(--lh24) @font;
        white-space: nowrap;
    }

    &__count {
        color: @cTextGrey;
        font: 400 var(--fs12)/var(--lh12) @font;
        white-space: nowrap;
    }
}
