@import "../../_var";

.catalog-nav {
    position: sticky;
    z-index: @catalogNavZIndex;
    top: calc(var(--header-fixed-height) - 1px);
    display: grid; // fix при скролле не учитывался правый паддинг, крайний элемент прилипал к границе экрана
    margin: calc(-1 * var(--m10)) calc(-1 * var(--page-gutter));
    padding: var(--m10) 45px;
    background: @cBgWhite;
    overflow: hidden;

    &__scroll-wrap {
        overflow: auto;
    }


    &__items {
        display: flex;
    }

    &__item {
        flex-basis: 100%;

        &:not(:last-child) {
            margin-right: var(--grid-gap);
        }
    }

    @media @mediaXl {
        padding-left: var(--page-gutter);
        padding-right: var(--page-gutter);
    }
}
