<template>
    <form v-bind="formData.attributes">
        <h2 class="h1 add-product-form__title" v-html="title" />

        <div class="form__grid form__grid--two add-product-form__groups">
            <div class="form__grid add-product-form__group">
                <InputLabel v-bind="getFieldLabelParams('category')" tag="div">
                    <FormSelect v-model="category" :state="getField('category')" :has-error="!validation.getField('category').valid" />
                </InputLabel>
                <InputLabel v-bind="getFieldLabelParams('name')">
                    <FormInput v-model="name" :state="getField('name')" :has-error="!validation.getField('name').valid" />
                </InputLabel>
                <InputLabel v-bind="getFieldLabelParams('description')">
                    <FormTextarea v-model="description" :state="getField('description')" :has-error="!validation.getField('description').valid" />
                </InputLabel>
            </div>

            <div class="form__grid add-product-form__group">
                <InputLabel v-bind="getFieldLabelParams('amount')">
                    <FormInput v-model="amount" :state="getField('amount')" :has-error="!validation.getField('amount').valid" />
                </InputLabel>
                <InputLabel v-bind="getFieldLabelParams('weight')">
                    <FormInput v-model="weight" :state="getField('weight')" :has-error="!validation.getField('weight').valid" />
                </InputLabel>
                <InputLabel v-bind="getFieldLabelParams('preparingTime')">
                    <FormTextarea v-model="preparingTime" :state="getField('preparingTime')" :has-error="!validation.getField('preparingTime').valid" />
                </InputLabel>
            </div>

            <div class="form__grid add-product-form__group">
                <InputLabel v-bind="getFieldLabelParams('calories')">
                    <FormInput v-model="calories" :state="getField('calories')" :has-error="!validation.getField('calories').valid" />
                </InputLabel>

                <div class="form__grid">
                    <InputLabel v-bind="getFieldLabelParams('protein')">
                        <FormInput v-model="protein" :state="getField('protein')" :has-error="!validation.getField('protein').valid" />
                    </InputLabel>
                    <InputLabel v-bind="getFieldLabelParams('fats')">
                        <FormInput v-model="fats" :state="getField('fats')" :has-error="!validation.getField('fats').valid" />
                    </InputLabel>
                    <InputLabel v-bind="getFieldLabelParams('carbohydrates')">
                        <FormInput v-model="carbohydrates" :state="getField('carbohydrates')" :has-error="!validation.getField('carbohydrates').valid" />
                    </InputLabel>
                </div>

                <div>
                    <a href="javascript:void(0)" class="add-product-form__help link link--dashed">Как рассчитать калорийность и БЖУ?</a>
                </div>
            </div>

            <div class="form__grid add-product-form__group">
                <div class="form__grid add-product-form__cell-group">
                    <FormMultiCheckboxTag :state="getField('tags')" />
                </div>

                <div class="form__grid add-product-form__cell-group">
                    <InputLabel v-bind="getFieldLabelParams('packing')">
                        <FormInput v-model="packing" :state="getField('packing')" :has-error="!validation.getField('packing').valid" />
                    </InputLabel>

                    <InputLabel v-bind="getFieldLabelParams('price')">
                        <FormInput v-model="price" :state="getField('price')" :has-error="!validation.getField('price').valid" />
                    </InputLabel>

                    <FormCheckbox :state="getField('delivery')" :error="validation.firstFieldError('delivery')" v-model="delivery" />
                </div>
            </div>
        </div>

        <div class="add-product-form__bottom">
            <FormFile :state="getField('images')" />

            <div class="form__submit-wrap">
                <FormSubmit v-if="hasField('submit')" class="form__submit" :state="getField('submit')" @click.native.prevent="submit" />
            </div>
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormSelect from '~/components/forms/fields/FormSelect.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import FormTextarea from '~/components/forms/fields/FormTextarea.vue';
    import FormCheckbox from '~/components/forms/fields/FormCheckbox.vue';
    import FormFile from '~/components/forms/fields/FormFile.vue';
    import FormMultiCheckboxTag from '~/components/forms/fields/FormMultiCheckboxTag.vue';

    @Component({
        components: {
            FormMultiCheckboxTag,
            FormFile, FormCheckbox, FormTextarea, FormInput, FormSelect, InputLabel, FormSubmit},
    })
    export default class AddProductForm extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        @Prop({default: ''}) title!: string;

        category: string | null = null;
        name: string = '';
        description: string = '';
        amount: string = '';
        weight: string = '';
        preparingTime: string = '';
        packing: string = '';
        calories: string = '';
        protein: string = '';
        fats: string = '';
        carbohydrates: string = '';
        tags: string[] = [];
        price: string = '';
        delivery: boolean = true;
    }
</script>
