<template>
    <form v-bind="formData.attributes">
        <div class="form__grid">
            <InputLabel v-bind="getFieldLabelParams('email')">
                <FormInput v-model="email" :state="getField('email')" :has-error="!validation.getField('email').valid" />
            </InputLabel>
            <InputLabel v-bind="getFieldLabelParams('password')">
                <FormPassword v-model="password" :state="getField('password')" :has-error="!validation.getField('password').valid" />
            </InputLabel>
        </div>

        <div class="auth-form__submit-wrap form__submit-wrap">
            <FormSubmit v-if="hasField('submit')" class="form__submit" :state="getField('submit')" @click.native.prevent="submit" />
            <a href="javascript:void(0)" class="auth-form__remember link link--with-icon link--dashed">
                <SvgSymbol name="key" class="link__icon" />
                <span class="link__text">Напомнить пароль</span>
            </a>
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Vue} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormPassword from '~/components/forms/fields/FormPassword.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol, FormPassword, InputLabel, FormInput, FormSubmit},
    })
    export default class AuthForm extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        email: string = '';
        password: string = '';
    }
</script>
