<template></template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue} from 'vue-property-decorator';
    import TFormField from '~/types/form/TFormField';
    import TFormData from '~/types/form/TFormData';
    import FormValidate from 'sx-vue-form-validator';
    import {convertValidator} from '~/helper/validation';
    import {ValidatorFieldState} from 'sx-vue-form-validator/src/ValidatorFieldState';
    import {ValidatorRuleState} from 'sx-vue-form-validator/src/ValidatorRuleState';
    import TObjectCollection from '~/types/TObjectCollection';

    @Component
    export default class BaseForm extends Mixins(FormValidate, Vue) {
        @Prop({default: () => {}}) formData!: TFormData;

        created() {
            this['fieldState'] = this['fieldState'] || {};

            for (const fieldName in this.formData.validation) {
                const fieldValidations = this.formData.validation[fieldName];
                const rules = {};
                const message = {};
                const field = this.formData.fields[fieldName];

                if (!field) {
                    continue;
                }

                // собираем валидаторы
                for (const validationName in fieldValidations) {
                    const validatorData = fieldValidations[validationName];
                    const validator = convertValidator(validationName, validatorData);

                    rules[validationName] = validator.rule;

                    if (validator.message) {
                        message[validationName] = validator.message;
                    }
                }

                // backend при requiredIf имеет и required, но front'у он не нужен
                if (rules.hasOwnProperty('requiredIfEmpty')) {
                    delete rules['required'];
                }

                // копипаст из валидатора, т.к. в нем нет методов для добавления валидаторов без декоратора
                const filedState = new ValidatorFieldState(this, fieldName);

                this.validation.fieldState[fieldName] = Vue.observable(filedState);
                this.validation.fieldState[fieldName].rules = rules;

                for (const ruleName in rules) {
                    let ruleState = new ValidatorRuleState(rules[ruleName], message[ruleName]);

                    this.validation.fieldState[fieldName].rules[ruleName] = Vue.observable(ruleState);
                }

                // навешиваем watch на свойства, в которых хранятся значения инпутов
                // класс формы должен в себе содержать свойства для каждого инпута
                this.$watch(fieldName, () => this.validateField(fieldName));
            }
        }

        hasField(fieldName: string): boolean {
            return !!this.getField(fieldName);
        }

        getField(fieldName: string): TFormField | null {
            return this.formData.fields[fieldName];
        }

        getFieldLabelParams(fieldName: string): TObjectCollection {
            const field = this.getField(fieldName);

            if (!field) {
                return  {};
            }

            return {
                label: field.label,
                error: this.validation.firstFieldError(fieldName),
                hasValue: !!this[fieldName],
            };
        }

        validateField(fieldName: string) {
            this.validation.validateField(fieldName);
        }

        submit(ev: Event) {
            ev.preventDefault();
            this.validation.isValid();

            this.$emit('submit');

            return;
        }
    }
</script>
