<template>
    <form v-bind="formData.attributes">
        <div class="become-chef-form__grid">
            <div>
                <div class="become-chef-form__group">
                    <div class="become-chef-form__group-label">Расскажите о&nbsp;себе</div>

                    <div class="form__grid">
                        <InputLabel v-bind="getFieldLabelParams('name')">
                            <FormInput v-model="name" :state="getField('name')" :has-error="!validation.getField('name').valid" />
                        </InputLabel>

                        <InputLabel v-bind="getFieldLabelParams('phone')">
                            <FormPhone v-model="phone" :state="getField('phone')" :has-error="!validation.getField('phone').valid" />
                        </InputLabel>

                        <InputLabel v-bind="getFieldLabelParams('about')">
                            <FormTextarea v-model="about" :state="getField('about')" :has-error="!validation.getField('about').valid" />
                        </InputLabel>

                        <InputLabel v-bind="getFieldLabelParams('specialization')" tag="div">
                            <FormSelect v-model="specialization" :state="getField('specialization')" :has-error="!validation.getField('specialization').valid" />
                        </InputLabel>
                    </div>
                </div>

                <div class="become-chef-form__group">
                    <div class="become-chef-form__group-label">Выберите категории меню</div>

                    <div class="form__grid">
                        <FormMultiCheckbox v-model="categories" :state="getField('categories')" :two-columns="true" />
                    </div>
                </div>

                <div class="become-chef-form__group">
                    <div class="become-chef-form__group-label">Где вы&nbsp;готовите</div>

                    <div class="form__grid">
                        <InputLabel v-bind="getFieldLabelParams('address')" class="become-chef-form__location">
                            <SvgSymbol name="location" class="become-chef-form__location-icon" />
                            <FormInput v-model="address" :state="getField('address')" :has-error="!validation.getField('address').valid" />
                        </InputLabel>

                        <FormFile v-model="kitchenImages" :state="getField('kitchenImages')" :error="validation.firstFieldError('kitchenImages')" />
                    </div>
                </div>

                <div class="become-chef-form__group">
                    <div class="become-chef-form__group-label">Ваш опыт</div>

                    <div class="form__grid">
                        <InputLabel v-bind="getFieldLabelParams('experience')">
                            <FormInput v-model="experience" :state="getField('experience')" :has-error="!validation.getField('experience').valid" />
                        </InputLabel>
                    </div>
                </div>

                <div class="become-chef-form__group">
                    <div class="become-chef-form__group-label">Подтверждение личности</div>

                    <div class="become-chef-form__group-text">
                        Чтобы зарегистрироваться на сервисе, прикрепите <b>фото лица с&nbsp;паспортом на фоне вашей кухни</b> и&nbsp;отправьте заявку на модерацию
                    </div>

                    <FormFile v-model="passport" :state="getField('passport')" :error="validation.firstFieldError('passport')" />
                </div>

                <div class="become-chef-form__group">
                    <div class="become-chef-form__group-label">Санитарная книжка</div>

                    <div class="become-chef-form__group-text">
                        Если у&nbsp;вас есть санитарная книжка — прикрепите ее&nbsp;фото, это повысит доверие потенциальных заказчиков
                    </div>

                    <FormFile v-model="sanitaryBook" :state="getField('sanitaryBook')" :error="validation.firstFieldError('sanitaryBook')" />
                </div>

                <div class="become-chef-form__group">
                    <div class="become-chef-form__group-label">У&nbsp;вас есть сертификаты? Аще агонь!</div>

                    <div class="become-chef-form__group-text">
                        Вы&nbsp;проходили специализированные курсы или может у&nbsp;вас профессиональное кулинарное образование? Это только большой плюс для вас
                    </div>

                    <FormFile v-model="certificates" :state="getField('certificates')" :error="validation.firstFieldError('certificates')" />
                </div>
            </div>
            <div class="become-chef-form__avatar">
                <FormAvatarInput v-model="avatar" :state="getField('avatar')" class="become-chef-form__avatar-load">
                    <div class="become-chef-form__avatar-placeholder">
                        <SvgSymbol name="camera" />
                        <div class="become-chef-form__avatar-placeholder-text">
                            Добавить фото профиля
                        </div>
                    </div>
                </FormAvatarInput>
            </div>
        </div>

        <div class="form__submit-wrap become-chef-form__submit">
            <FormSubmit v-if="hasField('submit')" class="form__submit" :state="getField('submit')" @click.native.prevent="submit" />
        </div>

        <div class="become-chef-form__notify">
            <b>Внимание!</b> Заявка будет обрабатываться нашими модераторами —
            это может занять некоторое время
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Vue} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormTextarea from '~/components/forms/fields/FormTextarea.vue';
    import FormMultiCheckbox from '~/components/forms/fields/FormMultiCheckbox.vue';
    import FormFile from '~/components/forms/fields/FormFile.vue';
    import FormAvatarInput from '~/components/forms/fields/FormAvatarInput.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import FormSelect from '~/components/forms/fields/FormSelect.vue';
    import FormPhone from '~/components/forms/fields/FormPhone.vue';

    @Component({
        components: {
            FormPhone,
            FormSelect,
            SvgSymbol,
            FormAvatarInput, FormFile, FormMultiCheckbox, FormTextarea, InputLabel, FormInput, FormSubmit},
    })
    export default class BecomeChefForm extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        name: string = '';
        phone: string = '';
        about: string = '';
        categories: string[] = [];
        address: string = '';
        kitchenImages: Map<number, File> = new Map<number, File>();
        specialization: string | null = null;
        experience: string = '';
        passport: Map<number, File> = new Map<number, File>();
        sanitaryBook: Map<number, File> = new Map<number, File>();
        certificates: Map<number, File> = new Map<number, File>();
        avatar: Map<number, File> = new Map<number, File>();
    }
</script>
