<template>
    <form v-bind="formData.attributes">
        <div class="form__grid">
            <InputLabel v-bind="getFieldLabelParams('password')">
                <FormPassword v-model="password" :state="getField('password')" :has-error="!validation.getField('password').valid" />
            </InputLabel>

            <InputLabel v-bind="getFieldLabelParams('newPassword')">
                <FormPassword v-model="newPassword" :state="getField('newPassword')" :has-error="!validation.getField('newPassword').valid" />
            </InputLabel>
        </div>

        <div class="form__privacy" v-html="formData.privacy" />

        <div class="form__submit-wrap">
            <FormSubmit v-if="hasField('submit')" class="form__submit" :state="getField('submit')" @click.native.prevent="submit" />
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Vue} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormPassword from '~/components/forms/fields/FormPassword.vue';

    @Component({
        components: {FormPassword, InputLabel, FormSubmit},
    })
    export default class ChangePasswordForm extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        password: string = '';
        newPassword: string = '';
    }
</script>
