<template>
    <form action="javascript:void(0);" class="count-form">
        <button class="btn btn--clear btn--counter"
                :disabled="value === min"
                @click="remove"><span class="minus"></span></button>

        <FormInput :state="fakeFieldState"
                   class="count-form__input"
                   :input-filter="inputFilter"
                   v-model="value" />

        <button class="btn btn--clear btn--counter"
                :disabled="value === max"
                @click="add"><span class="plus"></span></button>
    </form>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import TFormField from '~/types/form/TFormField';

    @Component({
        components: {FormInput},
    })
    export default class CountForm extends Vue {
        @Prop({default: 1}) min!: number;
        @Prop({default: 999}) max!: number;
        @Prop({default: 1}) interval!: number;

        value: number = this.fakeFieldState.value || this.min;

        get fakeFieldState(): TFormField {
            return {
                type: 'number',
                value: 1,
            };
        }


        add() {
            this.value += this.interval;
        }

        remove() {
            this.value -= this.interval;
        }

        inputFilter(value) {
            value = parseInt(value);

            if (isNaN(value)) {
                value = 1;
            }

            if (value < this.min) value = this.min;

            if (value > this.max) value = this.max;

            return value;
        }
    }
</script>
