<template>
    <div class="range">
        <div class="range__inputs">
            <FormInput :state="fakeStartFieldState"
                       class="range__input"
                       :input-filter="clearValue"
                       v-model="value[0]" />

            <FormInput :state="fakeEndFieldState"
                       class="range__input"
                       :input-filter="clearValue"
                       v-model="value[1]" />
        </div>

        <VueSlider v-model="value"
                   tooltip="none"
                   dot-size="16"
                   height="4px"
                   :marks="[min, max]"
                   :min="min"
                   :max="max"
                   :interval="interval"
                   ref="range"
                   class="range__slider"/>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Ref} from 'vue-property-decorator';
    import VueSlider  from 'vue-slider-component';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import TFormField from '~/types/form/TFormField';

    @Component({
        components: {FormInput, VueSlider},
    })

    export default class FormRange extends Vue {
        @Prop({default: 0}) min!: number;
        @Prop({default: 1}) max!: number;
        @Prop({default: 1}) interval!: number;

        @Ref('range') range!: any;

        value: number[] = [this.fakeStartFieldState.value, this.fakeEndFieldState.value];

        get fakeStartFieldState(): TFormField {
            return {
                type: 'number',
                value: 0,
            };
        }

        get fakeEndFieldState(): TFormField {
            return {
                type: 'number',
                value: 150,
            };
        }

        clearValue(value) {
            value = parseInt(value);

            if (isNaN(value)) {
                value = 0;
            }

            if (value < this.min) value = this.min;

            if (value > this.max) value = this.max;

            return value;
        }
    }
</script>
