<template>
    <form v-bind="formData.attributes">
        <div class="form__grid">
            <InputLabel v-bind="getFieldLabelParams('email')">
                <FormInput v-model="email" :state="getField('email')" :has-error="!validation.getField('email').valid" />
            </InputLabel>
            <InputLabel v-bind="getFieldLabelParams('phone')">
                <FormPhone v-model="phone" :state="getField('phone')" :has-error="!validation.getField('phone').valid" />
            </InputLabel>
            <InputLabel v-bind="getFieldLabelParams('password')">
                <FormPassword v-model="password" :state="getField('password')" :has-error="!validation.getField('password').valid" :show="showPassword" @change-show="onChangeShow" />
            </InputLabel>
            <InputLabel v-bind="getFieldLabelParams('repeatPassword')">
                <FormPassword v-model="repeatPassword" :state="getField('repeatPassword')" :has-error="!validation.getField('repeatPassword').valid" :show="showPassword" @change-show="onChangeShow" />
            </InputLabel>
        </div>

        <div class="form__privacy form__privacy--border" v-html="formData.privacy" />

        <div class="form__submit-wrap">
            <FormSubmit v-if="hasField('submit')" class="form__submit" :state="getField('submit')" @click.native.prevent="submit" :color="submitcolor" />
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Vue, Watch, Prop} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormPassword from '~/components/forms/fields/FormPassword.vue';
    import FormPhone from '~/components/forms/fields/FormPhone.vue';

    @Component({
        components: {FormPhone, FormPassword, InputLabel, FormInput, FormSubmit},
    })
    export default class RegistrationForm extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        @Prop({default: ''}) submitcolor!: string;

        email: string = '';
        phone: string = '';
        password: string = '';
        repeatPassword: string = '';

        showPassword: boolean = false;

        onChangeShow(show: boolean) {
            this.showPassword = show;
            this.repeatPassword = this.password;
        }

        @Watch('password')
        onPasswordChanged() {
            if (!this.showPassword) {
                return;
            }

            this.repeatPassword = this.password;
        }

        @Watch('repeatPassword')
        onRepeatPasswordChanged() {
            if (!this.showPassword) {
                return;
            }

            this.password = this.repeatPassword;
        }
    }
</script>
