<template>
    <form v-bind="formData.attributes">
        <div class="form__grid">
            <InputLabel v-bind="getFieldLabelParams('email')">
                <FormInput v-model="email" :state="getField('email')" :has-error="!validation.getField('email').valid" />
            </InputLabel>
        </div>

        <div class="form__submit-wrap">
            <FormSubmit v-if="hasField('submit')" class="form__submit" :state="getField('submit')" @click.native.prevent="submit" />
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Vue} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol, InputLabel, FormInput, FormSubmit},
    })
    export default class RememberPasswordForm extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        email: string = '';
    }
</script>
