<template>
    <div>
        <div v-if="!isAuth">
<!--            <a v-if="basketCount" href="/basket" class="logged-in-block__cart">-->
<!--                <span class="logged-in-block__cart-count" v-html="basketCount" />-->
<!--                <SvgSymbol name="cart-icon" />-->
<!--            </a>-->

            <a v-if="phone" :href="'tel:' + phone" class="logged-in-block__phone link visible-mobile">
                <SvgSymbol name="phone-bold" />
            </a>

            <button class="link link--with-icon link--dashed" @click.prevent="openAuthPopup">
                <span class="link__icon">
                    <SvgSymbol name="sign-in" />
                </span>
                <span class="link__text header__user-text">Вход</span>
            </button>
        </div>

        <div v-else class="logged-in-block">
            <a v-if="phone" :href="'tel:' + phone" class="logged-in-block__phone link visible-mobile">
                <SvgSymbol name="phone-bold" />
            </a>

            <a href="/profile" class="logged-in-block__user hidden-mobile">
                <span class="logged-in-block__avatar">
                    <img :src="userAvatar" alt="" >
                </span>
                <span class="logged-in-block__name" v-html="userName" />
            </a>

            <a v-if="basketCount" href="/basket" class="logged-in-block__cart">
                <span class="logged-in-block__cart-count" v-html="basketCount" />
                <SvgSymbol name="cart-icon" />
            </a>

            <a href="/profile" class="logged-in-block__user visible-mobile">
                <span class="logged-in-block__avatar">
                    <img :src="userAvatar" alt="" >
                </span>
            </a>

            <button class="link link--with-icon link--dashed hidden-mobile" @click.prevent="doLogout">
                <span class="link__icon">
                    <SvgSymbol name="sign-in" />
                </span>
                <span class="link__text header__user-text">Выйти</span>
            </button>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import {postJson} from '~/helper/ajax';
    import {namespace} from 'vuex-class';
    import {sendYmGoal} from '~/helper/seo';

    const BasketStore = namespace('BasketStore');

    @Component({
        components: {SvgSymbol},
    })
    export default class AuthBlock extends Vue {
        @Prop({default: false}) phone!: number;

        @BasketStore.State('count')
        basketCount!:number;

        get isAuth():boolean {
            return APP.isAuth;
        }

        get userName(): string {
            return APP.userData?.name || '';
        }

        get userAvatar(): string {
            return APP.userData?.avatar || '';
        }

        openAuthPopup() {
            this.$eventBus.$emit('open-popup', {
                type: 'auth',
                componentProps: {},
            });
        }

        async doLogout() {
            await postJson('/auth/logout', {});

            window.location.reload();
        }
    }
</script>

<style lang="less">

</style>
