<template>
    <PopupWrapper title="Авторизация" class="auth-popup">
        <AuthForm class="popup__form" :form-data="formData" />
        <AuthSocials :socials="socials" class="auth-popup__socials" />

        <div class="auth-popup__registration">
            <div class="auth-popup__registration-wrap">
                <div class="auth-popup__registration-title">Вы еще не&nbsp;с&nbsp;нами?</div>
                <a href="javascript:void(0)" class="auth-popup__registration-btn btn btn--grey">
                    <span class="btn__text">Зарегистрироваться</span>
                </a>
            </div>
        </div>
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TFormData from '~/types/form/TFormData';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import AuthForm from '~/components/forms/AuthForm.vue';
    import TAuthSocial from '~/types/auth-socials/TAuthSocial';
    import AuthSocials from '~/components/AuthSocials.vue';

    @Component({
        components: {AuthSocials, AuthForm, SvgSymbol, PopupWrapper},
    })
    export default class AuthFormPopup extends Vue {
        @Prop({default: () => []}) formData!: TFormData;
        @Prop({default: () => []}) socials!: TAuthSocial[];
    }
</script>

