<template>
    <PopupWrapper title="Стать поваром" class="become-chef-popup">
        <BecomeChefForm class="popup__form" :form-data="formData" />
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TFormData from '~/types/form/TFormData';
    import BecomeChefForm from '~/components/forms/BecomeChefForm.vue';

    @Component({
        components: {BecomeChefForm, PopupWrapper},
    })
    export default class BecomeChefFormPopup extends Vue {
        @Prop({default: () => []}) formData!: TFormData;
    }
</script>

