<template>
    <PopupWrapper title="Изменить пароль">
        <ChangePasswordForm class="popup__form" :form-data="fakeFormData" />
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TFormData from '~/types/form/TFormData';
    import ChangePasswordForm from '~/components/forms/ChangePasswordForm.vue';

    @Component({
        components: {ChangePasswordForm, PopupWrapper},
    })
    export default class ChangePasswordFormPopup extends Vue {
        get fakeFormData(): TFormData {
            return {
                attributes: {},
                fields: {
                    password: {
                        type: 'password',
                        name: 'password',
                        label: 'Текущий пароль',
                    },
                    newPassword: {
                        type: 'password',
                        name: 'password',
                        label: 'Текущий пароль',
                    },
                    submit: {
                        type: 'submit',
                        label: 'Сохранить',
                    },
                },
                validation: {
                    password: {
                        required: true,
                    },
                    newPassword: {
                        required: true,
                    },
                },
                privacy: '',
            };
        }
    }
</script>

