<template>
    <PopupWrapper title="Выберите свой город" class="locations-popup">
        <Search v-model="searchQuery" :show-btn="false" :state="fakeFieldState" />

        <div class="locations-popup__items">
            <a
                v-for="item in filteredLocations"
                :key="item.id"
                href="javascript:void(0)"
                class="link locations-popup__item"
                :class="{'locations-popup__item--bold': item.bold}"
                v-html="item.name"
            />
        </div>
        <div v-if="!filteredLocations.length" class="popup-locations__empty">По&nbsp;вашему запросу местоположений не&nbsp;найдено</div>
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import Search from '~/components/search/Search.vue';
    import TFormField from '~/types/form/TFormField';

    type TLocation = {
        id: number,
        name: string,
        bold: boolean,
    }

    @Component({
        components: {Search, PopupWrapper},
    })
    export default class LocationsPopup extends Vue {
        @Prop({default: () => []}) items!: TLocation[];

        searchQuery: string = '';

        get filteredLocations(): TLocation[] {
            if (!this.hasSearch) {
                return this.items;
            }

            return this.items.filter(item => {
                return item.name.toLowerCase().indexOf(this.searchQuery.toLowerCase().trim())  !== -1;
            });
        }

        get hasSearch(): boolean {
            return !!this.searchQuery && this.searchQuery.trim().length > 0;
        }

        // todo для верстки
        get fakeFieldState(): TFormField {
            return {
                type: 'search',
                placeholder: 'Введите название города',
                value: '',
            };
        }
    }
</script>

