<template>
    <div class="popup-wrapper" @keydown.tab.capture="onTabDown">
        <div class="popup">
            <h5 class="h5 popup__title" v-html="title" />

            <slot></slot>

            <button class="cross-btn popup__close" @click="close" />
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import eventBus from '~/helper/event-bus';
    import Detector from '~/helper/detector';

    @Component
    export default class PopupWrapper extends Vue {
        @Prop({default: ''}) title!: string;

        firstFocusElement: HTMLElement | null = null;
        lastFocusElement: HTMLElement | null = null;

        mounted() {
            this.findFocusable();
            this.focusFirstElement();
        }

        onTabDown(ev: KeyboardEvent) {
            const target = ev.target as HTMLElement;

            if (target === this.lastFocusElement && !ev.shiftKey) {
                this.firstFocusElement?.focus();
                ev.preventDefault();
                ev.stopPropagation();
            } else if (target === this.firstFocusElement && ev.shiftKey) {
                this.lastFocusElement?.focus();
                ev.preventDefault();
                ev.stopPropagation();
            }
        }

        findFocusable() {
            const search = ['button', 'input', 'textarea', 'select'];

            if (!Detector.isSafari) {
                search.push('a'); // сафари не ставит фокус на ссылки, только если в настройках браузера это не включено
            }

            const elements = this.$el.querySelectorAll(search.join(', '));

            if (!elements.length) {
                this.firstFocusElement = null;
                this.lastFocusElement = null;

                return;
            }

            this.firstFocusElement = elements[0] as HTMLElement;
            this.lastFocusElement = elements[elements.length - 1] as HTMLElement;
        }

        focusFirstElement() {
            if (this.firstFocusElement?.classList.contains('multiselect__input')) {
                // не ставить фокус в мультиселект
                return;
            }

            this.firstFocusElement?.focus();
        }

        close() {
            eventBus.$emit('close-popup');
        }
    }
</script>
