<template>
    <PopupWrapper title="Регистрация" class="registration-popup">
        <a href="javascript:void(0)" class="popup__back link link--with-icon link--dashed">
            <SvgSymbol name="back-arrow" class="link__icon" />
            <span class="link__text">Вернуться к авторизации</span>
        </a>
        <RegistrationForm class="popup__form" :form-data="formData" />
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TFormData from '~/types/form/TFormData';
    import RegistrationForm from '~/components/forms/RegistrationForm.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol, RegistrationForm, PopupWrapper},
    })
    export default class RegistrationFormPopup extends Vue {
        @Prop({default: () => []}) formData!: TFormData;
    }
</script>

