<template>
    <PopupWrapper title="Напомнить пароль" class="registration-popup">
        <a href="javascript:void(0)" class="popup__back link link--with-icon link--dashed">
            <SvgSymbol name="back-arrow" class="link__icon" />
            <span class="link__text">Вернуться к авторизации</span>
        </a>
        <div class="popup__message">
            Введите email, указанный при&nbsp;регистрации.
            Мы&nbsp;пришлем ссылку на&nbsp;изменение пароля
        </div>
        <RememberPasswordForm class="popup__form" :form-data="formData" />
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TFormData from '~/types/form/TFormData';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import RememberPasswordForm from '~/components/forms/RememberPasswordForm.vue';

    @Component({
        components: {RememberPasswordForm, SvgSymbol, PopupWrapper},
    })
    export default class RememberPasswordFormPopup extends Vue {
        @Prop({default: () => []}) formData!: TFormData;
    }
</script>

