@import "../../_var";

.checkbox,
.radio {
    --input-hover-border-color: @cBordersGrey;
    --checkbox-border-offset: .15em;
    --checkbox-icon-offset: 6px;

    position: relative;
    display: inline-block;
    font-size: var(--fs18);
    line-height: var(--lh18);
    cursor: pointer;

    &__input {
        .hide-input();

        &:checked {
            ~ .checkbox {
                &__icon {
                    opacity: 1;
                    transform: scaleX(1);
                }
            }
        }

        &:focus-visible {
            ~ .checkbox {
                &__label {
                    --input-border-color: var(--input-hover-border-color);
                }
            }
        }
    }

    &__label {
        display: flex;
        font-weight: 600;
        user-select: none;

        &:before {
            .pseudo(relative);
            .size(20px);
            .transit(border-color);
            top: var(--checkbox-border-offset);
            margin-right: var(--m20);
            flex-shrink: 0;
            border: 1px solid var(--input-border-color);
            box-sizing: border-box;
        }

        sup {
            margin-left: var(--m10);
            font-size: var(--fs14);
            line-height: 0;
            font-weight: normal;
            color: @cTextGrey;
        }
    }

    &__icon {
        .transit(~'opacity, transform');
        position: absolute;
        left: 5px;
        top: calc(var(--checkbox-border-offset) + var(--checkbox-icon-offset));
        z-index: 2;
        opacity: 0;
        fill: @cGreen !important;
        transform: scaleX(0);
        will-change: opacity, transform; // fix артефакты safari
    }

    &--error {
        --input-border-color: var(--input-error-border-color);
    }

    .hover({
        --input-border-color: var(--input-hover-border-color);
    }, {}, {}, @touch: false);
}

.radio {
    --checkbox-icon-offset: 4px;

    &__label {
        &:before {
            border-radius: 50%;
        }

        &:after {
            .pseudo();
            .size(12px);
            .transit(transform);
            left: 4px;
            top: calc(var(--checkbox-border-offset) + var(--checkbox-icon-offset));
            z-index: 2;
            background: @cGreen;
            border-radius: 50%;
            transform: scale(0);
            opacity: 0;
            will-change: opacity, transform; // fix артефакты safari
        }
    }

    &__input {
        .hide-input();

        &:checked {
            ~ .radio__label {
                &:after {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }
}
