@import "../../_var";

.input {
    .clear-input();
    .transit(~'border-color, color');
    width: 100%;
    padding: 11px calc(30px + var(--input-right-offset)) 11px calc(30px + var(--input-left-offset));
    color: var(--input-color);
    font-size: var(--fs16);
    border: 1px solid var(--input-border-color);
    box-sizing: border-box;
    background-color: var(--input-background-color);
    border-radius: var(--input-border-radius);
    caret-color: var(--input-caret-color);
    appearance: none;

    .hover({
        --input-border-color: var(--input-hover-border-color);
    }, {
        --input-border-color: var(--input-focus-border-color);
    }, {
        --input-border-color: var(--input-active-border-color);
    });

    &:disabled,
    &--disabled {
        --input-color: var(--input-disabled-color);
        --input-border-color: var(--input-disabled-border-color);

        background: @cBgGrey;
    }

    &::placeholder {
        color: var(--input-placeholder-color);
    }

    &--textarea {
        --input-border-radius: 20px;

        &:extend(.custom-scrollbar all);
        padding-top: 0;
        border: none;
        height: 100%;
        cursor: auto;
        overflow-y: auto;
    }

    &--password {
        padding-right: 60px;
    }

    &--search {
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
    }

    &--file {
        .hide-input();
        left: 0;
        top: 0;
    }

    &--error {
        --input-border-color: var(--input-error-border-color) !important;

        padding-right: 55px;
    }
}

.textarea-wrap {
    padding: 10px 20px 10px 0;
    border: 1px solid var(--input-border-color);
    border-radius: 20px;
    height: var(--input-textarea-height);
    box-sizing: border-box;
    overflow: hidden;

    &--error {
        --input-border-color: var(--input-error-border-color);
    }
}

.password-wrap {
    --icon-scale: 0;

    &__icon-wrap {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);

        &:after {
            .pseudo();
            .transit(transform);
            .size(100%, 4px);
            left: 55%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg) scaleX(var(--icon-scale));
            background: linear-gradient(to bottom, @cGreen 0, @cGreen 50%, @cWhite 50%, @cWhite 100%);
            pointer-events: none;
        }
    }

    &__icon {
        fill: @cGreen;
        cursor: pointer;
        user-select: none;
    }

    &--show {
        --icon-scale: 1;
    }

    &--error {
        ~ .input-label__error {
            height: 10px;
            opacity: 0;
        }
    }
}
