@import "../../_var";

.multi-checkbox {
    --columns-count: 1;

    &__items {
        .grid(@rowGap: 15px, @columnsCount: var(--columns-count));
    }

    &--two-columns {
        --columns-count: 2;
    }

    @media @mediaXs {
        &--two-columns {
            --columns-count: 1;
        }
    }
}
