@import "../../_var";

.range {
    position: relative;
    z-index: 1;

    &__inputs {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: var(--m20);
        }

        &:before {
            .size(20px, 1px);
            content: '';
            order: 2;
            flex-shrink: 0;
            background: var(--input-border-color);
            margin: 0 10px;
        }
    }

    &__input {
        flex: 1;
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        &:nth-child(1) {
            order: 1;
        }

        &:nth-child(2) {
            order: 3;
        }
    }

    &__slider {
        margin-left: 10px;
        margin-right: 10px;
    }
}
