@import "../../_var";

.upload-input {
    position: relative;
    display: flex;
    flex-direction: column;

    &__images {
        margin: var(--m20) 0;
    }

    &__btn {
        color: @cGreen;
        font-size: var(--fs14);
        line-height: var(--lh14);
    }

    &__label {
        margin-top: var(--m20);
        font-size: var(--fs14);
        line-height: var(--lh14);
        color: @cTextGrey;
    }

    @media @mediaSm {
        &__btn {
            --link-border-style: none;

            .link {
                &__text {
                    white-space: initial !important;
                }
            }
        }
    }
}
