<template>
    <div>
        <div class="basket-list" v-if="basketsByCook.length">
            <div class="basket-list__items">
                <BasketByCook class="basket-list__item"
                              v-for="item in basketsByCook"
                              :key="item.cook.id"
                              :item="item"/>
            </div>

            <div class="basket-list__right">
                <div class="basket-list__decor decor-man">
                    <div class="decor-man__decor-circle"></div>
                    <div class="decor-man__decor-man"></div>
                </div>
            </div>
        </div>
        <div class="empty-chat" v-else>
            <div class="empty-chat__text empty-chat__text--small text-content">
                В&nbsp;корзине ничего нет. Вы&nbsp;можете выбрать товары в&nbsp;<a href="/menu/">каталоге</a>.
            </div>
            <div class="empty-chat__image-wrap empty-chat__image-wrap--small">
                <div class="empty-chat__image js-parallax">
                    <div data-depth="0.2">
                        <img src="/images/empty-chat/potato.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TBasketByCook} from '~/types/basket/TBasketByCook';
    import BasketByCook from '~/components/basket/BasketByCook.vue';
    import {namespace} from 'vuex-class';

    const BasketStore = namespace('BasketStore');

    @Component({
        components: {
            BasketByCook,
        },
    })
    export default class BasketList extends Vue {
        @Prop() items!: TBasketByCook[];

        @BasketStore.State
        basketsByCook!: TBasketByCook[];

        @BasketStore.Mutation
        updateItems!: (info: TBasketByCook[]) => void;

        created() {
            this.updateItems(this.items);
        }
    }
</script>
