<template>
    <div class="basket-by-cook" :class="{'basket-by-cook__loading' : loading}">
        <div class="basket-by-cook__header">
            <div class="basket-by-cook__speciality">{{item.cook.speciality}}</div>
            <div class="basket-by-cook__name">{{item.cook.name}}</div>

            <button class="basket-by-cook__remove" @click="removeBasket">
                <SvgSymbol name="trash" />
            </button>
        </div>

        <div class="basket-by-cook__list">
            <BasketRow v-for="row in item.rows" :key="row.id" :item="row"/>
        </div>

        <div class="basket-by-cook__footer">
            <div class="basket-by-cook__total">
                ИТОГО: <Price class="basket-by-cook__price" :value="totalPrice"/>
            </div>
            <button class="btn basket-by-cook__btn" @click="toOrder">Перейти к оформлению</button>
        </div>

    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TBasketByCook} from '~/types/basket/TBasketByCook';
    import BasketRow from '~/components/basket/BasketRow.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import Price from '~/components/Price.vue';
    import {namespace} from 'vuex-class';
    import Debounce from '~/decorators/debounce';
    import route from '~/helper/route';
    import {sendYmGoal} from '~/helper/seo';

    const BasketStore = namespace('BasketStore');

    @Component({
        components: {
            BasketRow,
            SvgSymbol,
            Price,
        },
    })
    export default class BasketByCook extends Vue {
        @Prop() item!:TBasketByCook;

        @BasketStore.Action
        remove!: (cookId) => Promise<void>;

        loading = false;

        get totalPrice():number {
            return this.item.rows.reduce( (r, el) => r + el.price * el.count, 0);
        }

        @Debounce({time:300})
        async removeBasket() {
            if (this.loading) return;

            this.loading = true;

            await this.remove(this.item.cook.id);

            this.loading = false;
        }

        toOrder() {
            sendYmGoal('korzinapereiteoformlenue');
            location.href = route('order.index', {cookId: this.item.cook.id});
        }
    }
</script>
