<template>
    <div class="basket-row" :class="{'basket-row__loading' : loading}">
        <div class="basket-row__image">
            <BackendImage :image="item.picture" class="basket-row"/>
        </div>

        <div class="basket-row__text">
            <a :href="item.url" class="basket-row__name link">{{item.name}}</a>
            <div class="basket-row__pros">
                {{ item.weight ? item.weight + ' •' : ''}}
                <Price class="basket-row__pros-price" :value="item.price"/>
            </div>
        </div>

        <div class="basket-row__price">
            <Price :value="item.price * item.count"/>
        </div>

        <div class="basket-row__counter">
            <CountForm :value="item.count" @input="countChange"/>
        </div>

        <div class="basket-row__remove">
            <button class="basket-row__remove-btn"
                    @click="removeItem">
                <SvgSymbol name="trash" />
            </button>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TBasketRow} from '~/types/basket/TBasketRow';
    import BackendImage from '~/components/BackendImage.vue';
    import CountForm from '~/components/forms/CountForm.vue';
    import Price from '~/components/Price.vue';
    import {namespace} from 'vuex-class';
    import Debounce from '~/decorators/debounce';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    const BasketStore = namespace('BasketStore');

    @Component({
        components: {
            BackendImage,
            CountForm,
            Price,
            SvgSymbol,
        },
    })
    export default class BasketRow extends Vue {
        @Prop() item!: TBasketRow;

        @BasketStore.Action
        quantity!: ({dishId, count}) => Promise<void>;

        @BasketStore.Action
        removeDish!: (dishId) => Promise<void>;

        loading = false;

        @Debounce({time:300})
        async countChange(count) {
            if (this.loading) return;

            this.loading = true;

            await this.quantity({dishId: this.item.id, count});

            this.loading = false;
        }

        async removeItem() {
            if (this.loading) return;

            this.loading = true;

            await this.removeDish(this.item.id);

            this.loading = false;
        }
    }
</script>
