@import "../../_var";

.product-label {
    padding: 6px 20px;
    border-radius: 10px;
    font: 700 var(--fs14)/var(--lh14) @font;
    background: @cLightGreen;
    color: @cTextBlack;
    display: inline-block;
    white-space: nowrap;

    @media @mediaSm {
        font: 700 10px/1 @font;
        padding: 5px 10px;
        border-radius: 7px;
    }
}
