@import "../../_var";

.product-card {
    --card-padding: var(--m20);

    .transit(~'box-shadow');
    display: grid;
    grid-column-gap: var(--m10);
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: max-content max-content min-content max-content 1fr;
    grid-template-areas: 'picture picture picture'
                         'cook cook cook'
                         'name name name'
                         'pricesize pricesize btn'
                         'empty empty btn';
    box-sizing: border-box;
    background: @cWhite;
    border-radius: @borderRadius;
    padding: var(--card-padding);

    .hover({
        box-shadow: @shadow;
    }, @activeRuleset: false);

    &:hover {
        .product-card {
            &__btn {
                opacity: 1;
            }
        }
    }

    &__picture {
        .clear-link();
        .picture(372/372, @fit: cover);
        .transit(opacity);
        grid-area: picture;
        border-radius: @borderRadius @borderRadius 0 0;
        margin: calc(-1 * var(--card-padding)) calc(-1 * var(--card-padding)) var(--m10);
        transform: translateZ(0); // fix в сафари по ховеру квадратные уголки

        .hover({
            img {
                transform: scale(@hoverScale);
            }
        });

        img {
            .transit(transform, @transitTimeMedium);
            will-change: transform; // fix в сафари по ховеру квадратные уголки
        }
    }

    &__labels {
        position: absolute;
        left: 15px;
        top: 15px;
        width: 0;

        @media @mediaSm {
            left: 10px;
            top: 10px;
        }
    }

    &__label {
        margin-bottom: 10px;

        @media @mediaSm {
            margin-bottom: 5px;
        }
    }

    &__cook {
        grid-area: cook;
        margin-top: calc(-1* (var(--m10) + 56px/2)); // 56px размер фото повара
        margin-bottom: var(--m10);
        transform: translateZ(0); // fix safari
    }

    &__edit {
        grid-area: edit;
        font-size: var(--fs14);
        line-height: var(--lh14);
    }

    &__name {
        grid-area: name;
        font: 700 var(--fs24)/var(--lh24) @font;
        margin-bottom: var(--m10);
    }

    &__price-size {
        grid-area: pricesize;
        display: flex;
        flex-direction: column;
        justify-content: center;

        /*@media @mediaMd {
            align-items: center;
            display: flex;
        }*/
    }

    &__price {
        grid-area: price;
        font: 700 var(--fs18)/var(--lh18) @font;
        margin-right: 10px;

       /* @media @mediaSm {
            margin-right: 0;
        }*/
    }

    &__size {
        grid-area: size;
        margin-bottom: 3px;
        color: @cTextGrey;
        font: 400 var(--fs12) / var(--lh12) @font;

        /*@media @mediaMd {
            align-self: center;
            margin-bottom: 0;
            margin-left: 10px;
        }*/
    }

    &__btn {
        grid-area: btn;
    }

    &__text {
        grid-area: text;
        color: @cTextGrey;
        font: 400 var(--fs12)/var(--lh12) @font;
        margin-bottom: var(--m20);
        margin-top: var(--m10);
    }

    &__count {
        grid-area: count;
    }

    &__remove {
        .size(40px);
        .clear-button();
        .transit(box-shadow);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10px;
        right: 10px;
        background: @cGreen;
        color: @cWhite;
        border-radius: 50%;

        .hover({
            box-shadow: @shadow;
        });
    }

    &__rating {
        position: absolute;
        bottom: -1px;
        right: -1px;
        background: @cWhite;
        border-radius: 15px 0 0 0;
        font: 700 var(--fs14) @font;
        padding: 0 8px;
        display: flex;
        height: 25px;
        align-items: center;

        .symbol {
            color: #f5df4d;
            margin-right: 3px;
        }
    }

    &--in-list {
        grid-template-rows: max-content auto min-content;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'picture picture'
                             'name name'
                             'pricesize btn';

        .product-card {
            &__picture {
                &:before {
                    padding-bottom: 100% * 274/274;
                    //padding-bottom: 100% * 240/274;
                }
            }

            &__name {
                line-height: 1.2;
            }

            &__btn {
                opacity: 1;
            }
        }
    }

    &--on-detail {
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content 1fr max-content max-content;
        grid-template-areas: 'picture picture'
                             'name name'
                             'pricesize pricesize'
                             'text text';
    }

    &--on-cook {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content 1fr max-content max-content max-content;
        grid-template-areas: 'picture picture picture'
                             'name name name'
                             'pricesize pricesize btn';

        .product-card {
            &__btn {
                opacity: 1;
            }
        }
    }

    &--edit {
        position: relative;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content 1fr max-content max-content;
        grid-template-areas: 'picture picture'
                             'edit edit'
                             'name name'
                             'pricesize pricesize'
                             'text text';
    }

    @media @mediaMoreXl {
        &__count {
            margin-right: 10px; // Подгонка под макет
        }
    }

    @media @mediaLg and @mediaDesktop {
        &__btn {
            font-size: var(--fs14);
        }
    }

    @media @mediaMobile {
        grid-template-columns: max-content 1fr;
        grid-template-areas: 'picture picture'
                             'cook cook'
                             'name name'
                             'pricesize pricesize'
                             'btn btn';

        &--in-list {
            grid-template-columns: max-content 1fr max-content;
            grid-template-areas: 'picture picture picture'
                                 'name name name'
                                 'pricesize pricesize btn';

            .product-card {
                &__text {
                    display: none;
                }

                &__count {
                    margin-top: var(--m20);
                    max-width: 100px;
                }

                &__picture {
                    //.proportional-size(6);
                    .proportional-size(1);
                }
            }
        }

        &--on-detail {
            grid-template-columns: max-content 1fr;
            grid-template-rows: max-content 1fr max-content max-content;
            grid-template-areas: 'picture picture'
                             'name name'
                             'pricesize pricesize'
                             'text text';
        }

        &--on-cook {
            grid-template-columns: 1fr max-content;
            grid-template-rows: max-content 1fr max-content max-content max-content;
            grid-template-areas: 'picture picture'
                             'name name'
                             'pricesize pricesize'
                             'text text'
                             'count btn';

            .product-card {
                &__btn {
                    margin-top: 0;
                }
            }
        }

        &--edit {
            grid-template-columns: max-content 1fr;
            grid-template-rows: max-content 1fr max-content max-content;
            grid-template-areas: 'picture picture'
                             'edit edit'
                             'name name'
                             'pricesize pricesize'
                             'text text';
        }
    }

    @media @mediaSm {
        &--in-list {
            --card-padding: 10px;

            grid-template-rows: max-content 1fr max-content max-content;
            grid-template-areas: 'picture picture picture'
                                 'name name name'
                                 'pricesize pricesize pricesize'
                                 'btn btn btn';

            .product-card-cook__name {
                min-width: auto;
            }

            .product-card {
                &__name {
                    font-size: var(--fs12);
                }

                &__price-size {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                }

                &__size {
                    align-self: end;
                }

                &__btn {
                    --btn-height: auto;

                    margin-top: var(--m10);
                    padding: .5em 1em;
                    font-size: var(--fs12);
                    width: 100%;
                }

                &__count {
                    margin-top: var(--m10);
                }
            }
        }
    }

    @media @mediaHover {
        &__btn {
            opacity: 0;
        }
    }
}
