@import "../../_var";

.promo-card {
    --card-padding: var(--m20);

    background: @cWhite;
    border-radius: @borderRadius;
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;

    .hover({
        box-shadow: @shadow;
    }, @activeRuleset: false);

    @media @mediaSm {
        --card-padding: 10px;
    }

    &__picture {
        .clear-link();
        .picture(372/372, @fit: cover);
        .transit(opacity);
        grid-area: picture;
        border-radius: @borderRadius @borderRadius 0 0;
        margin: calc(-1 * var(--card-padding)) calc(-1 * var(--card-padding)) var(--m10);
        transform: translateZ(0); // fix в сафари по ховеру квадратные уголки
        cursor: pointer;

        .hover({
            img {
                transform: scale(@hoverScale);
            }
        });

        img {
            .transit(transform, @transitTimeMedium);
            will-change: transform; // fix в сафари по ховеру квадратные уголки
        }
    }

    &__name {
        grid-area: name;
        font: 700 var(--fs24)/var(--lh24) @font;
        margin-bottom: var(--m10);
        word-break: break-word;

        @media @mediaSm {
            font-size: var(--fs12);
        }
    }

    &__text {
        grid-area: text;
        color: @cTextGrey;
        font: 400 var(--fs12)/var(--lh12) @font;
        margin-bottom: var(--m20);
    }

    &__price {
        font: 700 var(--fs18)/var(--lh18) @font;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;

        @media @mediaSm {
            flex-direction: column;
            align-items: flex-start;
        }

    }

    &__btn {

        @media @mediaSm {
            width: 100%;
            justify-self: center;
            --btn-height: auto;
            margin-top: var(--m10);
            padding: .5em 1em;
            font-size: var(--fs12);
        }
    }
}
