@import "../../_var";

.faq-item {
    border-bottom: 1px solid @cBordersGrey;

    &__question {
        .clear-link();
        .transit(~'opacity, color');
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 23px 0;
        color: @cTextGrey;
        font: 700 var(--fs24)/var(--lh24) @font;

        .hover({
            color: @cGreen !important;
        });
    }

    &__plus {
        .transit(transform);
        .size(18px);
        --sign-line-width: 3px;
        color: @cGreen;
    }

    &:first-child {
        .faq-item {
            &__question {
                padding-top: 0;
            }
        }
    }

    &__answer {
        padding-bottom: 23px;
    }

    &--open {
        .faq-item {
            &__plus {
                transform: rotate(45deg);
            }

            &__question {
                color: @cTextBlack;
            }
        }
    }
}
