<template>
    <button class="btn" :class="{'btn--loading': loading}" @click.prevent="makeOrder">
        <span class="btn__text">{{ text }}</span>
    </button>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TAjaxResponse} from '~/types/TAjaxResponse';
    import {postJson} from '~/helper/ajax';
    import {showMessagePopup} from '~/helper/common';
    import route from '~/helper/route';
    import {sendYmGoal} from '~/helper/seo';

    @Component({})
    export default class AddToBasketButton extends Vue {
        @Prop({required: true}) itemId!: number;
        @Prop({default: 1}) count!: number;
        @Prop({default: ''}) link!: string;
        @Prop({default: ''}) goal!: string;
        @Prop({default: false}) ignoreLink!: boolean;
        @Prop({default: 'Заказать'}) text!: string;

        loading: boolean = false;

        async makeOrder() {
            if (!this.goal) {
                this.goal = 'kartochkazakazat';
            }

            sendYmGoal(this.goal);

            if (this.link && !this.ignoreLink) {
                window.location.href = this.link;
                return;
            }

            if (!APP.isAuth) {
                this.openAuthPopup();
                return;
            }

            this.loading = true;
            const url = route('basket.add');
            const result = await postJson<TAjaxResponse>(url, { dishId: this.itemId, count: this.count });
            this.loading = false;

            if (result.success) {
                if (result.redirect) {
                    setTimeout(() => { window.location.href = result.redirect!; }, 0);
                }
            } else {
                if (result.message) {
                    // @ts-ignore
                    showMessagePopup(result.message.title, result.message.text);
                }
            }
        }

        openAuthPopup() {
            this.$eventBus.$emit('open-popup', {
                type: 'auth',
                componentProps: {
                    basketElement: { dishId: this.itemId, count: this.count },
                },
            });
        }
    }
</script>
