<template>
    <div class="product-buy">
        <div class="product-buy__props">
            <Price class="product-card__price" :value="item.price" :modifier="count"/>
            <div class="product-buy__weight">{{ item.weight }}</div>
        </div>
        <CountForm v-model="count" class="product-buy__count" />
        <div class="product-buy__btn-wrap">
            <AddToBasketButton :item-id="item.id" :count="count" />
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TProduct} from '~/types/product/TProduct';
    import Price from '~/components/Price.vue';
    import CountForm from '~/components/forms/CountForm.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import AddToBasketButton from '~/components/product/AddToBasketButton.vue';

    @Component({
        components: {SvgSymbol, CountForm, Price, AddToBasketButton},
    })
    export default class BuyBlock extends Vue {
        @Prop({required: true}) item!: TProduct;

        count: number = 1;
    }
</script>
