<template>
    <div class="list product-list page__section">
        <div class="content-container">
            <div class="list__grid">
                <div class="list__filter">
                    <ListFilter
                        :filter="filterParams"
                        :is-open-on-desktop="true"
                        @applyFilter="applyFilter"
                        @resetFilter="resetFilter"
                    />
                </div>

                <div class="list__right-col" :style="{ opacity: isLoading ? 0.5 : 1}">
                    <ProductSearch v-model="searchValue" :suggests="suggests" @select-suggest="onSelectSuggest" />

                    <DistanceFilter />

                    <CatalogNav :items="navItems" class="product-list__nav" />

                    <div v-if="!dishes || !dishes.length">
                        <div class="empty-chat">
                            <div v-if="currentFilter.all && currentFilter.all === '1'" class="empty-chat__text empty-chat__text--small">
                                <span v-html="additionalEmptyResultText" />
                                <br>
                                К&nbsp;сожалению, мы&nbsp;не&nbsp;нашли ни&nbsp;одного блюда по&nbsp;вашему запросу 🙁 Пожалуйста, сбросьте фильтр, чтобы увидеть весь список блюд
                            </div>
                            <div v-else class="empty-chat__text empty-chat__text--small">
                                <span v-html="additionalEmptyResultText" />
                                <br>
                                К&nbsp;сожалению, в&nbsp;вашем городе мы&nbsp;не&nbsp;нашли ни&nbsp;одного блюда по&nbsp;запросу 🙁
                                Попробуйте осуществить поиск <span class="empty-chat__link" @click="showAllCities">по всем городам</span>
                            </div>
                            <div class="empty-chat__image-wrap empty-chat__image-wrap--small">
                                <div class="empty-chat__image js-parallax">
                                    <div data-depth="0.2">
                                        <img src="/images/empty-chat/potato.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list__cards list__cards--xs-2">
                        <template v-for="(item, index) in dishes">
                            <ProductCard :key="`product-${item.id}`"
                                         :item="item"
                                         :add-to-cart="true"
                                         :in-list="true"/>
                            <PromoCard v-if="getPromo(index)"
                                       :key="`promo-${getPromo(index).id}`"
                                       :item="getPromo(index)"/>
                        </template>

                    </div>

                    <LookLoader :data="pageData" @pagination-look="onMoreClick"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
    import TFilter from '~/types/filter/TFilter';
    import ListFilter from '~/components/filter/ListFilter.vue';
    import ProductSearch from '~/components/search/ProductSearch.vue';
    import DistanceFilter from '~/components/filter/DistanceFilter.vue';
    import {TProduct} from '~/types/product/TProduct';
    import ProductCard from '~/components/product/ProductCard.vue';
    import {TCatalogCategory} from '~/types/catalog/TCatalogCategory';
    import CatalogNav from '~/components/catalog/CatalogNav.vue';
    import {TPaginationData} from '~/types/pagination/TPaginationData';
    import {buildQueryString, getJson, postJson} from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';
    import {scrollTo} from '~/helper/common';
    import Debounce from '~/decorators/debounce';
    import MoreButton from '~/components/pagination/MoreButton.vue';
    import {TPromoCard} from '~/types/catalog/TPromoCard';
    import PromoCard from '~/components/product/PromoCard.vue';
    import LookLoader from '~/components/pagination/LookLoader.vue';

    @Component({
        components: {
            LookLoader,
            MoreButton,
            CatalogNav,
            ProductCard,
            DistanceFilter,
            ProductSearch,
            ListFilter,
            PromoCard,
        },
    })
    export default class ProductList extends Vue {
        @Prop({default: () => []}) initialDishes!: TProduct[];
        @Prop({default: () => []}) initialPageData!: TPaginationData;
        @Prop({default: () => []}) initialFilter!: {[key: string]: any};
        @Prop({default: () => []}) filterParams!: TFilter[];
        @Prop({default: () => []}) navItems!: TCatalogCategory[];
        @Prop({default: () => []}) initialPromoCards!: TPromoCard[];
        @Prop({default: () => []}) additionalEmptyResultText!: string;

        dishes: TProduct[] = this.initialDishes;
        pageData: TPaginationData = this.initialPageData;
        promoCards: TPromoCard[] = this.initialPromoCards;

        isLoading: boolean = false;
        searchValue: string = this.initialFilter.search || '';
        currentFilter = this.initialFilter || {};
        suggests: string[] = [];

        created() {
            // @ts-ignore
            window.addEventListener('popstate', () => {
                // todo выставление в фильтр значений из ссылки
                this.load(window.location.href);
            });
        }

        @Watch('searchValue')
        searchChanged() {
            this.searchLoadSuggests(this.searchValue);
        }

        @Debounce({time: 300})
        async searchLoadSuggests(name: string) {
            if (!name.length || name.length < 3) {
                return;
            }

            const response = await postJson<TAjaxResponse>('/menu/suggests', {name});

            if (response.success) {
                this.suggests = response.data!.suggests;
            }
        }

        onPageClick(data) {
            const {link} = data;

            this.load(link.url, false, false);
        }

        onMoreClick(data) {
            const {link} = data;

            this.load(link.url, false, false, true);
        }

        onSelectSuggest(text: string) {
            this.searchValue = text;

            this.currentFilter.search = text;
            const queryString = buildQueryString(this.currentFilter);
            const queryStringFull = (queryString ? '?' + queryString : '');
            const url = window.location.origin + window.location.pathname + queryStringFull;

            this.load(url);
        }

        showAllCities() {
            this.applyFilter({...this.currentFilter, ...{all: '1'}});
            this.$eventBus.$emit('set-filter', {all: '1'});
        }

        applyFilter(filterData) {
            this.currentFilter = {...filterData, search: this.currentFilter.search || ''};
            const queryString = buildQueryString(this.currentFilter);
            const queryStringFull = (queryString ? '?' + queryString : '');

            const url = window.location.origin + window.location.pathname + queryStringFull;

            this.load(url);
        }

        resetFilter() {
            this.currentFilter = {};
            this.searchValue = '';
            this.suggests = [];

            this.$eventBus.$emit('reset-filter');

            const url = window.location.origin + '/menu';

            this.load(url);
        }

        getPromo(index: number): TPromoCard|null {

            const placeNum = 4;
            index = index - 1;
            let i = index % placeNum;

            if (i === (placeNum - 1) ) {
                let num = ((index + 1) / placeNum) - 1;
                return this.promoCards[num];
            }

            return null;
        }


        async load(url, changeHistory = true, scroll: boolean|null = null, add: boolean = false) {
            scroll = scroll === null ? changeHistory : scroll;
            this.isLoading = true;

            const queryUrl = new URL(url);

            const result = await getJson<TAjaxResponse>(queryUrl.toString());

            this.isLoading = false;

            if (result.success) {
                if (add) {
                    this.dishes.push(...result.data!.dishes as TProduct[]);
                } else {
                    this.dishes = result.data!.dishes as TProduct[];
                    this.promoCards = result.data!.promoCards as TPromoCard[];
                }

                this.pageData = result.data!.pageData as TPaginationData;

                document.querySelector('.js-total-count')!.innerHTML = this.pageData.total.toString();

                if (changeHistory) {
                    try {
                        history.pushState(null, '', url);
                    } catch (e) {
                    }
                }

                if (scroll) {
                    scrollTo(this.$el);
                }
            } else {
                console.error('Ошибка загрузки данных');
            }
        }
    }
</script>
