<template>
    <div class="product-cook-location todo">
        <SvgSymbol name="location" class="product-cook-location__symbol" />
        {{ item.distance }}&nbsp;км от&nbsp;вас
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TCook} from '~/types/cook/TCook';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class ProductCookLocation extends Vue {
        @Prop({required: true}) item!: TCook;
    }
</script>
