<template>
    <div class="product-card"
         :class="{
             'product-card--in-list': inList,
             'product-card--on-detail': onDetail,
             'product-card--on-cook': onCook,
             'product-card--edit': editable,
         }">
        <a :href="item.url"
           class="product-card__picture"
           draggable="false"
           @click="sendClickOpen()"
           @dragstart="$emit('dragstart', $event)">
            <BackendImage :image="item.picture"
                          draggable="false"
                          :loading="pictureLoading"
                          class="product-card__img" />

            <div class="product-card__labels" v-if="item.labels.length">
                <ProductLabel class="product-card__label"
                              v-for="label in item.labels"
                              :key="`label-${label.id}`"
                              :label="label"/>
            </div>

            <div class="product-card__rating" v-if="item.cook.rating"><SvgSymbol name="star14"/> {{item.cook.rating}}</div>
        </a>

        <!--<ProductCardCook v-if="showCook && item.cook" :item="item.cook" class="product-card__cook" />-->

        <div v-if="editable" class="product-card__edit">
            <button class="link link--with-icon link--dashed"
                    @click="edit()">
                <SvgSymbol name="edit" class="link__icon"/>
                <span class="link__text">Редактировать</span>
            </button>
        </div>

        <div class="product-card__name">
            <a :href="item.url"
               class="link"
               v-html="item.name"
               draggable="false"
               @click="sendClickOpen()"
               @dragstart="$emit('dragstart', $event)"></a>
        </div>

        <div class="product-card__price-size">
            <Price class="product-card__price" :value="item.price * count" />

            <!--<div v-if="descr" class="product-card__size">{{ descr.join(' / ') }}</div>-->
            <div v-if="item.weight" class="product-card__size" v-html="item.weight" />
        </div>

        <AddToBasketButton v-if="showBtn"
                           class="btn product-card__btn"
                           goal="click_inmenu_order"
                           :item-id="item.id"
                           :link="item.url"
                           :ignore-link="addToCart"
                           :count="count" />

        <!--<a :href="item.url" class="btn product-card__btn" v-if="showBtn" @click="sendClickOrder()">Заказать</a>-->

        <!--<div v-if="showText && item.previewText" class="product-card__text" v-html="item.previewText"></div>-->

        <!--<CountForm v-if="showCountForm" v-model="count" class="product-card__count" />-->

        <button v-if="editable" class="product-card__remove" @click.prevent="emitDelete">
            <SvgSymbol name="trash" />
        </button>
    </div>
</template>

<script lang="ts">
    import {Component, Emit, Prop, Vue} from 'vue-property-decorator';
    import {TProduct} from '~/types/product/TProduct';
    import BackendImage from '~/components/BackendImage.vue';
    import Price from '~/components/Price.vue';
    import ProductCookLocation from '~/components/product/ProductCookLocation.vue';
    import ProductCardCook from '~/components/cook/ProductCardCook.vue';
    import CountForm from '~/components/forms/CountForm.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import AddToBasketButton from '~/components/product/AddToBasketButton.vue';
    import ProductLabel from '~/components/product/ProductLabel.vue';
    import { sendYmGoal } from '~/helper/seo';

    @Component({
        components: {
            SvgSymbol,
            CountForm,
            ProductCardCook,
            ProductCookLocation,
            Price,
            BackendImage,
            AddToBasketButton,
            ProductLabel,
        },
    })
    export default class ProductCard extends Vue {
        @Prop({required: true}) item!: TProduct;
        @Prop({default: 'lazy'}) pictureLoading!: string;
        @Prop({default: false}) inList!: boolean;
        @Prop({default: false}) onDetail!: boolean;
        @Prop({default: false}) onCook!: boolean;
        @Prop({default: false}) editable!: boolean;
        @Prop({default: false}) addToCart!: boolean;

        count: number = 1;

        get showCook() {
            return !(this.onDetail || this.editable || this.onCook);
        }

        get showText() {
            return this.inList || this.onDetail || this.editable || this.onCook;
        }

        get showCountForm() {
            return this.inList || this.onCook;
        }

        get showBtn() {
            return !(this.onDetail || this.editable);
        }

        get descr() {
            const parts = [this.item.quantity, this.item.weight];

            return parts.filter(part => part && part.trim().length > 0);
        }

        sendClickOpen() {
            sendYmGoal('click_inmenu_open');
        }

        edit() {
            this.$emit('editDish', {
                product: this.item,
            });
        }

        @Emit('delete')
        emitDelete() {
            this.$emit('deleteDish', this.item.id);
        }
    }
</script>
