<template>
    <component :is="tag"
               class="product-cook-photo"
               :class="{'product-cook-photo--link': isLink}"
               :href="isLink ? url : false"
               draggable="false">
        <BackendImage :image="image"
                      draggable="false"
                      loading="lazy" />
    </component>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import BackendImage from '~/components/BackendImage.vue';
    import {TBackendImage} from '~/types/images';

    @Component({
        components: {BackendImage},
    })
    export default class ProductCookPhoto extends Vue {
        @Prop({required: true}) image!: TBackendImage;
        @Prop({required: true}) url!: string;
        @Prop({default: false}) useLink!: boolean;

        get isLink() {
            return this.useLink && this.url;
        }

        get tag() {
            if (this.isLink) return 'a';

            return 'div';
        }
    }
</script>
