<template>
    <div class="product-picture-slider">
        <div class="mobile-full-page-slider">
            <VueSlickCarousel
                v-bind="sliderSettings"
                :class="['slider', 'slider--stretch', 'slider--spaced', 'slider--variable-width']"
                ref="slider"
                @reInit="updatePagesDebounced"
                @beforeChange="updatePagesDebounced">
                <div v-for="(item, index) in items"
                     :key="index"
                     class="slider__slide">
                    <div class="product-picture-slider__picture">
                        <BackendImage :image="item"
                                      :loading="index < 1 ? 'eager' : 'lazy'"
                                      draggable="false"/>
                    </div>
                </div>
            </VueSlickCarousel>
        </div>

        <CircleDots :current-index="currentPage"
                    :count="totalPages"
                    @select="goTo"/>

        <SliderNav class="product-picture-slider__nav"
                   :current="currentPage"
                   :total="totalPages"
                   @prev-click="prev"
                   @next-click="next" />

        <div class="product-picture-slider__labels" v-if="labels.length">
            <ProductLabel class="product-picture-slider__label"
                          v-for="label in labels"
                          :key="`label-${label.id}`"
                          :label="label"/>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Mixins, Prop} from 'vue-property-decorator';
    import BaseSlider from '~/components/slider/BaseSlider.vue';
    import VueSlickCarousel from 'vue-slick-carousel';
    import {BREAKPOINTS} from '~/helper/const';
    import SliderNav from '~/components/slider/SliderNav.vue';
    import CircleDots from '~/components/slider/CircleDots.vue';
    import BackendImage from '~/components/BackendImage.vue';
    import {TBackendImage} from '~/types/images';
    import {TProductLabel} from '~/types/product/TProductLabel';
    import ProductLabel from '~/components/product/ProductLabel.vue';

    @Component({
        components: {
            BackendImage,
            CircleDots,
            SliderNav,
            VueSlickCarousel,
            ProductLabel,
        },
    })
    export default class ProductPictureSlider extends Mixins(Vue, BaseSlider) {
        @Prop({default: () => []}) items!: TBackendImage[];
        @Prop({default: () => []}) labels!: TProductLabel[];

        sliderSettings = {
            responsive: [
                {
                    breakpoint: BREAKPOINTS.md,
                    settings: {
                        variableWidth: true,
                        slidesToShow: 1,
                    },
                },
            ],
        };
    }
</script>
