<template>
    <div class="product-label" :style="style">
        {{label.name}}
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TProductLabel} from '~/types/product/TProductLabel';

    @Component({
        components: {

        },
    })
    export default class ProductLabel extends Vue {
        @Prop() label!: TProductLabel;

        get style() {
            return {
                color: this.label.color || '',
                background: this.label.background || '',
            };
        }
    }
</script>
