<template>
    <div class="promo-card">
        <div class="promo-card__picture" @click="showPopup">
            <BackendImage :image="item.picture"
                          draggable="false"
                          :loading="pictureLoading"
                          class="promo-card__img" />
        </div>

        <div class="promo-card__name">
            {{item.name}}
        </div>

        <div class="promo-card__text">
            {{item.previewText}}
        </div>

        <div class="promo-card__bottom">
            <div class="promo-card__price">
                {{item.price}}
            </div>
            <button class="promo-card__btn btn" @click="showPopup">{{item.buttonText || 'Заказать'}}</button>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import BackendImage from '~/components/BackendImage.vue';
    import Price from '~/components/Price.vue';
    import ProductCookLocation from '~/components/product/ProductCookLocation.vue';
    import ProductCardCook from '~/components/cook/ProductCardCook.vue';
    import CountForm from '~/components/forms/CountForm.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import AddToBasketButton from '~/components/product/AddToBasketButton.vue';
    import ProductLabel from '~/components/product/ProductLabel.vue';
    import {TPromoCard} from '~/types/catalog/TPromoCard';
    import {getJson} from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';
    import TFormData from '~/types/form/TFormData';
    import {sendYmGoal} from '~/helper/seo';

    type TResult = {
        formData: TFormData,
        popup: {
            title: string,
            message: string,
        }
    }

    @Component({
        components: {
            SvgSymbol,
            CountForm,
            ProductCardCook,
            ProductCookLocation,
            Price,
            BackendImage,
            AddToBasketButton,
            ProductLabel,
        },
    })
    export default class PromoCard extends Vue {
        @Prop({required: true}) item!: TPromoCard;
        @Prop({default: 'lazy'}) pictureLoading!: string;
        popupData: TResult | null = null;
        loading = false;


        async showPopup() {
            if (this.loading) return;
            this.loading = true;

            if (!this.popupData) {
                const response = await getJson<TAjaxResponse>('/popup/callback/form');

                if (response && response.success) {
                    this.popupData = response.data as TResult;
                }
            }

            this.$eventBus.$emit('open-popup', {
                type: 'callback-form',
                componentProps: {
                    formData: this.popupData?.formData,
                    popup: this.popupData?.popup,
                    promoCardId: this.item.id,
                },
            });

            sendYmGoal('click_promocard');

            this.loading = false;
        }
    }
</script>
