<template>
    <div class="promo-product">
        <ProductCookPhoto :image="item.cook.picture" :url="item.cook.url" class="promo-product__cook-photo" :use-link="true" />

        <div class="promo-product__name" v-if="item.name">
            <a
                :href="item.url"
                class="link"
                v-html="item.name"
                @dragstart="$emit('dragstart', $event)">
            </a>
        </div>

        <Price v-if="item.price" class="promo-product__price" :value="item.price.toString()" />

        <div class="promo-product__cook-details">
            <div class="promo-product__cook-name">
                <a
                    :href="item.url"
                    class="link"
                    v-html="item.cook.name"
                    @dragstart="$emit('dragstart', $event)"></a>
            </div>
            <Rating :avg-rating="item.cook.rating" :show-number="true" :review-count="item.cook.reviewsCount" />
            <ProductCookLocation class="todo" v-if="item.cook.distance" :item="item.cook" />
        </div>

        <div class="promo-product__cook-position">{{ item.cook.position }}</div>

        <a :href="item.url" class="btn btn--clear promo-product__btn">
            <span class="btn__text">Заказать</span>
        </a>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TSecondPromoProduct} from '~/types/product/TProduct';
    import BackendImage from '~/components/BackendImage.vue';
    import ProductCookPhoto from '~/components/product/ProductCookPhoto.vue';
    import Price from '~/components/Price.vue';
    import ProductCookLocation from '~/components/product/ProductCookLocation.vue';
    import AddToBasketButton from '~/components/product/AddToBasketButton.vue';
    import Rating from '~/components/Rating.vue';

    @Component({
        components: {ProductCookLocation, Price, ProductCookPhoto, BackendImage, AddToBasketButton, Rating},
    })
    export default class SecondPromoProduct extends Vue {
        @Prop({required: true}) item!: TSecondPromoProduct;
    }
</script>
