<template>
    <div class="upload-input">
        <AttachList v-if="imagesSrc.length" :items="imagesSrc" class="upload-input__images" @delete="deleteFile" />

        <label class="upload-input__btn link link--with-icon link--dashed">
            <SvgSymbol name="attach-image" class="link__icon" />
            <span class="link__text" v-html="state.placeholder" />
            <input
                :class="classes"
                :value="currentValue"
                v-model="currentValue"
                v-bind="state"
                @change="onChange"
            >
        </label>

        <span v-if="state.label" class="upload-input__label" v-html="state.label" />
    </div>
</template>

<script lang="ts">
    import {Component, Mixins, Vue} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import TObjectCollection from '~/types/TObjectCollection';
    import AttachList from '~/components/AttachList.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol, AttachList},
    })
    export default class FormFile extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {
        imagesSrc: string[] = [];

        get classes(): TObjectCollection<boolean> {
            return {
                input: true,
                ['input--' + this.state.type]: true,
                'input--disabled': !!this.state.disabled,
                'input--error': this.hasError,
            };
        }

        onChange(ev: Event) {
            const target = ev.target as HTMLInputElement;
            const files = target.files;

            if (!files || !files.length) {
                return;
            }

            Array.from(files).forEach(file => {
                const fr = new FileReader();

                fr.addEventListener('loadend', (frEvent: ProgressEvent) => {
                    if (!this.isMultiple) {
                        this.imagesSrc = [];
                    }

                    this.imagesSrc.push((frEvent.target as FileReader).result as string);
                });

                fr.readAsDataURL(file);
            });
        }

        deleteFile(index: number) {
            this.imagesSrc.splice(index, 1);
        }

        get isMultiple(): boolean {
            return !!this.state.multiple;
        }
    }
</script>
