<template>
    <label :class="classes">
        <input
            class="radio__input"
            type="radio"
            :value="currentValue"
            :checked="state.checked"
            v-bind="state"
            @change="onChange"
        >
        <span class="radio__label">
            <span v-html="state.label" />
        </span>
        <SvgSymbol name="radio" class="radio__icon" />
    </label>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import TObjectCollection from '~/types/TObjectCollection';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class FormRadio extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {
        @Prop({default: false}) checkValueWhenMounted!: boolean;
        @Prop({default: ''}) error!: string;

        get classes(): TObjectCollection<boolean> {
            return {
                'radio': true,
                'radio--disabled': !!this.state.disabled,
                'radio--error': !!this.error,
            };
        }

        onChange(ev: Event) {
            const checked = (ev.target as HTMLInputElement).checked;

            this.currentValue = this.state.value;
            this.emitInput(checked);
        }
    }
</script>
