<template>
    <label class="avatar-load">
        <input
            :class="classes"
            v-bind="state"
            @change="onChange"
        >
        <span class="avatar-load__picture">
            <img v-if="currentAvatarSrc" :src="currentAvatarSrc" alt="">

            <slot v-if="!currentAvatarSrc"></slot>
        </span>
        <span v-if="currentAvatarSrc" class="avatar-load__text">
            <span class="link link--dashed" v-html="state.label" />
        </span>
        <span v-else class="avatar-load__placeholder" v-html="state.placeholder" />
    </label>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class FormAvatarInput extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {
        @Prop({default: ''}) avatarSrc!: string;

        currentAvatarSrc = this.avatarSrc;

        onChange(ev: Event) {
            const target = ev.target as HTMLInputElement;
            const files = target.files;

            if (!files || files.length === 0) {
                return;
            }

            const fileReader = new FileReader();

            fileReader.addEventListener('loadend', (frEvent: ProgressEvent) => {
                this.currentAvatarSrc = (frEvent.target as FileReader).result as string;
            });

            fileReader.readAsDataURL(files[0]);
        }
    }
</script>
