<template>
    <input
        :class="classes"
        :value="currentValue"
        v-bind="state"
        v-mask="'+7 (###) ###-##-##'"
        @input="onInput"
    >
</template>

<script lang="ts">
    import {Component, Mixins, Vue} from 'vue-property-decorator';
    import {mask} from 'vue-the-mask';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';

    @Component({
        directives: {mask},
    })
    export default class FormPhone extends Mixins(BaseInput, Vue) {

    }
</script>
