<template>
    <label :class="classes">
        <input
            class="checkbox__input"
            type="checkbox"
            :value="currentValue"
            :checked="state.checked"
            v-bind="state"
            @change="onChange"
        >
        <span class="checkbox__label">
            <span v-html="state.label" />
        </span>
        <SvgSymbol name="checkbox" class="checkbox__icon" />
    </label>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import TObjectCollection from '~/types/TObjectCollection';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class FormCheckbox extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {
        @Prop({default: false}) checkValueWhenMounted!: boolean;
        @Prop({default: ''}) error!: string;

        get classes(): TObjectCollection<boolean> {
            return {
                'checkbox': true,
                'checkbox--disabled': !!this.state.disabled,
                'checkbox--error': !!this.error,
            };
        }

        onChange(ev: Event) {
            const checked = (ev.target as HTMLInputElement).checked;

            this.currentValue = this.state.value;
            this.emitInput(checked);
        }
    }
</script>
