<template>
    <input
        :class="classes"
        :value="currentValue"
        v-model="currentValue"
        v-bind="state"
        @input="onInput"
    >
</template>

<script lang="ts">
    import {Component, Mixins, Vue} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';

    @Component
    export default class FormInput extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {

    }
</script>
