<template>
    <Multiselect v-model="currentValue" :options="state.options" v-bind="selectSettings" :class="classes" @keyup.native.prevent.stop.esc>
        <span slot="noResult" class="multiselect__no-result">Элементы не&nbsp;найдены. Попробуйте изменить поисковый запрос.</span>
        <span slot="noOptions">Список пуст.</span>
        <template slot="caret" slot-scope="{ toggle }">
            <span class="multiselect__caret"></span>
            <span class="multiselect__select" @mousedown.prevent.stop="toggle()">
                <SvgSymbol name="spoiler" />
            </span>
        </template>
    </Multiselect>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue, Watch} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import Multiselect from 'vue-multiselect';
    import TObjectCollection from '~/types/TObjectCollection';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol, Multiselect},
    })
    export default class FormInput extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {
        @Prop({default: () => {}}) settings!: TObjectCollection;

        created() {
            this.checkValue();
        }

        @Watch('value')
        onValueChanged() {
            this.checkValue();
        }

        @Watch('currentValue')
        onCurValueChanged() {
            const value = this.selectSettings.trackBy && this.currentValue
                ? this.currentValue[this.selectSettings.trackBy]
                : this.currentValue;

            this.emitInput(value);
        }

        get selectSettings(): TObjectCollection {
            return {
                trackBy: 'id',
                label: 'value',
                showLabels: false,
                placeholder: this.state.placeholder,
                disabled: this.state.disabled,
                ...this.settings,
            };
        }

        get classes(): TObjectCollection<boolean> {
            return {
                'multiselect--error': this.hasError,
            };
        }

        checkValue() {
            // чтобы лишний раз не менять curValue, иначе валидатор срабатывает раньше времени (на created)
            if ((typeof this.value === 'undefined' || this.value === null) && this.currentValue === null) {
                return;
            }

            if (this.selectSettings.trackBy) {
                this.currentValue = this.state.options?.find(item => item[this.selectSettings.trackBy] == this.value);
            } else {
                this.currentValue = this.value;
            }
        }
    }
</script>
