<template>
    <component
        :is="tag"
        class="input-label"
        :class="{
            'input-label--focus': hasFocus || hasValue,
            'input-label--z-index': tag !== 'label',
        }"
        @focus.capture="onFocus"
        @blur.capture="onBlur"
    >
        <span class="input-label__text">
            <span v-html="label" />
        </span>
        <slot />

        <transition name="fade">
            <SvgSymbol
                v-if="hasError" name="info"
                class="input-label__error"
                v-tooltip.top="{
                    content: error,
                    trigger: 'hover click'
                }"
                @click.native.stop.prevent
            />
        </transition>
    </component>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class InputLabel extends Vue {
        @Prop({default: ''}) label!: string;
        @Prop({default: ''}) error!: string;
        @Prop({default: false}) hasValue!: boolean;
        @Prop({default: 'label'}) tag!: string;

        hasFocus: boolean = false;

        get hasError(): boolean {
            return !!this.error && this.error.trim().length > 0;
        }

        onFocus() {
            this.hasFocus = true;
        }

        onBlur() {
            this.hasFocus = false;
        }
    }
</script>
