<template>
    <div class="search-section" v-click-outside="onClickOutside">
        <label class="search-section__input-wrap">
            <SvgSymbol name="search" class="search-section__icon" />

            <input
                type="search"
                v-model="currentValue"
                :placeholder="placeholderText"
                class="search-section__input input input--search"
                @keydown.esc="clearValue"
                @keydown.enter="applyValue"
            >

            <transition name="fade">
                <button v-show="currentValue.length" class="cross-btn search-section__clear" @click.prevent="clearValue" />
            </transition>

            <transition name="fade">
                <span v-if="showSuggests && suggests.length && currentValue && currentValue.length > 2" class="search-section__suggests-wrap">
                    <span class="search-section__suggests custom-scrollbar">
                        <button
                            v-for="item in suggests"
                            :key="item"
                            class="search-section__suggest"
                            @click.prevent="selectSuggest(item)"
                            v-html="item"
                        />
                    </span>
                </span>
            </transition>
        </label>

        <button class="button btn" v-if="showBtn" v-html="buttonText" @click="applyValue" />
    </div>
</template>

<script lang="ts">
    import {Component, Prop, VModel, Vue, Watch} from 'vue-property-decorator';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import {clearHTMLEntites} from '~/helper/common';

    @Component({
        components: {SvgSymbol},
    })
    export default class ProductSearch extends Vue {
        @Prop({default: true}) showBtn!: boolean;
        @Prop({default: () => []}) suggests!: string[];
        @Prop({default: 'Найти'}) buttonText!: string;
        @Prop({default: 'Поиск по названию блюда'}) placeholderText!: string;
        @VModel() currentValue!: string;

        showSuggests: boolean = false;

        @Watch('currentValue')
        onCurrentValueChanged() {
            this.showSuggests = !!this.currentValue && this.currentValue.trim().length > 0;
        }

        selectSuggest(item: string) {
            this.currentValue = clearHTMLEntites(item);

            this.$nextTick(() => {
                this.showSuggests = false;
            });

            this.$emit('select-suggest', item);
        }

        applyValue() {
            this.$emit('select-suggest', this.currentValue);
            // Прячем саггвесты на мобильных телефонах
            this.showSuggests = false;
        }

        clearValue() {
            this.currentValue = '';
            this.$emit('select-suggest', '');
        }

        onClickOutside() {
            this.showSuggests = false;
        }
    }
</script>
