<template>
    <div class="search-section" v-click-outside="onClickOutside">
        <label class="search-section__input-wrap">
            <SvgSymbol name="search" class="search-section__icon"/>

            <input
                type="search"
                v-model="currentValue"
                :placeholder="state.placeholder"
                class="search-section__input input input--search"
                @keydown.esc="clearValue"
            >

            <transition name="fade">
                <button v-show="currentValue.length" class="cross-btn search-section__clear"
                        @click.prevent="clearValue"/>
            </transition>

            <transition name="fade">
                <span v-if="showSuggests && Object.keys(suggests).length && currentValue && currentValue.length > 2"
                      class="search-section__suggests-wrap">
                    <span class="search-section__suggests custom-scrollbar">
                        <button
                            v-for="(item, key) in suggests"
                            :key="key"
                            class="search-section__suggest"
                            @click.prevent="selectSuggest(item, key)"
                            v-html="item"
                        />
                    </span>
                </span>
            </transition>
        </label>

        <button class="button btn" v-if="showBtn" v-html="buttonText" />
    </div>
</template>

<script lang="ts">
    import {Component, Prop, VModel, Vue, Watch} from 'vue-property-decorator';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import {clearHTMLEntites} from '~/helper/common';
    import TFormField from '~/types/form/TFormField';

    @Component({
        components: {SvgSymbol},
    })
    export default class TextSearch extends Vue {
        @Prop({default: true}) state!: TFormField;
        @Prop({default: false}) showBtn!: boolean;
        @Prop({default: 'Найти'}) buttonText!: string;
        @Prop({default: () => []}) suggests!: { [key: string]: string };
        @VModel() currentValue!: string;

        showSuggests: boolean = false;

        @Watch('currentValue')
        onCurrentValueChanged() {
            this.showSuggests = !!this.currentValue && this.currentValue.trim().length > 0;
        }

        selectSuggest(item: string, key: string) {
            this.currentValue = clearHTMLEntites(item);

            this.$nextTick(() => {
                this.showSuggests = false;
            });

            this.$emit('select-suggest', key);
        }

        clearValue() {
            this.currentValue = '';
        }

        onClickOutside() {
            this.showSuggests = false;
        }
    }
</script>
