@import "../../_var";

.chef-card {
    .clear-link();
    .transit(~'box-shadow');
    position: relative;
    display: grid;
    grid-column-gap: var(--grid-gap);
    grid-template-columns: 100px 1fr;
    grid-template-areas: 'photo location' 'name name' 'position position' 'tags tags';
    grid-template-rows: max-content max-content max-content 1fr;
    background: @cWhite;
    border-radius: @borderRadius;
    box-sizing: border-box;
    padding: var(--m40) var(--m20) var(--m20);
    width: 100%;

    .hover({
        box-shadow: @shadow;
    }, @activeRuleset: false);

    &__photo {
        grid-area: photo;
        align-self: center;
    }

    &__location {
        grid-area: location;
        align-self: center;
    }

    &__name {
        grid-area: name;
        margin-top: var(--m20);
        font: 700 var(--fs24)/var(--lh24) @font;
    }

    &__position {
        grid-area: position;
        color: @cTextGrey;
        font: 400 var(--fs12)/var(--lh12) @font;
        margin-bottom: var(--m10);
    }

    &__tags {
        grid-area: tags;
        margin: calc(-1 * var(--m10)/2);
    }

    &__tag {
        margin: calc(var(--m10)/2);
    }

    &__labels {
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 2;
    }

    &__detail-btn {
        grid-area: profile;
        margin-top: var(--m20);
    }

    &--in-list {
        grid-template-areas: 'photo photo' 'name name' 'position position' 'tags tags' 'location location' 'profile profile';
        padding-bottom: var(--m30);

        .chef-card {
            &__photo {
                width: 100%;
                max-width: 100px;
                margin: 0 auto;
            }

            &__name {
                margin-top: 15px;
            }

            &__tags {
                margin-top: 0;
            }

            &__location {
                margin-top: 15px;
            }
        }
    }

    &--on-detail {
        grid-template-areas: 'photo location' 'name name' 'position position' 'tags tags' 'labels labels';
        grid-template-rows: repeat(4, max-content) 1fr;

        .chef-card {
            &__labels {
                position: relative;
                left: auto;
                top: auto;
                grid-area: labels;
                margin-top: var(--m20);
            }
        }
    }

    @media @mediaXs {
        grid-template-columns: 100px 1fr;
    }
}
