@import "../../_var";

.cook-detail {
    margin-bottom: var(--m100);

    > *:not(.cook-detail__products) {
        padding: var(--m30) var(--m30) 45px;
        background: @cWhite;
        border-radius: @borderRadius;
    }

    > * {
        margin-bottom: var(--m40);
    }

    &__header {
        margin-bottom: var(--m40);
    }

    &__kitchen {

        &__slider {
            position: relative;
        }
    }
}

.vue-cook-products,
.vue-cook-info {
    .proportional-size(1.5);
}
