@import "../../_var";

.chef-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__item {
        & + & {
            margin-top: var(--m10);
        }
    }
}

.chef-label {
    --item-color: @cGreen;

    display: inline-flex;
    align-items: center;
    background: var(--item-color);
    border-radius: 16px;
    color: @cWhite;

    &__icon {
        .size(32px);
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        img {
            max-width: 100%;
            filter: @fWhite;
        }
    }

    &__name {
        padding-right: 20px;
        font: 700 var(--fs14)/var(--lh14) @font;
        white-space: nowrap;
    }

    &--hidden-name {
        &:hover {
            .chef-label {
                &__name-wrap {
                    max-width: 200px;
                }
            }
        }

        .chef-label {
            &__name-wrap {
                .transit(~'max-width', @transitTimeMedium);
                max-width: 0;
                overflow: hidden;
            }
        }
    }
}
