@import "../../_var";

.chefs-map {
    &__map {
        position: relative;
        margin-top: var(--m48);
        height: 892px;
        max-height: calc(90vh - var(--header-height) - var(--foot-nav-height));
    }
}
