@import "../../_var";

.chef-info {
    display: grid;
    grid-template-columns: 254px 1fr 342px;
    grid-template-areas:
                'avatar name none'
                'avatar specialization none'
                'avatar tags info'
                'avatar about info'
                'avatar none2 none2';
    align-items: start;
    margin-top: var(--m10);

    &__avatar-wrap {
        grid-area: avatar;
    }

    &__avatar {
        .picture();
        max-width: 176px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__name {
        grid-area: name;
    }

    &__specialization {
        grid-area: specialization;
        margin-top: 3px;
        font-size: var(--fs12);
        color: @cTextGrey;
    }

    &__tags {
        grid-area: tags;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        grid-row-gap: var(--m10);
        margin-top: 37px;
    }

    &__tags-label {
        margin-top: 4px;
        padding: .4em .7em;
        margin-right: 18px;
        background: @cLightGreen;
        border-radius: 2em;
        font-size: var(--fs14);
        font-weight: bold;
    }

    &__tag {
        cursor: default;
    }

    &__labels {
        grid-area: labels;
        margin-top: 50px;
    }

    &__about {
        grid-area: about;
        margin-top: 38px;
    }

    &__about-label {
        margin-bottom: var(--m20);
    }

    &__info {
        grid-area: info;
        margin-top: 31px;
    }

    &__info-item {
        display: flex;
        grid-gap: var(--m10);
        justify-content: space-between;
        font-size: var(--fs12);
        line-height: var(--fs12);

        & + & {
            margin-top: 11px;
        }
    }

    &__info-label {
        color: @cTextGrey;
    }

    &__info-value {
        text-align: right;

        svg {
            display: inline-block;
            height: 1em;
            margin-top: -.3em;
            fill: @cGreen;
        }
    }

    &--profile {
        grid-column-gap: var(--grid-gap);
        grid-template-columns: 1fr 342px;
        grid-template-areas:
                'name none'
                'specialization none'
                'tags info'
                'about info';

        .chef-info {
            &__tags {
                margin-top: 0;
            }

            &__info {
                margin-top: 8px;
            }
        }
    }

    @media @mediaMd {
        grid-template-columns: 254px 1fr;
        grid-template-areas:
                'avatar name'
                'avatar specialization'
                'avatar tags'
                'avatar about'
                'avatar info'
                'avatar none';

        &__labels {
            margin-top: var(--m20);
        }

        &__tags {
            margin-top: var(--m20);
        }

        &__about {
            margin-top: var(--m20);
        }

        &--profile {
            grid-template-columns: 1fr;
            grid-template-areas:
                'name'
                'tags'
                'about'
                'info'
                'none';

            .chef-info {
                &__info {
                    margin-top: var(--m20);
                }
            }
        }
    }

    @media @mediaSm {
        grid-template-columns: 1fr;
        grid-template-areas:
                'avatar'
                'name'
                'tags'
                'about'
                'info'
                'none';

        &__name {
            margin-top: var(--m20);
            text-align: center;
        }

        &__avatar-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__avatar {
            width: 176px;
            max-width: 100%;
        }

        &__specialization {
            display: none;
        }

        &__labels-list {
            align-items: center !important;
        }

        &__tags-label {
            margin-right: var(--m10);
        }

        &__tags {
            grid-row-gap: 0;
        }
    }
}
