@import "../../_var";

.product-cook-location {
    display: flex;
    align-items: center;
    color: @cTextGrey;
    font: 400 var(--fs12)/var(--lh12) @font;
    white-space: nowrap;

    &__symbol {
        color: @cGreen;
        margin-right: 10px;
    }
}
