@import "../../_var";

.product-card-chef {
    &__photo {
        --product-chef-photo-border: @cWhite;

        border-radius: 50%;
        width: 52px;
    }

    &__name-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        grid-column-gap: var(--grid-gap);
        grid-row-gap: 4px;
    }

    &__name {
        min-width: 200px;
        color: @cGreen;
        font: 700 var(--fs14)/var(--lh14) @font;
    }

    &__location {
    }
}
