@import "../../_var";

.header-nav {
    font: 400 var(--fs16)/var(--lh16) @font;

    &__ul {
        .clear-list();
        display: flex;
        flex-wrap: wrap;
    }

    &__li {
        position: relative;
        padding: var(--m10) 0;
        margin: -5px 0;

        &:not(:last-child) {
            margin-right: 70px;
        }

        &:not(:hover) {
            .header-nav {
                &__sub {
                    pointer-events: none;
                    opacity: 0;
                    transform: translateX(10%);
                }
            }
        }

        &:hover {
            .header-nav {
                &__arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__link {
        --link-icon-color: currentColor;
        --link-color: currentColor;

        white-space: nowrap;
    }

    &__arrow {
        .transit(transform);
    }

    &__sub {
        .transit(~'transform, opacity');
        position: absolute;
        top: 100%;
        left: -20px;
        z-index: 10;
        min-width: 100%;
    }
}
