@import "../../_var";

.logo {
    .clear-link();
    .transit(opacity);
    .proportional-size(63/180);
    display: inline-flex;
    align-items: center;
    width: 100%;

    .hover({
        .logo {
            &__text {
                color: @cGreen;
            }
        }
    });

    &__img,
    &__text {
        .transit(color);
        position: absolute;
        top: 0;
        height: 100%;
    }

    &__img {
        left: 0;
        width: 100% * 63/180;
        color: @cGreen;
    }

    &__text {
        right: 0;
        width: 100% * 101/180;
    }

    svg {
        .size(100%)
    }
}
