<template>
    <div class="review-card">
        <div class="review-card__author">
            <div class="review-card__photo">
                <BackendImage :image="item.picture" :alt="item.pictureAlt" :title="item.pictureTitle" />
            </div>
            <div class="review-card__name-wrap">
                <div class="review-card__name">{{ item.name }}</div>
                <div v-if="item.position" class="review-card__position">{{ item.position }}</div>
            </div>
        </div>

        <div class="review-card__text">
            <div class="review-card__preview-text" v-html="item.previewText"></div>
            <template v-if="item.detailText">
                <SlideUpDown :active="isOpen">
                    <div class="review-card__detail-text"  v-html="item.detailText"></div>
                </SlideUpDown>

                <a href="javascript:void(0);"
                   class="link link--dashed review-card__toggle"
                   @click.prevent="toggle">
                    {{ isOpen ? closeText : openText }}
                </a>
            </template>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TReview} from '~/types/reviews/TReview';
    import BackendImage from '~/components/BackendImage.vue';
    import SlideUpDown from 'vue-slide-up-down';

    @Component({
        components: {BackendImage, SlideUpDown},
    })
    export default class ReviewCard extends Vue {
        @Prop({required: true}) item!: TReview;
        @Prop({default: 'Показать еще'}) openText!: string;
        @Prop({default: 'Свернуть'}) closeText!: string;

        isOpen: boolean = false;

        toggle() {
            this.isOpen = !this.isOpen;
        }
    }
</script>
