<template>
    <VPopover
        v-if="current"
        trigger="manual"
        :open="show"
        placement="bottom-start"
        class="confirm-location"
    >
        <div slot="popover">
            <div class="confirm-location">
                <div class="confirm-location__title">Ваш город <span class="confirm-location__location">{{ current }}</span>?</div>
                <div class="confirm-location__btn-wrap">
                    <button class="btn" @click.prevent="confirm">
                        <span class="btn__text">Да, верно</span>
                    </button>
                    <button class="btn btn--grey btn--clear" @click="decline">
                        <span class="btn__text">Нет, выбрать другой</span>
                    </button>
                </div>
            </div>
        </div>
    </VPopover>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import {VPopover} from 'v-tooltip';
    import Detector from '~/helper/detector';
    import eventBus from '~/helper/event-bus';

    @Component({
        components: {VPopover},
    })
    export default class ConfirmLocation extends Vue {
        @Prop({default: ''}) current!: string;

        show: boolean = false;

        mounted() {
            if (!Detector.isMd) {
                this.show = true;
            }

            eventBus.$on('resize-watcher', this.onResize);
        }

        beforeDestroy() {
            eventBus.$off('resize-watcher', this.onResize);
        }

        onResize({isMd}) {
            if (isMd) {
                this.show = false;
            }
        }

        close() {
            this.show = false;
        }

        confirm() {
            this.close();
        }

        decline() {
            this.close();

            this.$eventBus.$emit('open-popup', {
                type: 'locations',
                componentProps: {},
            });
        }
    }
</script>
