<template>
    <VPopover
        v-if="current"
        trigger="manual"
        :open="show"
        placement="bottom"
        class="header__mobile-city-detected"
    >
        <div slot="popover">
            <div class="header__mobile-city-content">
                <SvgSymbol name="location" class="header__mobile-city-icon"/>
                <span>Ваш город {{ current }}?</span>
            </div>
            <div class="header__mobile-city-btns">
                <button class="link link--dashed" @click="close()">
                    <span class="link__text">Подтвердить</span>
                </button>
                <button class="link link--dashed" @click="decline()">
                    <span class="link__text">Сменить</span>
                </button>
            </div>
        </div>
    </VPopover>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {VPopover} from 'v-tooltip';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import Detector from '~/helper/detector';
    import eventBus from '~/helper/event-bus';

    @Component({
        components: {VPopover, SvgSymbol},
    })
    export default class ConfirmLocationMobile extends Vue {
        @Prop({default: ''}) current!: string;

        show: boolean = false;

        mounted() {
            if (Detector.isMd) {
                this.show = true;
            }

            eventBus.$on('resize-watcher', this.onResize);
        }

        beforeDestroy() {
            eventBus.$off('resize-watcher', this.onResize);
        }

        onResize({isMd}) {
            if (!isMd) {
                this.show = false;
            }
        }

        close() {
            this.show = false;
        }

        decline() {
            this.close();

            this.$eventBus.$emit('open-popup', {
                type: 'locations',
                componentProps: {},
            });
        }
    }
</script>
