<template>
    <div class="menu header__menu"
         :class="{'menu--open': isOpen}">
        <div class="menu__overlay" @click="onOverlayClick"></div>
        <div class="menu__content custom-scrollbar custom-scrollbar--green"
             ref="menu">
            <div class="menu__location">
                <LocationBtn :current="currentLocation" />
            </div>

            <nav class="menu__nav menu-nav"
                 :class="{'menu-nav--sm': isSecondLevel}"
                 v-if="items">
                <div v-if="isSecondLevel"
                     class="menu-nav__back">
                    <button
                        class="link link--with-icon link--uline"
                        @click.prevent="setState(null, items)"
                    >
                        <span class="link__icon"><SvgSymbol name="back" /></span>
                        <span class="link__text">Назад</span>
                    </button>
                </div>

                <ul class="menu-nav__ul">
                    <li v-if="parentItem && parentItem.url"
                        class="menu-nav__li menu-nav__li--parent">
                        <a :href="parentItem.url"
                           class="link link--hover-uline"
                           :class="{'link--current': parentItem.current}"
                           v-html="parentItem.name">
                        </a>
                    </li>

                    <li v-for="(item, index) in currentItems"
                        :key="index"
                        class="menu-nav__li">
                        <a :href="item.url"
                           class="link link--hover-uline link--with-icon"
                           :class="{'link--current': item.current}"
                           @click="onItemClick($event, item)">
                            <span class="link__text" v-html="item.name"></span>
                            <span v-if="item.items" class="link__icon"><SvgSymbol name="spoiler" /></span>
                        </a>
                    </li>
                </ul>
            </nav>


            <div class="menu__buttons">
                <button v-if="!isCook" class="btn btn--clear-white" @click="openBecomeCookPopup">
                    <span class="btn__text">Стать поваром</span>
                </button>
                <!--<a href="javascript:void(0);" class="btn btn--white">
                    <span class="btn__text">Создать заказ</span>
                </a>-->
            </div>

            <div v-if="phone" class="menu__phone">
                <a :href="phoneHref"
                   class="link link--with-icon">
                    <span class="link__icon"><SvgSymbol name="phone" /></span>
                    <span class="link__text" v-html="phone"></span>
                </a>
            </div>

            <Socials class="menu__socials" :items="socials" color="white">
                <div class="socials__title" @click="showFeedbackPopup">
                    Напишите нам
                    <button class="btn btn--feedback-menu">
                        <span class="btn__icon">
                            <SvgSymbol name="feedback" class="symbol"/>
                        </span>
                    </button>
                </div>
            </Socials>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Ref} from 'vue-property-decorator';
    import eventBus from '~/helper/event-bus';
    import {clearPhone} from '~/helper/common';
    import {lockScroll} from '~/helper/lock-scroll';
    import {TResizeWatcher} from '~/types/TResizeWatcher';
    import {TNavItem} from '~/types/TNavItem';
    import {TSocial} from '~/types/TSocial';
    import LocationBtn from '~/components/header/LocationBtn.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import Socials from '~/components/Socials.vue';
    import TFormData from '~/types/form/TFormData';
    import {getJson} from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';

    @Component({
        components: {Socials, SvgSymbol, LocationBtn},
    })
    export default class Menu extends Vue {
        @Prop({required: true}) currentLocation!: string;
        @Prop({default: () => []}) items!: TNavItem[];
        @Prop() phone!: string;
        @Prop({default: () => []}) socials!: TSocial[];

        @Ref('menu') menu!: HTMLElement;

        isOpen: boolean = false;
        parentItem: TNavItem | null = null;
        currentItems: TNavItem[] = this.items;
        feedbackPopupData: TFormData | null = null;

        get isCook() {
            return APP.isCook;
        }

        get isSecondLevel() {
            return this.parentItem;
        }

        get phoneHref() {
            return 'tel:+' + clearPhone(this.phone);
        }

        created() {
            eventBus.$on('menu-toggle', this.onMenuToggle);
            eventBus.$on('resize-watcher', this.resizeWatcher.bind(this));
        }

        beforeDestroy() {
            eventBus.$off('menu-toggle', this.onMenuToggle);
            eventBus.$off('resize-watcher', this.resizeWatcher.bind(this));
        }

        resizeWatcher(data: TResizeWatcher) {
            if (!data.isMd && this.isOpen) eventBus.$emit('menu-toggle', false);
        }

        onMenuToggle(state) {
            this.isOpen = state;

            lockScroll(state, this.menu);
        }

        onItemClick(event, item) {
            if (item.url && !item.items) {
                return;
            }

            event.preventDefault();

            this.setState(item, item.items);
        }

        onOverlayClick() {
            eventBus.$emit('menu-toggle', false);
        }

        setState(parent, items) {
            this.parentItem = parent;
            this.currentItems = items;
        }

        openBecomeCookPopup() {
            this.$eventBus.$emit('open-popup', {
                type: APP.isAuth ? 'become-cook' : 'registration',
                componentProps: {},
            });
        }

        async showFeedbackPopup() {
            if (!this.feedbackPopupData) {
                const response = await getJson<TAjaxResponse>('/popup/feedback');

                if (response && response.success) {
                    this.feedbackPopupData = response.data as TFormData;
                }
            }

            this.$eventBus.$emit('open-popup', {
                type: 'feedback',
                componentProps: {
                    formData: this.feedbackPopupData,
                },
            });
        }
    }
</script>
