<template>
    <button class="btn btn--menu"
            :class="{'btn--white': isOpen}"
            @click="toggle" >
        <span class="menu-icon"
              :class="{'menu-icon--cross': isOpen}">
            <i></i><i></i><i></i>
        </span>
    </button>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import eventBus from '~/helper/event-bus';

    @Component
    export default class MenuBtn extends Vue {
        isOpen: boolean = false;

        created() {
            eventBus.$on('menu-toggle', this.onMenuToggle);
        }

        toggle() {
            this.isOpen = !this.isOpen;

            eventBus.$emit('menu-toggle', this.isOpen);
        }

        onMenuToggle(state) {
            this.isOpen = state;
        }
    }
</script>
