@import "../../_var";

.product-card {
    --card-padding: var(--m20);

    .transit(~'box-shadow');
    display: grid;
    grid-column-gap: var(--m10);
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: max-content max-content 1fr max-content max-content;
    grid-template-areas: 'picture picture picture'
                         'chef chef chef'
                         'name name name'
                         'price size btn'
                         'empty empty btn';
    box-sizing: border-box;
    background: @cWhite;
    border-radius: @borderRadius;
    padding: var(--card-padding);

    .hover({
        box-shadow: @shadow;
    }, @activeRuleset: false);

    &:hover {
        .product-card {
            &__btn {
                opacity: 1;
            }
        }
    }

    &__picture {
        .clear-link();
        .picture(240/372, @fit: cover);
        .transit(opacity);
        grid-area: picture;
        border-radius: @borderRadius @borderRadius 0 0;
        margin: calc(-1 * var(--card-padding)) calc(-1 * var(--card-padding)) var(--m10);
        transform: translateZ(0); // fix в сафари по ховеру квадратные уголки

        .hover({
            img {
                transform: scale(@hoverScale);
            }
        });

        img {
            .transit(transform, @transitTimeMedium);
            will-change: transform; // fix в сафари по ховеру квадратные уголки
        }
    }

    &__chef {
        grid-area: chef;
        margin-top: calc(-1* (var(--m10) + 56px/2)); // 56px размер фото повара
        margin-bottom: var(--m10);
        transform: translateZ(0); // fix safari
    }

    &__edit {
        grid-area: edit;
        font-size: var(--fs14);
        line-height: var(--lh14);
    }

    &__name {
        grid-area: name;
        font: 700 var(--fs24)/var(--lh24) @font;
        margin-bottom: var(--m10);
    }

    &__price {
        grid-area: price;
        font: 700 var(--fs18)/var(--lh18) @font;
    }

    &__size {
        grid-area: size;
        align-self: end;
        margin-bottom: 3px;
        color: @cTextGrey;
        font: 400 var(--fs12)/var(--lh12) @font;
        white-space: nowrap;
    }

    &__btn {
        grid-area: btn;
    }

    &__text {
        grid-area: text;
        color: @cTextGrey;
        font: 400 var(--fs12)/var(--lh12) @font;
        margin-bottom: var(--m20);
        margin-top: var(--m10);
    }

    &__count {
        grid-area: count;
    }

    &__remove {
        .size(40px);
        .clear-button();
        .transit(box-shadow);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10px;
        right: 10px;
        background: @cGreen;
        color: @cWhite;
        border-radius: 50%;

        .hover({
            box-shadow: @shadow;
        });
    }

    &--in-list {
        grid-template-areas: 'picture picture picture'
                             'chef chef chef'
                             'name name name'
                             'price size size'
                             'text text text'
                             'count count btn';

        .product-card {
            &__picture {
                &:before {
                    padding-bottom: 100% * 240/274;
                }
            }

            &__name {
                line-height: 1.2;
            }

            &__btn {
                opacity: 1;
            }
        }
    }

    &--on-detail {
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content 1fr max-content max-content;
        grid-template-areas: 'picture picture'
                             'name name'
                             'price size'
                             'text text';
    }

    &--on-chef {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content 1fr max-content max-content max-content;
        grid-template-areas: 'picture picture'
                             'name name'
                             'price size'
                             'text text'
                             'count btn';

        .product-card {
            &__btn {
                opacity: 1;
            }
        }
    }

    &--edit {
        position: relative;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content 1fr max-content max-content;
        grid-template-areas: 'picture picture'
                             'edit edit'
                             'name name'
                             'price size'
                             'text text';
    }

    @media @mediaMoreXl {
        &__count {
            margin-right: 10px; // Подгонка под макет
        }
    }

    @media @mediaLg and @mediaDesktop {
        &__btn {
            font-size: var(--fs14);
        }
    }

    @media @mediaMobile {
        grid-template-columns: max-content 1fr;
        grid-template-areas: 'picture picture'
                             'chef chef'
                             'name name'
                             'price size'
                             'btn btn';

        &__btn {
            justify-self: center;
            margin-top: var(--m20);
        }

        &--in-list {
            grid-template-columns: max-content 1fr max-content;
            grid-template-areas: 'picture picture picture'
                                 'chef chef chef'
                                 'name name name'
                                 'price size size'
                                 'count count btn';

            .product-card {
                &__text {
                    display: none;
                }

                &__count {
                    margin-top: var(--m20);
                    max-width: 100px;
                }

                &__picture {
                    .proportional-size(.6);
                }
            }
        }

        &--on-detail {
            grid-template-columns: max-content 1fr;
            grid-template-rows: max-content 1fr max-content max-content;
            grid-template-areas: 'picture picture'
                             'name name'
                             'price size'
                             'text text';
        }

        &--on-chef {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: max-content 1fr max-content max-content max-content;
            grid-template-areas: 'picture picture'
                             'name name'
                             'price size'
                             'text text'
                             'count btn';

            .product-card {
                &__btn {
                    margin-top: 0;
                }
            }
        }

        &--edit {
            grid-template-columns: max-content 1fr;
            grid-template-rows: max-content 1fr max-content max-content;
            grid-template-areas: 'picture picture'
                             'edit edit'
                             'name name'
                             'price size'
                             'text text';
        }
    }

    @media @mediaSm {
        &--in-list {
            --card-padding: 10px;

            grid-template-areas: 'picture picture picture'
                                 'chef chef chef'
                                 'name name name'
                                 'price price price'
                                 'size size size'
                                 'count count btn';

            .product-card-chef__name {
                min-width: auto;
            }

            .product-card {
                &__name {
                    font-size: var(--fs12);
                }

                &__btn {
                    --btn-height: auto;

                    margin-top: var(--m10);
                    padding: .5em 1em;
                    font-size: var(--fs12);
                }

                &__count {
                    margin-top: var(--m10);
                }
            }
        }
    }

    @media @mediaXs {
        &--in-list {
            grid-template-areas: 'picture picture picture'
                                 'chef chef chef'
                                 'name name name'
                                 'price price price'
                                 'size size size'
                                 'count count count'
                                 'btn btn btn';

            .product-card {
                &__count {
                    max-width: none;
                }

                &__btn {
                    width: 100%;
                }
            }
        }
    }

    @media @mediaHover {
        &__btn {
            opacity: 0;
        }
    }
}
