@import "../../_var";

.products-slider-section {
    background: @cLightGreen;
    border-radius: @borderRadiusLg;
    padding: var(--m40) var(--wide-gutter);
    margin-left: calc(-1 * var(--wide-gutter));
    margin-right: calc(-1 * var(--wide-gutter));

    &__caption {
        margin-bottom: var(--m40);
    }
}
