@import "../../_var";

/**
 * Плэйсхолдер используется для слайдера с блюдом, чтобы контент не дёргался при инициализации JS
 */
.products-slider-placeholder {
    overflow: hidden;
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(3, minmax(340px, 1fr));

    &__card {
        .proportional-size(385/372);
        background: url('@{imagePath}card-placeholder.svg') @cBgGrey;
        background-size: contain;
        border-radius: @borderRadius;
    }

    @media @mediaXs {
        grid-template-columns: repeat(3, minmax(260px, 1fr));
    }
}
