@import "../../_var";

/**
 * Карточка блюда в промике
 */
.promo-product {
    .clear-link();
    display: grid;
    align-items: start;
    grid-column-gap: var(--grid-gap);
    grid-template-columns: 96px 1fr max-content minmax(70px, max-content);
    grid-template-rows: max-content max-content 1fr;
    grid-template-areas: 'chef-photo name name price'
                         'chef-photo chef-details btn btn'
                         'chef-photo chef-position btn btn';

    &__name {
        grid-area: name;
        align-self: center;
        margin-bottom: 12px;
        font: 700 var(--fs24)/var(--lh24) @font;
    }

    &__price {
        grid-area: price;
        align-self: center;
        margin-bottom: 10px;
        font: 700 var(--fs18)/var(--lh18) @font;
    }

    &__chef-photo {
        grid-area: chef-photo;
    }

    &__chef-details {
        grid-area: chef-details;
        display: flex;
        align-items: center;
        margin-right: 5px; // Подгонка под макет
    }

    &__chef-name {
        color: @cGreen;
        margin-right: 10px;
        font: 700 var(--fs16)/var(--lh16) @font;
    }

    &__chef-position {
        grid-area: chef-position;
        color: @cTextGrey;
        font: 400 var(--fs12)/var(--lh12) @font;
    }

    &__btn {
        grid-area: btn;
        margin-top: 5px;
    }

    @media @mediaSm {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 'chef-photo' 'name' 'price' 'chef-details' 'chef-position' 'btn';

        &__chef-photo {
            margin-bottom: var(--m10);
            width: 56px;
        }

        &__name {
            margin-bottom: 0;
        }

        &__price {
            margin-bottom: var(--m10);
        }

        &__btn {
            margin-top: var(--m10);
            justify-self: center;
        }
    }
}
