@import "../../_var";

.chat-root {
    &__grid {
        .grid(@columnGap: 10px, @columnsCount: 2);
        grid-template-columns: 362px 1fr;
    }

    &__list {
        max-height: calc(95vh - var(--header-fixed-height) - var(--foot-nav-height));
        overflow: auto;
    }

    &__item {
        & + & {
            margin-top: var(--m10);
        }
    }

    @media @mediaMobile {
        &__grid {
            grid-template-columns: 1fr;
        }
    }
}
