@import "../../_var";

.chat-user {
    .clear-button();
    .transit(~'background, color');
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 0 var(--grid-gap);
    grid-template-areas:
            'avatar name'
            'avatar date'
            'avatar message'
            'avatar none';
    width: 100%;
    padding: var(--m20);
    background: @cWhite;
    border-radius: 10px 0 0 10px;

    &__avatar-wrap {
        position: relative;
        grid-area: avatar;
    }

    &__avatar {
        .picture();
        display: block;
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
    }

    &__name {
        grid-area: name;
        font-size: var(--fs18);
        line-height: var(--lh18);
        font-weight: bold;
    }

    &__date-wrap,
    &__message {
        grid-area: date;
        font-size: var(--fs12);
        line-height: var(--lh12);
        color: @cTextGrey;
    }

    &__message {
        grid-area: message;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__unread {
        .size(11px);
        .transit(background);
        position: absolute;
        top: 0;
        right: 0;
        background: @cGreen;
        border-radius: 50%;
    }

    .hover({
        &:not(.chat-user--active) {
            background: @cLightGreen;
        }
    });

    &--active {
        background: @cGreen;
        color: @cWhite;

        .chat-user {
            &__date-wrap,
            &__message {
                color: inherit;
            }

            &__unread {
                background: @cWhite;
            }
        }
    }

    @media @mediaMobile {
        border-radius: 10px;
    }
}
