@import "../../_var";

.chat-order-product {
    padding: var(--m20) var(--m30);
    background: @cBeige;
    border-radius: @borderRadius;
    box-sizing: border-box;

    &__product {
        margin-top: var(--m10);
    }

    @media @mediaMobile {
        padding: var(--m20);
    }
}
