@import "../../_var";

.chat {
    display: flex;
    flex-direction: column;
    height: calc(95vh - var(--header-fixed-height) - var(--foot-nav-height));
    padding: 10px 50px 30px 30px;
    background: @cWhite;
    box-sizing: border-box;
    border-radius: 0px 18px 18px 0px;
    overflow: hidden;

    &__messages {
        --scrollbar-thumb-color: transparent;
        --scrollbar-track-color: transparent;

        display: flex;
        flex: 1;
        padding-right: var(--scroll-gap);
        overflow: auto;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: auto;
        width: 100%;
        min-height: 100%;
        box-sizing: border-box;
    }

    &__message {
        & + & {
            margin-top: var(--m10);
        }
    }

    &__controls {
        margin-top: var(--m40);
        padding-top: var(--m40);
        border-top: 1px solid @cBgGrey;

        > * {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__order {
        margin: var(--m40) 0;
    }

    &__write {
        margin: var(--m40) 0;
    }

    &__back {
        .clear-button();
        height: 100%;
        margin-right: var(--m20);
        padding-right: var(--m20);
        border-right: 1px solid @cBgGrey;
        color: @cGreen;
    }

    &__back-icon {
        width: 15px;
        height: 30px;
    }

    &__companion {
        position: relative;
        display: none;
        align-items: center;
        margin: 0 calc(-1 * var(--page-gutter));
        padding: var(--m10) calc(var(--page-gutter));
        box-shadow: @shadow;
        z-index: 2;
    }

    &__companion-wrapper {
        display: flex;
        align-items: center;
    }

    &__companion-avatar {
        .picture();
        margin-right: var(--grid-gap);
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__companion-name {
        font-size: var(--fs18);
        line-height: var(--lh18);
        font-weight: 700;
    }

    &__date {
        margin: var(--m10) 0;
        align-self: center;
        font-size: var(--fs12);
        color: @cTextGrey;
    }

    .hover({
        .chat {
            &__messages {
                --scrollbar-thumb-color: @cGreen;
                --scrollbar-track-color: @cWhite;
            }
        }
    }, {}, false);

    @media @mediaMobile {
        margin: 0 calc(-1 * var(--page-gutter));
        padding: 0 calc(var(--page-gutter)) var(--m10);
        border-radius: 0;

        &__messages {
            padding: var(--m10) 0;
        }

        &__companion {
            display: flex;
        }

        &__controls {
            margin-top: var(--m20);
            padding-top: var(--m20);
        }

        &__order {
            margin: var(--m20) 0;
        }

        &__write {
            margin-top: var(--m20);
        }
    }
}
