@import "../../_var";

.empty-chat {
    .grid();
    align-items: center;

    &__text {
        grid-column: span 4;
        font: bold var(--fs40) / var(--lh40) @captionFont;
        text-transform: uppercase;
    }

    &__image-wrap {
        grid-column: ~'5 / 13';
    }

    &__image {
        position: relative;
        display: inline-block !important;

        img {
            position: relative;
            max-width: 100%;
        }

        &:before {
            .pseudo();
            width: 132%;
            left: 38%;
            top: 5%;
            padding-top: 132%;
            background: @cLightGreen;
            border-radius: 50%;
        }
    }

    @media @mediaMd {
        &__text {
            grid-column: span @gridColumnsCount;
            text-align: center;
        }

        &__image-wrap {
            grid-column: span @gridColumnsCount;
            text-align: center;
        }

        &__image {
            &:before {
                display: none;
            }

            img {
                max-width: 75%;
            }
        }
    }
}
