@import "../../_var";

.chat-message {
    display: flex;
    align-items: flex-end;
    max-width: 81.5%;
    align-self: flex-start;

    &__content {
        max-width: 100%;
        padding: var(--m20);
        background: @cBgWhite;
        border-radius: 28px 28px 28px 2px;
        box-sizing: border-box;
    }

    &__avatar {
        .picture();
        width: 35px;
        margin-right: var(--m10);
        flex-shrink: 0;
        border-radius: 50%;
        overflow: hidden;
    }

    &__text {

    }

    &__date {
        margin-top: var(--m10);
        color: @cTextGrey;
        font-size: var(--fs12);
        line-height: var(--lh12);
    }

    &__user {
        margin-bottom: var(--m10);
        font-size: var(--fs18);
        line-height: var(--lh18);
        font-weight: bold;
    }

    &__product {
        margin-top: 13px;
    }

    &__confirm-buttons {
        display: flex;
        flex-wrap: wrap;
        grid-gap: var(--m10) var(--grid-gap);
        margin: var(--m10) 0;
    }

    &__images {
        .grid(@columnGap: var(--m10), @columnsCount: 3);
        margin: var(--m20) 0;

        &--one {
            .chat-message__image {
                grid-column: span 2;
            }
        }
    }

    &__image {
        width: 100%;
        max-height: 50vh;
        object-fit: contain;
    }

    &--my {
        flex-direction: row-reverse;
        align-self: flex-end;

        *::selection {
            background-color: @cBgWhite;
        }

        .chat-message {
            &__content {
                background: @cLightGreen;
                border-radius: 28px 28px 2px 28px;
            }

            &__avatar {
                margin-left: var(--m10);
                margin-right: 0;
            }

            &__text {

            }
        }
    }

    @media @mediaMobile {
        font-size: var(--fs14);

        &__content {
            padding: var(--m20);
        }

        &__images {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
