@import "../../_var";

.join-section {
    .grid(@rowGap: 0);
    background: @cLightGreen;
    border-radius: @borderRadiusLg;
    padding: var(--m60) var(--wide-gutter);
    margin-left: calc(-1 * var(--wide-gutter));
    margin-right: calc(-1 * var(--wide-gutter));

    &__text-wrap,
    &__picture-wrap {
        position: relative;
        grid-column: span 6;
    }

    &__text-wrap {
        z-index: 2;
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: var(--m40);
        }
    }

    &__picture-wrap {
        z-index: 1;
    }

    &__picture {
        .proportional-size(510/578);
        margin: calc(-1 * (100% * 77/578 + var(--m60))) 0 calc(-1 * (100% * 43/578 + var(--m60)));
        width: 100%;
    }

    &__woman {
        .proportional-size(503/383);
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 383/503 * 100%;
        background: no-repeat 0 0 url('@{imagePath}join-section/woman.png');
        background-size: contain !important;
    }

    &__logo {
        .proportional-size(300/295);
        position: absolute !important;
        top: 24% !important;
        left: auto !important;
        right: 4% !important;
        width: 295/503 * 100%;
        background: no-repeat 0 0 url('@{imagePath}join-section/logo.svg');
        background-size: contain !important;
    }

    @media @mediaXl {
        padding: var(--m40) var(--wide-gutter);
    }

    @media @mediaMobile {
        padding-top: 60px;
        padding-bottom: 40px;
        margin-top: 245px;

        &__text-wrap,
        &__picture-wrap {
            grid-column: ~'1 / -1';
        }

        &__picture-wrap {
            grid-row: 1;
        }

        &__picture {
            position: absolute;
            right: 0;
            bottom: 100%;
            width: 300px;
            margin: 0;
        }

        &__woman {
            left: auto !important;
            right: -5% !important;
            top: auto !important;
            bottom: -20% !important;
        }

        &__logo {
            width: 30%;
            top: -9% !important;
        }

        &__btn-wrap {
            text-align: center;
        }
    }
}
