@import "../../_var";

.promo-compiltations {
    display: flex;
    flex-direction: column;

    .search-section {
        z-index: 4;
    }

    .promo-compiltation {
        &__name {
            font: 900 var(--fs40)/var(--lh40) @captionFontName;
            margin-top: var(--m60);
        }

        &__cards-wrapper {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-column-gap: var(--m20);

            @media @mediaLg {
                grid-template-columns: repeat(4, 1fr);
            }

            @media @mediaMd{
                grid-template-columns: repeat(3, 1fr);
            }

            @media @mediaXs {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &__card {
            margin-top: var(--m20);
            background-color: var(--promo-button-background-color);
            border-radius: @borderRadius;
            max-width: 176px;
            min-width: 132px;
            cursor: pointer;
            color: @cBlack;

            &:hover {
                background-color: var(--promo-button-background-hover-color);
                color: @cWhite;
            }
        }

        &__card-link {
            .clear-link();
        }

        &__card-img-wrapper {
            .picture(200/176);
            .transit(opacity);
            display: block;
            transform: translateZ(0); // fix safari
            border-radius: @borderRadius @borderRadius 0 0;
        }

        &__card-name {
            .clear-link();
            margin: 16px var(--m10) var(--m20) var(--m20);
            font: 700 var(--fs16)/var(--lh12) @fontName;
            word-break: break-word;
        }

    }
}
