@import "../../../_var";

/**
 * Блок добавления в корзину на детальной блюда
 */
.product-buy {
    display: flex;
    grid-gap: var(--m30);
    align-items: center;

    &__price {
        flex: 1;
        font: 700 var(--fs24)/var(--lh24) @font;
    }

    &__count {
        max-width: 100px;
    }

    @media @mediaLg {
        align-items: center;
        justify-content: center;

        &__price {
            font-size: 40px;
            flex: 0;
        }
    }

    @media @mediaSm {
        display: grid;
        grid-template-columns: 1fr 1fr;


        &__price {
            text-align: right;
        }

        &__btn-wrap {
            display: flex;
            justify-content: center;
            grid-column: span 2;
        }
    }
}
