@import "../../../_var";

/**
 * Описание блюда на детальной странице
 */
.product-about {
    font: 400 var(--fs12)/var(--lh12) @font;

    &__block {
        &:not(:last-child) {
            margin-bottom: var(--m20);
        }
    }

    &__title {
        margin-bottom: var(--m10);
        font-weight: 700;
        white-space: nowrap;
    }

    &__params {
        display: flex;
        grid-gap: 32px;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        grid-gap: 9px;
        margin-top: 25px;
    }

    &__hr {
        .size(100%, 1px);
        margin: var(--m20) 0;
        border: none;
        background: @cBgGrey;
    }

    @media @mediaLg and @mediaDesktop {
        &__params {
            flex-direction: column;
        }
    }

    @media @mediaSm {
        &__params {
            flex-direction: column;
        }
    }
}
