@import "../../../_var";

/**
 * Основная информация о блюде на детальной странице (фото + текст + повар)
 */
.product-main {
    &__grid {
        .grid();
        position: relative;
    }

    &__gallery {
        grid-column: ~'1 / 5';
    }

    &__about {
        grid-column: ~'5 / 10';
    }

    &__chef {
        grid-column: ~'10 / 13';
        display: flex;
    }

    &__socials {
        position: absolute;
        right: 0;
        top: calc(-1 * (var(--m40) + var(--fs40) * var(--lh40)));
        bottom: calc(100% + var(--m40));
    }

    &__block {
        background: @cWhite;
        border-radius: @borderRadius;
        padding: var(--m30) ;
    }

    @media @mediaDesktop and @mediaLg {
        &__gallery {
            grid-column: ~'1 / 5';
        }

        &__about {
            grid-column: ~'5 / 13';
            grid-row: ~'1 / 3';
        }

        &__chef {
            grid-column: ~'1 / 5';
        }
    }

    @media @mediaMobile {
        &__gallery,
        &__buy,
        &__about,
        &__chef,
        &__socials {
            grid-column: ~'1 / -1';
        }

        &__socials {
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
        }
    }
}
