@import "../../../_var";

/**
 * Поделиться на детальной блюда
 */
.product-socials {
    display: flex;
    align-items: center;
    align-content: center;

    &__label {
        margin-right: 10px;
        color: @cTextGrey;
        font: 400 var(--fs12)/var(--lh12) @font;
    }

    @media @mediaSm {
        .ya-share2__container_mobile.ya-share2__container_size_l .ya-share2__icon {
            .size(32px) !important;
            background-size: 75% !important;
        }
    }
}
