@import "../../_var";

.cook-reviews {
    @avaSize: 50px;
    @avaMargin: 12px;

    &__review {
        margin-top: var(--m40);
        position: relative;

        &:after {
            content: '';
            position: absolute;
            .icon(@review-quote);
            right: 0;
            top: 40px; // todo
            z-index: 1;
        }
    }

    &__review-top {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    &__avatar {
        .size(@avaSize);
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
    }

    &__avatar-img {
        width: 100%;
    }

    &__top-right {
        margin-left: @avaMargin;
        max-width: calc(100% - (@avaSize + @avaMargin));
    }

    &__top-text {
        display: flex;

        @media @mediaSm {
            display: flex;
            flex-direction: column;
        }
    }

    &__author {
        display: inline-block;
        font: 700 var(--fs16)/var(--lh16) @font;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        flex-shrink: 1;

        @media @mediaSm {
            margin-bottom: 6px;
        }
    }

    &__date {
        display: inline-block;
        margin-top: 4px;
        margin-left: @avaMargin;
        font: 400 var(--fs12)/var(--lh12) @font;
        flex-shrink: 0;

        @media @mediaSm {
            margin: 0 0 6px 0;
        }
    }

    &__top-rating {
        margin-top: 4px;
    }

    &__content {
        padding-left: @avaSize + @avaMargin;
        font: 400 var(--fs16)/var(--lh16) @font;
        color: @cTextBlack;

        @media @mediaSm {
            padding-left: 0;
        }
    }

    &__show-more {
        margin-top: var(--m40);
        text-align: center;
    }
}
