@import "../../_var";

.cook-loader {
    position: relative;
    height: 80px;

    &:after {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        width: 40px;
        height: 40px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 3px solid @cGreen;
        border-top-color: transparent;
        border-bottom-color: transparent;

        animation: rotating 1s infinite;
    }
}

@keyframes rotating {
    0%   { transform: translate(-50%, -50%) rotate(0); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
