@import "../../_var";

.cook-short-data {
    display: flex;

    &__avatar {
        .size(50px);
        border-radius: 50%;
        flex-shrink: 0;
        overflow: hidden;
    }

    &__texts {
        padding-left: 12px;
    }

    &__name {
        color: @cGreen;
        font: 700 var(--fs16)/var(--lh16) @font;
    }

    &__position {
        color: @cTextGrey;
        font: 400 var(--fs12)/var(--lh12) @font;
    }
}
