@import "../../_var";

.cook-detail {
    margin-bottom: var(--m100);

    #menu {
        position: absolute;
        margin-top: -100px;
        background: none;
    }

    > *:not(.cook-detail__products) {
        padding: var(--m30) var(--m30) 45px;
        background: @cWhite;
        border-radius: @borderRadius;
    }

    > * {
        margin-bottom: var(--m40);
    }

    &__header {
        margin-bottom: var(--m40);

        &--with-btn {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__header-btn {
        margin: -6px 0 0 auto;

        @media @mediaSm {
            margin: 10px 0 0;
        }
    }

    &__header-count {
        margin: 4px 0 0 var(--m20);
        font: 700 var(--fs16)/var(--lh16) @font;

        @media @mediaSm {
            width: 100%;
            margin: 10px 0 0;
        }
    }

    &__kitchen {

        &__slider {
            position: relative;
        }
    }
}

.vue-cook-info-products,
.vue-cook-info-info {
    .proportional-size(1.5);
}
