@import "../../_var";

.product-cook-photo {
    --product-cook-photo-border-color: @cWhite;

    .picture(@fit: cover);
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--product-cook-photo-border-color);

    &--link {
        .clear-link();
        .transit(~'opacity, border-color');
        display: block;

        .hover({
            border-color: @cGreen;
        });
    }
}
