@import "../../_var";

.registration-section {
    padding: 100px 0 166px;

    &__content {
        position: relative;
        background: @cGreen;
        border-radius: @borderRadiusLg;
        padding: var(--m60) var(--wide-gutter);
        margin-left: calc(-1 * var(--wide-gutter));
        margin-right: calc(-1 * var(--wide-gutter));
        color: @cWhite;
    }

    &__back {
        .size(100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__donut {
        .proportional-size(377/320);
        position: absolute !important;
        top: -13% !important;
        right: 6% !important;
        bottom: auto !important;
        left: auto !important;
        width: 24%;

        &:before {
            background: no-repeat 0 0 url('@{imagePath}registration-section/donut.png');
            background-size: contain;
        }
    }

    &__tacos {
        .proportional-size(316/243);
        position: absolute !important;
        top: auto !important;
        right: auto !important;
        bottom: -18% !important;
        left: 4% !important;
        width: 18%;

        &:before {
            background: no-repeat 0 0 url('@{imagePath}registration-section/tacos.png');
            background-size: contain;
        }
    }

    &__caption {
        .column-width(5);
        position: relative;
        z-index: 2;
        margin-bottom: var(--m60);
    }

    &__form {
        .column-width(8);
        position: relative;
        z-index: 2;
        margin: 0 auto;
        text-align: center;

        .form__privacy {
            border-top: none;
            padding-top: 0;
        }
    }

    @media @mediaDesktop {
        &.scroll-class {
            .registration-section {
                &__donut:before,
                &__tacos:before {
                    .transit(~'transform', @transitTimeExtraSlow);
                }
            }

            &:not(.showed) {
                .registration-section {
                    &__donut:before,
                    &__tacos:before {
                        transform: translateY(var(--animation-translate-y));
                    }
                }
            }
        }
    }

    @media @mediaMobile {
        padding: 0;

        &__donut,
        &__tacos {
            display: none !important;
        }

        &__form {
            width: 100%;
        }
    }
}
