@import "../../_var";

.basket-row {
    display: grid;
    grid-template-columns: 60px auto min-content 120px 40px;
    grid-column-gap: var(--grid-gap);
    align-items: center;
    grid-template-areas: 'image text price counter remove';

    @media @mediaSm {
        align-items: start;
        grid-template-columns: 60px auto auto 30px;
        grid-row-gap: var(--grid-gap);
        grid-template-areas:
            'image text text remove'
            'price price counter counter';
    }

    &__image {
        .size(60px);
        grid-area: image;

        > img {
            border-radius: 15px;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__text {
        grid-area: text;
    }

    &__name {
        font: 700 var(--fs24)/var(--lh24) @font;

        @media @mediaSm {
            font: 700 var(--fs16)/var(--lh14) @font;
        }
    }

    &__pros {
        font: 400 var(--fs18)/var(--lh18) @font;
        color: @cTextGrey;
    }

    &__pros-price {
        display: inline-block;
    }

    &__price {
        font: 700 var(--fs24)/var(--lh24) @font;
        white-space: nowrap;
        grid-area: price;
    }

    &__counter {
        grid-area: counter;

        @media @mediaSm {
            width: 100px;
            margin-left: auto;
        }
    }

    &__loading {
        pointer-events: none;
        opacity: .5;
    }

    &__remove {
        grid-area: remove;
    }

    &__remove-btn {
        .clear-button();
        .transit();
        color: @cTextGrey;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;

        .hover({
            color: @cGreen;
        });
    }
}
