@import "../../_var";

.basket-list {
    display: grid;
    grid-column-gap: var(--grid-gap);
    grid-template-columns: 9fr 3fr;
    position: relative;
    overflow: visible;

    &__item {
        margin-bottom: var(--m48);
    }

    &__right {
        position: relative;
    }

    &__decor {
        position: absolute !important;
        bottom: -79px;
        right: -168px;

        @media @mediaLg {
            width: 100% !important;
            right: 0;
            bottom: 0;
        }

        @media @mediaSm {
            display: none;
        }
    }

    @media @mediaSm {
        grid-template-columns: 1fr;
    }
}
