@import "../../_var";

.basket-by-cook {
    padding: var(--m30);
    border-radius: 20px;
    background: @cWhite;

    @media @mediaXs {
        margin-left: -15px;
        margin-right: -15px;
        padding: 20px;
    }

    &__header {
        border-bottom: 1px solid @cBordersGrey;
        padding-bottom: var(--m20);
        position: relative;
    }

    &__remove {
        .clear-button();
        .transit();
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 10px;
        color: @cTextGrey;

        .hover({
            color: @cGreen;
        });
    }

    &__footer {
        border-top: 1px solid @cBordersGrey;
        padding-top:var(--m30);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;

        @media @mediaXs {
            display: block;
        }
    }

    &__speciality {
        color: @cTextGrey;
        font: 400 var(--fs12)/var(--lh12) @font;
    }

    &__name {
        font: 700 var(--fs16)/var(--lh16) @font;
    }

    &__btn {
        margin-left: var(--m40);

        @media @mediaXs {
            margin-left: 0;
            margin-top: 15px;
        }
    }

    &__total {
        font: 800 var(--fs24)/var(--lh24) @font;
        margin-right: var(--m40);
    }

    &__price {
        display: inline-block;
    }

    &__list {
        display: grid;
        padding-top: var(--m40);
        padding-bottom: var(--m40);
        grid-row-gap: var(--m40);
    }

    &__loading {
        pointer-events: none;
        opacity: .5;
    }
}
