@import "../../_var";

.map-balloon {
    position: relative;
    background: @cWhite;
    width: 273px;
    box-sizing: border-box;
    transform: translate(-50%, calc(-100% - 10px));
    filter: drop-shadow(0px 0px 20px fade(@cBlack, 10));
    border-radius: 20px;

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
