<template>
    <div>
        <yandexMap
            v-if="isVisible"
            :coords="coords"
            :controls="controls"
            :scroll-zoom="scrollZoom"
            class="map"
            @map-was-initialized="onMapInit($event)"
            @click="onMapClick($event)"
        >
            <ymapMarker
                v-for="(point, index) in markers"
                :key="point.id"
                :marker-id="point.id"
                :coords="point.coords"
                :cluster-name="point.clusterName"
                :options="getPointOptions(index)"
                marker-type="placemark"
                @balloonopen="onBalloonOpen(point)"
                @balloonclose="onBalloonClose"
            >
                <div slot="balloon">
                    <slot :point="point" />
                </div>
            </ymapMarker>
        </yandexMap>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, VModel, Vue, Watch} from 'vue-property-decorator';
    import { yandexMap, ymapMarker } from 'vue-yandex-maps';
    import TMapMarker from '~/types/map/TMapMarker';
    import BalloonLayoutFactory from '~/partials/map/BalloonLayoutFactory';
    import {initIntersectionObserver} from '~/helper/intersection-observer';
    import {Map, ControlSingleKey, Placemark} from 'yandex-maps';
    import PlacemarkLayoutFactory from '~/partials/map/PlacemarkLayoutFactory';
    import TObjectCollection from '~/types/TObjectCollection';
    import {initResizeObserver} from '~/helper/resize-observer';

    @Component({
        components: {yandexMap, ymapMarker},
    })
    export default class YMap extends Vue {
        @Prop({default: () => []}) points!: TMapMarker[];
        @Prop({default: true}) closeBalloonOnMapClick!: boolean; // закрывать балун при клике мимо
        @Prop({default: true}) showNums!: boolean; // показывать номера на пинах
        @Prop({default: () => ['zoomControl']}) controls!: ControlSingleKey[]; // контролы на карте
        @Prop({default: () => BalloonLayoutFactory}) balloonFactory!: any; // фабрика для балунов
        @Prop({default: () => PlacemarkLayoutFactory}) placemarkFactory!: any; // фабрика для пинов
        @Prop({default: false}) scrollZoom!: boolean;
        @VModel() curPoint!: TMapMarker | null; // v-model с текущим пином

        isVisible: boolean = false;
        markers: TMapMarker[] = [];
        yMap: Map | null = null;

        keyDownHandler = this.onKeyDown.bind(this);

        mounted() {
            initIntersectionObserver(this.$el as HTMLElement, () => {
                this.isVisible = true;
            }, true);

            initResizeObserver(() => {
                this.yMap?.container.fitToViewport();
            });

            window?.addEventListener('keydown', this.keyDownHandler);
        }

        beforeDestroy() {
            window?.removeEventListener('keydown', this.keyDownHandler);
        }

        @Watch('value')
        async onValueChange(newValue: TMapMarker, oldValue: TMapMarker) {
            if (oldValue) {
                const placemark = this.getPlacemarkByPoint(oldValue);

                placemark?.options.set('active', null);
                placemark?.events.fire('change', placemark);
            }

            if (!this.curPoint) return;

            const placemark = this.getPlacemarkByPoint(this.curPoint);

            if (!placemark) return;

            await this.setMarkerToCenter(placemark);
            await placemark.balloon.open();
        }

        @Watch('points')
        onPointsChange() {
            this.reInitMarkers();
        }

        @Watch('markers')
        onMarkersChange() {
            setTimeout(() => {
                this.fitObjects();
            }, 100);
        }

        get coords(): number[] {
            if (this.points[0]?.coords) {
                return this.points[0].coords;
            }

            return [55.75399399999374, 37.62209300000001];
        }

        get balloonLayout() {
            const {ymaps} = window;

            return new this.balloonFactory().create(ymaps);
        }

        get iconLayout() {
            const {ymaps} = window;

            return new this.placemarkFactory().create(ymaps);
        }

        reInitMarkers() {
            this.markers = [...this.points];
        }

        onMapInit(map: Map) {
            this.yMap = map;
            this.reInitMarkers();
        }

        onMapClick() {
            if (this.closeBalloonOnMapClick) {
                this.yMap?.balloon.close();
            }
        }

        onKeyDown(ev: KeyboardEvent) {
            if (ev.key === 'Escape' && this.closeBalloonOnMapClick) {
                this.yMap?.balloon.close();
            }
        }

        onBalloonOpen(point: TMapMarker) {
            this.curPoint = point;

            const placemark = this.getPlacemarkByPoint(point);

            placemark?.options.set('active', '1');
            placemark?.events.fire('change', placemark);
        }

        onBalloonClose() {
            let placemark: Placemark | null = null;

            if (this.curPoint) {
                placemark = this.getPlacemarkByPoint(this.curPoint);
            }

            placemark?.options.set('active', null);
            placemark?.events.fire('change', placemark);

            this.curPoint = null;
        }

        async setMarkerToCenter(marker: Placemark, zoom: number = 17) {
            const coords = marker.geometry?.getCoordinates();

            if (coords) {
                await this.yMap?.panTo(coords, {
                    safe: true,
                });

                // await this.yMap?.setZoom(zoom);
            }
        }

        getPlacemarkByPoint(point: TMapMarker): Placemark | null {
            let find: Placemark|null = null;

            this.yMap?.geoObjects?.each(object => {
                this.iteratePlacemarks(geoObject => {
                    if ((geoObject.properties.get('markerId', {}) as number | object) === point.id) {
                        find = geoObject as Placemark;
                    }
                }, object);
            });

            return find;
        }

        iteratePlacemarks(callback, object) {
            if (object.each) {
                object.each(child => {
                    this.iteratePlacemarks(callback, child);
                });
            } else if (object.getGeoObjects) {
                this.iteratePlacemarks(callback, object.getGeoObjects());
            } else if (object.forEach) {
                object.forEach(child => {
                    this.iteratePlacemarks(callback, child);
                });
            } else {
                callback(object);
            }
        }

        getPointOptions(index: number): TObjectCollection {
            return {
                balloonLayout: this.balloonLayout,
                iconLayout: this.iconLayout,
            };
        }

        fitObjects() {
            if (!this.yMap) return;

            const bounds = this.yMap.geoObjects.getBounds();

            if (!bounds) return;

            this.yMap.setBounds(bounds, {
                checkZoomRange: true,
                useMapMargin: true,
            });
        }
    }
</script>
