@import "../../_var";

.ask-block {
    position: relative;
    padding-top: 235px;

    &__content-wrap {
        .proportional-size();
    }

    &__content {
        .size(100%);
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 1fr max-content 1fr;
        grid-template-areas: 'empty' 'text' 'btn';
        grid-row-gap: var(--m40);
        padding: var(--m40);
        background: @cLightGreen;
        border-radius: 50%;
        text-align: center;
        font-size: var(--fs20);
        line-height: var(--lh20);

        &:before,
        &:after {
            .pseudo();
            background: @cLightGreen;
            border-radius: 50%;
        }

        &:before {
            .size(100% * 115/469);
            left: -1%;
            top: -31%;
        }


        &:after {
            .size(100% * 46/469);
            left: -14%;
            top: -55%;
        }
    }

    &__text {
        grid-area: text;
    }

    &__btn {
        grid-area: btn;
        justify-self: center;
    }

    &__macaron {
        .proportional-size();
        position: absolute;
        left: 1%;
        top: -6%;
        z-index: 2;
        width: 100% * 455/469;
    }

    &__macaron-1,
    &__macaron-2 {
        .size(100%);
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;

        &:before {
            .pseudo();
            .size(100%);
            top: 0;
            left: 0;
            background: no-repeat 0 0;
            background-size: contain;
        }
    }

    &__macaron-1:before {
        background-image: url('@{imagePath}ask-block/macaron-1.png');
    }

    &__macaron-2:before {
        background-image: url('@{imagePath}ask-block/macaron-2.png');
    }

    @media @mediaDesktop {
        &.scroll-class {
            .ask-block {
                &__macaron-1:before,
                &__macaron-2:before {
                    .transit(transform, @transitTimeExtraSlow);
                    will-change: transform;
                }
            }

            &:not(.showed) {
                .ask-block {
                    &__macaron-1:before {
                        transform: translateY(var(--animation-translate-y));
                    }
                    &__macaron-2:before {
                        transform: translateY(calc(2 * var(--animation-translate-y)));
                    }
                }
            }
        }
    }

    @media @mediaMobile {
        padding-top: 0;

        &__content-wrap {
            &:before {
                display: none;
            }
        }

        &__macaron {
            display: none;
        }

        &__content {
            position: relative;
            border-radius: @borderRadiusLg;
            grid-template-rows: 1fr max-content;
            grid-template-areas: 'text' 'btn';
            grid-row-gap: var(--m20);
            padding: var(--m40) var(--page-gutter);
            margin: 0 calc(-1 * var(--page-gutter));
            height: auto;
            width: auto;

            &:before,
            &:after {
                display: none;
            }
        }
    }
}
