@import "../../_var";

.faq-section {
    &__grid {
        .grid(@rowGap: var(--m40));
        align-items: start;
    }

    &__list {
        grid-column: ~'1 / 7';
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 12px;
        }

        a {
            .link();
            --link-color: @cGreen;
            .clear-button();
            .transit(~'opacity, border-bottom-color, color');
        }
    }

    &__caption {
        margin-bottom: var(--m60);
    }

    &__ask {
        grid-column: ~'8 / 13';
    }

    @media @mediaMobile {
        &__list,
        &__ask {
            grid-column: ~'1 / -1';
        }
    }

}
