<template>
    <div class="service-reviews-slider">
        <div class="service-reviews-slider__photo-col">
            <VueSlickCarousel
                v-bind="sliderSettings"
                :class="['slider', 'slider--spaced']"
                :as-nav-for="syncSlider"
                ref="slider"
                @reInit="updatePagesDebounced"
                @beforeChange="updatePagesDebounced">
                <div v-for="(item, index) in items"
                     :key="index"
                     class="slider__slide">
                    <div class="service-reviews-slider__photo">
                        <BackendImage :image="item.picture"
                                      :title="item.pictureTitle"
                                      :alt="item.pictureAlt"
                                      draggable="false"
                                      loading="lazy"
                                      @dragstart="preventDrag" />
                    </div>
                </div>
            </VueSlickCarousel>
        </div>
        <div class="service-reviews-slider__text-col">
            <SvgSymbol name="logo" class="service-reviews-slider__logo" />

            <VueSlickCarousel
                v-bind="sliderSettings"
                :class="['slider', 'slider--spaced']"
                :as-nav-for="slider"
                ref="syncSlider">
                <div v-for="(item, index) in items"
                     :key="index"
                     class="slider__slide">
                    <div class="service-reviews-slider__text" v-html="item.previewText"></div>
                    <div class="service-reviews-slider__name" v-html="item.name"></div>
                    <div class="service-reviews-slider__position" v-html="item.position"></div>
                </div>
            </VueSlickCarousel>
        </div>
        <div class="service-reviews-slider__nav-col">
            <SliderNav :current="currentPage"
                       :total="totalPages"
                       @prev-click="prev"
                       @next-click="next"
                       class="service-reviews-slider__nav" />

            <CircleDots :current-index="currentPage"
                        :count="totalPages"
                        @select="goTo"/>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Mixins, Prop, Ref} from 'vue-property-decorator';
    import BaseSlider from '~/components/slider/BaseSlider.vue';
    import VueSlickCarousel from 'vue-slick-carousel';
    import {TReview} from '~/types/reviews/TReview';
    import SliderNav from '~/components/slider/SliderNav.vue';
    import CircleDots from '~/components/slider/CircleDots.vue';
    import BackendImage from '~/components/BackendImage.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol, BackendImage, CircleDots, SliderNav, VueSlickCarousel},
    })
    export default class ServiceReviewsSlider extends Mixins(Vue, BaseSlider) {
        @Prop({default: () => []}) items!: TReview[];

        @Ref('syncSlider') syncSlider!: any;

        mounted() {
            // Нужно для работы синхронизации слайдеров
            // $refs заполняются только после того, как компонент был отрисован, и они не реактивны
            // Принудительно обновление компонента после монтирования, чтобы при повторном рендеринге слайдеры получат правильные ссылки
            this.$nextTick(this.$forceUpdate);
        }
    }
</script>
