<template>
    <div class="service-support-items">
        <ServiceFeaturesSlider v-if="isMobile" :items="items" />
        <div v-else class="service-support-items__list">
            <ServiceFeature v-for="(item, index) in items"
                            class="service-support-items__item"
                            :is-support-item="true"
                            :item="item"
                            :key="index" />
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TServiceFeature} from '~/types/about-service/TServiceFeature';
    import ServiceFeature from '~/components/about-service/ServiceFeature.vue';
    import eventBus from '~/helper/event-bus';
    import {TResizeWatcher} from '~/types/TResizeWatcher';
    import ServiceFeaturesSlider from '~/components/about-service/ServiceFeaturesSlider.vue';

    @Component({
        components: {ServiceFeaturesSlider, ServiceFeature},
    })

    export default class ServiceSupportItems extends Vue {
        @Prop({default: () => []}) items!: TServiceFeature[];

        isMobile: boolean = false;

        mounted() {
            eventBus.$on('resize-watcher', this.resizeWatcher.bind(this));
        }

        beforeDestroy() {
            eventBus.$off('resize-watcher', this.resizeWatcher.bind(this));
        }

        resizeWatcher(data: TResizeWatcher) {
            this.isMobile = data.isMd;
        }
    }
</script>
