<template>
    <a href="javascript:void(0);" class="link link--with-icon link--dashed">
        <span class="link__icon"><SvgSymbol name="location" /></span>
        <span class="link__text">{{ current }}</span>
        <span class="link__icon"><SvgSymbol name="spoiler" /></span>
    </a>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class LocationBtn extends Vue {
        @Prop({required: true}) current!: string;
    }
</script>
