@import "../../_var";

.promo-rocket {
    .proportional-size(790/700);
    width: min(700px, 100%);

    &__circle {
        .proportional-size();
        position: absolute !important;
        top: auto !important;
        right: 0 !important;
        bottom: 12% !important;
        left: auto !important;
        width: 100% * 591/700;
        z-index: 1;
        border-radius: 50%;
        background: @cLightGreen;
    }

    &__rocket {
        .proportional-size(479/447);
        position: absolute !important;
        top: auto !important;
        right: auto !important;
        bottom: -5% !important;
        left: 0 !important;
        width: 100% * 479/700;
        z-index: 3;

        &:before {
            background: no-repeat 0 0 url('@{imagePath}promo-rocket/rocket.png');
            background-size: contain !important;
        }
    }

    &__logo {
        .proportional-size(332/327);
        position: absolute !important;
        top: 0 !important;
        right: 17% !important;
        bottom: auto !important;
        left: auto !important;
        width: 100% * 327/700;
        z-index: 3;

        &:before {
            background: no-repeat 0 0 url('@{imagePath}promo-rocket/logo.svg');
            background-size: contain !important;
        }
    }

    @media @mediaDesktop {
        &.scroll-class {
            .promo-rocket {
                &__rocket:before,
                &__logo:before {
                    .transit(transform, @transitTimeSlow);
                }
            }

            &:not(.showed) {
                .promo-rocket {
                    &__rocket:before {
                        transform: translateX(-25%);
                    }

                    &__logo:before {
                        transform: scale(.8);
                    }
                }
            }
        }
    }
}
