@import "../../_var";

.promo-slider {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 100%;
    box-sizing: border-box;
    padding: var(--m40);

    &:before {
        .pseudo();
        .column-width(6, 8);
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: @cLightGreen;
        border-radius: @borderRadiusLg;
    }

    &__dish-container {
        .proportional-size();
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 46px;
        width: calc(100% - 107px);
    }

    //&__plate {
    //    .size(100%);
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    background: no-repeat 0 0 url('@{imagePath}main-promo/plate.png');
    //    background-size: contain;
    //}

    &__food {
        .size(100%);
        .transit(transform, @transitTimeMedium);
        position: absolute;
        top: 0;
        left: 0;
        object-fit: scale-down;
    }

    &__slider {
        grid-column: 1;
        grid-row: ~'1 / 3';
    }

    &__slide {
        display: grid !important;
        grid-template-columns: 100%;
        position: relative;
    }

    &__arrows {
        position: absolute;
        z-index: 2;
        right: var(--m40);
        bottom: 215px;
    }

    &__product {
        position: relative;
        z-index: 2;
        grid-column: 1;
        grid-row: 1;
        align-self: end;
        justify-self: right;
    }

    @media @mediaDesktop {
        &__product {
            transition: opacity @transitTimeExtraSlow/2 @transitEase, transform @transitTimeExtraSlow @transitEase;

            .slick-slide:not(.slick-current) & {
                opacity: 0;
                transform: translateX(-50px);
            }
        }

        &.scroll-class {
            &:before {
                .transit(~'opacity, transform', @transitTimeSlow);
                transform-origin: 100% 50%;
                will-change: transform;
            }

            .promo-slider {
                &__dish-container {
                    .transit(~'opacity, transform', @transitTimeExtraSlow);
                    will-change: transform;
                }
            }

            &:not(.showed) {
                &:before {
                    opacity: 0;
                    transform: scaleX(0);
                }

                .promo-slider {
                    &__dish-container {
                        transform: rotate(15deg);
                    }
                }
            }
        }


    }

    @media @mediaSm {
        grid-template-rows: auto;
        padding: 0 0 var(--m40);

        &:before {
            left: calc(-1 * var(--page-gutter));
            right: calc(-1 * var(--page-gutter));
            top: var(--m40);
            bottom: 0;
            width: auto;
        }

        &__arrows {
            display: none;
        }

        &__dish-container {
            margin: 0 auto;
            max-width: 400px;
            width: 100%;
        }

        &__product {
            justify-self: stretch;
            align-self: start;
            margin-top: -70px;
            grid-row: 2;
        }
    }
}
