<template>
    <div class="chat-message" :class="{'chat-message--my': message.userId === myId}">
        <a v-if="url" :href="url" target="_blank" class="chat-message__avatar chat-message__avatar--link">
            <BackendImage :image="avatar" />
        </a>
        <div v-else class="chat-message__avatar">
            <BackendImage :image="avatar" />
        </div>
        <div class="chat-message__content">
            <div class="chat-message__text custom-scrollbar">{{ message.message.trim() }}</div>

            <ChatProduct
                v-if="message.products"
                v-for="product in message.products"
                :key="product.id"
                :item="product"
                class="chat-message__product"
            />

            <div v-if="message.images && message.images.length" class="chat-message__images" :class="{'chat-message__images--one': message.images.length === 1}">
                <div
                    v-for="(image, index) in message.images"
                    :key="index"
                    @click="showPhotoPopup(image, index)"
                    class="chat-message__image"
                >
                    <BackendImage
                        :image="image"
                        alt=""
                    />
                </div>

                <Tinybox
                    v-model="showIndex"
                    :images="galleryImages"
                    loop
                    no-thumbs
                />
            </div>
            <div class="chat-message__date">{{ date }}</div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import {TMessage} from '~/types/chat/TMessage';
    import BackendImage from '~/components/BackendImage.vue';
    import {TBackendImage} from '~/types/images';
    import TChatUserRef from '~/types/chat/TChatUserRef';
    import {dateTimeFromTimestamp} from '~/helper/common';
    import ChatProduct from '~/components/chat/ChatProduct.vue';
    // @ts-ignore
    import Tinybox from 'vue-tinybox';

    @Component({
        components: {BackendImage, ChatProduct, Tinybox},
    })
    export default class Message extends Vue {
        @Prop({required: true}) message!: TMessage;
        @Prop({required: true}) users!: TChatUserRef;
        @Prop({required: true}) myId!: number;

        showIndex: null|number = null;

        get date(): string {
            return dateTimeFromTimestamp(this.message.date);
        }

        get avatar(): TBackendImage {
            return this.users[this.message.userId].avatar;
        }

        get url(): string | undefined {
            return this.users[this.message.userId].url;
        }


        get galleryImages() {
            return this.message.images
                ? this.message.images.map(item => {
                    return {
                        src: item.original,
                        thumbnail: item.src,
                    };
                })
                : [];
        }

        showPhotoPopup(item: TBackendImage, index: number) {
            this.showIndex = index;
        }
    }
</script>
