<template>
    <div class="chat-root">
        <TransitionGroup name="fade" class="chat-root__grid" tag="div">
            <div v-show="!isAdaptive || !activeCompanion" class="chat-root__list custom-scrollbar" key="list">
                <ChatUser
                    v-for="item in chats"
                    :key="item.user.id"
                    :item="item"
                    class="chat-root__item"
                    :active="activeCompanion && activeCompanion.user.id === item.user.id"
                    @click.native="activeCompanion = item"
                />
            </div>
            <Chat
                v-if="activeCompanion"
                :user="activeCompanion.user"
                :user-data="userData"
                :messages="messages"
                :order-products="orderProducts"
                key="chat"
                @back="activeCompanion = null"
            />
        </TransitionGroup>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TChatUser from '~/types/chat/TChatUser';
    import Chat from '~/components/chat/Chat.vue';
    import {TOrderMessage} from '~/types/chat/TMessage';
    import ChatUser from '~/components/chat/ChatUser.vue';
    import TChatCompanion from '~/types/chat/TChatCompanion';
    import TChatOrderProduct from '~/types/chat/TChatOrderProduct';
    import eventBus from '~/helper/event-bus';

    @Component({
        components: {ChatUser, Chat},
    })
    export default class ChatRoot extends Vue {
        @Prop({default: () => []}) chats!: TChatCompanion[];
        @Prop({default: () => []}) messages!: TOrderMessage[];
        @Prop({default: () => {}}) userData!: TChatUser[];
        @Prop({default: () => []}) orderProducts!: TChatOrderProduct[];

        activeCompanion: TChatCompanion | null = null;
        isAdaptive: boolean = false;

        created() {
            eventBus.$on('resize-watcher', this.onResize);

            document.body.classList.add('page--min-ui');
        }

        onResize({isMd}) {
            this.isAdaptive = isMd;
        }
    }
</script>
