<template>
    <div class="chat">
        <div class="chat__companion">
            <button class="chat__back" @click.prevent="back">
                <SvgSymbol name="back" class="chat__back-icon" />
            </button>
            <div class="chat__companion-wrapper">
                <div class="chat__companion-avatar">
                    <BackendImage :image="user.avatar" />
                </div>
                <div class="chat__companion-name">{{ user.name }}</div>
            </div>
        </div>
        <div class="chat__messages custom-scrollbar" ref="messagesContainer">
            <TransitionGroup
                name="fade"
                tag="div"
                class="chat__list"
                @enter="scrollToBottom"
            >
                <template v-for="(message, index) in currentMessages">
                    <div v-if="needRenderDate(index)" :key="message.id + 'date'" class="chat__date">
                        {{ getDate(message.date) }}
                    </div>
                    <component
                        :key="message.id"
                        :is="getMessageComponent(message)"
                        :message="message"
                        :user="user"
                        :user-data="userData"
                        class="chat__message"
                    />
                </template>
            </TransitionGroup>
        </div>

        <div class="chat__controls">
            <ChatWrite class="chat__write" @send="onSend" />

            <div v-if="currentOrderProducts.length" class="chat__order">
                <ChatOrderProductsSlider :items="currentOrderProducts" @remove="removeProduct" />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Emit, Prop, Ref, Vue} from 'vue-property-decorator';
    import TChatUser from '~/types/chat/TChatUser';
    import {TMessage, TOrderMessage} from '~/types/chat/TMessage';
    import OrderMessage from '~/components/chat/messages/OrderMessage.vue';
    import Message from '~/components/chat/messages/Message.vue';
    import TChatOrderProduct from '~/types/chat/TChatOrderProduct';
    import ChatOrderProduct from '~/components/chat/ChatOrderProduct.vue';
    import ChatWrite from '~/components/chat/ChatWrite.vue';
    import ChatOrderProductsSlider from '~/components/chat/ChatOrderProductsSlider.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import BackendImage from '~/components/BackendImage.vue';

    @Component({
        components: {BackendImage, SvgSymbol, ChatOrderProductsSlider, ChatWrite, ChatOrderProduct},
    })
    export default class Chat extends Vue {
        @Prop({required: true}) user!: TChatUser;
        @Prop({required: true}) userData!: TChatUser;
        @Prop({default: () => []}) messages!: TMessage[] | TOrderMessage[];
        @Prop({default: () => []}) orderProducts!: TChatOrderProduct[];

        @Ref('messagesContainer') messagesContainer!: HTMLElement;

        currentOrderProducts: TChatOrderProduct[] = this.orderProducts;
        currentMessages: TMessage[] | TOrderMessage[] = [];
        interval: number | null = null;
        addIndex: number = 0;

        mounted() {
            this.interval = setInterval(() => {
                this.currentMessages.push(this.messages[this.addIndex] as TOrderMessage);
                this.addIndex++;

                if (this.interval && this.addIndex >= this.messages.length) {
                    clearInterval(this.interval);
                }
            }, 2000);
        }

        getMessageComponent(message: TMessage) {
            switch (message.type) {
                case 'order':
                    return OrderMessage;
                default:
                    return Message;
            }
        }

        scrollToBottom() {
            this.messagesContainer.scrollTo({
                top: this.messagesContainer.scrollHeight,
                behavior: 'smooth',
            });
        }

        // для верстки
        onSend(message: string, images?: string[]) {
            const date = new Date();
            const type = this.currentOrderProducts.length > 0 ? 'order' : 'message';

            this.currentMessages.push({
                id: Date.now(),
                date: (date.getTime() + date.getTimezoneOffset() * 60000) / 1000,
                type: type,
                message: message.replaceAll('\n', '<br />'),
                isMy: true,
                products: this.currentOrderProducts.map(item => item.product),
                images,
            });

            this.currentOrderProducts = [];
        }

        needRenderDate(index: number): boolean {
            if (index === 0) {
                return true;
            }

            const currentTimestamp = this.currentMessages[index].date * 1000;
            const prevTimestamp = this.currentMessages[index - 1].date * 1000;
            const currentDate = new Date();
            const prevDate = new Date();

            currentDate.setTime(currentTimestamp);
            prevDate.setTime(prevTimestamp);

            return currentDate.getFullYear() !== prevDate.getFullYear()
                || currentDate.getMonth() !== prevDate.getMonth()
                || currentDate.getDate() !== prevDate.getDate();
        }

        getDate(timestamp: number): string {
            const date = new Date();

            date.setTime(timestamp * 1000 - date.getTimezoneOffset() * 60000);

            const dayMonth = new Intl.DateTimeFormat('ru-RU', {
                day: 'numeric',
                month: 'long',
            }).format(date);

            const year = date.getFullYear();

            return dayMonth + ' ' + year;
        }

        removeProduct(index: number) {
            this.currentOrderProducts.splice(index, 1);
        }

        @Emit('back')
        back() {}
    }
</script>
