<template>
    <button class="chat-user" :class="{'chat-user--active': active}">
        <span class="chat-user__avatar-wrap">
            <span class="chat-user__avatar">
                <BackendImage :image="item.user.avatar" />
            </span>
            <i v-if="item.hasUnread" class="chat-user__unread" />
        </span>

        <span class="chat-user__name" v-html="item.user.name" />

        <span class="chat-user__date-wrap">{{ item.date }}</span>

        <span class="chat-user__message">Пожеланий нет. Хотелось бы получить заказ сегодня к 20:30.</span>
    </button>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import BackendImage from '~/components/BackendImage.vue';
    import TChatCompanion from '~/types/chat/TChatCompanion';

    @Component({
        components: {BackendImage},
    })
    export default class ChatChef extends Vue {
        @Prop({required: true}) item!: TChatCompanion;
        @Prop({default: false}) active!: boolean;
    }
</script>
