<template>
    <div class="chat-write">
        <div class="chat-write__controls">
            <div class="chat-write__input-wrap">
                <textarea
                    class="chat-write__input"
                    rows="1"
                    placeholder="Введите ваше сообщение"
                    ref="write"
                    v-model="message"
                    @keypress.ctrl.10.13="onEnterPress"
                    @keypress.enter="onEnterPress"
                />
                <label>
                    <span class="chat-write__attach" title="Прикрепить фото">
                        <SvgSymbol name="attach-image" class="chat-write__attach-icon" />
                    </span>

                    <input type="file" accept="image/*" class="chat-write__upload-input" multiple @change="onFilesLoad" />
                </label>
            </div>

            <button class="chat-write__btn btn" @click="send">
                <span class="btn__text">Отправить</span>
            </button>

            <button class="chat-write__btn chat-write__btn--mobile" @click="send">
                <SvgSymbol name="location" class="chat-write__btn-icon" />
            </button>
        </div>

        <AttachList v-if="imagesSrc.length" :items="imagesSrc" class="chat-write__attach-items" @delete="deleteAttach" />
    </div>
</template>

<script lang="ts">
    import {Component, Ref, Vue, Watch} from 'vue-property-decorator';
    import FormTextarea from '~/components/forms/fields/FormTextarea.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import AttachList from '~/components/AttachList.vue';

    @Component({
        components: {AttachList, SvgSymbol, FormTextarea},
    })
    export default class ChatWrite extends Vue {
        @Ref('write') write!: HTMLTextAreaElement;

        message: string = '';
        imagesSrc: string[] = [];

        @Watch('message')
        onInput() {
            this.write.style.height = '0px';
            this.$nextTick(() => {
                this.write.style.height = this.write.scrollHeight + 'px';
            });
        }

        send() {
            if (!this.message.trim().length) {
                return;
            }

            this.$emit('send', this.message.trim(), this.imagesSrc);

            setTimeout(() => {
                this.message = '';
            }, 100);
            this.imagesSrc = [];
        }

        onEnterPress(ev: KeyboardEvent) {
            if (ev.ctrlKey) {
                ev.preventDefault();
                this.send();

                return;
            }
        }

        onFilesLoad(ev: Event) {
            const target = ev.target as HTMLInputElement;
            const files = target.files;

            if (!files) {
                return;
            }

            Array.from(files).forEach(file => {
                const fr = new FileReader();

                fr.addEventListener('loadend', (frEvent: ProgressEvent) => {
                    this.imagesSrc.push((frEvent.target as FileReader).result as string);
                });

                fr.readAsDataURL(file);
            });
        }

        deleteAttach(index) {
            this.imagesSrc.splice(index, 1);
        }
    }
</script>
