<template>
    <div class="chat-order-product">
        <ChatProduct :item="item.product" class="chat-order-product__product" />
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TChatOrderProduct from '~/types/chat/TChatOrderProduct';
    import ChatProduct from '~/components/chat/ChatProduct.vue';

    @Component({
        components: {ChatProduct},
    })
    export default class Example extends Vue {
        @Prop({required: true}) item!: TChatOrderProduct;
    }
</script>
