<template>
    <div class="order-success">
        <div class="order-success__left">
            <div class="order-success__text text-content">
                Ваш <b>заказ #{{order.id}}</b> успешно оформлен.
                <template v-if="order.hasChat">
                    Для уточнения деталей заказа вы&nbsp;можете <a :href="chatLink" class="link link--dashed">связаться с&nbsp;поваром в&nbsp;чате</a>
                </template>
            </div>
            <div class="order-success__text text-content" v-if="!order.payed">Заказ ожидает оплаты.</div>

            <OrderBasket class="order-success__basket" :basket="basket" :is-success="true"/>

        </div>
        <div class="order-success__right">
            <div class="order-success__macaron js-parallax">
                <div data-depth="0.1" class="order-success__macaron-1"></div>
                <div data-depth="0.2" class="order-success__macaron-2"></div>
            </div>

            <div class="order-success__circle"></div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TBasketByCook} from '~/types/basket/TBasketByCook';
    import TOrderSuccess from '~/types/order/TOrderSuccess';
    import OrderBasket from '~/components/order/OrderBasket.vue';
    import route from '~/helper/route';

    @Component({
        components: {
            OrderBasket,
        },
    })
    export default class OrderSuccess extends Vue {
        @Prop() order!: TOrderSuccess;
        @Prop() basket!: TBasketByCook;
        @Prop() isAuth!: boolean;

        created() {
            if (!this.order.payed) {
                // Если заказ не оплачен - через минуту обновим странице, чтобы получить актуальный статус оплаты
                setTimeout(() => window.location.reload(), 60000);
            }
        }

        get chatLink(): string
        {
            return route('profile.chat-list') + '#u' + this.order.cookId;
        }
    }
</script>
