<template>
    <div class="order-basket" :class="{'order-basket--two-cols' : isSuccess}">

        <div class="order-basket__cook-col">
            <div class="order-basket__title">
                Для вас приготовит:
            </div>
            <div class="order-basket__cook">
                <div class="order-basket__image">
                    <BackendImage :image="basket.cook.picture"/>
                </div>

                <div class="order-basket__cook-text">
                    <div class="order-basket__name">
                        <a :href="basket.cook.url" class="link link--hover-uline">{{basket.cook.name}}</a>
                    </div>
                    <div class="order-basket__speciality">{{basket.cook.speciality}}</div>
                </div>
            </div>
        </div>

        <div class="order-basket__composition-col">
            <div class="order-basket__rows-top">
                <div class="order-basket__title">
                    Состав заказа:
                </div>

                <button v-if="!isSuccess" class="order-basket__edit-btn link link--with-icon" @click="toEdit">
                    <SvgSymbol name="edit" class="link__icon"></SvgSymbol>
                    <span class="link__text">Изменить</span>
                </button>
            </div>

            <div class="order-basket__rows">
                <div class="order-basket__row" v-for="row in basket.rows" :key="row.id">
                    <div class="order-basket__row-name">{{row.name}}</div>
                    <div class="order-basket__row-props">
                        <span class="order-basket__row-portions">{{portions(row.count)}}</span>
                        •
                        <Price class="order-basket__row-price" :value="row.price * row.count"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="order-basket__total">
            итого: <Price class="order-basket__total-price" :value="totalPrice"/>
        </div>

        <button v-if="!isSuccess" class="order-basket__btn btn" @click.prevent="clickSubmit">Оформить заказ</button>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TBasketByCook} from '~/types/basket/TBasketByCook';
    import BackendImage from '~/components/BackendImage.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import Price from '~/components/Price.vue';
    import {wordForm} from '~/helper/common';
    import route from '~/helper/route';

    @Component({
        components: {
            BackendImage,
            SvgSymbol,
            Price,
        },
    })
    export default class OrderBasket extends Vue {
        @Prop() basket!:TBasketByCook;
        @Prop({default: false}) isSuccess!:boolean;

        portions(count: number): string {
            return count + ' ' + wordForm(count, ['порция', 'порции', 'порций']);
        }

        get totalPrice():number {
            return this.basket.rows.reduce( (r, el) => r + el.price * el.count, 0);
        }

        toEdit() {
            location.href = route('basket.index');
        }

        clickSubmit() {
            this.$emit('clickSubmit');
        }
    }
</script>
