@import "../../_var";

.auth-popup {
    &__toggle {
        display: flex;
        justify-content: space-between;
    }

    &__type {
        color: @cGreen;
        border-bottom: dashed 1px @cGreen;
        cursor: pointer;
        font: 400 var(--fs14)/var(--lh14) @font;

        &:hover {
            opacity: 0.8;
        }

        &--selected {
            font-weight: bold;
            border-color: transparent;
        }
    }

    &__socials {
        margin-top: var(--m40);
    }

    &__registration {
        margin-top: var(--m40);
        padding-top: var(--m40);
        border-top: 1px solid @cBgGrey;
    }

    &__registration-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__registration-title {
        font-weight: bold;
        font-size: var(--fs14);
        line-height: var(--lh32);
    }

    @media @mediaXs {
        &__registration-wrap {
            flex-wrap: wrap;
            grid-gap: var(--grid-gap);
        }
    }
}
