@import "../../_var";

.become-cook-popup {
    --popup-size: 980px;

    .popup {
        &__title {
            font: 900 var(--fs40) / var(--lh40) @captionFont;
            text-transform: uppercase;
        }
    }

    @media @mediaMoreMd {
        .popup {
            padding-left: 98px;

            &__title {
                margin-top: var(--m30);
            }
        }
    }
}
