@import "../../_var";

.cook-review-popup {
    > .popup {
        width: 641px;
    }

    .checkbox {
        margin-bottom: 15px;

        &__label:before {
            margin-right: var(--m10);
        }
    }
}
