@import "../../_var";

.locations-popup {
    --popup-size: 568px;

    &__items {
        margin-top: var(--m40);
        columns: 2;
        column-gap: var(--grid-gap);
    }

    &__item {
        display: block;
        font-size: var(--fs20);
        line-height: var(--lh20);

        & + & {
            margin-top: 14px;
        }

        &--bold {
            font-weight: bold;
        }
    }

    @media @mediaXs {
        &__items {
            columns: 1;
        }
    }
}
