<template>
    <div class="chat-message" :class="{'chat-message--my': message.isMy}">
        <div class="chat-message__avatar">
            <BackendImage :image="avatar" />
        </div>
        <div class="chat-message__content">
            <div class="chat-message__text" v-html="message.message" />
            <slot />

            <div v-if="message.images && message.images.length" class="chat-message__images" :class="{'chat-message__images--one': message.images.length === 1}">
                <img v-for="(image, index) in message.images" :key="index" :src="image" class="chat-message__image" alt="">
            </div>
            <div class="chat-message__date">{{ date }}</div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import {TMessage} from '~/types/chat/TMessage';
    import TChatUser from '~/types/chat/TChatUser';
    import BackendImage from '~/components/BackendImage.vue';
    import {TBackendImage} from '~/types/images';
    import TObjectCollection from '~/types/TObjectCollection';

    @Component({
        components: {BackendImage},
    })
    export default class Message extends Vue {
        @Prop({required: true}) message!: TMessage;
        @Prop({required: true}) user!: TChatUser;
        @Prop({required: true}) userData!: TChatUser;

        get date(): string {
            const timestamp = this.message.date;
            const date = new Date();

            date.setTime(timestamp * 1000 - date.getTimezoneOffset() * 60000);

            const dayMonth = new Intl.DateTimeFormat('ru-RU', {
                day: 'numeric',
                month: 'long',
            }).format(date);

            const year = date.getFullYear();

            const time = new Intl.DateTimeFormat('ru-RU', {
                hour: '2-digit',
                minute: '2-digit',
            }).format(date);

            return dayMonth + ' ' + year + ' в ' + time;
        }

        get avatar(): TBackendImage {
            return this.message.isMy
                ? this.userData.avatar
                : this.user.avatar;
        }
    }
</script>
