<template>
    <Message :message="message" :user="user" :user-data="userData">
        <ChatProduct v-for="product in message.products" :key="product.id" :item="product" class="chat-message__product" />
    </Message>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import {TOrderMessage} from '~/types/chat/TMessage';
    import TChatUser from '~/types/chat/TChatUser';
    import ChatProduct from '~/components/chat/ChatProduct.vue';
    import Message from '~/components/chat/messages/Message.vue';

    @Component({
        components: {Message, ChatProduct},
    })
    export default class OrderMessage extends Vue {
        @Prop({required: true}) message!: TOrderMessage;
        @Prop({required: true}) user!: TChatUser;
        @Prop({required: true}) userData!: TChatUser;
    }
</script>
