@import "../_var";

// vue fade transition
.fade-leave-active {
    .transit(opacity, @transitTime);
}

.fade-enter-active {
    .transit(opacity, @transitTimeMedium);
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-in-left-leave-active {
    .transit(~'transform, opacity', @transitTime);
}

.fade-in-left-enter-active {
    .transit(~'transform, opacity', @transitTimeMedium);
}

.fade-in-left-enter, .fade-in-left-leave-to {
    opacity: 0;
    transform: translateX(-30px);
}

// keyframes
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes width {
    to {
        width: var(--animation-width);
    }
}
