@import "../_var";

.form {
    &__grid {
        --columns-count: 1;
        --columns-gap: var(--m30);

        .grid(@columnGap: var(--columns-gap), @columnsCount: var(--columns-count));

        &--two {
            --columns-count: 2;
        }

        &--three {
            --columns-count: 3;
        }

        &--sm-gap {
            --columns-gap: var(--m10);
        }
    }

    &__privacy {
        margin: var(--m40) auto 0;
        font-size: var(--fs14);
        line-height: var(--lh14);
        color: @cTextGrey;

        a {
            .clear-link(@cGreen);
            .transit(border-color);
            border-bottom: 1px solid transparent;

            .hover({
                border-color: currentColor;
            });
        }

        .checkbox {
            font-size: var(--fs14);
            line-height: var(--lh14);
        }

        &--border {
            padding-top: var(--m40);
            border-top: 1px solid @cBgGrey;
        }
    }

    &__phone-code-verification {
        margin-bottom: var(--columns-gap);
    }

    &__descr-text {
        margin: -10px 0 10px;
        color: @cTextGrey;
        font: 400 var(--fs14)/var(--lh14) @font;

        label + & {
            margin-top: 5px;
        }
    }

    &__phone-code-verification-descr {
        margin-bottom: 20px;
    }

    &__submit-wrap {
        margin-top: var(--m40);
    }

    &--white {
        --input-background-color: @cWhite;

        .form {
            &__privacy {
                color: @cWhite;

                a {
                    color: currentColor;
                    border-color: currentColor;

                    .hover({
                        border-color: transparent;
                    }, false, false);
                }
            }
        }
    }

    // Идёт отправка формы
    &--sending {
        opacity: 0.5;
        pointer-events: none;
    }

    @media @mediaSm {
        &__grid {
            &--two {
                --columns-count: 1;
            }
        }
    }

    @media @mediaXs {
        &__grid {
            &--three {
                --columns-count: 1;
            }

            &--sm-gap {
                --columns-gap: var(--m30);
            }
        }
    }
}
