@import "../_var";

.header-wrapper {
    .size(100%, var(--header-height));
    position: relative;
    flex-shrink: 0;
    margin-bottom: var(--m20);

    &__fixed-anchor {
        .size(1px);
        position: absolute;
        bottom: calc(var(--header-fixed-height) + (var(--header-height) - var(--header-fixed-height) - 64px) / 2);
    }

    @media @mediaMobile {
        &__fixed-anchor {
            bottom: calc(100% - 1px);
        }
    }
}

.header {
    .size(100%, var(--header-height));
    .transit(~'background-color, box-shadow');
    position: relative;
    font: 400 var(--fs14)/var(--lh14) @font;

    &__grid {
        .grid(@rowGap: 0);
        grid-template-rows: 64px 1px 1fr;
        grid-template-areas: 'location location nav nav nav nav nav nav nav user user user'
                             'hr hr hr hr hr hr hr hr hr hr hr hr'
                             'logo logo logo buttons buttons buttons buttons buttons buttons buttons buttons buttons';
        align-items: center;
        box-sizing: border-box;
        height: 100%;

        &:before {
            .size(100%, 1px);
            content: '';
            grid-area: hr;
            background: @cBgGrey;
        }
    }

    &__location {
        position: relative;
        grid-area: location;
        margin-left: 5px; // Подгонка под макет

        .symbol-location {
            margin-right: 5px; // Подгонка под макет
        }
    }

    &__mobile-city-detected {
        position: absolute;
        width: 0;
        bottom: 21px;
        right: 30px;

        @media @mediaMoreMd {
            display: none;
        }
    }

    &__mobile-city-content {
        display: flex;
        align-items: center;
    }

    &__mobile-city-icon {
        margin-right: var(--m10);
    }

    &__mobile-city-btns {
        display: grid;
        grid-gap: var(--grid-gap);
        grid-template-columns: repeat(2, max-content);
    }

    &__nav {
        grid-area: nav;
    }

    &__user {
        grid-area: user;
        justify-self: right;
        z-index: 5;
    }

    &__logo {
        position: relative;
        grid-area: logo;
        width: 180px;
    }

    &__buttons {
        grid-area: buttons;
        justify-self: right;
        display: flex;
    }

    &__btn {
        &:not(:last-child) {
            margin-right: 17px;
        }
    }

    &__menu-btn {
        grid-area: menu;
    }

    &__menu {
        .size(100%, calc(100 * var(--vh) - var(--header-height) - var(--foot-nav-height)));
        position: absolute;
        left: 0;
        top: 100%;
        z-index: @headerZIndex + 1;
    }

    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
        background-color: @cWhite;
        box-shadow: @shadow;
        height: var(--header-fixed-height);
        z-index: @headerZIndex;
    }

    @media @mediaLg {
        &__grid {
            --grid-gap: 10px;
            grid-template-columns: max-content max-content 1fr max-content;
            grid-template-areas: 'location nav nav user'
                                 'hr hr hr hr'
                                 'logo logo buttons buttons';
        }

        &__nav {
            // justify-self: center;
        }
    }

    @media @mediaDesktop {
        &__menu-btn,
        &__menu {
            display: none !important;
        }

        &__logo {
            .transit(width);
            will-change: width;
        }

        &--fixed {
            .header {
                &__grid {
                    grid-template-columns: 150px 1fr min-content max-content;
                    grid-template-rows: 1fr;
                    grid-template-areas: 'logo nav user buttons';

                    &:before {
                        display: none;
                    }
                }

                &__location {
                    display: none;
                }

                &__user {
                    justify-self: auto;
                }

                &__nav {
                    width: 100%;
                    justify-self: center;
                    animation: fadeIn @transitTime @transitEase both;
                }

                &__logo {
                    width: 140px;
                }

                &__user-text {
                    display: none;
                }
            }

            .header-nav__phone {
                padding-right: 0;
            }
        }
    }

    @media @mediaMobile {
        &__grid {
            grid-template-columns: 1fr max-content max-content;
            grid-template-areas: 'logo user menu';
            grid-template-rows: 1fr;

            &:before {
                display: none;
            }
        }

        &__location,
        &__nav,
        &__buttons {
            display: none;
        }

        &__logo {
            width: 120px;
        }

        &--menu-open {
            background-color: @cGreen;

            .logo {
                &__img,
                &__text {
                    color: @cWhite !important;
                }
            }

            .link {
                --link-color: @cWhite !important;
                --link-hover-color: @cWhite !important;
                --link-selected-color: @cWhite !important;
            }

            .symbol-cart-icon {
                fill: @cWhite !important;
            }
        }
    }

    @media @mediaXs {
        &__user-text {
            display: none !important;
        }
    }
}
