@import "../_var";

/**
 * СТАНДАРТНЫЕ размеры и отступы для блоков задаются через элементы блока .page
 * Если у блока не стандартный отступ, не нужно добавлять модификатор вида .page__section--m30.
 * Вместо .page используйте блок, к которому относится элемент.
 * Например:
 * .about-page__section (стандартный отступ для секций странице "О компании")
 * .page__about-section (стандартный отступ для всех блоков "О компании" на всех страницах)
 * .about-page__about-section (индивидуаьный отступ для блока "О компании" на странице "О компании")
 */
.page {
    &__wrapper {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        box-sizing: border-box;
        min-height: calc(100 * var(--vh));
        width: 100%;
    }

    &__content-wrap {
        display: grid;
        grid-template-columns: 100%;
        position: relative;
        flex-grow: 1;
    }

    &__sidebar {
        position: fixed;
        align-self: flex-end;
        //top: var(--header-fixed-height);
        top: calc(85*var(--vh) - var(--header-fixed-height) - var(--foot-nav-height));
        z-index: @sidebarZIndex;
        display: flex;
        flex-direction: column;
        grid-gap: var(--grid-gap);
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        margin-top: calc(var(--header-fixed-height) - var(--header-height) - var(--m20));
        margin-bottom: calc(-1 * var(--m60));
        //height: calc(100 * var(--vh) - var(--header-fixed-height) - var(--foot-nav-height));
        padding: var(--m20);
        pointer-events: none;

        > * {
            pointer-events: auto;
        }

        @media @mediaLg {
            bottom: var(--foot-nav-height);
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-content: flex-end;
            align-items: flex-end;
            grid-gap: 10px;
            padding: 10px;
            margin-bottom: var(--m60);

            .btn--feedback {
                order: -1;
            }
        }

        @media @mediaMd {
            position: sticky;
            margin-bottom: calc(-1 * var(--m60)/2);
        }
    }

    &__content {
        position: relative;
        grid-column: 1;
        grid-row: 1;
    }

    &__breadcrumbs {
        margin-bottom: var(--m40);
    }

    &__page-caption {
        margin-bottom: var(--m40);

        sup {
            color: @cTextGrey;
            font-weight: normal;
            font-size: var(--fs20);
            line-height: var(--lh20);
            font-family: @font;
        }
    }

    &__section {
        margin-bottom: var(--m80);
    }

    &__section-caption {
        margin-bottom: var(--m40);
    }

    &--min-ui {
        --foot-nav-height: 0px;

        .page {
            &__sidebar {
                display: none;
            }

            &__foot-nav {
                display: none;
            }
        }
    }
}
