@import "../_var";

.slider {
    --slides-h-gap: 0px;
    --slides-v-gap: var(--slides-h-gap);

    position: relative;
    box-sizing: border-box;
    z-index: 1;

    .slick-list {
        position: relative;
        z-index: 1;
        margin: calc(-1 * var(--slides-v-gap)/2) calc(-1 * var(--slides-h-gap)/2);
        width: calc(100% + var(--slides-h-gap));
        //mask-image: linear-gradient(to right, fade(@cBlack, 0), @cBlack calc(var(--slides-v-gap)/2), @cBlack calc(100% - var(--slides-v-gap)/2), fade(@cBlack, 0));
    }

    .slick-slide {
        box-sizing: border-box;
        padding: calc(var(--slides-v-gap)/2) calc(var(--slides-h-gap)/2);
        outline: none !important;
    }

    &__slide {
        //display: block !important;
        outline: none !important;
    }

    // Слайдер с равной высотой слайдов
    &--stretch {
        display: grid !important;
        grid-template-columns: 100%; // если где-то разносит слайдер, использовать 100% + calc
        grid-template-areas: 'slides';

        .slick-list,
        .slick-track,
        .slick-slide,
        .slick-slide > div,
        .slider__slide {
            display: flex !important;
        }

        .slick-slide > *,
        .slider__slide > * {
            width: 100%;
        }

        .slick-list {
            grid-area: slides;
        }

        .slick-slide {
            flex-shrink: 0;
            height: auto !important;
        }
    }

    // Слайдер с отступами между карточками
    &--spaced {
        --slides-h-gap: var(--grid-gap);
    }

    //
    &--variable-width {
        .slick-slide {
            width: 340px;

            @media @mediaXs {
                width: 280px;
            }
        }
    }
}

// Полноэкранные для мобилок слайдеры
.mobile-full-page-slider {
    @media @mediaMobile {
        overflow: hidden;
        margin: 0 calc(-1 * var(--page-gutter));
        padding: 0 var(--page-gutter);

        .slick-list {
            overflow: visible;
        }
    }
}

// Анимация по скроллу для слайдеров
.products-slider,
.reviews-slider,
.cooks-slider {
    @media @mediaDesktop {
        &.scroll-class {
            .slick-list {
                margin-bottom: calc(-1 * var(--animation-translate-y));
            }

            .slick-slide {
                .transit(transform, @transitTimeExtraSlow);
                will-change: transform;
                padding-bottom: var(--animation-translate-y);
            }
        }
    }
}

.products-slider,
.reviews-slider {
    @media @mediaDesktop {
        &.scroll-class {
            &:not(.showed) {
                .slick-slide {
                    &:nth-child(3n + 1) {
                        transform: translateY(calc(var(--animation-translate-y) * 1/3));
                    }

                    &:nth-child(3n + 2) {
                        transform: translateY(calc(var(--animation-translate-y) * 2/3));
                    }

                    &:nth-child(3n + 3) {
                        transform: translateY(var(--animation-translate-y));
                    }
                }
            }
        }
    }
}

.cooks-slider {
    @media @mediaDesktop {
        &.scroll-class {
            &:not(.showed) {
                .slick-slide {
                    &:nth-child(4n + 1) {
                        transform: translateY(calc(var(--animation-translate-y) * 1/4));
                    }

                    &:nth-child(4n + 2) {
                        transform: translateY(calc(var(--animation-translate-y) * 2/4));
                    }

                    &:nth-child(4n + 3) {
                        transform: translateY(calc(var(--animation-translate-y) * 4/3));
                    }

                    &:nth-child(3n + 4) {
                        transform: translateY(var(--animation-translate-y));
                    }
                }
            }
        }
    }
}
