@import "../_var";

/**
 * Текстовый контент на ТТС и прочих текстовых блоках на сайте
 */
.text-content {
    --text-content-margin: var(--m40);

    font: 400 var(--fs20)/var(--lh20) @font;

    // Отступы
    h1, h2, h3, h4, h5,
    ul, ol,
    figure,
    p,
    blockquote,
    .table-wrap,
    .gallery {
        margin: var(--text-content-margin) 0;

        &:first-child {
            margin-top: 0 !important;
        }

        &:last-child {
            margin-bottom: 0 !important;
        }
    }

    h1, h2, h3, h4, h5 {
        margin-top: var(--m80);
    }

    p {
        margin: var(--m30) 0;
    }

    blockquote {
        margin-top: var(--m100);
    }

    img {
        .size(auto);
        display: block;
        max-width: 100%;
    }

    &--text-page {
        max-width: 764px;
    }

    &--grey {
        color: @cTextGrey;
    }

    &--sm {
        --text-content-margin: var(--m20);

        font: 400 var(--fs14)/var(--lh14) @font;
    }

    @media @mediaSm {
        h2, h3, h4, h5,
        blockquote {
            margin-top: var(--m60);
        }
    }
}
