@import "../../_var";

.main-catalog {
    position: relative;

    &__section {
        margin-top: var(--m80);
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: var(--m40);
        }
    }

    &__slider {
        margin:0 auto;
        max-width: var(--promo-slider-screen-limit);
        width: min(100%, var(--promo-slider-max-width));
    }

    &__more {
        position: relative;
        z-index: 2;
        margin-top: var(--m40);
        text-align: center;
    }
}
