@import "../../_var";

.how-work-item {
    counter-increment: number;

    &__name {
        color: @cGreen;
        margin-bottom: var(--m20);
        font: 900 var(--fs32)/var(--lh32) @captionFont;
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: var(--m30);
        color: @cTextGrey;
        font: 400 var(--fs20)/var(--lh20) @font;
    }

    &__num {
        .size(141/60em);
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 0 -37/60em;
        background: @cLightGreen;
        border-radius: 50%;
        font: 900 var(--fs60)/var(--lh60) @captionFont;

        &:before {
            content: counter(number);
        }

        span {
            position: absolute;
            border-radius: 50%;
            background-color: inherit;
            z-index: -1;

            &:nth-child(1) {
                .size(100% * 37/141);
                left: 125%;
                top: 28%;
            }

            &:nth-child(2) {
                .size(100% * 15/141);
                left: 170%;
                top: 22%;
            }
        }
    }

    &:nth-child(-n + 9) {
        .how-work-item {
            &__num {
                &:before {
                    content: '0' counter(number);
                }
            }
        }
    }

    @media @mediaDesktop {
        &.scroll-class {
            .transit(~'transform', @transitTimeSlow * 2);

            &:not(.showed) {
                transform: translateY(var(--animation-translate-y));
            }
        }
    }

    @media @mediaSm {
        &__num {
            margin: 0;
        }
    }
}
