@import "../../_var";

.service-feature {
    &__picture {
        .picture();
        width: 48px;
        margin-bottom: var(--m40);
        filter: @fGreen;

        img {
            filter: @fBlack;
        }
    }

    &__name {
        color: @cGreen;
        font: 900 var(--fs24)/var(--lh24) @captionFont;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-bottom: var(--m20);
        }
    }

    &__text {
        color: @cTextGrey;
        font: 400 var(--fs16)/var(--lh16) @font;
    }

    &--support {
        .service-feature {
            &__text {
                font-size: var(--fs20);
                line-height: var(--lh20);
            }
        }
    }
}
