@import "../../_var";

.service-features {
    position: relative;
    background: @cLightGreen;
    border-radius: @borderRadiusLg;
    padding: var(--m60) var(--wide-gutter);
    margin-left: calc(-1 * var(--wide-gutter));
    margin-right: calc(-1 * var(--wide-gutter));

    &__caption {
        .column-width(5);
        margin-bottom: var(--m60);
    }

    &__cupcake-wrap {
        .proportional-size(245/204, @position: absolute);
        top: -75px;
        right: 105px;
        width: 204px;
    }

    &__cupcake {
        .size(100%);
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        background: no-repeat 0 0 url('@{imagePath}service-features/cupcake.png');
        background-size: contain;
    }

    @media @mediaDesktop {
        &.scroll-class {
            .transit(~'transform', @transitTimeExtraSlow);

            &:not(.showed) {
                transform: translateY(var(--animation-translate-y));
            }
        }
    }

    @media @mediaXl {
        &__cupcake-wrap {
            width: 180px;
        }
    }

    @media @mediaLg {
        &__cupcake-wrap {
            display: none;
        }
    }
}
