@import "../../_var";

.confirm-location {
    .trigger {
        .size(100px, 0);
        position: absolute;
        left: 0;
        bottom: calc(100% + 20px);

        .header--fixed & {
            top: 80%;
            bottom: auto;
        }
    }

    &__title {
        font-size: var(--fs24);
        line-height: var(--lh24);
        font-weight: bold;
    }

    &__location {
        color: @cGreen;
    }

    &__btn-wrap {
        display: flex;
        flex-wrap: wrap;
        grid-gap: var(--grid-gap);
        margin-top: var(--m20);
    }
}
