@import "../../_var";

.dropdown {
    background: @cWhite;
    border-radius: @borderRadius;
    padding: 14px 20px;
    box-shadow: @shadow;

    &__ul {
        .clear-list();
    }

    &__li {
        &:not(:last-child) {
            margin-bottom: var(--m10);
        }
    }

    &__link {
        --link-icon-color: currentColor;
        --link-color: currentColor;

        display: block;
        margin: -5px -20px;
        padding: 5px 20px;
        white-space: nowrap;
    }
}
