@import "../../_var";

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 400 var(--fs16)/var(--lh16) @font;

    &__phone {
        padding-right: var(--m10);
        white-space: nowrap;
        font: 400 var(--fs14)/var(--lh14) @font;
    }

    &__tel {
        color: @cTextBlack;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__ul {
        .clear-list();
        display: flex;
        flex-wrap: wrap;
    }

    &__li {
        position: relative;
        padding: var(--m10) 0;
        margin: -5px 0;

        &:not(:last-child) {
            margin-right: 45px;

            @media @mediaXl {
                margin-right: 30px;
            }

            @media @mediaLg {
                margin-right: 20px;
            }
        }

        &:not(:hover) {
            .header-nav {
                &__sub {
                    pointer-events: none;
                    opacity: 0;
                    transform: translateX(10%);
                }
            }
        }

        &:hover {
            .header-nav {
                &__arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__link {
        --link-icon-color: currentColor;
        --link-color: currentColor;

        white-space: nowrap;
    }

    &__arrow {
        .transit(transform);
    }

    &__sub {
        .transit(~'transform, opacity');
        position: absolute;
        top: 100%;
        left: -20px;
        z-index: 10;
        min-width: 100%;
    }
}
