@import "../../_var";

.menu-nav {
    &__back {
        &:not(:last-child) {
            margin-bottom: var(--m30);
        }
    }

    &__ul {
        .clear-list();
        font: 700 var(--fs24)/var(--lh24) @font;
    }

    &__li {
        &:not(:last-child) {
            margin-bottom: var(--m40);
        }

        &--parent {
            font: 700 var(--fs24)/var(--lh24) @font;
        }
    }

    &--sm {
        .menu-nav {
            &__ul {
                font: 700 var(--fs16)/var(--lh16) @font;
            }

            &__li {
                &:not(:last-child) {
                    margin-bottom: var(--m20);
                }
            }
        }
    }
}
