@import "../../_var";

.menu {
    .transit(opacity, @transitTimeMedium);
    display: flex;
    overflow: hidden;

    &__overlay {
        .size(100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: fade(@cTextGrey, 50);
    }

    &__content {
        .transit(transform, @transitTimeMedium);
        position: relative;
        z-index: 2;
        box-sizing: border-box;
        padding: var(--page-gutter);
        background: @cGreen;
        color: @cWhite;
        overflow-y: auto;
        overflow-x: hidden;
        min-width: 250px;
        max-width: 400px;
        width: 100% * 2/3;
    }

    .link {
        --link-color: @cWhite !important;
        --link-hover-color: @cWhite !important;
        --link-selected-color: @cWhite !important;

        pointer-events: auto !important; // fix чтобы можно было развернуть подпункты по клику на текущий пункт меню
    }

    &__location {
        margin-bottom: var(--m30);
    }

    &__nav {
        margin-bottom: var(--m60);
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        grid-gap: var(--m20);
        margin-bottom: var(--m60);
    }

    &__phone {
        margin-bottom: var(--m20);
        font: 700 var(--fs24)/var(--lh24) @font;
        text-align: center;
    }

    &__socials {
        margin-bottom: var(--m60);
    }

    &:not(.menu--open) {
        opacity: 0;
        pointer-events: none;

        .menu {
            &__content {
                transform: translateX(-100%);
            }
        }
    }

    @media @mediaXs {
        &__buttons {
            grid-template-columns: 1fr;
        }
    }
}
