@import "../../_var";

.error-404 {
    .grid(@rowGap: 0);
    grid-template-rows: max-content 1fr;
    position: relative;

    &__micro-header {
        position: relative;
        z-index: 2;
        grid-column: ~'1 / -1';
        grid-row: 1;
        margin-bottom: var(--m80);
        font-size: var(--fs20);
        line-height: var(--lh20);
        color: @cTextGrey;
    }

    &__content {
        position: relative;
        z-index: 2;
        grid-row: 2;
        grid-column: ~'1 / 9';
    }

    &__description {
        .column-width(4, 9);
        margin-bottom: var(--m30);
    }

    &__out-button {
        margin-bottom: var(--m40);
    }

    &__banner {
        .proportional-size(600/730);
        grid-row: ~'1 / 3';
        grid-column: ~'5 / 13';
        position: relative;
        z-index: 1;
        justify-self: center;
        max-width: calc(100vh - var(--header-height));
        width: min(100%, 730px);
        margin: 0 0 0 -20px;
    }

    &__plate {
        .proportional-size();
        position: absolute !important;
        width: 590/730 * 100%;
        border-radius: 50%;
        background-color: @cLightGreen;
        z-index: 1;
        top: 0;
        left: 0;
    }

    &__svg-text {
        .size(100%);
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
        animation: rotate 30s linear infinite reverse;
    }

    &__image-wrap {
        .proportional-size(478/405);
        position: absolute !important;
        top: 13% !important;
        left: 45% !important;
        z-index: 2;
        width: 405/730 * 100%;
    }

    &__image {
        .size(100%);
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
    }

    @media @mediaDesktop {
        &.scroll-class {
            .error-404 {
                &__plate {
                    .transit(~'opacity, transform', @transitTimeExtraSlow);
                }

                &__image {
                    transition: opacity @transitTimeExtraSlow/2 @transitEase, transform @transitTimeExtraSlow @transitEase;
                }
            }

            &:not(.showed) {
                .error-404 {
                    &__plate {
                        opacity: 0;
                        transform: scale(.8) rotate(180deg);
                    }

                    &__image {
                        opacity: 0;
                        transform: translateX(var(--animation-translate-x));
                    }
                }
            }
        }
    }

    @media @mediaSm {
        &__micro-header {
            margin: 0 0 var(--m40);
        }

        &__banner {
            grid-row: 2;
            grid-column: ~'1 / -1';
            margin: 0 0 var(--m40);
            width: min(80%, 400px);
        }

        &__description {
            width: 100%;
        }

        &__content {
            grid-row: 3;
            grid-column: ~'1 / -1';
            text-align: center;
        }
    }
}
