@import (optional) "../build/sprite";
@import (optional) "../build/symbols";

@import "_mixins";
/**
 * Переменные
 **/
.css-vars() {
    --scroll-lock-compensation: 0px;
    --page-scrollbar-width: 8px;
    --scrollbar-width: var(--page-scrollbar-width); // считается js'ом

    --page-gutter: 142px;
    --grid-gap: 20px;
    --wide-gutter: calc(var(--page-gutter) - 60px); // отступ за контентную область для широких блоков

    --vh: 1vh; // на мобилках некорректно работает vh в css, переопределяется в JS

    --content-max-width: 1156px; // Максимальная ширина контента
    --content-width: min(calc(100% - 2 * var(--page-gutter)), var(--content-max-width)); // Текущая ширина контента

    --header-height: 168px;
    --header-fixed-height: 80px;

    --foot-nav-height: 0px;

    --scroll-gap: 5px; // стандартизированное расстояние между скроллбаром и контентом

    --arrow-size: 46px;

    --fs12: 12px;
    --lh12: 1.5;

    --fs14: 14px;
    --lh14: 1.5;

    --fs16: 16px;
    --lh16: 1.5;

    --fs18: 18px;
    --lh18: 1.5;

    --fs20: 20px;
    --lh20: 1.5;
    .responsive(--fs20, 20px, .97);

    --fs24: 24px;
    --lh24: 1.5;
    .responsive(--fs24, 24px, .94);

    --fs28: 28px;
    --lh28: 1.2;
    .responsive(--fs28, 28px, .94);

    --fs32: 32px;
    --lh32: 1.2;
    .responsive(--fs32, 32px, .92);

    --fs36: 36px;
    --lh36: 1.2;
    .responsive(--fs36, 36px, .92);

    --fs40: 40px;
    --lh40: 1.2;
    .responsive(--fs40, 40px, .88);

    --fs60: 60px;
    --lh60: 1.2;
    .responsive(--fs60, 60px, .8);

    --fs100: 100px;
    --lh100: 1.2;
    .responsive(--fs100, 100px, .8);

    --m10: 10px;

    --m20: 20px;

    --m30: 30px;
    .responsive(--m30, 30px, .95);

    --m35: 35px;
    .responsive(--m35, 35px, .95);

    --m40: 40px;
    .responsive(--m40, 40px, .95);

    --m48: 48px;
    .responsive(--m48, 48px, .91);

    --m60: 60px;
    .responsive(--m60, 60px, .95);

    --m80: 80px;
    .responsive(--m80, 80px, .95);

    --m100: 100px;
    .responsive(--m100, 100px, .95);

    // используется vh вместо --vh чтобы не было дерготни контента при сворачивании / разворачивании браузерной панельки
    --promo-slider-screen-limit: calc(100vh - 120px);
    --promo-slider-max-width: 570px;

    // inputs
    --input-color: @cTextBlack;
    --input-placeholder-color: @cTextGrey;
    --input-disabled-color: @cTextBlack;
    --input-disabled-bg-color: @cBgGrey;
    --input-label-bg: @cWhite;

    --input-border-color: @cBordersGrey;
    --input-hover-border-color: @cBordersGrey;
    --input-focus-border-color: var(--input-hover-border-color);
    --input-active-border-color: var(--input-hover-border-color);
    --input-disabled-border-color: @cBgGrey;
    --input-error-border-color: @cRed;
    --input-caret-color: @cGreen;
    --input-border-radius: 100px;

    --input-textarea-height: 152px;
    --input-left-offset: 0px;
    --input-right-offset: var(--input-left-offset);

    --input-background-color: transparent;

    --animation-translate-x: min(var(--page-gutter), 50px);
    --animation-translate-y: var(--m80);

    @media @mediaXl {
        --page-gutter: 30px;
        --wide-gutter: var(--page-gutter);
    }

    @media @mediaMobile {
        --page-gutter: 20px;

        --header-height: 70px;
        --header-fixed-height: var(--header-height);

        --foot-nav-height: 62px;

        --promo-slider-screen-limit: calc(100vh - 100px);
    }

    @media @mediaSm {
        --page-gutter: 15px;
    }
}

/**
 * Шрифты
 **/
@fontName: 'Manrope';
@font: @fontName, Arial, sans-serif, -apple-system;

@captionFontName: 'Montserrat';
@captionFont: @captionFontName, Arial, serif, -apple-system;

/**
 * Цвета
 **/
@cBlack: #000;
@cTextBlack: #111;
@cTextGrey: #909090;
@cBordersGrey: #c4c4c4;
@cBgGrey: #efefef;
@cBgWhite: #fafafa;
@cWhite: #fff;

@cGreen: #06c160;
@cLightGreen: #e6f9ef;
@cDarkGreen: #078443;

@cRed: #fe7676;
@cBeige: #fff2ec;

@fBlack: brightness(0);
@fWhite: brightness(0) invert(1);
@fTextGrey: invert(58%) sepia(4%) saturate(0%) hue-rotate(147deg) brightness(97%) contrast(97%);
@fGreen: invert(54%) sepia(47%) saturate(4251%) hue-rotate(116deg) brightness(101%) contrast(95%);

/**
 * UI
 **/
@hoverOpacity: .8;
@activeOpacity: .6;
@disabledOpacity: .5;
@hoverScale: 1.0; // Попросили отключить

@defaultFocusRuleset: {
    outline: 1px dashed @cGreen !important;
    outline-offset: 5px;
}

@defaultActiveRuleset: {
    opacity: @activeOpacity;
}

/**
 * Анимация
 **/
@transitTime: .2s; // Используется для ховеров на текст и иконки (изменение цвета, прозрачности)
@transitTimeMedium: .4s; // Используется для анимации стейтов
@transitTimeSlow: 1s; // Используется для анимации по скроллу
@transitTimeExtraSlow: 2s; // Используется для анимации по скроллу
@transitEase: cubic-bezier(0.25, 1, 0.5, 1); // easeOutQuart
@transitDelay: .2s; // Задержка между анимацией стейтов нескольких элементов в блоке

/**
 * Сетка
 **/
@gridColumnsCount: 12;

@screenXs: 480px;
@screenSm: 768px;
@screenMd: 1024px;
@screenLg: 1240px;
@screenXl: 1440px;
@screenLgH: 800px; // Дополнительная точка излома для адаптива под ноутбуки с маленькой высотой экрана
@screenMdH: 700px; // Дополнительная точка излома для адаптива под планшеты с горизонтальной ориентацией (с учётом того, что высоту отъедают браузерные панельки)

@screenXsMax: (@screenXs - 1);
@screenSmMax: (@screenSm - 1);
@screenMdMax: (@screenMd - 1);
@screenLgMax: (@screenLg - 1);
@screenXlMax: (@screenXl - 1);
@screenLgHMax: (@screenLgH - 1);
@screenMdHMax: (@screenMdH - 1);

@mediaXs: ~'(max-width: @{screenXsMax})';
@mediaSm: ~'(max-width: @{screenSmMax})';
@mediaMd: ~'(max-width: @{screenMdMax})';
@mediaLg: ~'(max-width: @{screenLgMax})';
@mediaXl: ~'(max-width: @{screenXlMax})';
@mediaLgH: ~'(max-height: @{screenLgHMax})';
@mediaMdH: ~'(max-height: @{screenLgHMax})';

@mediaMoreXs: ~'(min-width: @{screenXs})';
@mediaMoreSm: ~'(min-width: @{screenSm})';
@mediaMoreMd: ~'(min-width: @{screenMd})';
@mediaMoreLg: ~'(min-width: @{screenLg})';
@mediaMoreXl: ~'(min-width: @{screenXl})';
@mediaMoreLgH: ~'(min-height: @{screenLgH})';
@mediaMoreMdH: ~'(min-height: @{screenLgH})';

@mediaHover: ~'(pointer: fine), (-ms-high-contrast: none), (-ms-high-contrast: active)';
@mediaNotHover: ~'(pointer: coarse)';

@mediaDesktop: @mediaMoreMd;
@mediaMobile: @mediaMd; // точка излома, на которой блоки перестраиваются в вид с макетов для мобилки

/**
 * Прочее
 **/
// Переменная @basePath выставляется в галпе при запуске сборки. Смотри задачу lessCompile, параметр modifyVars
//noinspection LessUnresolvedVariable
@imagePath: '/images/';
//noinspection LessUnresolvedVariable
@fontPath:  '/fonts/';

@sidebarZIndex: 90;
@headerZIndex: 115;
@footNavZIndex: 117;
@listFilterZIndex: 130;
@suggestsZIndex: 120;
@catalogNavZIndex: 80;

@borderRadius: 20px;
@borderRadiusLg: 40px;

@shadow: 0 2px 10px fade(@cBlack, 10);
