


.user-block {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    background: #f6f6f6;
    border-radius: 5px;

    &__title {

    }

    &__avatar {
        float: right;
    }
}

// Отступы в дереве меню в админке
.nav {
    .ps-2 {
        padding-left: 1rem!important;
    }

    .nav-item.active + .nav {
        > li.active > a {
            padding: 5px 10px;
            border-radius: 0 !important;
            // box-shadow: -100px 0 0 #15181b !important;
        }
    }
}

// Блок информации о заказе
.order-block {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    background: #f6f6f6;
    border-radius: 5px;

    &__link {
        color: #0036c6 !important;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &__table {
        th,
        td {
            padding: 2px 10px;
        }
    }
}
