@import "_var";
@import "layout/common";
@import "layout/text-content";
//noinspection CssUnknownTarget
@import "layout/text-content/**";

body.text-content {
    width: calc(100% - 40px - var(--scroll-lock-compensation));
    padding: 10px 20px;
}

.sx-mce-component {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 10px;
    background-color: @cLightGreen;
    border: 1px solid @cGreen;

    background-image: linear-gradient(-45deg, fade(@cGreen, 20%) 25%, transparent 25%, transparent 50%, fade(@cGreen, 20%) 50%, fade(@cGreen, 20%) 75%, transparent 75%, transparent) !important;
    background-size: 20px 20px;
}

//.text-content {
//    div {
//        border: 1px solid black;
//    }
//}
