@import "_var";

.width {
    &-enter-active,
    &-leave-active {
        .transit(~'width, opacity');
        overflow: hidden;
    }

    &-enter-active,
    &-leave-to {
        width: 0;
        opacity: 0;
    }

    &-enter-to {
        width: 100%;
        opacity: 1;
    }
}

.opacity {
    &-enter-active,
    &-leave-active {
        .transit(opacity);
        overflow: hidden;
    }

    &-enter-active,
    &-leave-to {
        opacity: 0;
    }

    &-enter-to {
        opacity: 1;
    }
}

.fade-left {
    &-enter-active,
    &-leave-active {
        .transit(~'opacity, transform');
    }

    &-enter-active,
    &-leave-to {
        transform: translateX(100%);
        opacity: 0;
    }

    &-enter-to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-top {
    &-enter-active,
    &-leave-active {
        .transit(~'opacity, transform');
    }

    &-enter-active,
    &-leave-to {
        transform: translateY(100%);
        opacity: 0;
    }

    &-enter-to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-bottom {
    &-enter-active,
    &-leave-active {
        .transit(~'opacity, transform');
    }

    &-enter-active,
    &-leave-to {
        transform: translateY(-100%);
        opacity: 0;
    }

    &-enter-to {
        transform: translateX(0);
        opacity: 1;
    }
}

// анимирование высоты (для работы нужно указывать хуки в js)
.height {
    &-enter-active,
    &-leave-active {
        .transit(height, .7s);
        overflow: hidden;
    }

    &-enter,
    &-leave-to {
        height: 0;
    }
}

// translate снизу вверх
.show-from-bottom {
    &-enter-active,
    &-leave-active {
        .transit(~'transform, opacity');
    }

    &-enter-active {
        transform: translateY(100%);
        opacity: 0;
    }

    &-enter-to {
        transform: translateY(0);
        opacity: 1;
    }

    &-leave-to {
        transform: translateY(100%);
        opacity: 0;
    }
}
