@import "../../_var";

.search-section {
    display: flex;
    grid-gap: var(--m10);
    position: relative;
    z-index: @suggestsZIndex;

    &__btn {
        min-width: 88px;
        flex-shrink: 0;
    }

    &__input-wrap {
        position: relative;
        width: 100%;
    }

    &__input {
        position: relative;
        padding-left: 56px;
        padding-right: 40px;
        font-size: var(--fs16);
        line-height: 1.375;
        background: @cWhite;
        z-index: 2;
    }

    &__icon {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        fill: none;
        stroke: @cBordersGrey;
        stroke-width: 2px;
        z-index: 3;
    }

    &__suggests-wrap {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        padding: 30px 0 0;
        background: @cWhite;
        border: 1px solid var(--input-border-color);
        border-top: none;
        border-radius: 0 0 20px 20px;
        overflow: hidden;
    }

    &__suggests {
        display: flex;
        flex-direction: column;
        max-height: ~'min(calc(var(--vh, 1vh) * 80), 400px)';
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__suggest {
        .clear-button();
        .transit(background);
        padding: 12px 30px;
        color: @cTextBlack;

        .hover({
            background: @cLightGreen;
        });
    }

    &__clear {
        --cross-btn-size: 18px;

        position: absolute;
        top: 13px;
        right: 15px;
        z-index: 2;
    }

    @media @mediaMd {
        &__btn {
            display: none;
        }
    }
}
