@import "../_var";

.error-404-page {
    .page__wrapper {
        min-height: auto;
        padding-bottom: var(--foot-nav-height);
    }

    .page__sidebar {
        display: none;
    }

    .foot-nav {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
    }

    @media @mediaDesktop {
        .footer {
            padding-top: 0;
        }
    }
}
