@import "_var";

/****
 * Подключение шрифтов
 ****/

.font(@fontName, @fontFileName, @weight: normal, @style: normal) {
    @font-face {
        font-family: @fontName;
        src: url('@{fontPath}@{fontFileName}.woff2') format('woff2'),
             url('@{fontPath}@{fontFileName}.woff') format('woff');
        font-weight: @weight;
        font-style: @style;
        font-display: swap;
    }
}

.font(@fontName, 'Manrope-Regular', 400);
.font(@fontName, 'Manrope-SemiBold', 600);
.font(@fontName, 'Manrope-Bold', 700);

.font(@captionFontName, 'Montserrat-Black', 900);
