@import "_var";
//@import "../build/sprite";

/****
 * Внешние либы, ресеты
 ****/
@import "_fonts";
@import (optional) "../build/symbols";

//noinspection CssUnknownTarget
@import "plugins/**/default.less";
//noinspection CssUnknownTarget
@import "plugins/**/*.less!(default.less)";

/****
 * Layout: стили шаблона. Эти стили используются в других блоках и должны быть загружены прежде всего
 ****/

@import "layout/animations";
@import "layout/common";

//noinspection CssUnknownTarget
@import "layout/ui/**";

//noinspection CssUnknownTarget
@import "layout/inputs/**";

@import "layout/slider";

//noinspection CssUnknownTarget
@import "layout/header/**";
@import "layout/header";

//noinspection CssUnknownTarget
@import "layout/footer/**";
@import "layout/footer";

//noinspection CssUnknownTarget
@import "layout/text-content/**";
@import "layout/text-content";

@import "layout/page";
@import "layout/popup";
@import "layout/form";
@import "layout/foot-nav";

/****
 * Блоки
 ****/
//noinspection CssUnknownTarget
@import "partials/**/**/**";

/****
 * Стили страниц
 ****/
//noinspection CssUnknownTarget
@import "pages/**";


// На сборке к не-сделанным блокам добавлять класс .todо, чтобы они визуально выделялись
.todo {
    outline: 1px solid red;
    background-image: linear-gradient(-45deg, fade(red, 20%) 25%, transparent 25%, transparent 50%, fade(red, 20%) 50%, fade(grey, 20%) 75%, transparent 75%, transparent) !important;
    background-size: 4px 4px;
}
