@import "../../_var";

.catalog-nav {
    position: sticky;
    z-index: @catalogNavZIndex;
    top: calc(var(--header-fixed-height) - 1px);
    display: grid; // fix при скролле не учитывался правый паддинг, крайний элемент прилипал к границе экрана
    // попросили растянуть на ширину экрана
    margin: calc(-1 * var(--m10)) calc(-1 * var(--page-gutter));
    padding: var(--m10);
    background: @cBgWhite;
    overflow: hidden;

    &:after {
        z-index: @catalogNavZIndex + 1;
        content: '';
        width: 10px;
        position: absolute;
        right: 0;
        background: linear-gradient(270deg, @cBgWhite 0%, rgba(250, 250, 250, 0) 153.52%);
        height: 100%;

        @media @mediaSm {
            width: 5%;
        }
    }

    &:before {
        z-index: @catalogNavZIndex + 1;
        content: '';
        width: 10px;
        height: 100%;
        position: absolute;
        left: 0;
        background: linear-gradient(270deg, @cBgWhite 0%, rgba(250, 250, 250, 0) 153.52%);
        transform: matrix(-1, 0, 0, 1, 0, 0);

        @media @mediaSm {
            width: 5%;
        }
    }

    &__scroll-wrap {
        overflow: auto;
    }

    &__items {
        display: flex;
    }

    &__item {
        flex-basis: 100%;

        &:not(:last-child) {
            margin-right: var(--grid-gap);
        }
    }

    @media @mediaXl {
        padding-left: var(--page-gutter);
        padding-right: var(--page-gutter);
    }
}
