@import "../_var";

.developer {
    &__dev-svg {
        opacity: 1;
    }

    &__dev-gif {
        position: absolute;
        left: 1px;
        top: 0;
        opacity: 0;
    }

    &--animate {
        .developer__dev-svg {
            opacity: 0;
        }

        .developer__dev-gif {
            opacity: 1;
        }
    }
}
