@import "../_var";

.rating {
    display: flex;
    align-items: center;

    &__stars {
        display: flex;
        align-items: center;
        margin-top: -1px; // визуальное соответствие макету. Звёзды не симметричны по вертикали (Спасибо, кэп!)
    }

    &__star {
        margin-left: 4px;
        fill: #c4c4c4;

        &:first-child {
            margin-left: 0;
        }

        &--filled {
            fill: #f5df4d;
        }
    }

    &__number {
        margin-left: 19px;
        color: @cTextBlack;
        font: 400 var(--fs12)/var(--lh12) @font;

        @media @mediaSm {
            margin-left: 1px;
        }
    }

    &__count {
        position: relative;
        margin-left: 19px;
        padding-left: 22px;
        color: @cGreen;
        font: 400 var(--fs12)/var(--lh12) @font;

        &:before {
            .pseudo();
            .icon(@comments-count);
            left: 0;
            top: 4px;
        }

        @media @mediaSm {
            padding-left: 14px;
            margin-left: 1px;
        }
    }

    &--big-text {
        flex-wrap: wrap;

        .rating__number {
            order: 1;
            margin: 0 11px 0 0;
            font: 700 var(--fs24)/var(--lh24) @font;
        }

        .rating__count {
            order: 2;
            margin: auto auto 5px 0;
        }

        .rating__stars {
            order: 3;
        }
    }
}
