@import "../../_var";

.chef-profile-products {
    --columns-count: 4;

    &__list {
        .grid(@columnsCount: var(--columns-count));

        &--padding {
            padding-top: var(--grid-gap);
        }
    }

    &__form {
        max-width: 805px;
    }

    &__btn-wrap {
        display: flex;
        justify-content: center;
        margin: var(--m20) 0;
    }

    @media @mediaMd {
        --columns-count: 3;
    }

    @media @mediaSm {
        --columns-count: 2;
    }

    @media @mediaXs {
        --columns-count: 1;
    }
}
