@import "../../_var";

.chef-profile-root {
    > * {
        padding: var(--m30) var(--m30) 45px;
        margin-bottom: var(--m40);
        background: @cWhite;
        border-radius: @borderRadius;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
