@import "../../_var";

.profile {
    padding: var(--m30) var(--m30) var(--m60);
    background: @cWhite;
    box-sizing: border-box;
    border-radius: @borderRadius;

    &__section {
        margin-top: var(--m40);
        padding-top: var(--m40);
        border-top: 1px solid @cBgGrey;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }
    }

    &__head {
        .grid(@columnGap: 50px, @rowGap: 15px, @columnsCount: 2);
        grid-template-columns: 176px 1fr;
        grid-template-areas:
            'avatar edit'
            'avatar name'
            'avatar address'
            'avatar none';
        align-items: start;
    }

    &__avatar-wrap {
        .picture();
        grid-area: avatar;
        border-radius: 50%;
        overflow: hidden;
    }

    &__edit {
        grid-area: edit;
        margin-left: auto;
        font-size: var(--fs14);
    }

    &__name {
        grid-area: name;
    }

    &__address {
        display: flex;
        grid-area: address;
        max-width: 230px;
        font-size: 12px;
        line-height: 1.5;
        color: @cTextGrey;
    }

    &__address-icon {
        flex-shrink: 0;
        margin-right: 5px;
        fill: @cGreen;
    }

    &__about {
        margin: var(--m20) 0;
    }

    &__registration-date {
        display: flex;
        grid-gap: var(--m10) var(--grid-gap);
        margin-top: var(--m20);
        font-size: var(--fs12);
    }

    &__registration-date-label {
        color: @cTextGrey;
    }

    &__fake-form {
        max-width: 610px;
    }

    &__form-label {
        margin-bottom: var(--m20);
    }

    &__edit-password {
        margin-top: 14px;
        font-size: var(--fs14);
    }

    @media @mediaSm {
        &__head {
            grid-template-columns: 1fr;
            grid-gap: var(--grid-gap);
            grid-template-areas:
                    'avatar'
                    'edit'
                    'name'
                    'address';
        }

        &__avatar-wrap {
            width: 100px;
            margin: 0 auto;
        }

        &__edit {
            margin: 0 auto;
        }

        &__edit-password {
            margin-top: calc(-1 * var(--grid-gap) / 2);
            text-align: right;
        }
    }
}
