<template>
    <div class="documents-list" :class="{'documents-list--sm-title': smTitle, 'documents-list--lg-margin': lgMargin}">
        <div v-for="(group, index) in currentGroups" :key="index" class="documents-list__group">
            <h4 class="h4 documents-list__title" v-html="group.groupName" />

            <div class="documents-list__items">
                <Document v-for="(item, itemIndex) in group.items"
                          :key="itemIndex"
                          :item="item"
                          :download="download"
                          :blank="blank"
                          @remove="(file) => removeFile(file, group)"
                />
            </div>
            <div v-if="canAdd && group.code && group.max > group.items.length" class="documents-list__btn-wrap">
                <form>
                    <label class="btn btn--grey">
                        <input type="file" style="display: none" @input="(event) => uploadFile(event, group)">
                        Добавить
                    </label>

                    <div v-if="selfError[group.code || ''] && selfError[group.code || ''].length > 0">
                        <div class="upload-input__errors">
                            <div
                                v-for="(error, index) in selfError[group.code || '']"
                                :key="error + index"
                                class="upload-input__error"
                                v-html="error"
                            />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TDocumentsGroup from '~/types/TDocumentsGroup';
    import Document from '~/components/documents/Document.vue';
    import {fileExt, fileSize} from 'sx-vue-form-validator';
    import {postJson, postMultipartFormData} from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';
    import TFile from '~/types/TFile';
    import {showConfirmPopup} from '~/helper/common';

    @Component({
        components: {Document},
    })
    export default class DocumentsList extends Vue {
        @Prop({default: () => []}) groups!: TDocumentsGroup[];
        @Prop({default: false}) canAdd!: boolean;
        @Prop({default: false}) smTitle!: boolean; // маленькие заголовки
        @Prop({default: false}) lgMargin!: boolean; // большой отступ от заголовка
        @Prop({default: false}) download!: boolean; // принудительное скачивание
        @Prop({default: false}) blank!: boolean; // открывать в новой вкладке

        currentGroups: TDocumentsGroup[] = this.groups;
        selfError: {[key: string]: string[]} = {};

        async uploadFile(event, group: TDocumentsGroup) {
            const inputFile =  event.target as HTMLInputElement;

            if (!inputFile.files) {
                return;
            }

            const errKey = group.code || '';
            const file = inputFile.files[0];

            const fieldErrors: string[] = [];

            const validators = [fileExt(['jpg', 'png', 'jpeg', 'pdf']), fileSize(5)];
            validators.forEach(validator => {
                const isValid = validator(file);
                if (isValid !== true) {
                    fieldErrors.push(isValid);
                }
            });

            if (!fieldErrors || fieldErrors.length == 0) {
                const formData = new FormData();
                formData.append('document', file);
                formData.append('type', errKey);

                const result = await postMultipartFormData<TAjaxResponse>('/profile/document/upload', formData);

                if (result.success) {
                    this.currentGroups = result.data as TDocumentsGroup[];
                }
            }

            this.selfError = {...this.selfError, [errKey]: fieldErrors};
        }

        removeFile(file: TFile, group: TDocumentsGroup) {
            showConfirmPopup({
                title: 'Удалить файл',
                message: 'Вы действительно хотите удалить этот файл?',
                callback: async () => {
                    const result = await postJson<TAjaxResponse>('/profile/document/remove', {
                        id: file.id,
                        type: group.code,
                    });

                    if (result.success) {
                        this.currentGroups = result.data as TDocumentsGroup[];
                    }
                },
                btnOk: 'Удалить',
                btnCancel: 'Отменить',
            });
        }
    }
</script>
