<template>
    <a :href="item.href"
       class="document link link--with-icon"
       :class="{'document--editable': item.editable}"
       :download="download ? item.name : null"
       :target="blank ? '_blank' : null"
    >
        <SvgSymbol name="document" class="link__icon document__icon" />
        <span class="link__text" v-html="item.name" />
        <button v-if="item.editable" @click.prevent="$emit('remove', item)" class="document__delete cross-btn" />
    </a>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TFile from '~/types/TFile';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class Document extends Vue {
        @Prop({required: true}) item!: TFile;
        @Prop({default: false}) download!: boolean; // принудительное скачивание
        @Prop({default: false}) blank!: boolean; // открывать в новой вкладке
    }
</script>
