<template>
    <div class="attach-list">
        <div v-for="(img, index) in items" :key="index" class="attach-list__item">
            <div class="attach-list__picture">
                <img :src="img" alt="">
            </div>
            <button class="attach-list__delete" @click.prevent="deleteItem(index)">
                <SvgSymbol name="trash" />
            </button>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Emit, Prop, Vue} from 'vue-property-decorator';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class AttachList extends Vue {
        @Prop({default: () => []}) items!: string[];

        @Emit('delete')
        deleteItem(index: number) {}
    }
</script>
