<template>
    <div class="auth-socials todo">
        <div class="auth-socials__title">Войти через</div>
        <div class="auth-socials__list">
            <a v-for="(item, index) in socials" :key="index" class="auth-socials__item" :href="item.url">
                <img :src="item.image" alt="" />
            </a>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TAuthSocial from '~/types/auth-socials/TAuthSocial';
    import BackendImage from '~/components/BackendImage.vue';

    @Component({
        components: {BackendImage},
    })
    export default class AuthSocials extends Vue {
        @Prop({default: () => []}) socials!: TAuthSocial[];
    }
</script>
