<template>
    <img
        :src="src"
        :alt="alt"
        :width="width"
        :height="height"
        :class="classes"
    />
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import Detector from '~/helper/detector';
    import { TBackendImage } from '~/types/images';

    @Component
    export default class BackendImage extends Vue {
        @Prop() image: TBackendImage | undefined;
        @Prop() alt: string | undefined;
        @Prop() classes: string | undefined;

        get src() {
            if (this.image) {
                if (Detector.hasWebpSupport && this.image.webp) {
                    return this.image.webp;

                } else if (this.image.png) {
                    return this.image.png;

                } else if (this.image.jpg) {
                    return this.image.jpg;

                } else if (this.image.src) {
                    return this.image.src;
                }
            }

            return 'javascript:void(0)';
        }

        get width() {
            if (this.image && this.image.size) {
                return this.image.size.width;
            } else {
                return '';
            }
        }

        get height() {
            if (this.image && this.image.size) {
                return this.image.size.height;
            } else {
                return '';
            }
        }
    }
</script>

