<template>
    <picture :class="classes">
        <source v-if="image.webp" type="image/webp" :srcset="image.webp + ' 1x'" />
        <source v-if="image.png" type="image/png" :srcset="image.png + ' 1x'" />
        <source v-if="image.jpg" type="image/jpeg" :srcset="image.jpg + ' 1x'" />
        <img
            :src="image.src"
            :alt="alt"
            :width="width"
            :height="height"
            :class="classes"
        />
    </picture>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import { TBackendImage } from '~/types/images';

    @Component
    export default class BackendPicture extends Vue {
        @Prop() image: TBackendImage | undefined;
        @Prop() alt: string | undefined;
        @Prop() classes: string | undefined;

        get width() {
            if (this.image && this.image.size) {
                return this.image.size.width;
            } else {
                return '';
            }
        }

        get height() {
            if (this.image && this.image.size) {
                return this.image.size.height;
            } else {
                return '';
            }
        }
    }
</script>

