<template>
    <transition name="show-from-bottom">
        <div class="cookie" v-if="!hidden">
            <div class="cookie__inner">
                <div class="cookie__text-block">
<!--                    <div class="cookie__text h5" v-html="text"/>-->
                    <div class="cookie__description" v-html="description"/>
                </div>
                <div class="cookie__btn-wrap">
                    <button class="btn" @click="hide" v-html="btnText"/>
                </div>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {setCookie} from '~/helper/setCookie';
    import detector from '~/helper/detector';
    import {initResizeObserver} from '~/helper/resize-observer';

    @Component({})
    export default class CookiePanel extends Vue {
        @Prop({default: ''}) text!: string;
        @Prop({default: ''}) description!: string;
        @Prop({default: ''}) btnText!: string;
        hidden: boolean = false;
        pageWrapper = document.querySelector('.js-page-wrapper') as HTMLElement;

        mounted() {
            this.initMargin();
            initResizeObserver(this.initMargin.bind(this));
        }

        hide() {
            setCookie('acceptCookie', '1', 365);
            this.hidden = true;
            this.initMargin();
        }

        initMargin() {
            if (!this.pageWrapper) return;

            if (detector.isSm && !this.hidden) {
                const h = this.$el.clientHeight;
                this.pageWrapper.style.paddingTop = h + 'px';
            } else  {
                this.pageWrapper.style.paddingTop = '';
            }
        }
    }
</script>
