<template>
    <div class="gallery" v-if="initSlider">
        <div class="gallery__main">
            <VueSlickCarousel
                v-if="items"
                v-bind="mainSettings"
                :class="['slider', 'slider--spaced', 'slider--stretch']"
                ref="slider"
                @beforeChange="onBeforeChange"
                @reInit="updatePagesDebounced">
                <div v-for="(item, index) in items"
                     :key="index"
                     class="slider__slide">
                    <div class="gallery__picture">
                        <BackendImage
                            :draggable="false"
                            :image="item.image"
                            :loading="index === 0 ? 'eager' : 'lazy'"
                            @dragstart.native="preventDrag"
                        />
                    </div>
                </div>
            </VueSlickCarousel>
        </div>

        <div v-if="items.length > 1" class="gallery__thumbs">
            <SliderArrow direction="prev"
                         block-name="gallery"
                         @click="prev"
                         :disabled="currentIndex === 0"/>

            <VueSlickCarousel
                v-if="items.length > 0 && initSlider"
                v-bind="thumbsSettings"
                :class="['slider', 'slider--spaced', 'gallery__thumbs-slider']"
                ref="thumbs">
                <div v-for="(item, index) in items"
                     :key="index"
                     class="slider__slide">
                    <a href="javascript:void(0);"
                       class="slider-thumb"
                       :class="{'slider-thumb--current': index === currentIndex}"
                       @click="onThumbClick(index)"
                       draggable="false" >
                        <BackendImage
                            :draggable="false"
                            :image="item.thumb"
                            @dragstart.native="preventDrag"
                        />
                    </a>
                </div>
            </VueSlickCarousel>

            <SliderArrow direction="next"
                         block-name="gallery"
                         @click="next"
                         :disabled="currentIndex === items.length - 1"/>
        </div>

        <CircleDots :current-index="currentPage"
                    :count="totalPages"
                    class="gallery__dots"
                    @select="goTo"/>
    </div>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Ref, Vue, Watch} from 'vue-property-decorator';
    import TSliderParams from '~/types/slider/TSliderParams';
    import {BREAKPOINTS} from '~/helper/const';
    import BackendImage from '~/components/BackendImage.vue';
    import BaseSlider from '~/components/slider/BaseSlider.vue';
    import {TBackendImage} from '~/types/images';
    import SliderNav from '~/components/slider/SliderNav.vue';
    import VueSlickCarousel from 'vue-slick-carousel';
    import SliderArrow from '~/components/slider/SliderArrow.vue';
    import CircleDots from '~/components/slider/CircleDots.vue';

    type TGalleryItem = {
        image: TBackendImage,
        thumb: TBackendImage,
    };

    @Component({
        components: {CircleDots, SliderNav, SliderArrow, BackendImage, VueSlickCarousel},
    })
    export default class Gallery extends Mixins(Vue, BaseSlider) {
        @Prop({default: () => []}) items!: TGalleryItem[];

        @Ref('slider') slider!: any;
        @Ref('thumbs') thumbs!: any;

        sliderSettings: object = {
            arrows: false,
            edgeFriction: 0,
            infinite: false,
            rows: 1,
            waitForAnimate: false,
        };

        mainSettings: TSliderParams = {
            ...this.sliderSettings,
        };

        thumbsSettings: TSliderParams = {
            ...this.sliderSettings,
            slidesToShow: 4,
            swipeToSlide: true,
            responsive: [
                {
                    breakpoint: BREAKPOINTS.md,
                    settings: {
                        slidesToShow: 3,
                    },
                },
                {
                    breakpoint: BREAKPOINTS.sm,
                    settings: {
                        slidesToShow: 2,
                    },
                },
            ],
        };

        currentIndex: number = 0;

        // не используется asNavFor т.к. смена слайда по клику не отрабатывает, если превьюшек менее slidesToShow
        @Watch('currentIndex')
        sync() {
            (this.slider as any)?.goTo(this.currentIndex);
            (this.thumbs as any)?.goTo(this.currentIndex);
        }

        onBeforeChange(current, next) {
            this.currentIndex = next;
        }

        onThumbClick(index) {
            this.currentIndex = index;
        }
    }
</script>
