<template></template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import VModal from 'vue-js-modal/dist/index.nocss';
    import eventBus from '~/helper/event-bus';
    import {lockScroll} from '~/helper/lock-scroll';
    import LocationsPopup from '~/components/popup/LocationsPopup.vue';
    import FeedbackFormPopup from '~/components/popup/FeedbackFormPopup.vue';
    import CallbackFormPopup from '~/components/popup/CallbackFormPopup.vue';
    import RegistrationFormPopup from '~/components/popup/RegistrationFormPopup.vue';
    import AuthFormPopup from '~/components/popup/AuthFormPopup.vue';
    import SendResetPasswordFormPopup from '~/components/popup/SendResetPasswordFormPopup.vue';
    import ResetPasswordFormPopup from '~/components/popup/ResetPasswordFormPopup.vue';
    import MessagePopup from '~/components/popup/MessagePopup.vue';
    import ConfirmPopup from '~/components/popup/ConfirmPopup.vue';
    import BecomeCookFormPopup from '~/components/popup/BecomeCookFormPopup.vue';
    import ChangePasswordFormPopup from '~/components/popup/ChangePasswordFormPopup.vue';
    import CookReviewPopup from '~/components/popup/CookReviewPopup.vue';
    import VerifyPhonePopup from '~/components/popup/VerifyPhonePopup.vue';
    import OrderPhonePopup from '~/components/popup/OrderPhonePopup.vue';

    Vue.use(VModal, {
        dynamicDefaults: {
            height: 'auto',
            width: 0,
            scrollable: true,
            adaptive: true,
        },
    });

    type TPopupLinkData = {
        type: string;
        componentProps?: any;
        disableLockScroll?: boolean;
    }

    type TPopupCloseData = {
        type?: string;
    }

    type TPopupOnCloseData = {
        name?: string
    }

    @Component
    export default class PopupController extends Vue {
        $modal: any;
        private activeStack: string[] = [];

        popups = {
            // Здесь дописываем все компоненты попапов, которые должны открываться
            'locations': LocationsPopup,
            'feedback': FeedbackFormPopup,
            'registration': RegistrationFormPopup,
            'auth': AuthFormPopup,
            'send-reset-password': SendResetPasswordFormPopup,
            'reset-password': ResetPasswordFormPopup,
            'change-password': ChangePasswordFormPopup,
            'become-cook': BecomeCookFormPopup,
            'message': MessagePopup,
            'confirm': ConfirmPopup,
            'cook-review': CookReviewPopup,
            'verify-phone': VerifyPhonePopup,
            'order-phone': OrderPhonePopup,
            'callback-form': CallbackFormPopup,
        };

        created() {
            eventBus.$on('open-popup', this.open);
            eventBus.$on('close-popup', this.close);
            eventBus.$on('close-all-popup', this.closeAll);
        }

        beforeDestroy() {
            eventBus.$off('open-popup', this.open);
            eventBus.$off('close-popup', this.close);
            eventBus.$off('close-all-popup', this.closeAll);
        }

        open(data: TPopupLinkData) {
            if (!data.type || !this.popups[data.type]) {
                return;
            }

            this.activeStack.push(data.type);

            this.$modal.show(
                this.popups[data.type],
                data.componentProps,
                {
                    name: data.type,
                },
                {
                    'before-open': this.onBeforeOpen,
                    'opened': this.onOpened,
                    'closed': this.onClosed,
                },
            );
        }

        close(data?: TPopupCloseData) {
            if (!this.activeStack.length) {
                return;
            }

            if (!data) {
                data = {type: this.activeStack[this.activeStack.length - 1]};
            }

            // если не передалли тип - берем самый верхний в стеке
            if (!data.type) {
                data.type = this.activeStack[this.activeStack.length - 1];
            }

            this.$modal.hide(data.type);

            return;
        }

        closeAll() {
            this.$modal.hideAll();
        }

        onBeforeOpen() {
            // до открытия попапа лочим всю страницу, иначе при открытии пропадет скрол до компенсации его размера
            lockScroll(true, document.body);
        }

        onOpened() {
            const popupContainer = document.querySelector('.popup-wrapper');

            if (popupContainer) {
                // снимем лок со всей страницы
                lockScroll(false, document.body);

                // лочим на скролящемся элементе попапа, иначе на яблоках попап не скролится
                lockScroll(true, popupContainer, {
                    allowTouchMove: el => !!el.closest('.popup-wrapper') || el.tagName.toLowerCase() === 'textarea',
                });
            }
        }

        onClosed(data: TPopupOnCloseData) {
            if (data.name) {
                // Выдергиваем из стека попап. Можно из середины
                const index = this.activeStack.indexOf(data.name);

                if (index !== -1) {
                    this.activeStack.splice(index, 1);
                }
            }

            if (this.activeStack.length === 0) {
                lockScroll(false, document);
            }
        }
    }
</script>
