<template>
    <div class="price">
        <span class="price__value">{{ formatPrice }}</span>
        <span class="price__currency">&#8381;</span>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';

    @Component
    export default class Price extends Vue {
        @Prop({default: 0}) value!: number;
        @Prop({default: 1}) modifier!: number;

        get formatPrice() {
            let options = {
                style: 'decimal',
            };

            return new Intl.NumberFormat('ru-RU', options).format(this.value * this.modifier);
        }
    }
</script>
