<template>
    <div class="rating" :class="modifier ? 'rating--' + modifier : ''">
        <div class="rating__stars">
            <SvgSymbol
                v-if="showStars"
                v-for="i in 5"
                :key="i"
                name="star14"
                class="rating__star"
                :class="{'rating__star--filled': i <= starCount}"
            />
        </div>

        <div v-if="showNumber" class="rating__number">
            {{ rating ? rating : avgRating }}
        </div>

        <div v-if="reviewCount" class="rating__count">
            {{ reviewCount }}
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({ components: { SvgSymbol } })
    export default class Rating extends Vue {
        @Prop({default: 0}) rating!: number;
        @Prop({default: ''}) avgRating!: string;
        @Prop({default: true}) showStars!: boolean;
        @Prop({default: false}) showNumber!: boolean;
        @Prop({default: 0}) reviewCount!: number | string;
        @Prop({default: ''}) modifier!: string;

        get starCount(): number {
            if (this.rating) {
                return this.rating;
            } else {
                return Math.round(parseFloat(this.avgRating));
            }
        }
    }
</script>

<style lang="less">

</style>
