<template>
    <div class="page__sidebar">
        <ScrollUp />

        <button class="btn btn--feedback" @click="showFeedbackPopup">
            <span class="btn__icon">
                <SvgSymbol name="feedback" class="symbol" />
            </span>
            <span class="btn__text">Обратная связь</span>
        </button>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import ScrollUp from '~/components/ScrollUp.vue';
    import {getJson} from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';
    import TFormData from '~/types/form/TFormData';

    @Component({
        components: {SvgSymbol, ScrollUp},
    })
    export default class Sidebar extends Vue {
        popupData: TFormData | null = null;

        async showFeedbackPopup() {
            if (!this.popupData) {
                const response = await getJson<TAjaxResponse>('/popup/feedback');

                if (response && response.success) {
                    this.popupData = response.data as TFormData;
                }
            }

            this.$eventBus.$emit('open-popup', {
                type: 'feedback',
                componentProps: {
                    formData: this.popupData,
                },
            });
        }
    }
</script>
