<template>
    <svg class="symbol"
         :class="['symbol-' + this.name]">
        <use class="symbol__use" :xlink:href="`${symbolsSvg}#${name}`"></use>
    </svg>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {SYMBOLS_SVG} from '~/helper/const';

    @Component
    export default class SvgSymbol extends Vue {
        @Prop({default: ''}) name!: string;

        symbolsSvg = SYMBOLS_SVG;
    }
</script>
