@import "../../_var";

.document {
    --link-color: @cGreen;
    --link-hover-color: @cTextBlack;

    position: relative;
    font-size: var(--fs14);

    &__delete {
        --cross-btn-size: 12px;

        position: absolute;
        top: .5em;
        right: 0;
    }

    &--editable {
        padding-right: 20px;
    }
}
