@import "../_var";

.foot-nav {
    display: none;
    position: sticky;
    bottom: 0;
    height: var(--foot-nav-height);
    background: @cWhite;
    box-shadow: @shadow;
    z-index: @footNavZIndex;

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__item {
        .transit(color);
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding: var(--m10) var(--grid-gap);
        border-right: 1px solid @cBordersGrey;
        box-sizing: border-box;

        &:last-child {
            border-right: none;
        }

        .hover({
            color: @cGreen;
        })
    }

    &__icon {
        height: 18px;

        svg,
        path {
            fill: currentColor;
        }
    }

    &__name {
        margin-top: 7px;
        font-weight: bold;
        font-size: var(--fs14);
        color: inherit;
    }

    @media @mediaMobile {
        display: block;
    }

    @media @mediaSm {
        &__name {
            font-size: 10px;
        }
    }
}
