@import "../_var";

.footer {
    padding: var(--m60) 0;
    font: 400 var(--fs14)/var(--lh14) @font;

    &__grid {
        .grid(@rowGap: var(--m80));
        align-items: center;
        grid-template-areas: 'text text text text text text empty app app app app empty2'
                             'copy copy terms terms terms terms dev dev dev dev dev empty4';
    }

    &__text-wrap {
        grid-area: text;
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: var(--m40);
        }
    }

    &__btn {
        .column-width(2, 6, @property: min-width);
    }

    &__app {
        grid-area: app;
        justify-self: center;
    }

    &__copy {
        grid-area: copy;
    }

    &__terms {
        grid-area: terms;
    }

    &__socials {
        justify-self: right;
        margin-top: var(--m48);
    }

    &__dev {
        grid-area: dev;
        text-align: right;
    }

    &__dev-icon-wrap {
        .size(32px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: @cWhite;
        box-shadow: @shadow;
    }

    &--short {
        .footer {
            &__grid {
                grid-template-areas: 'app app app app app app app app app app app app'
                                     'copy copy terms terms terms terms empty2 dev dev dev dev empty3';
            }

            &__app {
                justify-self: left;
            }
        }
    }

    @media @mediaMobile {
        &__grid {
            grid-template-columns: 1fr;
            grid-template-areas: 'text' 'app' 'copy' 'terms' 'dev';
            grid-row-gap: 0;
        }

        &__copy,
        &__terms {
            justify-self: center;
        }

        &__text-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: var(--m80);
        }

        &__text {
            font-size: var(--fs16);
            line-height: var(--lh16);
        }

        &__app {
            margin-bottom: var(--m80);
        }

        &__copy {
            margin-bottom: var(--m10);
        }

        &__terms {
            margin-bottom: var(--m30);
        }

        &__socials {
            justify-self: center;
        }

        &__dev {
            text-align: center;
        }

        &--short {
            .footer {
                &__grid {
                    grid-template-areas: 'app' 'copy' 'terms' 'dev';
                }

                &__app {
                    justify-self: center;
                }
            }
        }
    }

    @media @mediaXs {
        &__dev {
            font-size: var(--fs12);
        }
    }
}
