@import "../_var";

.form {
    &__grid {
        --columns-count: 1;
        --columns-gap: var(--m30);

        .grid(@columnGap: var(--columns-gap), @columnsCount: var(--columns-count));

        &--two {
            --columns-count: 2;
        }

        &--three {
            --columns-count: 3;
        }

        &--sm-gap {
            --columns-gap: var(--m10);
        }
    }

    &__privacy {
        margin: var(--m40) auto 0;
        font-size: var(--fs14);
        line-height: var(--lh14);
        color: @cTextGrey;

        a {
            .clear-link(@cGreen);
            .transit(border-color);
            border-bottom: 1px solid transparent;

            .hover({
                border-color: currentColor;
            });
        }

        &--border {
            padding-top: var(--m40);
            border-top: 1px solid @cBgGrey;
        }
    }

    &__submit-wrap {
        margin-top: var(--m40);
    }

    &--white {
        --input-background-color: @cWhite;

        .form {
            &__privacy {
                color: @cWhite;

                a {
                    color: currentColor;
                    border-color: currentColor;

                    .hover({
                        border-color: transparent;
                    }, false, false);
                }
            }
        }
    }

    @media @mediaSm {
        &__grid {
            &--two {
                --columns-count: 1;
            }
        }
    }

    @media @mediaXs {
        &__grid {
            &--three {
                --columns-count: 1;
            }

            &--sm-gap {
                --columns-gap: var(--m30);
            }
        }
    }
}
