@import "../_var";

.popup-wrapper {
    --popup-size: 372px;

    max-height: calc(var(--vh, 1vh) * 100);
    max-width: calc(100vw - var(--scrollbar-size));
}

.popup {
    position: relative;
    max-width: 100%;
    width: var(--popup-size);
    padding: var(--m30) var(--m40) var(--m40);
    background: @cWhite;
    border-radius: @borderRadius;
    box-sizing: border-box;
    pointer-events: auto;

    &__head {
        display: flex;
        justify-content: space-between;
        grid-gap: var(--grid-gap);
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 28px;
    }

    &__title {
        margin-bottom: 16px;
        padding-right: 20px;
        text-transform: unset;
        font-family: @font;
    }

    &__back {
        --link-color: @cGreen;

        margin-top: var(--m20);
        font-size: var(--fs14);
    }

    &__form {
        margin-top: var(--m35)
    }

    &__message {
        margin: var(--m40) 0;
        font-size: vaR(--fs14);
        line-height: var(--lh14);
    }

    @media @mediaSm {
        &__close {
            --cross-btn-size: 18px;

            top: 10px;
            right: 14px;
        }
    }
}
