<template>
    <a :href="item.href" class="document link link--with-icon" :class="{'document--editable': item.editable}">
        <SvgSymbol name="document" class="link__icon document__icon" />
        <span class="link__text" v-html="item.name" />
        <button v-if="item.editable" class="document__delete cross-btn" />
    </a>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TFile from '~/types/TFile';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class Document extends Vue {
        @Prop({required: true}) item!: TFile;
    }
</script>
