<template>
    <div class="documents-list" :class="{'documents-list--sm-title': smTitle, 'documents-list--lg-margin': lgMargin}">
        <div v-for="(group, index) in groups" :key="index" class="documents-list__group">
            <h4 class="h4 documents-list__title" v-html="group.groupName" />
            <div class="documents-list__items">
                <Document v-for="(item, itemIndex) in group.items" :key="itemIndex" :item="item" />
            </div>
            <div v-if="canAdd" class="documents-list__btn-wrap">
                <button class="btn btn--grey">Добавить</button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TDocumentsGroup from '~/types/TDocumentsGroup';
    import Document from '~/components/documents/Document.vue';

    @Component({
        components: {Document},
    })
    export default class DocumentsList extends Vue {
        @Prop({default: () => []}) groups!: TDocumentsGroup[];
        @Prop({default: false}) canAdd!: boolean;
        @Prop({default: false}) smTitle!: boolean; // маленькие заголовки
        @Prop({default: false}) lgMargin!: boolean; // большой отступ от заголовка
    }
</script>
