@import "../../../_var";

/**
 * Блок добавления в корзину на детальной блюда
 */
.product-buy {
    display: flex;
    grid-gap: var(--m30);
    align-items: center;
    padding: 15px;
    background: @cLightGreen;
    border-radius: 15px;
    justify-content: space-between;

    &__price {
        flex: 1;
        font: 700 var(--fs16)/var(--lh16) @font;
    }

    &__count {
        max-width: 100px;
    }

    &__weight {
        font: 600 var(--fs14)/var(--lh12) @font;
    }

    @media @mediaLg {
        align-items: center;
        justify-content: center;

        &__price {
            font-size: 40px;
            flex: 0;
        }
    }

    @media @mediaSm {
        &__price {
            text-align: right;
        }

        &__btn-wrap {
            display: flex;
            justify-content: center;
            grid-column: span 2;
        }
    }
}
