@import "../../../_var";

/**
 * Характеристики блюда в описании на детальной странице
 */
.product-params {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: .6em;
        }
    }

    &__name {
        color: @cTextGrey;
        margin-right: 10px;
    }

    &__value {
        text-align: right;
    }
}
