@import "../../../_var";

/**
 * Слайдер с фото на детальной блюда
 */
.product-picture-slider {
    position: relative;

    &__picture {
        .picture(500/500, @fit: cover);
        border-radius: @borderRadius;

        img {
            pointer-events: none; // fix FF Не работает свайп слайдера изображений
        }
    }

    &__nav {
        position: absolute;
        left: 0;
        right: 0;
        bottom: var(--m20);
        grid-template-columns: 1fr max-content 1fr;
        grid-template-areas: 'left arrows right';
    }

    &__labels {
        position: absolute;
        left: 15px;
        top: 15px;
        z-index: 1;
        width: 0;
    }

    &__label {
        margin-bottom: 10px;

        @media @mediaSm {
            margin-bottom: 5px;
        }
    }

    @media @mediaMobile {
        &__picture {
            &:before {
                padding-bottom: 100% * 500/500;
            }
        }
    }
}
