@import "../../../_var";

/**
 * Описание блюда на детальной странице
 */
.product-about {
    font: 400 var(--fs14)/var(--lh12) @font;

    &__block {
        margin-bottom: var(--m20);
    }

    &__title {
        margin-bottom: var(--m10);
        font-weight: 700;
    }

    &__params {
        display: flex;
        grid-gap: 32px;
    }

    &__params-item {
        max-width: calc(50% - 16px);
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        grid-gap: 9px;
        margin-top: 25px;
    }

    .label {
        background: none;
    }

    &__hr {
        .size(100%, 1px);
        margin: var(--m20) 0;
        border: none;
        background: @cBgGrey;
    }

    @media @mediaLg and @mediaDesktop {
        &__params {
            flex-direction: column;
        }

        &__params-item {
            max-width: none;
        }
    }

    @media @mediaSm {
        &__params {
            flex-direction: column;
        }
    }
}
