<template>
    <div class="faq-item"
         :class="[{'faq-item--open': isOpen}, cssClass]" >
        <a href="javascript:void(0);"
           class="faq-item__question"
           @click.prevent="toggle">
            <span v-html="item.question"></span>
            <span class="plus faq-item__plus"></span>
        </a>
        <slideUpDown :active="isOpen">
            <div class="faq-item__answer text-content text-content--sm text-content--grey" v-html="item.answer"></div>
        </slideUpDown>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue} from 'vue-property-decorator';
    import {TFaqItem} from '~/types/faq/TFaqItem';
    import SlideUpDown from 'vue-slide-up-down';

    @Component({
        components: {SlideUpDown},
    })
    export default class FaqItem extends Vue {
        @Prop({default: ''}) cssClass!: string;
        @Prop({required: true}) item!: TFaqItem;

        isOpen: boolean = false;

        toggle() {
            this.isOpen = !this.isOpen;
        }
    }
</script>
