<template>
    <div class="cook-short-data">
        <div class="cook-short-data__avatar">
            <BackendImage :image="cookData.picture" />
        </div>

        <div class="cook-short-data__texts">
            <div class="cook-short-data__name" v-html="cookData.name"/>
            <div class="cook-short-data__position" v-html="cookData.position"/>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TCook} from '~/types/cook/TCook';
    import BackendImage from '~/components/BackendImage.vue';

    @Component({components: { BackendImage }})
    export default class CookShortData extends Vue {
        @Prop({}) cookData!: TCook;
    }
</script>
