@import "../../_var";

.tabs-nav {
    &__items {
        display: flex;
        grid-gap: var(--grid-gap);
        margin-bottom: calc(-1 * var(--m10));
        padding-bottom: var(--m10);
        overflow-x: auto;
    }

    &__btn {
        --btn-border-radius: 18px;
        --btn-height: 69px;
        --btn-color: @cTextBlack;
        --btn-bg-color: @cWhite;
        --btn-border-color: transparent;

        --btn-hover-bg-color: @cGreen;
        --btn-hover-border-color: transparent;
        --btn-hover-color: @cWhite;

        font-size: var(--fs24);
        font-weight: bold;

        sup {
            margin-left: 4px;
            font: normal var(--fs12) / var(--lh12) @font;
            color: @cTextGrey;
        }

        &--active {
            --btn-color: @cWhite;
            --btn-bg-color: @cGreen;

            pointer-events: none;

            sup {
                color: inherit;
            }
        }

        .hover({
            sup {
                color: inherit;
            }
        });
    }

    @media @mediaSm {
        margin-left: calc(-1 * var(--page-gutter));
        margin-right: calc(-1 * var(--page-gutter));
        padding: 0 var(--page-gutter);

        &__btn {
            --btn-height: 50px;
        }
    }
}
