@import "../../_var";

.blockquote, .text-content blockquote {
    position: relative;
    padding: var(--m40) var(--m80) var(--m10) var(--m60);

    img {
        margin: 0;
    }

    &:before {
        .pseudo();
        left: 0;
        top: 0;
        right: calc(50% + 10px);
        bottom: 0;
        background: @cLightGreen;
        border-radius: 40px;
        z-index: -1;
    }

    &:after {
        .pseudo();
        .icon(@quote);
        top: var(--m40);
        left: 24px;
    }

    .quote-author {
        display: flex;
        align-items: flex-start;
        margin-top: var(--m40);

        &__picture {
            .picture();
            width: 60px;
            margin-right: var(--grid-gap);
            flex-shrink: 0;
            border-radius: 50%;
        }

        &__name {
            display: block;
            margin-top: 8px;
            color: @cGreen;
            font-weight: bold;
            font-size: var(--fs16);
            font-style: normal;
        }

        &__position {
            font-size: var(--fs12);
            line-height: var(--lh12);
            color: @cTextGrey;
        }
    }

    @media @mediaSm {
        padding-right: var(--m20);

        &:before {
            right: 20%;
        }
    }

    @media @mediaXs {
        &:before {
            right: 0;
        }
    }
}
