@import "../../_var";

.figure, .text-content figure {
    img {
        margin: 0;
    }

    figcaption {
        margin: var(--m20) 0;
        font-size: var(--fs14);
        line-height: var(--lh14);
        color: @cTextGrey;
    }
}
