@import "../../_var";

.h0,
.h1, .text-content h1,
.h2, .text-content h2,
.h3, .text-content h3,
.h4, .text-content h4,
.h5, .text-content h5 {
    .avoid-break();
    margin: 0;
    font-weight: 900;
    font-family: @captionFont;
    text-transform: uppercase;
}

.h0 {
    font-size: var(--fs100);
    line-height: var(--lh120)
}

.h1, .text-content h1 {
    font-size: var(--fs40);
    line-height: var(--lh40)
}

.h2, .text-content h2 {
    font-size: var(--fs36);
    line-height: var(--lh36)
}

.h3, .text-content h3 {
    font-size: var(--fs32);
    line-height: var(--lh32)
}

.h4, .text-content h4 {
    font-size: var(--fs28);
    line-height: var(--lh28)
}

.h5, .text-content h5 {
    font-size: var(--fs24);
    line-height: var(--lh24)
}
