@import "../../_var";

.chat-write {
    &__controls {
        display: flex;
        align-items: flex-end;
        grid-gap: var(--m10);
    }

    &__input-wrap {
        position: relative;
        width: 100%;
        min-height: 48px;
        max-height: 15vh;
        padding: 0 55px 0 20px;
        border: 1px solid var(--input-border-color);
        border-radius: @borderRadius;
        box-sizing: border-box;
        overflow: hidden;
    }

    &__input {
        &:extend(.custom-scrollbar all);
        .clear-input();
        width: 100%;
        max-height: 15vh;
        padding: 12px var(--scroll-gap) 7px 0;
        box-sizing: border-box;
        font: normal var(--fs16) / 1.375 @font;
        cursor: auto;
    }

    &__btn {
        flex-shrink: 0;

        &--mobile {
            .clear-button();
            display: none;
            color: @cGreen;

            svg {
                width: 25px;
                height: 48px;
            }
        }
    }

    &__attach {
        position: absolute;
        right: 20px;
        bottom: 13px;
        color: @cGreen;
        cursor: pointer;
    }

    &__upload-input {
        .size(0);
        position: absolute;
        left: 0;
        top: 0;
    }

    &__attach-items {
        margin-top: var(--m20);
    }

    @media @mediaMobile {
        &__btn {
            display: none;

            &--mobile {
                display: block;
            }
        }
    }
}
