@import "../../_var";

.chat-root {
    &__grid {
        .grid(@columnGap: 10px, @columnsCount: 2);
        grid-template-columns: 362px 1fr;
    }

    &__beta-text {
        padding: 20px;
        margin-bottom: 30px;
        width: fit-content;
        font-weight: 400;
        font-size: var(--fs20);
        line-height: var(--lh18);
        background-color: @cWhite;
        border-radius: 17px;
        border: 10px solid var(--btn-border-color);
    }

    &__list {
        max-height: calc(95vh - var(--header-fixed-height) - var(--foot-nav-height));
        overflow: auto;
    }

    &__item {
        & + & {
            margin-top: var(--m10);
        }
    }

    @media @mediaMobile {
        &__grid {
            grid-template-columns: 1fr;
        }
    }
}
