@import "../../_var";

.chat-product {
    display: grid;
    grid-template-columns: 57px 1fr;
    grid-gap: var(--m10);
    align-items: start;
    grid-template-areas:
            'picture name'
            'picture price'
            'picture sum'
            'picture none';
    font-weight: bold;

    &__picture {
        .picture();
        grid-area: picture;
        border-radius: 50%;
        overflow: hidden;
    }

    &__name {
        grid-area: name;
    }

    &__price {
        grid-area: price;
        font-size: var(--fs14);

        > * {
            white-space: nowrap;
        }
    }

    &__sum {
        grid-area: sum;
    }

    @media @mediaMobile {
        grid-template-columns: 45px 1fr;
        grid-gap: 3px var(--m10);
    }
}
