@import "../../_var";

.order-products-slider {
    position: relative;

    &__nav {
        position: absolute;
        grid-template-areas: 'arrows arrows arrows';
        margin-top: 0;
        top: 50%;
        left: -23px;
        right: -23px;
        transform: translateY(-50%);
        pointer-events: none;

        .slider-nav__arrows {
            display: flex;
            justify-content: space-between;
        }

        .slider-nav__arrow {
            pointer-events: auto;

            &:disabled {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    &__slide {
        position: relative;
    }

    &__remove {
        --cross-btn-size: 12px;

        position: absolute;
        width: var(--cross-btn-size) !important;
        right: var(--m20);
        top: var(--m10);
    }

    @media @mediaMobile {
        font-size: var(--fs14);
    }
}
