@import "../../_var";

.empty-chat {
    .grid();
    align-items: center;

    &__text-wrapper {
        grid-column: ~'1/4';
        display: flex;
        flex-direction: column;
        column-gap: 10px;
    }

    &__text {
        grid-column: span 4;
        font: bold var(--fs40) / var(--lh40) @captionFont;
        text-transform: uppercase;

        &--small {
            grid-column: ~'2/6';
            font: 400 var(--fs24) / var(--lh32);
        }
    }

    &__caption {
        margin-top: 20px;
    }

    &__text a,
    &__link {
        cursor: pointer;
        color: @cGreen;
        border-bottom: 1px dashed @cGreen;
        text-decoration: none;

        &:hover {
            border-bottom-color: transparent;
        }
    }

    &__text a {
        border-bottom-style: solid;
    }

    &__image-wrap {
        grid-column: ~'5 / 13';

        &--small {
            grid-column: ~'6 / 13';
        }
    }

    &__image {
        position: relative;
        display: inline-block !important;

        img {
            position: relative;
            max-width: 100%;
        }

        &:before {
            .pseudo();
            width: 132%;
            left: 38%;
            top: 5%;
            padding-top: 132%;
            background: @cLightGreen;
            border-radius: 50%;
        }
    }

    @media @mediaMd {
        &__text {
            grid-column: span @gridColumnsCount;
            text-align: center;
        }

        &__text-wrapper {
            grid-column: ~'1/12';
        }

        &__image-wrap {
            grid-column: span @gridColumnsCount;
            text-align: center;
        }

        &__image {
            &:before {
                display: none;
            }

            img {
                max-width: 75%;
            }
        }
    }
}
