@import "../../_var";

.main-promo {
    &__grid {
        .grid();
        grid-template-rows: max-content 1fr;
    }

    &__caption,
    &__text-wrap {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        pointer-events: none;
    }

    &__caption {
        grid-row: 1;
        grid-column: ~'1 / 9';
    }

    &__text-wrap {
        grid-row: 2;
        grid-column: ~'1 / 6';
    }

    &__label {
        margin-bottom: var(--m30);
        color: @cTextGrey;
        font: 400 var(--fs20)/var(--lh20) @font;
    }

    &__title {

        margin-bottom: var(--m20);
        line-height: 1;
    }

    &__subtitle {
        margin-top: 45px;
        margin-bottom: var(--m40);
        color: @cGreen;
        line-height: 48/32;
    }

    &__text {
        margin-bottom: var(--m20);
        font: 400 var(--fs20)/var(--lh20) @font;
    }

    &__btn {
        margin-bottom: var(--m40);
        pointer-events: auto;
    }

    &__cta {
        font: 600 var(--fs20)/var(--lh20) @font;
        margin-bottom: var(--m10);
        pointer-events: auto;

        .link {
            font-weight: 400;
        }
    }

    &__cta-comment {
        color: @cTextGrey;
        font: 400 var(--fs14)/var(--lh14) @font;
    }

    &__right-col {
        position: relative;
        z-index: 1;
        grid-row: ~'1 / 3';
        grid-column: ~'5 / 13';
        justify-self: right;
        width: 100%;
    }

    &__slider {
        display: grid;
        grid-template-columns: 100%;
        margin-top: 5px;
        max-width: var(--promo-slider-screen-limit);
        width: min(100%, var(--promo-slider-max-width));
    }

    &__rocket {
        align-self: center;
        justify-self: center;
        max-width: calc(100vh - var(--header-height) - 40px);
    }

    @media @mediaDesktop {
        &.scroll-class {
            .main-promo {
                &__right-col {
                    .transit(~'opacity, transform', @transitTimeSlow);
                    will-change: transform, opacity;
                }
            }

            &:not(.showed) {
                .main-promo {
                    &__right-col {
                        opacity: 0;
                        transform: translateX(var(--animation-translate-x));
                    }
                }
            }
        }
    }

    @media @mediaLgH {
        &__slider {
            margin-top: 0;
        }

        &__rocket {
            margin-top: -10%;
        }
    }

    @media @mediaSm {
        &__grid {
            grid-template-rows: max-content max-content 1fr;
        }

        &__text-wrap,
        &__right-col {
            grid-column: ~'1 / -1';
            grid-row: auto;
        }

        &__caption {
            grid-column: ~'1 / -1';
            grid-row: 1;
        }

        &__text-wrap {
            align-items: center;
            text-align: center;
        }

        &__rocket {
            margin: calc(-1 * var(--m40)) auto;
            max-width: 300px;
        }
    }
}
