@import "../../_var";

.avatar-load {
    position: relative;
    --picture-max-width: auto;

    input {
        .size(0);
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &__picture {
        .picture(@fit: cover);
        display: block;
        max-width: var(--picture-max-width);
        border-radius: 50%;
        background: @cLightGreen;
        overflow: hidden;
        cursor: pointer;
    }

    &__text {
        display: block;
        margin-top: var(--m30);
        text-align: center;
    }

    &__placeholder {
        display: block;
        margin-top: var(--m20);
        padding-left: 30px;
        color: @cTextGrey;
        line-height: var(--lh16);
    }

    &__remove-block {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }

    &__remove-btn {
        .size(40px);
        .clear-button();
        .transit(box-shadow);
        display: flex;
        justify-content: center;
        align-items: center;
        background: @cGreen;
        color: @cWhite;
        border-radius: 50%;

        &:hover {
            opacity: 0.5;
        }
    }

    @media @mediaSm {
        &__picture {
            margin: 0 auto;
        }

        &__text {
            font-size: var(--fs14);
        }
    }
}
