@import "../../_var";

.input-suggests {
    position: absolute;
    z-index: 2;
    width: 99.75%;
    padding-top: 23px;
    margin-top: -23px;
    border: 1px solid var(--input-border-color);
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #fff;
    overflow: hidden;

    &__item {
        padding: 16px;
        line-height: 22px;
        cursor: pointer;

        &:hover {
            background: @cLightGreen;
        }
    }
}
