@import "../../_var";

.input-label {
    position: relative;
    display: block;

    &__text {
        .transit(~'font-size, top, background');
        position: absolute;
        left: calc(20px + var(--input-left-offset));
        top: 11px;
        max-width: calc(100% - (20px + var(--input-left-offset)) * 2);
        padding: 0 10px;
        font-size: var(--fs16);
        line-height: var(--lh16);
        color: @cTextGrey;
        background: var(--input-label-bg);
        border-radius: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
        pointer-events: none;
        z-index: 4;

        span {
            position: relative;
        }
    }

    &__error {
        position: absolute;
        top: 15px;
        right: 20px;
        fill: @cRed;
        outline: none;
        z-index: 4;
    }

    &--focus {
        .input-label {
            &__text {
                font-size: var(--fs14);
                top: -10px;
            }
        }
    }

    &--z-index {
        .input-label {
            &__text {
                z-index: 6;
            }

            &__error {
                z-index: 5;
            }
        }

        &--focus {
            .input-label {
                &__text {
                    z-index: 7;
                }

                &__error {
                    z-index: 6;
                }
            }

            //.multiselect {
            //    z-index: 6;
            //}
        }
    }
}
