@import "../../_var";

.multi-checkbox-tag {
    position: relative;
    display: flex;
    align-items: flex-start;

    &__input {
        .hide-input();
        left: 0;
        top: 0;
    }

    &__label {
        margin-right: 24px;
        padding: 4px 10px;
        background: @cLightGreen;
        font-weight: bold;
        font-size: var(--fs14);
        line-height: var(--lh14);
        border-radius: @borderRadius;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        grid-gap: var(--m10);
    }

    &__item {
        .transit(~'color, background, box-shadow');

        --btn-bg-color: @cWhite;
        --btn-border-color: @cBordersGrey;
        --btn-color: @cGreen;

        --btn-hover-bg-color: @cWhite;
        --btn-hover-border-color: @cBordersGrey;
        --btn-hover-color: @cGreen;

        &--active {
            --btn-bg-color: @cGreen;
            --btn-border-color: @cGreen;
            --btn-color: @cWhite;

            --btn-hover-bg-color: @cGreen;
            --btn-hover-border-color: @cGreen;
            --btn-hover-color: @cWhite;
        }

        .hover({
            box-shadow: @shadow;
        });
    }
}
