@import "../../_var";

.add-card {
    .clear-button();
    .transit(~'box-shadow, opacity');
    display: block;
    padding: var(--m20);
    background: @cLightGreen;
    border-radius: 10px;

    &--kitchen {
        box-sizing: border-box;
        width: 172px;
        height: 172px;

        .add-card__text {
            font-size: var(--fs20);
        }
    }

    .hover({
        box-shadow: @shadow;
    });

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__btn {
        .size(60px);
        position: relative;
        margin: 0 0 var(--m20) 0;
        background: @cGreen;
        border-radius: 50%;

        &:before,
        &:after {
            .pseudo();
            .size(28px, 2px);
            position: absolute;
            background: @cWhite;
            opacity: 0.75;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    &__text {
        padding-bottom: var(--m20);
        font-weight: bold;
        font-size: var(--fs24);
        line-height: var(--lh24);
        color: @cGreen;
        text-align: center;
    }

    @media @mediaMd {
        &__text {
            font-size: var(--fs18);
        }
    }

    @media @mediaSm {
        &__text {
            font-size: var(--fs14);
        }

        &__btn {
            .size(40px);

            &:before,
            &:after {
                .size(20px, 1px);
            }
        }
    }
}
