@import "../../_var";

.auth-socials {
    display: flex;
    justify-content: space-between;
    grid-gap: var(--grid-gap);

    &__title {
        font-weight: bold;
        font-size: var(--fs18);
        line-height: var(--lh18);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        grid-gap: var(--grid-gap);
    }

    &__item {
        .size(30px);
    }

    @media @mediaXs {
        flex-direction: column;
    }
}
