@import "../../_var";

.breadcrumbs {
    &__list {
        display: flex;
        align-items: center;
        padding-bottom: 1px; // чтобы бордер не скрывался за overflow
        margin-bottom: -1px;
        overflow-x: auto;
        white-space: nowrap;
    }

    &__item {
        --link-color: @cGreen;

        display: flex;
        align-items: center;
        font-size: var(--fs14);
        line-height: 1;
    }

    &__icon {
        margin: 0 var(--m20);
        fill: currentColor;
    }
}
