@import "../../_var";

.cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 20px 40px;
    background: @cWhite;
    color: var(--text-color);
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.1));
    z-index: 1000;

    @media @mediaSm {
        position: absolute;
        top: 0;
        bottom: auto;
        padding: 15px;
    }

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media @mediaSm {
            flex-direction: column;
        }
    }

    &__text-block {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__text {
        margin-bottom: 10px;
        font: 700 var(--fs28)/var(--lh18) 'Manrope',Arial,sans-serif,-apple-system;
    }

    &__description {
        text-align: center;

        a {
            color: var(--caption-text-color);
        }

        @media @mediaSm {
            margin: 0;
            font-size: 12px;
        }
    }

    &__btn-wrap {
        flex-shrink: 0;
        margin-left: 20px;

        @media @mediaSm {
            margin-left: 0;
            margin-top: 15px;
        }
    }
}
