@import "../../_var";

.decor-man {
    .proportional-size(799/449);
    width: 449px;

    @media @mediaLgH {
        display: none;
    }

    &__decor-man {
        position: absolute;
        left: 0;
        top: 90px;
        width: 100%;
        height: 100%;
        background: no-repeat 0 0 url('@{imagePath}basket/man.png');
        background-size: contain !important;
    }

    &__decor-circle {
        .size(428px);
        position: absolute;
        bottom: 185px;
        right: -107px;
        border-radius: 50%;
        background: @cLightGreen;

        @media @mediaXl {
            display: none;
        }
    }
}
