@import "../../_var";

/** Общие стили для списков поваров и товаров */

.list {
    --right-gap: 52px;

    &__grid {
        .grid(@columnsCount: 2);
        grid-template-columns: calc(3 * (100% - var(--grid-gap) * (12 - 1)) / 12 + var(--grid-gap) * (3 - 1)) 1fr;
        align-items: start;
    }

    &__filter {
        position: relative;
    }

    &__right-col {
        position: relative;
        display: flex;
        flex-direction: column;
        grid-gap: var(--right-gap) var(--grid-gap);
        z-index: 1;
    }

    &__cards {
        .grid(3, @rowGap: var(--m40));

        &:not(:last-child) {
            margin-bottom: var(--m40);
        }
    }

    @media @mediaMobile {
        --right-gap: var(--grid-gap);

        &__grid {
            grid-template-columns: 1fr;
        }
    }

    @media @mediaSm {
        &__cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media @mediaXs {
        &__cards {
            grid-template-columns: 1fr;

            &--xs-2 {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}
