@import "../../_var";

.logged-in-block {
    display: inline-flex;
    align-items: center;

    &__user {
        display: inline-flex;
        align-items: center;
        color: @cTextBlack;
        text-decoration: none;
        margin-right: var(--m20);

        &:hover {
            opacity: 0.8;
        }

        @media @mediaLg {
            margin-right: var(--m10);
        }
    }

    &__cart, &__phone {
        position: relative;
        display: inline-flex;
        align-items: center;
        color: @cTextBlack;
        text-decoration: none;
        margin-right: var(--m20);

        svg {
            fill: @cGreen;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &__phone {
        color: @cGreen;
    }

    &__cart-count {
        position: absolute;
        top: -6px;
        righT: -6px;
        border-radius: 8px;
        min-width: 16px;
        text-align: center;
        box-sizing: border-box;
        padding: 0 2px;
        font: 400 var(--fs12)/16px @font;
        background-color: @cGreen;
        color: @cWhite;
    }

    &__avatar {
        .size(40px);
        margin-right: var(--m10);
        display: inline-block;
        border-radius: 50%;
        flex-shrink: 0;
        overflow: hidden;

        > img {
            max-width: 100%;
            vertical-align: top;
        }
    }

    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: var(--m100);

        @media @mediaXs {
            display: none;
        }
    }
}
