@import "../../_var";

.pagination {
    &__pages {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__arrow,
    &__page {
        .clear-link();
        .transit(~'opacity, color, border-color');
        color: @cGreen;

        .hover({
            color: @cTextBlack;
        });

        &:disabled,
        &--disabled {
            pointer-events: none;
            color: @cTextGrey;
        }
    }

    &__arrow {
        margin: 0 8px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__page {
        .size(50px);
        flex-shrink: 0;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        border: 1px solid transparent;
        border-radius: 50%;
        margin: 0 9px;
        font: 400 var(--fs20)/var(--lh20) @font;

        &--current {
            pointer-events: none;
            border-color: @cGreen;
            color: @cTextBlack;
        }
    }

    &__dots {
        font: 400 var(--fs20)/var(--lh20) @font;
        margin: 0 8px;
    }

    @media @mediaSm {
        &__page {
            .size(40px);
        }

        &__page,
        &__dots {
            margin: 0 4px;
        }
    }

    @media @mediaXs {
        &__page {
            .size(28px);
        }

        &__page,
        &__dots {
            margin: 0 2px;
            font-size: var(--fs14);
        }
    }

    &__more-button-wrapper {
        display: flex;
        justify-content: center;
    }

    &__more-button {
        width: 150px;
    }
}
