@import "../../_var";

.slider-thumb {
    --active-icon-size: 30px;

    .picture(@fit: cover);
    .transit(opacity);
    display: block;

    .hover({
        opacity: @hoverOpacity;
    });

    &:after {
        .pseudo();
        .size(var(--active-icon-size), 0);
        .transit(height);
        left: calc(50% - var(--active-icon-size) / 2);
        top: 0;
        background: @cGreen;
        border-radius: 0 0 @borderRadius @borderRadius;
    }

    &--current {
        pointer-events: none;

        &:after {
            height: var(--active-icon-size);
        }
    }

    @media @mediaSm {
        --active-icon-size: 20px;
    }
}
