@import "../../_var";

.static-spoiler {
    &__content {
        .transit(height, .5s);
        height: 0;
        overflow: hidden;
    }

    &__inner {
        &:after,
        &:before {
            content: "";
            clear: both;
            display: table;
        }
    }
}
