@import "../../_var";

.how-work {
    position: relative;

    &__list {
        .grid(@rowGap: var(--m60));
        position: relative;
        z-index: 2;
        counter-reset: number;
    }

    &__btn-wrap {
        grid-column: ~'9 / 13';
        grid-row: span 2;
    }

    &__sushi {
        .proportional-size();
        position: absolute !important;
        right: calc(-1 * var(--page-gutter));
        top: 20px;
        width: 475px;
    }

    &__sushi-layer {
        .size(100%) !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;

        &:before {
            .pseudo();
            .size(100%);
            background: no-repeat 0 0;
            background-size: contain;
        }

        &:nth-child(1):before {
            background-image: url('@{imagePath}how-work/sushi-1.png');
        }

        &:nth-child(2):before {
            background-image: url('@{imagePath}how-work/sushi-2.png');
        }
    }

    &__item {
        grid-row: span 2;

        &:nth-child(2) {
            grid-row: ~'2 / 4';
        }

        &:nth-child(odd) {
            grid-column: ~'1 / 5';
        }

        &:nth-child(even) {
            grid-column: ~'6 / 10';

            @media @mediaMoreSm {
                .how-work-item {
                    &__num {
                        span {
                            &:nth-child(1) {
                                .size(100% * 37/141);
                                left: auto;
                                right: 125%;
                            }

                            &:nth-child(2) {
                                left: auto;
                                right: 170%;
                            }
                        }
                    }
                }
            }
        }
    }

    @media @mediaDesktop {
        &.scroll-class {
            .how-work {
                &__sushi-layer:before {
                    .transit(~'transform', @transitTimeExtraSlow);
                    will-change: transform;
                }
            }

            &:not(.showed) {
                .how-work {
                    &__sushi-layer {
                        &:nth-child(1):before {
                            transform: translateY(var(--animation-translate-y));
                        }

                        &:nth-child(2):before {
                            transform: translateY(calc(2 * var(--animation-translate-y)));
                        }
                    }
                }
            }
        }
    }

    @media @mediaLg {
        &__sushi {
            display: none;
        }

        &__item {
            &:nth-child(odd) {
                grid-column: ~'1 / 6';
            }

            &:nth-child(even) {
                grid-column: ~'7 / 12';
            }
        }

        &__btn-wrap {
            grid-column: ~'7 / 13';
        }
    }

    @media @mediaSm {
        &__item {
            &:nth-child(odd),
            &:nth-child(even) {
                grid-column: ~'1 / -1';
                grid-row: auto;
            }
        }

        &__btn-wrap {
            grid-column: ~'1 / -1';
            grid-row: auto;
        }
    }
}
