@import "../../_var";

.service-support-items {
    position: relative;
    z-index: 2;

    &__list {
        .grid(@rowGap: var(--m80));
    }

    &__item {
        &:nth-child(odd) {
            grid-column: ~'1 / 5';
        }

        &:nth-child(even) {
            grid-column: ~'9 / 13';
        }
    }
}
