@import "../../_var";

.service-reviews {
    .grid(@rowGap: 0);

    &__caption {
        position: relative;
        z-index: 2;
        grid-column: ~'1 / 5';
        grid-row: 1;
        margin: var(--m60) 0;
        pointer-events: none;
    }

    &__slider {
        position: relative;
        z-index: 1;
        grid-column: ~'1 / -1';
        grid-row: 1;
    }

    @media @mediaDesktop {
        &.scroll-class {
            .service-reviews {
                &__caption,
                &__slider {
                    .transit(~'transform', @transitTimeSlow);
                    will-change: transform;
                }
            }

            &:not(.showed) {
                .service-reviews {
                    &__caption {
                        transform: translateY(var(--animation-translate-y));
                    }

                    &__slider {
                        transform: translateY(calc(2 * var(--animation-translate-y)));
                    }
                }
            }
        }
    }

    @media @mediaMobile {
        &__caption,
        &__slider {
            grid-row: auto;
            grid-column: ~'1 / -1';
        }

        &__caption {
            margin: 0 0 var(--m40);
        }
    }
}
