@import "../../_var";

.service-reviews-slider {
    .grid(@rowGap: 0);
    align-items: center;
    grid-template-rows: 1fr 46px max-content 46px 1fr;
    grid-template-areas:
        'empty empty empty photo photo photo photo empty2 empty2 empty2 empty2 empty2'
        'empty empty empty photo photo photo photo empty3 empty3 empty3 empty3 empty3'
        'empty empty empty photo photo photo photo text text text text text'
        'empty empty empty photo photo photo photo nav nav nav nav nav'
        'empty empty empty photo photo photo photo empty4 empty4 empty4 empty4 empty4';

    &__photo-col {
        grid-area: photo;
        margin-right: var(--grid-gap);

        // fix развалился слайдер в FF
        display: grid;
        grid-template-columns: 100%;
        overflow: hidden;
    }

    &__photo {
        .picture(680/392, @fit: cover);
        // fix разносит слайдер
        overflow: hidden;
        max-width: calc(100vw - var(--page-gutter) * 2);
        max-height: calc(100vh - var(--header-fixed-height) - var(--m20));
        border-radius: @borderRadiusLg;

        img {
            pointer-events: none;
        }
    }

    &__text-col {
        grid-area: text;

        // fix развалился слайдер в FF
        display: grid;
        grid-template-columns: 100%;
        overflow: hidden;
    }

    &__logo {
        .size(100px);
        margin-bottom: var(--m60);
        color: @cGreen;
    }

    &__text {
        color: @cTextGrey;
        font: 400 var(--fs24)/var(--lh24) @font;
        margin-bottom: var(--m60);
    }

    &__name {
        font: 700 var(--fs24)/var(--lh24) @font;
    }

    &__position {
        color: @cTextGrey;
        font: 400 var(--fs12)/var(--lh12) @font;
    }

    &__nav-col {
        grid-area: nav;
    }

    &__nav {
        grid-template-columns: 1fr;
        grid-template-areas: 'arrows';
    }

    @media @mediaMobile {
        grid-template-rows: max-content 1fr;
        grid-template-areas:
            'photo photo photo photo empty5 text text text text text text text'
            'nav nav nav nav nav nav nav nav nav nav nav nav';

        &__logo {
            .size(60px);
            margin-bottom: var(--m40);
        }

        &__photo-col {
            margin-right: calc(-1 * var(--grid-gap)); // подгонка под макет
        }
    }

    @media @mediaSm {
        grid-template-areas:
            'photo photo photo photo photo text text text text text text text'
            'nav nav nav nav nav nav nav nav nav nav nav nav';

        &__logo {
            display: none;
        }

        &__photo-col {
            margin-right: 0;
        }

        &__text {
            font-size: var(--fs16);
            line-height: var(--lh16);
        }
    }

    @media @mediaXs {
        grid-template-columns: 100%;
        grid-template-rows: max-content max-content 1fr;
        grid-template-areas: 'photo' 'text' 'nav';

        &__photo-col,
        &__text {
            margin-bottom: var(--m20);
        }

        &__photo {
            &:before {
                padding-bottom: 100%;
            }
        }
    }
}
