@import "../../_var";

.service-support {
    position: relative;

    &__caption {
        .column-width(4);
        position: relative;
        z-index: 2;
        margin-bottom: var(--m80);
    }

    &__back {
        .proportional-size();
        position: absolute !important;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        width: 682px;
        max-width: 60%;
    }

    &__circle {
        .size(100%);
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;

        &:before {
            .pseudo();
            .size(100%);
            top: 0;
            left: 0;
            background: @cLightGreen;
            border-radius: 50%;
        }
    }

    &__pizza {
        .proportional-size(390/324);
        position: absolute !important;
        top: 22% !important;
        left: 30% !important;
        background: no-repeat 0 0 url('@{imagePath}support/pizza.png');
        background-size: contain;
        width: 100% * 324/682;
    }

    &__items {
        position: relative;
        z-index: 2;
    }

    @media @mediaDesktop {
        &.scroll-class {
            .service-support {
                &__caption,
                &__items {
                    .transit(~'transform', @transitTimeSlow);
                    will-change: transform;
                }

                &__circle:before {
                    .transit(~'transform, opacity', @transitTimeExtraSlow * 2);
                    will-change: transform, opacity;
                }
            }

            &:not(.showed) {
                .service-support {
                    &__caption {
                        transform: translateY(var(--animation-translate-y));
                    }

                    &__items {
                        transform: translateY(calc(2 * var(--animation-translate-y)));
                    }

                    &__circle:before {
                        opacity: 0;
                        transform: scale(.8);
                    }
                }
            }
        }
    }

    @media @mediaMobile {
        &__back {
            display: none;
        }
    }
}
