<template>
    <div v-if="count > 1" class="circle-dots custom-scrollbar custom-scrollbar--hidden">
        <button
            v-for="index in count"
            :key="index"
            class="circle-dots__dot"
            :class="{'circle-dots__dot--active': index - 1 === currentIndex, 'circle-dots__dot--sibling': isSibling(index), 'circle-dots__dot--bold': isBold(index)}"
            @click="select(index - 1)"
        />
    </div>
</template>

<script lang="ts">
    import {Component, Emit, Prop, Vue} from 'vue-property-decorator';

    @Component
    export default class CircleDots extends Vue {
        @Prop({default: 0}) currentIndex!: number;
        @Prop({default: 1}) count!: number;

        @Emit()
        select(index) {}

        isSibling(index: number): boolean {
            return Math.abs(index - 1 - this.currentIndex) <= 3;
        }

        isBold(index: number): boolean {
            return Math.abs(index - 1 - this.currentIndex) <= 1;
        }
    }
</script>
