@import "../../_var";

.about-reviews {
    .grid();
    position: relative;
    align-items: center;
    background: @cGreen;
    border-radius: @borderRadius;
    padding: var(--m40);
    color: @cWhite;
    margin-bottom: var(--m60);

    &__text {
        grid-column: ~'1 / 7';
        font: 400 var(--fs20)/var(--lh20) @font;

        a {
            .clear-link();
            .transit(~'opacity, border-bottom-color');
            font-weight: 700;
            border-bottom: 1px solid currentColor;

            .hover({
                border-bottom-color: transparent;
            });
        }
    }

    &__hand-container {
        align-self: stretch;
        grid-column: ~'7 / 9';
        position: relative;
    }

    &__hand {
        .proportional-size(308/201, @position: absolute);
        right: -25px;
        bottom: calc(-1 * (var(--m60) + var(--m40)));
        left: -12px;
        background: no-repeat 50% 0 url('@{imagePath}about-reviews/hand.png');
        background-size: 100%;
    }

    &__btn {
        grid-column: ~'10 / 13';
        justify-self: center;
    }

    @media @mediaDesktop {
        &.scroll-class {
            .about-reviews {
                &__hand {
                    .transit(transform, @transitTimeExtraSlow);
                    will-change: transform;
                }
            }

            &:not(.showed) {
                .about-reviews {
                    &__hand {
                        transform: translateY(calc(var(--animation-translate-y) * 2/3));
                    }
                }
            }
        }
    }

    @media @mediaMobile {
        margin-left: calc(-1 * var(--page-gutter));
        margin-right: calc(-1 * var(--page-gutter));
        padding: var(--m40) var(--page-gutter);

        &__text,
        &__btn {
            grid-column: ~'1 / -1';
        }

        &__btn {
            justify-self: center;
        }

        &__hand-container {
            position: absolute;
            right: 0;
            bottom: 100%;
            width: 160px;
            z-index: -1;
            grid-column: ~'1 / -1';
        }

        &__hand {
            right: 40px;
            bottom: 0;
            left: 0;

            &:before {
                padding-bottom: 100%;
            }
        }
    }
}
