@import "../../_var";

.review-card {
    background: @cWhite;
    border-radius: @borderRadius;
    padding: var(--m20);

    &__author {
        display: flex;
        align-items: center;
        margin-bottom: var(--m20);
    }

    &__photo {
        .picture(@fit: cover);
        width: 56px;
        flex-shrink: 0;
        margin-right: var(--grid-gap);
        border-radius: 50%;
    }

    &__name {
        grid-area: name;
        font: 700 var(--fs18)/var(--lh18) @font;
    }

    &__position {
        grid-area: position;
        color: @cTextGrey;
        font: 400 var(--fs12)/var(--lh12) @font;
    }

    &__text {
        color: @cTextGrey;
        font: 400 var(--fs14)/var(--lh14) @font;
    }

    &__toggle {
        display: inline-block;
        margin-top: var(--m10);
        white-space: nowrap;
    }
}
