@import "../../_var";

.profile-cook-kitchen {
    --columns-count: 4;

    &__list {
        .grid(@columnGap: 38px, @columnsCount: var(--columns-count));
        margin-top: var(--m40);
    }

    &__item {
        .picture(@fit: cover);
        border-radius: 10px;
        overflow: hidden;
    }

    &__item-image {
        cursor: pointer;
    }

    &__remove {
        .clear-button();
        .size(40px);
        .transit(box-shadow);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: var(--m10);
        right: var(--m10);
        background: @cGreen;
        border-radius: 50%;
        color: @cWhite;

        .hover({
            box-shadow: @shadow;
        });
    }

    @media @mediaMd {
        --columns-count: 3;

        &__list {
            grid-column-gap: var(--grid-gap);
            grid-row-gap: var(--grid-gap);
        }
    }

    @media @mediaSm {
        --columns-count: 2;
    }
}
