@import "../../_var";

.cook-profile {
    display: flex;
    flex-direction: column;

    &__head {
        display: flex;
        justify-content: space-between;
        grid-gap: var(--grid-gap);
        margin-bottom: var(--m20);
    }

    &__edit {
        align-self: flex-end;
        font-size: var(--fs14);
    }

    @media @mediaMd {
        padding-bottom: var(--m30);
    }
}
