@import "../../_var";

.profile-cook-materials {
    position: relative;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 392px;
    }

    &__description {
        margin: var(--m40) 0;
    }

    &__header {
        margin-bottom: var(--m40);
    }

    &__subtitle {
        margin-bottom: var(--m30);
        font-size: var(--fs18);
        line-height: var(--lh18);
    }

    &__group {
        ~ .profile-cook-materials__group {
            margin-top: var(--m40);
            padding-top: var(--m40);
            border-top: 1px solid @cBgGrey;
        }
    }

    &__documents {
        --documents-width: auto;

        margin-top: var(--m40);
        padding-top: var(--m40);
        border-top: 1px solid @cBgGrey;
    }

    &__picture {
        position: absolute;
        width: 425px;
        top: 30px;
        margin-top: -50px;
        padding-top: 50px;
        right: calc(((100vw - 100%) / 2 - var(--scrollbar-width, 0px)) * -1);
        overflow: hidden;

        &:before {
            .pseudo(relative);
            width: 100%;
            right: -130px;
            padding-top: 100%;
            background: @cLightGreen;
            border-radius: 100%;
        }

        img {
            position: absolute;
            bottom: 50px;
            left: 0;
        }
    }

    @media @mediaLg {
        &__picture {
            padding-top: 60px;
            width: 375px;
        }
    }

    @media @mediaMd {
        &__grid {
            grid-template-columns: 1fr;
        }

        &__picture {
            display: none;
        }
    }
}
