@import "../../_var";

.profile-info {
    .grid(@columnsCount: 2);
    grid-template-columns: 1fr 274px;
    position: relative;

    &__col {
        position: relative;
        z-index: 1;
    }

    &__cook {
        grid-row-start: 2;
    }

    &__picture {
        position: absolute;
        width: 425px;
        top: 30px;
        margin-top: -50px;
        padding-top: 50px;
        right: calc(((100vw - 100%) / 2 - var(--scrollbar-width, 0px)) * -1);
        overflow: hidden;

        &:before {
            .pseudo(relative);
            width: 100%;
            right: -130px;
            padding-top: 100%;
            background: @cLightGreen;
            border-radius: 100%;
        }

        img {
            position: absolute;
            bottom: 50px;
            left: 50px;
        }
    }

    @media @mediaLg {
        grid-template-columns: 1fr;

        &__picture {
            display: none;
        }
    }
}
