<template>
    <div class="faq-section__items">
        <div class="faq-item"
             v-for="(item, index) in items"
             :key="index"
             :class="[{'faq-item--open': isOpen[index]}, cssClass]" >

            <button
                class="faq-item__question"
                @click.prevent="toggle(index)"
            >
                <span v-html="item.title"></span>
                <span class="plus faq-item__plus"></span>
            </button>
            <slideUpDown :active="isOpen[index]">
                <div class="faq-item__answer text-content text-content--sm text-content--grey" v-html="item.text"></div>
            </slideUpDown>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue} from 'vue-property-decorator';
    import {TFaqItem} from '~/types/faq/TFaqItem';
    import SlideUpDown from 'vue-slide-up-down';

    @Component({
        components: {SlideUpDown},
    })
    export default class FaqItem extends Vue {
        @Prop({default: ''}) cssClass!: string;
        @Prop({required: true}) items!: TFaqItem[];

        isOpen: boolean[] = [];

        toggle(index: number) {
            const newOpen = [...this.isOpen];
            newOpen[index] = !this.isOpen[index];
            this.isOpen = newOpen;
        }
    }
</script>
