@import "../../_var";

.app-block {
    text-align: center;

    &__buttons {
        display: flex;
        margin: calc(-1 * var(--m10));
        justify-content: center;
    }

    &__btn {
        margin: var(--m10);

        svg {
            fill: currentColor !important;
        }
    }

    &__text {
        margin-top: 15px;
        font: 400 var(--fs18)/var(--lh18) @font;
    }

    @media @mediaXs {
        &__text {
            font-size: var(--fs14);
            line-height: var(--lh14);
        }

        &__btn {
            svg {
                .size(120px, 40px);
            }
        }
    }
}
