@import "../../_var";

.auth-form {
    &__remember {
        font-size: var(--fs14);
    }

    &__submit-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-gap: var(--grid-gap);
    }
}
