@import "../../_var";

.become-chef-form {
    --input-textarea-height: 120px;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 234px;
        grid-gap: var(--m40);
        align-items: start;
    }

    &__group {
        & + & {
            margin-top: 37px;
        }
    }

    &__group-label {
        margin-bottom: 16px;
        font-size: var(--fs24);
        line-height: var(--lh24);
        font-weight: bold;
    }

    &__group-text {
        margin: var(--m20) 0;
        line-height: var(--lh16);
    }

    &__submit {
        display: flex;
        justify-content: center;
    }

    &__notify {
        max-width: 568px;
        margin: var(--m40) auto;
        text-align: center;
    }

    &__avatar {
        position: sticky;
        top: var(--m10);
    }

    &__avatar-placeholder {
        .size(80%, auto);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: var(--fs18);

        svg {
            margin: 0 auto 15px;
        }
    }

    &__avatar-placeholder-text {
        font-weight: 600;
    }

    &__location {
        --input-left-offset: 38px;
        --input-right-offset: 0px;

        position: relative;
    }

    &__location-icon {
        position: absolute;
        left: 32px;
        top: 15px;
        fill: @cGreen;
    }

    @media @mediaSm {
        &__grid {
            grid-template-columns: 1fr;
        }

        &__group {
            & + & {
                margin-top: var(--m20);
            }
        }

        &__avatar {
            order: -1;
            position: static;
            justify-self: center;
        }

        &__avatar-load {
            --picture-max-width: 200px;
        }
    }
}
