@import "../../_var";

.profile-form {
    padding: var(--m30) var(--m30) var(--m60);
    box-sizing: border-box;
    background: @cWhite;
    border-radius: @borderRadius;

    &__section {
        margin-top: var(--m40);
        padding-top: var(--m40);
        border-top: 1px solid @cBgGrey;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }

        &--sm {
            max-width: 615px;
        }
    }

    &__label {
        margin-bottom: 27px;
        font-size: var(--fs24);
        line-height: var(--lh24);
        font-weight: bold;
    }

    &__head {
        .grid(@columnGap: 50px, @rowGap: 37px, @columnsCount: 2);
        grid-template-columns: 176px 1fr;
        grid-template-areas:
                'avatar fio'
                'avatar address'
                'avatar none';
        align-items: start;
    }

    &__avatar {
        grid-area: avatar;
    }

    &__name {
        grid-area: fio;
    }

    &__address {
        --input-left-offset: 38px;
        --input-right-offset: 0px;

        grid-area: address;
    }

    &__address-icon {
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        fill: @cGreen;
    }

    @media @mediaSm {
        &__head {
            grid-template-columns: 1fr;
            grid-template-areas:
                'avatar'
                'fio'
                'address';
            grid-column-gap: var(--grid-gap);
            grid-row-gap: var(--grid-gap);
        }

        &__avatar {
            --picture-max-width: 100px;

            text-align: center;
        }

        &__label {
            margin-bottom: var(--m20);
        }

        &__address {
            --input-left-offset: 15px;
        }

        &__address-icon {
            left: 15px;
        }
    }
}
