<template></template>

<script lang="ts">
    import {Component, Vue, Ref} from 'vue-property-decorator';
    import {initIntersectionObserver} from '~/helper/intersection-observer';
    import Debounce from '~/decorators/debounce';

    @Component
    export default class BaseSlider extends Vue {
        @Ref('slider') slider!: any;

        initSlider: boolean = false;

        totalPages: number = 0;
        currentPage: number = 0;

        sliderSettings: object = {
            arrows: false,
            dots: false,
            cssEase: 'cubic-bezier(0.22, 1, 0.36, 1)',
            touchThreshold: 100,
            edgeFriction: 0,
            swipeToSlide: true, // нужен, чтобы после окончания свайпа слайдер не убегал обратно к текущему слайду +/- 1
            slidesToScroll: 1,
            infinite: false,
            speed: 500,
            rows: 1,
        };

        mounted() {
            initIntersectionObserver(this.$el.parentElement, this.init.bind(this));

            this.updatePages();
        }

        init() {
            this.initSlider = true;
        }

        prev() {
            if (!this.slider) return;

            (this.slider as any).prev();
        }

        next() {
            if (!this.slider) return;

            (this.slider as any).next();
        }

        goTo(index) {
            if (!this.slider) return;

            (this.slider as any).goTo(index);
        }

        // Обновляем данные для пагинации
        // Логика перенесена из точек в компоненте
        // Нужна для работы SliderNav
        // Нужно вызвать в reInit и beforeChange
        // у слайдера должен быть установлен ref="slider"
        updatePages() {
            if (!this.slider) return;

            const innserSlider = this.slider.$refs.innerSlider;
            const props = innserSlider.$options.propsData;

            const slideCount = innserSlider.slideCount;
            const slidesToScroll = props.slidesToScroll || 1;
            const slidesToShow = props.slidesToShow || 1;
            const currentSlide = innserSlider.currentSlide;

            if (props.infinite) {
                this.totalPages = Math.ceil(slideCount / slidesToScroll);
            } else {
                this.totalPages = Math.max(Math.ceil((slideCount - slidesToShow) / slidesToScroll) + 1, 0);
            }

            Array.apply(
                null,
                Array(this.totalPages + 1)
                    .join('0')
                    .split(''),
            ).map((x, i) => {
                let leftBound = i * slidesToScroll;
                //let rightBound = i * slidesToScroll + (slidesToScroll - 1);
                let rightBound = i * slidesToScroll + (slidesToShow - 1);

                if (currentSlide >= leftBound && currentSlide <= rightBound) {
                    this.currentPage = i;
                }
            });
        }

        @Debounce({time: 300})
        updatePagesDebounced() {
            this.updatePages();
        }

        // fix drag and drop при перетаскивании трека слайдера (draggable="false" не работает в FF)
        preventDrag(ev) {
            ev.preventDefault();

            return false;
        }
    }
</script>
