<template>
    <button type="button"
            class="btn btn--arrow"
            :class="cssClass"
            @click="$emit('click')">
        <SvgSymbol :name="this.direction" />
    </button>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    type TDirection = 'prev' | 'next' | null;

    @Component({
        components: {SvgSymbol},
    })

    export default class SliderArrow extends Vue {
        @Prop({default: 'slider'}) blockName!: string;
        @Prop({default: ''}) direction!: TDirection;

        get cssClass() {
            return [
                'slick-' + this.direction,
                'arrow--' + this.direction,
                this.blockName + '__arrow',
                this.blockName + '__arrow--' + this.direction,
            ];
        }
    }
</script>
