<template>
    <div v-if="btn || total > 1"
         class="slider-nav"
         :class="{'slider-nav--with-btn': btn, 'slider-nav--large':large}">
        <a v-if="btn"
           :href="btn.url"
           class="btn slider-nav__btn">
            <span class="btn__text">{{ btn.name }}</span>
        </a>

        <div v-if="total > 1" class="slider-arrows slider-nav__arrows" :class="{'slider-arrows--large':large}">
            <SliderArrow direction="prev"
                         block-name="slider-nav"
                         :disabled="current === 0"
                         @click="$emit('prev-click')" />

            <SliderArrow direction="next"
                         block-name="slider-nav"
                         :disabled="current === (total - 1)"
                         @click="$emit('next-click')"/>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TLink} from '~/types/TLink';
    import SliderArrow from '~/components/slider/SliderArrow.vue';

    @Component({
        components: {SliderArrow},
    })

    export default class SliderNav extends Vue {
        @Prop({default: null}) btn!: TLink | null;
        @Prop({default: 0}) current!: number;
        @Prop({default: 1}) total!: number;
        @Prop({default: false}) large!: boolean;
    }
</script>
