@import "../../_var";

.add-product-form {
    --input-label-bg: @cBgWhite;
    --input-textarea-height: 86px;
    --groups-offset: 16px;

    &__title {
        margin-bottom: var(--m40);
    }

    &__button-wrapper {
        display: flex;
        align-items: flex-end;
        grid-gap: 10px;
    }

    &__sm-inputs {
        --input-left-offset: -10px;
    }

    &__groups {
        position: relative;
        align-items: start;
        padding-bottom: var(--m10);
        border-bottom: 1px solid @cBgGrey;

        &:before {
            .pseudo();
            width: 1px;
            left: 50%;
            top: 0;
            bottom: var(--m40);
            background: @cBgGrey;
        }
    }

    &__group {
        padding-bottom: var(--m30);
        border-bottom: 1px solid @cBgGrey;

        &:nth-child(odd) {
            margin-right: var(--groups-offset);
        }

        &:nth-child(even) {
            margin-left: var(--groups-offset);
        }

        &:last-child,
        &:nth-last-child(2) {
            border-bottom: none;
        }
    }

    &__cell-group {
        & + & {
            padding-top: var(--m30);
            border-top: 1px solid @cBgGrey;
        }
    }

    &__help {
        font-size: var(--fs14);
        line-height: var(--lh14);
    }

    &__bottom {
        margin-top: var(--m40);
    }

    @media @mediaSm {
        --groups-offset: 0px;

        &__button-wrapper {
            padding-bottom: 40px;
            align-items: flex-start;
            flex-direction: column;
        }

        &__groups {
            &:before {
                display: none;
            }
        }

        &__group {
            padding-bottom: 0;
            border-bottom: none;
        }

        &__cell-group {
            & + & {
                padding-top: 0;
                border-top: none;
            }
        }
    }
}
