@import "../../_var";

.count-form {
    display: flex;
    align-items: center;

    &__input {
        text-align: center;
        padding: 0;
        border: none;
        font: 600 var(--fs24) @font;
    }
}
