@import "../../_var";

.rating-input {
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__star {
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    &__star-icon {
        fill: #c4c4c4;

        &--filled {
            fill: #f5df4d;
        }
    }

    &__text {
        margin-top: var(--m20);
        font: 400 var(--fs12)/var(--lh12) @font;
        color: @cTextGrey;
    }
}
