@import "../../_var";

.attach-list {
    display: flex;
    grid-gap: var(--grid-gap);
    flex-wrap: wrap;
    margin-top: var(--m20);

    &__item {
        position: relative;
    }

    &__picture {
        .picture(@fit: cover);
        width: 60px;
        border-radius: 10px;
    }

    &__delete {
        .size(20px);
        .clear-button();
        position: absolute;
        padding: 2px;
        right: 0;
        bottom: 100%;
        background: @cGreen;
        border-radius: 50%;
        color: @cWhite;
        transform: translateY(50%);

        svg {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
