@import "../../_var";

.distance-filter {
    &__wrapper {
        display: flex;
    }

    &__label {
        margin-right: var(--m20);
        flex-shrink: 0;
        font-size: var(--fs18);
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        grid-gap: var(--m10) var(--grid-gap);
    }

    &__item {
        font-size: var(--fs14);
    }

    @media @mediaSm {
        &__wrapper {
            flex-direction: column;
        }

        &__label {
            margin-bottom: var(--m10);
        }
    }
}
