@import "../../_var";

.gallery {
    display: flex;
    flex-direction: column;

    &__picture  {
        .picture(450/764, @fit: cover);
        border-radius: @borderRadius;
    }

    &__thumbs {
        display: grid;
        grid-template-columns: 46px calc(100% - 46px * 2 - var(--grid-gap) * 2) 46px; // calc используется, чтобы не разносило слайдер
        grid-gap: var(--grid-gap);
        align-items: center;
        margin-top: var(--m20);
    }

    @media @mediaLgH {
        &__picture  {
            .picture(.5, @fit: cover);
            border-radius: @borderRadius;
        }
    }

    @media @mediaMoreSm {
        &__dots {
            display: none;
        }
    }

    @media @mediaSm {
        &__thumbs {
            display: none;
        }
    }
}
