@import "../../_var";

.list-filter {
    --items-margin: 15px;

    .transit(box-shadow);
    position: relative;
    padding: var(--m20) var(--m30);
    background: @cWhite;
    border-radius: @borderRadius;
    box-sizing: border-box;

    &__btn {
        .clear-button();
        .transit(~'color, opacity');
        display: flex;
        align-items: center;
        width: 100%;
        font-size: var(--fs24);
        line-height: var(--fs24);
        font-weight: bold;
        outline: none;

        .hover({
            color: @cGreen;
        });
    }

    &__btn-icon-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: var(--m20);
        box-sizing: border-box;
        border-radius: 50%;
    }

    &__btn-icon {
        fill: @cGreen;
        transform: rotate(-90deg);
    }

    &__btn-clear {
        .hover({
            svg {
                fill: @cWhite;
            }
        });
    }

    // fix обрезаются элементы в ползунке
    &__spoiler {
        margin: 0 calc(-1 * var(--m30));
        padding: 0 var(--m30);
    }

    &__group {
        padding: var(--m20) 0;
        border-bottom: 1px solid @cBgGrey;
    }

    &__group-items,
    &__group-range {
        padding-top: var(--m20);
    }

    &__item {
        & + & {
            margin-top: var(--items-margin);
        }
    }

    &__label {
        .clear-button();
        display: flex;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid @cBgGrey;
        font-size: var(--fs18);
        font-weight: 700;
        color: @cTextBlack;
        cursor: auto;
        user-select: text;

        &--collapsable {
            padding-bottom: 0;
            border: none;
            font-size: var(--fs16);
            font-weight: 600;
            color: @cGreen;
            cursor: pointer;
            user-select: none;
        }
    }

    &__collapse-icon {
        .transit(transform);
        margin-left: var(--m10);

        &--open {
            transform: scaleY(-1);
        }
    }

    &__btn-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: var(--m20);
        grid-gap: var(--grid-gap);
    }

    &__clear-icon {
        fill: @cGreen;
    }

    &--open {
        box-shadow: @shadow;
    }

    &--absolute {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    @media @mediaMoreMd {
        &__btn {
            &--adaptive {
                display: none;
            }
        }
    }

    @media @mediaMd {
        padding: 0;
        box-shadow: none;
        background: transparent;

        &__content {
            .transit(transform);
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            padding: 0 var(--page-gutter);
            transform: translateX(-100%);
            background: @cBgWhite;
            overflow-y: auto;
            overflow-x: hidden;
            z-index: @listFilterZIndex;
        }

        &__btn-wrap {
            position: sticky;
            bottom: 0;
            z-index: 10;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 calc(-1 * var(--m30)); // fix торчат элементы диапазона
            padding: var(--m20) var(--m30);
            background: @cBgWhite;
        }

        &__btn {
            width: auto;
            color: @cGreen;
            font-size: var(--fs14);
            font-weight: 700;

            &--adaptive {
                position: sticky;
                width: calc(100% + 2 * var(--m30));
                top: 0;
                justify-content: space-between;
                margin: 0 calc(-1 * var(--m30)); // fix торчат элементы диапазона
                padding: 14px var(--m30) 10px;
                font-size: var(--fs32);
                text-transform: uppercase;
                font-family: @captionFont;
                background: @cBgWhite;
                color: @cTextBlack;
                z-index: 2;

                .list-filter__btn-icon-wrap {
                    margin-right: 0;
                }
            }
        }

        &__btn-icon-wrap {
            .size(42px);
            padding: 10px;
            margin-right: var(--m10);
            background: @cGreen;
        }

        &__btn-icon {
            fill: @cWhite;
            transform: none;
        }

        &--open {
            .list-filter {
                &__content {
                    transform: translateX(0);
                }
            }
        }

        &--absolute {
            position: relative;
            background: @cBgWhite;
            z-index: unset;
        }
    }

    @media @mediaXs {
        .list-filter {
            &__btn-wrap {
                grid-gap: 5px;

                .btn {
                    font-size: var(--fs14);
                    padding: 0 15px;
                }
            }
        }
    }
}
