@import "../../_var";

.section-caption {
    &__h1 {
        &:not(:last-child) {
            margin-bottom: var(--m10);
        }
    }

    &__text {
        font: 400 var(--fs14)/var(--lh14) @font;
        color: @cTextGrey;
    }
}
