@import "../../_var";

.socials {
    --socials-color-filter: @fTextGrey;
    --socials-border-color: transparent;
    --socials-hover-border-color: transparent;
    --socials-gap: var(--m40);
    --socials-size: 40px;

    &__title {
        margin-bottom: var(--m20);
        font: 400 var(--fs14)/var(--lh14) @font;
        text-align: center;
    }

    &__items {
        display: flex;
        margin: calc(-1 * var(--socials-gap)/2);
        justify-content: center;
    }

    &__item {
        .size(var(--socials-size));
        .clear-link();
        .transit(~'opacity, border-color');
        box-sizing: border-box;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-shrink: 0;
        margin: calc(var(--socials-gap)/2);
        border-radius: 50%;
        border: 2px solid var(--socials-border-color);

        .hover({
            border-color: var(--socials-hover-border-color);
        });

        img {
            filter: @cBlack;
            display: block;
        }
    }

    &__img-wrap {
        filter: var(--socials-color-filter);
    }

    &--white {
        --socials-color-filter: @fWhite;
        --socials-border-color: @cWhite;
        --socials-hover-border-color: @cLightGreen;
    }

    &--in-footer {
        --socials-gap: var(--m60);
        --socials-size: 19px;

        .socials {
            &__items {
                justify-content: flex-end;
            }

            &__item {
                border: none;

                .hover({
                    opacity: @hoverOpacity;
                });
            }
        }
    }
}
