<template>
    <PopupWrapper title="Вход на сайт" class="auth-popup">
        <div class="auth-popup__toggle">
            <div class="auth-popup__type" :class="{'auth-popup__type--selected': type=='code'}" @click="type='code'">По телефону</div>
            <div class="auth-popup__type" :class="{'auth-popup__type--selected': type=='pass'}" @click="type='pass'">По паролю</div>
        </div>
        <AuthCodeForm
            v-if="type == 'code'"
            class="popup__form"
            :form-data="authCodeFormData"
            @emitSendResetPassword="openSendResetPassword"
            :is-for-cook="isForCook"
            :basket-element="basketElement"
        />
        <AuthPasswordForm
            v-else
            class="popup__form"
            :form-data="authPassFormData"
            @emitSendResetPassword="openSendResetPassword"
            :is-for-cook="isForCook"
            :basket-element="basketElement"
        />
        <AuthSocials :socials="socials" class="auth-popup__socials" />

<!--        <div class="auth-popup__registration">-->
<!--            <div class="auth-popup__registration-wrap">-->
<!--                <div class="auth-popup__registration-title">Вы еще не&nbsp;с&nbsp;нами?</div>-->
<!--                <button class="auth-popup__registration-btn btn btn&#45;&#45;grey" @click.prevent="openRegisterPopup">-->
<!--                    <span class="btn__text">Зарегистрироваться</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TFormData from '~/types/form/TFormData';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import TAuthSocial from '~/types/auth-socials/TAuthSocial';
    import AuthSocials from '~/components/AuthSocials.vue';
    import AuthCodeForm from '~/components/forms/AuthCodeForm.vue';
    import AuthPasswordForm from '~/components/forms/AuthPasswordForm.vue';
    import {sendYmGoal} from '~/helper/seo';
    import {TBasketElement} from '~/types/basket/TBasketRow';

    // todo
    const socials = [
        {
            image: '/storage/socials/whatsapp.svg',
            url: 'javascript:void(0);',
        },
        {
            image: '/storage/socials/telegram.svg',
            url: 'javascript:void(0);',
        },
        {
            image: '/storage/socials/vk.svg',
            url: 'javascript:void(0);',
        },
    ];

    @Component({
        components: {AuthSocials, AuthCodeForm, AuthPasswordForm, SvgSymbol, PopupWrapper},
    })
    export default class AuthFormPopup extends Vue {
        @Prop({default: false}) isForCook!: boolean;
        @Prop({default: false}) basketElement!: TBasketElement;
        //@Prop({default: () => []}) socials: TAuthSocial[] = socials;
        socials: TAuthSocial[] = socials;

        type: string = 'code';
        types: string[] = ['code', 'pass'];
        authCodeFormData: TFormData | null = APP.authForms.authCode || null;
        authPassFormData: TFormData | null = APP.authForms.authPass || null;

        created() {
            sendYmGoal('shapkaavtoriz');
        }

        openRegisterPopup() {
            this.$eventBus.$emit('close-popup');
            this.$eventBus.$emit('open-popup', {
                type: 'registration',
                componentProps: {
                    isForCook: this.isForCook,
                },
            });
        }

        openSendResetPassword() {
            this.$eventBus.$emit('close-popup');
            this.$eventBus.$emit('open-popup', {
                type: 'send-reset-password',
                componentProps: {
                    isForCook: this.isForCook,
                },
            });
        }
    }
</script>

