<template>
    <PopupWrapper title="Стать поваром" class="become-cook-popup">
        <BecomeCookForm
            v-if="formData && formSettings"
            class="popup__form"
            :formData="formData"
            :formSettings="formSettings" />
        <div v-else class="cook-loader" />
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TFormData from '~/types/form/TFormData';
    import BecomeCookForm from '~/components/forms/BecomeCookForm.vue';
    import TSetting from '~/types/TSetting';
    import {getJson} from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';

    @Component({
        components: {BecomeCookForm, PopupWrapper},
    })
    export default class BecomeCookFormPopup extends Vue {
        formData: TFormData | null = null;
        formSettings: TSetting[] | null = null;

        loaded: boolean = false;

        async created() {
            const response = await getJson<TAjaxResponse>('/for-cooks/become-cook/popup');

            this.loaded = true;

            if (response.success) {
                this.formData = response.data!.form as TFormData;
                this.formSettings = response.data!.settings as TSetting[];
            }
        }
    }
</script>

