<template>
    <PopupWrapper :title="popup.title">
        <div class="popup__message" v-html="popup.message" v-if="popup.message"></div>
        <CallbackForm :form-data="formData" :promo-card-id="promoCardId"/>
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import TFormData from '~/types/form/TFormData';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import CallbackForm from '~/components/forms/CallbackForm.vue';
    import TObjectCollection from '~/types/TObjectCollection';

    @Component({
        components: {
            PopupWrapper,
            CallbackForm,
        },
    })
    export default class CallbackFormPopup extends Vue {
        @Prop({default: () => []}) formData!: TFormData;
        @Prop() popup!: TObjectCollection;
        @Prop() promoCardId!: number;
    }
</script>
