<template>
    <PopupWrapper title="Изменить пароль">
        <ChangePasswordForm class="popup__form" :form-data="formData" />
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TFormData from '~/types/form/TFormData';
    import ChangePasswordForm from '~/components/forms/ChangePasswordForm.vue';

    @Component({
        components: {ChangePasswordForm, PopupWrapper},
    })
    export default class ChangePasswordFormPopup extends Vue {
        formData: TFormData | null = APP.changePasswordForm || null;
    }
</script>

