<template>
    <PopupWrapper :title="title" class="message-popup">
        <div class="popup__message" v-html="message" />
        <button class="message-popup__btn btn btn--white" @click.prevent="cancel">
            <span class="btn__text">{{ btnCancel }}</span>
        </button>
        <button class="message-popup__btn btn" @click.prevent="ok">
            <span class="btn__text">{{ btnOk }}</span>
        </button>
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import eventBus from '~/helper/event-bus';

    @Component({
        components: {PopupWrapper},
    })
    export default class ConfirmPopup extends Vue {
        @Prop({default: ''}) title!: string;
        @Prop({default: ''}) message!: string;
        @Prop({default: ''}) callback!: Function;

        @Prop({default: 'Ок'}) btnOk!: string;
        @Prop({default: 'Отменить'}) btnCancel!: string;

        ok() {
            if (this.callback) {
                this.callback();
            }

            eventBus.$emit('close-popup');
        }

        cancel() {
            eventBus.$emit('close-popup');
        }
    }
</script>

