<template>
    <PopupWrapper title="Оставить свой отзыв" class="cook-review-popup">
        <div v-if="!formData || !loaded" class="cook-loader" />
        <div v-else>
            <CookShortData
                :cook-data="cookData"
                draggable="false"
            />
            <CookReview class="popup__form" :form-data="formData" />
        </div>
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TFormData from '~/types/form/TFormData';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import {postJson} from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';
    import {showMessagePopup} from '~/helper/common';
    import CookReview from '~/components/forms/CookReview.vue';
    import {TCook} from '~/types/cook/TCook';
    import CookShortData from '~/components/popup/cook-review/CookShortData.vue';

    @Component({
        components: {SvgSymbol, CookReview, PopupWrapper, CookShortData},
    })
    export default class CookReviewPopup extends Vue {
        @Prop({default: 0}) cookId!: number;

        loaded: boolean = false;
        formData: TFormData | null = null;
        cookData: TCook | null = null;

        async created() {
            const response = await postJson<TAjaxResponse>(`/cooks/${this.cookId}/review/form`, {});

            this.loaded = true;

            if (response.success) {
                this.formData = response.data!.formData as TFormData;
                this.cookData = response.data!.cookData as TCook;
            } else {
                showMessagePopup('Ошибка', 'Произошла ошибка при загрузке формы отзыва. Пожалуйста, попробуйте позже!');
            }
        }
    }
</script>

