<template>
    <PopupWrapper title="Напишите нам">
        <FeedbackForm class="popup__form" :form-data="formData" />
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TFormData from '~/types/form/TFormData';
    import FeedbackForm from '~/components/forms/FeedbackForm.vue';

    @Component({
        components: {FeedbackForm, PopupWrapper},
    })
    export default class FeedbackFormPopup extends Vue {
        @Prop({default: () => []}) formData!: TFormData;
    }
</script>

