<template>
    <PopupWrapper title="Выберите свой город" class="locations-popup">
        <TextSearch v-model="searchQuery" :show-btn="false" :state="fieldState" />

        <div v-if="loaded">
            <div class="locations-popup__items">
                <button
                    v-for="item in items"
                    :key="item.id"
                    class="link locations-popup__item"
                    @click="selectCity(item)"
                    v-html="item.name"
                />
            </div>
            <div v-if="!items.length" class="popup-locations__empty">По&nbsp;вашему запросу местоположений не&nbsp;найдено</div>
        </div>
        <div v-else>
            <div class="locations-popup__items"></div>
            <div class="popup-locations__empty">Идёт загрузка</div>
        </div>
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TextSearch from '~/components/search/TextSearch.vue';
    import TFormField from '~/types/form/TFormField';
    import {getJson, postJson} from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';
    import Debounce from '~/decorators/debounce';

    type TLocation = {
        id: number,
        name: string,
    }

    @Component({
        components: {TextSearch, PopupWrapper},
    })
    export default class LocationsPopup extends Vue {
        items: TLocation[] = [];
        loaded: boolean = false;
        searchQuery: string = '';

        async created() {
            const response = await getJson<TAjaxResponse>('/location/data');

            this.loaded = true;

            if (response.success) {
                this.items = response.data as TLocation[];
            }
        }

        @Watch('searchQuery')
        onSearchChanged() {
            this.getFilteredData();
        }

        @Debounce({time: 300})
        async getFilteredData() {
            const response = await getJson<TAjaxResponse>('/location/data?q=' + this.searchQuery);

            if (response.success) {
                this.items = response.data as TLocation[];
            }
        }

        get hasSearch(): boolean {
            return !!this.searchQuery && this.searchQuery.trim().length > 0;
        }

        get fieldState(): TFormField {
            return {
                name: 'search',
                type: 'search',
                placeholder: 'Введите город',
            };
        }

        async selectCity(city: TLocation) {
            const response = await postJson<TAjaxResponse>('/location/set', { city: city.id });

            if (response.success) {
                if (response.reload) {
                    window.location.reload();
                } else {
                    this.$eventBus.$emit('close-popup');
                }
            }
        }
    }
</script>

