<template>
    <PopupWrapper :title="title" class="message-popup">
        <div class="popup__message" v-html="message" />
        <button class="message-popup__btn btn" @click.prevent="close">
            <span class="btn__text" v-html="buttonText" />
        </button>
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import eventBus from '~/helper/event-bus';

    @Component({
        components: {PopupWrapper},
    })
    export default class MessagePopup extends Vue {
        @Prop({default: ''}) title!: string;
        @Prop({default: ''}) message!: string;
        @Prop({default: ''}) callback!: Function;
        @Prop({default: 'Ок'}) buttonText!: string;

        close() {
            if (this.callback) {
                this.callback();
            }

            eventBus.$emit('close-popup');
        }
    }
</script>

