<template>
    <PopupWrapper title="Подтвердите номер телефона" class="verify-phone-popup" v-show="show">
        <OrderPhoneForm class="popup__form" :form-data="formData" :phone="phone" />
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TFormData from '~/types/form/TFormData';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import OrderPhoneForm from '~/components/forms/OrderPhoneForm.vue';

    @Component({
        components: {SvgSymbol, OrderPhoneForm, PopupWrapper},
    })
    export default class OrderPhonePopup extends Vue {
        @Prop({default: () => []}) formData!: TFormData;
        @Prop({default: ''}) phone!: string;
        show = false;

        mounted() {
            this.$eventBus.$on('verification-code-received', this.showPopup);
        }

        beforeDestroy() {
            this.$eventBus.$off('verification-code-received', this.showPopup);
        }

        showPopup() {
            this.show = true;
        }
    }
</script>

