<template>
    <PopupWrapper title="Регистрация" class="registration-popup">
        <button class="popup__back link link--with-icon link--dashed" @click.prevent="openAuthPopup">
            <SvgSymbol name="back-arrow" class="link__icon" />
            <span class="link__text">Я уже зарегистрирован</span>
        </button>
        <RegistrationForm class="popup__form" :form-data="formData" />
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TFormData from '~/types/form/TFormData';
    import RegistrationForm from '~/components/forms/RegistrationForm.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol, RegistrationForm, PopupWrapper},
    })
    export default class RegistrationFormPopup extends Vue {
        @Prop({default: false}) isForCook!: boolean;
        formData: TFormData | null = APP.authForms.register || null;

        openAuthPopup() {
            this.$eventBus.$emit('close-popup');
            this.$eventBus.$emit('open-popup', {
                type: 'auth',
                componentProps: {
                    isForCook: this.isForCook,
                },
            });
        }
    }
</script>

