<template>
    <PopupWrapper title="Задать новый пароль" class="registration-popup">
        <div v-if="isAuth">
            <h3>Вы уже авторизованы</h3>
        </div>
        <div v-else>
            <ResetPasswordForm class="popup__form" :form-data="formData" :email="email" :token="token" />
        </div>
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TFormData from '~/types/form/TFormData';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import ResetPasswordForm from '~/components/forms/ResetPasswordForm.vue';

    @Component({
        components: {ResetPasswordForm, SvgSymbol, PopupWrapper},
    })
    export default class SendResetPasswordFormPopup extends Vue {
        @Prop({default: ''}) email!: string;
        @Prop({default: ''}) token!: string;

        formData: TFormData = APP.authForms?.reset || null;

        get isAuth():boolean {
            return APP.isAuth;
        }
    }
</script>

