<template>
    <PopupWrapper title="Напомнить пароль" class="registration-popup">
        <button class="popup__back link link--with-icon link--dashed" @click="openAuthPopup">
            <SvgSymbol name="back-arrow" class="link__icon" />
            <span class="link__text">Вернуться к авторизации</span>
        </button>
        <div class="popup__message">
            Введите email, указанный при&nbsp;регистрации.
            Мы&nbsp;пришлем ссылку на&nbsp;изменение пароля
        </div>
        <SendResetPasswordForm class="popup__form" :form-data="formData" />
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TFormData from '~/types/form/TFormData';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import SendResetPasswordForm from '~/components/forms/SendResetPasswordForm.vue';

    @Component({
        components: {SendResetPasswordForm, SvgSymbol, PopupWrapper},
    })
    export default class SendResetPasswordFormPopup extends Vue {
        @Prop({default: false}) isForCook!: boolean;
        formData: TFormData | null = APP.authForms.resetSend || null;

        openAuthPopup() {
            this.$eventBus.$emit('close-popup');
            this.$eventBus.$emit('open-popup', {
                type: 'auth',
                componentProps: {
                    isForCook: this.isForCook,
                },
            });
        }
    }
</script>

