<template>
    <PopupWrapper title="Подтвердите номер телефона" class="verify-phone-popup">
        <VerifyPhoneForm class="popup__form" :form-data="formData" />
    </PopupWrapper>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';
    import PopupWrapper from '~/components/popup/PopupWrapper.vue';
    import TFormData from '~/types/form/TFormData';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import VerifyPhoneForm from '~/components/forms/VerifyPhoneForm.vue';

    @Component({
        components: {SvgSymbol, VerifyPhoneForm, PopupWrapper},
    })
    export default class VerifyPhonePopup extends Vue {
        @Prop({default: () => []}) formData!: TFormData;
    }
</script>

