@import "../_var";

.text-page {
    &__content-container {
        position: relative;

        &:before {
            --animation-width: 568px;

            .pseudo();
            .size(0, 680px);
            top: 0;
            right: 0;
            background: @cLightGreen;
            border-radius: 40px;
            animation: width 1s .5s forwards;
            z-index: -1;
        }
    }

    @media @mediaMd {
        &__content-container {
            &:before {
                display: none;
            }
        }
    }
}
