<template></template>

<script lang="ts">
    import {Component, Emit, Prop, Vue, Watch} from 'vue-property-decorator';
    import TObjectCollection from '~/types/TObjectCollection';
    import TFormField from '~/types/form/TFormField';

    @Component
    export default class BaseInput extends Vue {
        @Prop() value!: any;
        @Prop({required: true}) state!: TFormField;
        @Prop({default: false}) hasError!: boolean;
        @Prop({default: true}) checkValueWhenMounted!: boolean;
        @Prop({default: null}) inputFilter!: Function | null;

        initialValue = this.state?.value || '';
        currentValue = this.initialValue;

        mounted() {
            if (this.checkValueWhenMounted && this.state.value) {
                this.emitInput(this.state.value);
            }
        }

        @Watch('value')
        onValueChanged() {
            this.currentValue = this.value;
        }

        get classes(): TObjectCollection<boolean> {
            return {
                input: true,
                ['input--' + this.state.type]: true,
                'input--disabled': !!this.state.disabled,
                'input--error': this.hasError,
            };
        }

        onInput(ev: Event) {
            let value = (ev.target as HTMLInputElement).value;

            if (this.inputFilter && typeof this.inputFilter === 'function') {
                value = this.inputFilter(value);
            }

            this.currentValue = value;
            this.emitInput(value);
        }

        @Emit('input')
        emitInput(value) {}
    }
</script>
