<template>
    <div v-if="codeShown || timeoutText">
        <transition name="slide-fade">
            <div v-if="codeShown && codeSendTo == currentPhone" class="form__phone-code-verification">
                <p class="form__descr-text form__phone-code-verification-descr">На указанный номер отправлен код подтверждения</p>
                <InputLabel v-bind="labelAttrs">
                    <input
                        :class="classes"
                        :value="currentValue"
                        v-model="currentValue"
                        v-bind="state"
                        @input="onInput"
                        :maxlength="state.attrs && state.attrs.maxlength ? state.attrs.maxlength : false"
                    >
                </InputLabel>
            </div>
        </transition>
        <p v-if="timeoutText" class="form__descr-text" v-html="timeoutText" />
        <p v-if="!timeoutText && codeShown" class="form__descr-text">
            <span @click="clickSendCode" class="link link--dashed">Отправить СМС</span> на указанный номер повторно
        </p>
    </div>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue, Watch} from 'vue-property-decorator';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import route from '~/helper/route';
    import {TFormResponse} from '~/types/form/TFormResponse';
    import {postJson} from '~/helper/ajax';
    import {showMessagePopup, wordForm} from '~/helper/common';
    import TObjectCollection from '~/types/TObjectCollection';
    import {sendYmGoal} from '~/helper/seo';

    @Component({
        components: {InputLabel, FormInput},
    })
    export default class CodeVerificationInput extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {
        @Prop() phone!: string;
        @Prop() labelAttrs!: TObjectCollection;
        @Prop() type!: string;

        codeShown: boolean = false;
        currentPhone: string = '';
        codeSendTo: string = '';
        timeoutText: string = '';

        created() {
            this.currentPhone = this.phone;
            this.$eventBus.$on('send-verification-code', this.sendCode);
        }

        beforeDestroy() {
            this.$eventBus.$off('send-verification-code', this.sendCode);
        }

        @Watch('phone')
        phoneChanged() {
            this.currentPhone = this.phone;
            this.currentValue = '';
            this.emitInput('');
        }

        clickSendCode() {
            sendYmGoal('clicknumbersend');
            this.sendCode();
        }

        /**
         * Отправка кода на указанный номер
         */
        async sendCode() {
            if (!this.phone) return;

            const formData = new FormData();
            const actionUrl = route('account.send-code');
            formData.append('phone', this.phone);
            formData.set('type', this.type);

            let body: TFormResponse|null = null;
            try {
                body = await postJson<TFormResponse>(actionUrl, formData);
                this.codeSendTo = this.phone;
            } catch (e) {
                this.codeSendTo = this.phone;
                console.log(e);
                return;
            } finally {
                this.$eventBus.$emit('verification-code-received');
            }

            // @ts-ignore
            if (body.exception) {
                showMessagePopup('Ошибка', 'Произошла ошибка на сервере. Пожалуйста, попробуйте позже!');

                return;
            }

            // В прод режиме, если не хвататет CSRF токена laravel кидает просто мессадж в ответе, без exception'a
            if (body.message == 'CSRF token mismatch.') {
                showMessagePopup('Ошибка', 'Сессия истекла. Перезагрузите страницу.');

                return;
            }

            if (body.errors) {
                this.onSubmitError(body);

                return;
            }

            const timeout = body.data && body.data.timeout ? (body.data.timeout as number) : 0;
            this.startTimeout(timeout);

            this.codeShown = true;
        }

        onSubmitError(body) {
            this.$eventBus.$emit('custom-on-submit-error', body);
        }

        startTimeout(seconds: number) {
            if (seconds > 0) {
                this.codeResendSeconds = seconds;
                this.timeoutStart = new Date;
                if (this.codeInterval) {
                    clearInterval(this.codeInterval);
                }

                this.updateTimeoutText();
                this.codeInterval = setInterval(this.updateTimeoutText.bind(this), 1000);
            } else {
                clearInterval(this.codeInterval);
                this.codeInterval = null;
                this.codeResendSeconds = 0;
                this.timeoutText = '';
            }
        }

        updateTimeoutText() {
            if (!this.timeoutStart) return;

            const secondsLeft = this.codeResendSeconds - ((new Date).getTime() - this.timeoutStart.getTime()) / 1000;
            if (secondsLeft <= 0) {
                clearInterval(this.codeInterval);
                this.codeInterval = null;
                this.codeResendSeconds = 0;
                this.timeoutText = '';

            } else {
                const seconds = Math.ceil(secondsLeft);
                this.timeoutText = `Повторная отправка СМС доступна через ${seconds} секунд` + wordForm(seconds, ['у', 'ы', '']);
            }
        }
    }
</script>

<style lang="less">

</style>
