<template>
    <label class="avatar-load">
        <input
            :class="classes"
            v-bind="state"
            @change="onChange"
        >

        <span v-if="currentAvatarSrc" class="avatar-load__remove-block">
            <button class="avatar-load__remove-btn" @click.prevent="remove">
                <SvgSymbol name="trash" />
            </button>
        </span>

        <span class="avatar-load__picture">
            <img v-if="currentAvatarSrc" :src="currentAvatarSrc" alt="">
            <slot v-if="!currentAvatarSrc"></slot>
        </span>

        <span v-if="currentAvatarSrc" class="avatar-load__text">
            <span class="link link--dashed" v-html="state.label" />
        </span>

        <span v-else class="avatar-load__placeholder" v-html="state.placeholder" />

        <div v-if="selfError.length > 0" class="upload-input__errors">
            <div
                v-for="(error, index) in selfError"
                :key="error + index"
                class="upload-input__error"
                v-html="error"
            />
        </div>
    </label>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import {fileExt, fileIsImage, fileSize} from 'sx-vue-form-validator';
    import {TValidatorRuleState} from 'sx-vue-form-validator/src/types';

    @Component({
        components: {SvgSymbol},
    })
    export default class FormAvatarInput extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {
        @Prop({default: ''}) avatarSrc!: string;
        @Prop({default: []}) rules!: { [ruleName: string]: TValidatorRuleState };

        selfError: string[] = [];
        currentAvatarSrc = this.avatarSrc;
        currentAvatarObj: File|null = null;

        onChange(ev: Event) {
            const target = ev.target as HTMLInputElement;
            const files = target.files;

            this.selfError = [];

            if (!files || files.length === 0) {
                return;
            }

            // @ts-ignore
            let sizeParams = this.rules.fileSize.params.max || 5;
            const validators = [fileIsImage, fileExt(['jpg', 'png', 'jpeg']), fileSize(sizeParams)];
            const file = files[0];
            validators.forEach(validator => {
                const isValid = validator(file);
                if (isValid !== true) this.selfError.push(isValid);
            });
            if (this.selfError.length) return;

            const fileReader = new FileReader();

            fileReader.addEventListener('loadend', (frEvent: ProgressEvent) => {
                this.currentAvatarSrc = (frEvent.target as FileReader).result as string;
            });

            fileReader.readAsDataURL(files[0]);
            this.currentAvatarObj = files[0] || null;

            this.emitInput([this.currentAvatarObj]);
        }

        remove() {
            this.selfError = [];
            this.currentAvatarSrc = this.avatarSrc;
            this.currentAvatarObj = null;
            this.emitInput([]);
        }
    }
</script>
