<template>
    <input
        :class="classes"
        :value="currentValue"
        v-bind="state"
        v-mask="'+7 (###) ###-##-##'"
        @input="onInput"
    >
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue} from 'vue-property-decorator';
    import {mask} from 'vue-the-mask';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';

    @Component({
        directives: {mask},
    })
    export default class FormPhone extends Mixins(BaseInput, Vue) {
        @Prop({default: false}) disabled!: boolean;

        onInput(ev: Event) {
            let value = (ev.target as HTMLInputElement).value;

            if (value[0] === '8' && value.length === 11) {
                value = value.slice(1);
                // если не делать этого, то v-mask стирает последнее значение
                (ev.target as HTMLInputElement).value = value;
            }

            if (this.inputFilter && typeof this.inputFilter === 'function') {
                value = this.inputFilter(value);
            }

            this.currentValue = value;
            this.emitInput(value);
        }
    }
</script>
