<template>
    <div class="multi-checkbox-tag">
        <div class="multi-checkbox-tag__label" v-html="state.label" />
        <div v-if="options" class="multi-checkbox-tag__items">
            <label
                v-for="option in options"
                :key="option.id"
                class="multi-checkbox-tag__item btn btn--sm"
                :class="{'multi-checkbox-tag__item--active': currentValue && currentValue.includes(option.id)}"
            >
                <span class="btn__text" v-html="option.value" />
                <input
                    type="checkbox"
                    :true-value="[]"
                    :value="option.id"
                    v-model="currentValue"
                    class="multi-checkbox-tag__input"
                >
            </label>
        </div>
        <div
            v-if="error"
            class="multi-input__error"
            v-html="error"
        />
    </div>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue, Watch} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';

    @Component
    export default class FormMultiCheckboxTag extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {
        @Prop({default: ''}) error!: string;

        initialValue: string[] | null = this.state.value;
        currentValue: string[] = this.initialValue || [];

        @Watch('currentValue')
        onCurrentValueChanged() {
            this.emitInput(this.currentValue);
        }

        get options() {
            const options = this.state.options || {};
            // @ts-ignore
            const valueOptions = options.value_options || [];

            return valueOptions.map(obj => { return { id: obj.id, value: obj.value }; });
        }
    }
</script>
