<template>
    <div class="textarea-wrap custom-scrollbar" :class="{'textarea-wrap--error': hasError}">
        <textarea
            ref="input"
            :class="classes"
            :placeholder="state.placeholder"
            :disabled="state.disabled"
            :value="this.currentValue"
            v-html="this.currentValue"
            v-bind="state"
            @input="onInput"
            :maxlength="state.attrs && state.attrs.maxlength ? state.attrs.maxlength : false"
        />
    </div>
</template>

<script lang="ts">
    import {Component, Mixins, Ref, Vue} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';

    @Component
    export default class FormTextarea extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {
        @Ref('input') input!: HTMLTextAreaElement;

        onInput(ev: Event) {
            const value = (ev.target as HTMLInputElement).value;

            this.currentValue = value;
            this.emitInput(value);

            // this.input.style.height = this.input.scrollHeight + 'px';
        }
    }
</script>
