<template>
    <button
        v-if="this.$parent.$refs.input"
        class="btn"
        :class="{['btn--' + color]: color,}"
        @keydown.prevent.tab.exact="focusOnForm()"
        v-bind="state"
    >
        <span class="btn__text" v-html="state.label" />
    </button>
    <button
        v-else
        class="btn"
        :class="{['btn--' + color]: color,}"
        v-bind="state"
    >
        <span class="btn__text" v-html="state.label" />
    </button>
</template>

<script lang="ts">
    import {Component, Mixins, Vue, Prop} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';

    @Component
    export default class FormSubmit extends Mixins(BaseInput, Vue) {
        @Prop({default: ''}) color!: string;

        focusOnForm() {
            if (!this.$parent.$refs.input || !this.$parent.$refs.input.$el) {
                return;
            }
            this.$parent.$refs.input.$el.focus();
        }
    }
</script>
