<template>
    <div class="multi-checkbox" :class="{'multi-checkbox--two-columns': twoColumns}">
        <div v-if="options" class="multi-checkbox__items">
            <label v-for="option in options" :key="option.id" class="checkbox">
                <input
                    class="checkbox__input"
                    type="checkbox"
                    :value="option.id"
                    :true-value="[]"
                    v-model="currentValue"
                >
                <span class="checkbox__label">
                    <span v-html="option.value" />
                </span>
                <SvgSymbol name="checkbox" class="checkbox__icon" />
            </label>
        </div>
        <div
            v-if="error"
            class="multi-input__error"
            v-html="error"
        />
    </div>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue, Watch} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormCheckbox from '~/components/forms/fields/FormCheckbox.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    @Component({
        components: {SvgSymbol, FormCheckbox},
    })
    export default class FormMultiCheckbox extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {
        @Prop({default: false}) twoColumns!: boolean;
        @Prop({default: ''}) label!: string;
        @Prop({default: ''}) error!: string;

        initialValue: string[] | null = this.state.value;
        currentValue: string[] = this.initialValue || [];

        get options() {
            const options = this.state.options || {};
            // @ts-ignore
            const valueOptions = options.value_options || [];

            return valueOptions.map(obj => { return { id: obj.value, value: obj.label }; });
        }

        @Watch('currentValue')
        onCurrentValueChanged() {
            this.emitInput(this.currentValue);
        }
    }
</script>
