<template>
    <input
        :class="{...classes, 'input--disabled': disabled}"
        :value="currentValue"
        v-model="currentValue"
        v-bind="state"
        @input="onInput"
        :maxlength="state.attrs && state.attrs.maxlength ? state.attrs.maxlength : false"
    >
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';

    @Component
    export default class FormInput extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {
        @Prop({default: false}) disabled!: boolean;
    }
</script>
