<template>
    <div class="form-date" @keyup.esc="close">
        <DatePicker
            v-bind="fieldAttrs"
            ref="picker"
            :input-class="inputClass"
            v-model="localValue"
            @change="onChange"
            :clearable="false">

            <template v-slot:icon-calendar >
                <SvgSymbol name="calendar" class="form-date__icon" />
            </template>

        </DatePicker>
    </div>
</template>

<script lang="ts">
    import {Component, Mixins, Ref, Vue, Watch} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/locale/ru';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import {DATE_FORMAT_FORM_INPUT, parseServerDate} from '~/helper/datetime';
    import TObjectCollection from '~/types/TObjectCollection';

    @Component({
        components: {
            SvgSymbol,
            DatePicker,
        },
    })
    export default class FormDate extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {
        @Ref('picker') picker;

        localValue: Array<Date|null> | Date |null = null;

        created() {
            this.onValueChanged();
        }

        get inputClass(): string {
            return [
                'input',
                'input--text',
                this.hasError ? 'input--error' : '',
            ].join(' ');
        }

        @Watch('value')
        onValueChanged() {
            if (!(this.value instanceof Date || typeof this.value === 'string' || (Array.isArray(this.value) && this.value.filter((value) => !!value).length))) {
                this.localValue = this.isMultiple ? [null, null] : null;

                return;
            }

            if (typeof(this.value) === 'string') {
                if (this.value.trim() === '') {
                    this.localValue = null;
                } else {
                    this.localValue = this.convertToDate(this.value);
                }

                return;
            }

            if (this.value instanceof Date) {
                this.localValue = this.value;

                return;
            }

            if (Array.isArray(this.value)) {
                this.localValue = this.value.map(this.convertToDate);
            }
        }

        onChange() {
            this.$emit('input', this.localValue);
            this.$emit('change', this.localValue);
        }

        convertToDate(value): Date | null {
            if (typeof(value) === 'string' && value.trim() === '') {
                return null;
            }

            if (value instanceof Date) {
                return value;
            }

            return parseServerDate(value);
        }

        get fieldAttrs() {
            let attrs: {[key: string] : any} = {};

            attrs.type = this.field?.options?.type || 'date';
            attrs.valueType = 'date';
            attrs.format = this.field?.options?.format ||  DATE_FORMAT_FORM_INPUT;
            attrs.lang = this.field?.options?.lang || 'ru';
            attrs.disabled = this.field?.disabled || false;
            attrs.titleFormat = 'D MMMM YYYY';
            attrs.rangeSeparator = ' – ';

            attrs.inputAttr = this.inputAttr;

            attrs.disabledDate = this.disabledDate.bind(this);
            attrs.disabledCalendarChanger = this.disabledCalendarChanger.bind(this);

            if (this.field?.placeholder) {
                attrs.placeholder = this.field.placeholder;
            }

            if (this.isMultiple) {
                attrs.range = true;
            }

            return attrs;
        }

        get inputAttr(): TObjectCollection {
            let attrs: TObjectCollection = {};

            if (this.field?.state?.inputName) {
                attrs.name = this.field?.state.inputName;
            } else if (this.field?.name) {
                attrs.name = this.field.name;
            }

            if (this.field?.required) {
                attrs.required = 'required';
            }

            if (typeof this.field?.attrs === 'object' && !Array.isArray(this.field.attrs)) {
                attrs = Object.assign(attrs, this.field.attrs);
            }

            if (this.field?.disabled) {
                attrs.disabled = 'disabled';
            } else {
                delete attrs.disabled;
            }

            attrs.type = 'text'; // иначе не появляется placeholder

            return attrs;
        }

        convertDateList(dateList): Array<Date>|undefined {
            if (dateList === undefined) return undefined;

            dateList = Array.isArray(dateList) ? dateList : [];
            dateList = dateList.map((dateStr) => typeof dateStr === 'string' ? this.convertToDate(dateStr) : null).filter((value) => !!value);

            return dateList;
        }

        disabledDate(date: Date): boolean {
            let curDate = Date.now();
            let day = 60 * 60 * 24 * 1000;

            return date.getTime() < new Date(curDate - day).getTime();
        }

        disabledCalendarChanger() {
            return false;
        }

        close() {
            this.picker?.$refs?.input?.blur();
            this.picker?.closePopup();
        }
    }
</script>
