<template>
    <div class="form-input recaptcha-input" v-if="field">
        <input type="hidden"
               v-model="inputValue"
               name="g-recaptcha-input"
        />
    </div>
</template>

<script lang="ts">
    import {Component, Model, Prop, Vue, Watch} from 'vue-property-decorator';
    import TFormField from '~/types/form/TFormField';

    const API_SERVER = 'https://www.google.com/recaptcha/api.js';

    @Component({
        components: {},
        inheritAttrs: false,
    })
    export default class FormReCaptcha extends Vue {
        @Prop() field?: TFormField;

        @Model('input', { type: String }) value!: string;

        inputValue: string = '';
        grecaptcha?: any;

        created() {
            this.$eventBus.$on('focus-error', this.onFocusError);

            this.load(this.field?.options).then(() => {
                window['grecaptcha'].ready(() => {
                    this.grecaptcha = window['grecaptcha'];
                    this.execute();
                });
            });
        }

        onFocusError(event) {
            if (this.field?.disabled) return;

            if (event.preventDefault ||
                !event.formElement || !event.formElement.contains(this.$el)
            ) {
                return;
            }

            event.preventDefault = this.focus();
        }

        @Watch('value')
        onValueChanged(newValue) {
            this.inputValue = newValue;
        }

        focus(): boolean {
            return false;
        }

        execute() {
            if (!this.grecaptcha) return Promise.reject();

            if (this.inputValue.length) {
                return Promise.resolve();
            }

            // @ts-ignore
            const siteKey = this.field?.options?.siteKey;
            const params = { action: 'submit' };

            let result;

            try {
                result = this.grecaptcha.execute(siteKey, params);
            } catch (e) {
                return Promise.reject();
            }

            result.then((token) => {
                this.$emit('input', token);
            });

            return result;
        }

        load(options?: object|any) {
            if (window['APP'] && window['APP']['RECAPTCHA_LOADED']) return Promise.resolve();

            return new Promise<void>((resolve, reject) => {
                let script = document.createElement('script');

                script.async = true;
                script.type = 'text/javascript';
                script.src = API_SERVER + '?render=' + (options?.siteKey || '');
                script.onload = () => {
                    window['APP'] = window['APP'] || {};
                    window['APP']['RECAPTCHA_LOADED'] = 1;

                    resolve();
                };

                script.onerror = () => {
                    reject();
                };

                const body = document.querySelector('body');
                if (!body) {
                    reject();

                    return;
                }

                body.appendChild(script);
            });
        }
    }
</script>
