<template>
    <div class="password-wrap" :class="{'password-wrap--show': showPassword, 'password-wrap--error': hasError}">
        <input
            :type="type"
            :class="classes"
            :value="currentValue"
            v-bind="state"
            @input="onInput"
        >
        <div v-if="showIcon" class="password-wrap__icon-wrap">
            <SvgSymbol name="password" class="password-wrap__icon" @click.native.prevent="toggleShow" />
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Emit, Mixins, Prop, Vue, Watch} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class FormPassword extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {
        @Prop({default: false}) show!: boolean;
        @Prop({default: true}) showIcon!: boolean;

        showPassword: boolean = this.show;

        @Watch('show')
        onShowChanged() {
            this.showPassword = this.show;
        }

        @Watch('showPassword')
        onShowPasswordChanged() {
            this.emitChangeShow(this.showPassword);
        }

        get type(): string {
            return this.showPassword
                ? 'text'
                : this.state.type;
        }

        toggleShow() {
            this.showPassword = !this.showPassword;
        }

        @Emit('change-show')
        emitChangeShow(state: boolean) {}
    }
</script>
