<template>
    <div class="upload-input">
        <div class="upload-input__attach-lists">
            <AttachList v-if="imagesSrc.length" :items="imagesSrc" class="upload-input__images" @delete="deleteFile" />
            <AttachList v-if="existingPictures.length" :items="existingPictures" class="upload-input__images" @delete="deleteExistingFile" />
        </div>
        <label class="upload-input__btn link link--with-icon link--dashed">
            <SvgSymbol name="attach-image" class="link__icon" />
            <span class="link__text" v-html="state.placeholder" />
            <input
                :class="classes"
                :value="currentValue"
                v-model="currentValue"
                v-bind="state"
                @change="onChange"
            >
        </label>

        <span v-if="state.label" class="upload-input__label" v-html="state.label" />

        <div v-if="selfError.length > 0 || error" class="upload-input__errors">
            <div
                v-if="error"
                class="upload-input__error"
                v-html="error"
            />
            <div
                v-for="(error, index) in selfError"
                :key="error + index"
                class="upload-input__error"
                v-html="error"
            />
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue, Watch} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import TObjectCollection from '~/types/TObjectCollection';
    import AttachList from '~/components/AttachList.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import {fileExt, fileIsImage, fileSize} from 'sx-vue-form-validator';
    import {TValidatorRuleState} from 'sx-vue-form-validator/src/types';
    import {TPictureObj} from '~/types/dish/TDish';

    @Component({
        components: {SvgSymbol, AttachList},
    })
    export default class FormFile extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {
        @Prop({default: ''}) error!: string;
        @Prop({default: []}) rules!: { [ruleName: string]: TValidatorRuleState };
        @Prop({default: 1}) max!: number;
        @Prop({default: () => []}) existingPictures!: TPictureObj[];

        imagesSrc: string[] = [];
        imagesObj: File[] = [];
        selfError: string[] = [];
        booted: boolean = false;

        get classes(): TObjectCollection<boolean> {
            return {
                input: true,
                ['input--' + this.state.type]: true,
                'input--disabled': !!this.state.disabled,
                'input--error': this.hasError,
            };
        }

        @Watch('value')
        onValueChanged() {
            // do nothing
        }

        onChange(ev: Event) {
            const target = ev.target as HTMLInputElement;
            const files = target.files;

            if (!files || !files.length) {
                return;
            }

            this.selfError = [];

            // @ts-ignore
            let sizeParams = this.rules.fileSize.params.max || 5;
            const validators = ([
                this.rules.fileIsImage ? fileIsImage : null,
                // @ts-ignore
                this.rules.fileExt ? fileExt(this.rules.fileExt.params) : null,
                this.rules.fileSize ? fileSize(sizeParams) : null,
            ])
                .filter(rule => !!rule) as Function[];

            Array.from(files).forEach(file => {
                validators.forEach(validator => {
                    const isValid = validator(file);
                    if (isValid !== true) this.selfError.push(isValid);
                });
                if (this.selfError.length) return;

                const fr = new FileReader();

                fr.addEventListener('loadend', (frEvent: ProgressEvent) => {
                    if (!this.isMultiple) {
                        this.imagesSrc = [];
                        this.imagesObj = [];
                    }

                    if ((this.imagesObj.length + this.existingPictures.length) >= this.max) {
                        this.selfError.push('Максимум файлов - ' + this.max);

                    } else {
                        this.imagesObj.push(file);
                        this.imagesSrc.push((frEvent.target as FileReader).result as string);
                        this.emitInput(this.imagesObj);
                    }
                });

                fr.readAsDataURL(file);
            });
        }

        deleteFile(index: number) {
            this.selfError = [];
            this.imagesObj.splice(index, 1);
            this.imagesSrc.splice(index, 1);
        }

        deleteExistingFile(index: number) {
            this.$emit('emitDeletePicture', index);
        }

        get isMultiple(): boolean {
            return !!this.state.multiple;
        }
    }
</script>
