<template>
    <div class="rating-input">
        <div class="rating-input__row">
            <div
                v-for="i in 5"
                :key="i"
                class="rating-input__star"
                @click="setRating(i)"
            >
                <SvgSymbol
                    name="star40"
                    class="rating-input__star-icon"
                    :class="{'rating-input__star-icon--filled': i <= parseInt(currentValue, 10)}"
                />
            </div>
        </div>
        <div class="rating-input__row">
            <div class="rating-input__text">очень плохо</div>
            <div class="rating-input__text">восхитительно</div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue} from 'vue-property-decorator';
    import BaseInput from '~/components/forms/fields/BaseInput.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class StarRating extends Mixins<TExtendComponent<BaseInput>>(BaseInput, Vue) {
        @Prop({default: false}) checkValueWhenMounted!: boolean;
        @Prop({default: ''}) error!: string;

        setRating(num: number) {
            this.currentValue = num;
            this.emitInput(this.currentValue);
        }
    }
</script>
