@import "../../_var";

.cross-btn {
    --cross-btn-line-width: 1px;
    --cross-btn-size: 24px;
    --cross-btn-icon-size: var(--cross-btn-size);

    .clear-button();
    .transit(~'opacity, color');
    .size(var(--cross-btn-size));
    display: block;
    position: relative;
    color: currentColor;
    cursor: pointer;

    .hover({
        &:before {
            transform: rotate(-45deg);
        }

        &:after {
            transform: rotate(-135deg);
        }
    });

    &:before,
    &:after {
        .pseudo();
        .size(calc(var(--cross-btn-icon-size) * 1.3), var(--cross-btn-line-width));
        .transit(~'transform');
        left: calc(50% - var(--cross-btn-icon-size) * 1.3 / 2);
        top: calc(50% - var(--cross-btn-line-width)/2);
        background: currentColor;
        will-change: transform; // fix У крестика после окончания анимации одна из линий утолщается
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}
