@import "../../_var";

/**
 * Текстовые ссылки
 *
 * .link отвечает за очистку дефолтных стилей + зеленый цвет по ховеру и для выбранных ссылок
 * модификатор &--uline, &--hover-uline, &--dashed, &--hover-dashed добавляет подчёркивание + зеленый цвет (стандартный для ссылок с подчёркиванием по UI Kit)
 * модификатор .link--with-icon используется для ссылок с иконками (задаёт отступ + стили подчёркивания в комбинации с .link--uline и пр.
 *
 * Использование:
 * Классы &--uline и &--hover-uline со сплошным подчёркиванием используются для ссылок, которые служат для перехода на другую страницу
 * Классы &--dashed и &--hover-dashed с пунктирным подчёркиванием используются для ссылок, которые служат для действия на сайте (попапы, ajax-подгрузка и пр.)
 * Класс .link используется для ссылок, где по дизайну не нужно подчёркивание (например, наименования в карточках)
 *
 * обёртка .link__text нужна только для ссылок с иконками, т.к. она разграничивает подчёркивание у иконки и текста
 */
.link {
    --link-color: currentColor;
    --link-icon-color: var(--link-color);
    --link-gap: 10px;

    --link-hover-color: @cGreen;
    --link-hover-icon-color: var(--link-hover-color);

    --link-selected-color: @cGreen;
    --link-selected-icon-color: var(--link-selected-color);

    .clear-button();
    .clear-link(var(--link-color));
    .transit(~'opacity, border-bottom-color, color');
    cursor: pointer;

    .hover({
        color: var(--link-hover-color);

        .link {
            &__icon {
                color: var(--link-hover-icon-color);
            }
        }
    });

    &__icon {
        .transit(color);
        position: relative;
        flex-shrink: 0;
        color: var(--link-icon-color);
    }

    &__text {
        .transit(~'border-bottom-color');
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
    }

    .link__icon + .link__text,
    .link__text + .link__icon {
        margin-left: var(--link-gap);
    }

    // Ссылка с икнокой
    &--with-icon {
        display: inline-flex;
        align-items: center;
        max-width: 100%;
    }

    // Выбранная ссылка
    &--selected,
    &--current {
        --link-border-color: currentColor !important;

        pointer-events: none;
        color: var(--link-selected-color);

        .link {
            &__icon {
                color: var(--link-selected-icon-color);
            }
        }
    }

    // Неактивная ссылка
    &--disabled {
        pointer-events: none;
    }

    // Ссылка с подчёркиванием
    &--uline,
    &--hover-uline,
    &--dashed,
    &--hover-dashed {
        --link-color: @cGreen;
        --link-border-style: solid;
        --link-border-width: 1px;

        border-bottom: var(--link-border-width) var(--link-border-style) var(--link-border-color);

        &.link--with-icon {
            border-width: 0 !important;

            .link {
                &__text {
                    .transit(~'border-bottom-color');
                    border-width: var(--link-border-width);
                    border-bottom-style: inherit;
                    border-bottom-color: inherit;
                    white-space: nowrap;
                    margin-bottom: calc(-1 * var(--link-border-width));
                }
            }
        }

        .hover({
            border-bottom-color: var(--link-hover-border-color);
        }, false, false);
    }

    &--uline,
    &--dashed {
        --link-border-color: currentColor;
        --link-hover-border-color: transparent;
    }

    &--hover-uline,
    &--hover-dashed {
        --link-border-color: transparent;
        --link-hover-border-color: currentColor;
    }

    &--dashed,
    &--hover-dashed {
        --link-border-style: dashed;
    }
}
