@import "../../_var";

.slider-nav {
    position: relative;
    z-index: 2;
    display: grid;
    align-items: center;
    grid-template-columns: calc(var(--arrow-size) * 2 + var(--grid-gap)) 1fr calc(var(--arrow-size) * 2 + var(--grid-gap));
    grid-template-areas: 'empty btn arrows';
    margin-top: var(--m40);

    &__btn {
        grid-area: btn;
        justify-self: center;
    }

    &__arrows {
        grid-area: arrows;
    }

    &--large {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: calc(-1 * var(--arrow-size)/2);
        padding:0 var(--m20);
        pointer-events: none;

        .slider-nav {
            &__arrows {
                * {
                    pointer-events: auto;
                }
            }
        }
    }

    @media @mediaMobile {
        grid-template-areas: 'btn';
        grid-template-columns: 1fr;

        &__arrows {
            display: none;
        }

        &:not(.slider-nav--with-btn) {
            display: none;
        }
    }
}
