<template>
    <div class="pagination"
         :class="cssClass"
         v-if="data && data.last_page > 1 && data.current_page < data.last_page"
         v-intersect.in="onLook.bind(null)" />
</template>

<script lang="ts">
    import {Component, Mixins, Vue} from 'vue-property-decorator';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import Pagination from '~/components/pagination/Pagination.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class LookLoader extends Mixins<TExtendComponent<Pagination>>(Pagination, Vue) {
        onLook() {
            this.$emit('pagination-look', {link: {url: this.data.next_page_url}});
        }
    }
</script>
