<template>
    <div class="pagination" :class="cssClass" v-if="data && data.last_page > 1 && data.current_page < data.last_page">
        <div class="pagination__more-button-wrapper">
            <button class="pagination__more-button btn btn--clear"
                    @click="onMoreClick()"
                    v-html="'Ещё'"/>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Mixins, Vue} from 'vue-property-decorator';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import Pagination from '~/components/pagination/Pagination.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class MoreButton extends Mixins<TExtendComponent<Pagination>>(Pagination, Vue) {
        onMoreClick() {
            this.$emit('pagination-click', {link: {url: this.data.next_page_url}});
        }
    }
</script>
