<template>
    <div class="pagination" :class="cssClass" v-if="data && data.last_page > 1">
        <div class="pagination__pages">
            <a class="pagination__arrow"
               @click.prevent="onPrevClick"
               :href="this.data.prev_page_url"
               :class="{'pagination__arrow--disabled': prevDisable()}"
            >
                <SvgSymbol name="prev" />
            </a>

            <a class="pagination__page"
               v-for="(link, index) in data.links"
               :key="getKey(link, index)"
               :class="{'pagination__page--disabled': link.label === '...', 'pagination__page--current': link.active}"
               :href="!link.active ? link.url : null"
               @click.prevent="onPageClick(link)"
            >{{ link.label }}</a>

            <a class="pagination__arrow"
               @click.prevent="onNextClick()"
               :href="this.data.next_page_url"
               :class="{'pagination__arrow--disabled': nextDisable()}"
            >
                <SvgSymbol name="next" />
            </a>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import {TPaginationData} from '~/types/pagination/TPaginationData';
    import {TPaginationLink} from '~/types/pagination/TPaginationLink';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class Pagination extends Vue {
        @Prop({default: ''}) additionalClass!: string;
        @Prop({default: () => {}}) data!: TPaginationData;

        get cssClass() {
            const result = {};

            if (this.additionalClass) {
                result[this.additionalClass] = true;
            }

            return result;
        }

        onPageClick(link: TPaginationLink) {
            this.$emit('pagination-click', {link});
        }

        onPrevClick() {
            this.$emit('pagination-click', {link: {url: this.data.prev_page_url}});
        }

        prevDisable() {
            return this.data.current_page === 1;
        }

        nextDisable() {
            return this.data.current_page === this.data.last_page;
        }

        onNextClick() {
            this.$emit('pagination-click', {link: {url: this.data.next_page_url}});
        }

        getKey(link: TPaginationLink, index: number): string {
            if (link.label === '...') {
                return link.label + index;
            }

            return link.url ? link.url : index.toString();
        }
    }
</script>
