@import "../../_var";

.order-basket {
    padding: 20px;
    background: @cLightGreen;
    border-radius: 20px;
    max-width: 300px;

    ::selection {
        background-color: @cGreen
    }

    &__title {
        font: 600 var(--fs16)/var(--lh16) @font;
    }

    &__cook {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        margin-top: 10px;
        flex-wrap: wrap;
    }

    &__name {
        font: 700 var(--fs16)/var(--lh16) @font;
        color: @cGreen;
    }

    &__speciality {
        font: 400 var(--fs12)/var(--lh12) @font;
        color: @cTextGrey;
    }

    &__image {
        .size(56px);
        border-radius: 50%;
        border: 2px solid @cWhite;
        overflow: hidden;
        box-sizing: border-box;
        margin-right: 12px;

        > img {
            width: fit-content;
            display: block;
        }
    }

    &__rows-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }

    &__edit-btn {
        color: @cGreen;
        --link-hover-icon-color: @cTextBlack;
        --link-hover-color: @cTextBlack;
    }

    &__rows {
        margin-bottom: 20px;
    }

    &__row {
        margin-bottom: 12px;
    }

    &__row-name {
        font: 600 var(--fs12)/var(--lh12) @font;
    }

    &__row-props {
        font: 400 var(--fs12)/var(--lh12) @font;
        color: @cTextGrey;
    }

    &__row-portions {
        display: inline-block;
    }

    &__row-price {
        display: inline-block;
    }

    &__total {
        font: 900 var(--fs20)/var(--lh20) @captionFont;
        text-align: right;
        grid-area: total;
    }

    &__total-price {
        font: 700 var(--fs40)/var(--lh20) @font;
        display: inline-block;
    }

    &__btn {
        margin-top: 16px;
        width: 100%;
        grid-area: btn;
    }

    &__cook-col {
        grid-area: cook;
    }

    &__composition-col {
        grid-area: composition;
    }

    &--two-cols {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'cook composition' 'btn total';

        @media @mediaSm {
            grid-template-columns: 1fr;
            grid-template-areas: 'cook' 'composition' 'total' 'btn';
        }
    }
}
