@import "../../_var";

.order-success {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: var(--grid-gap);

    &__left {
        position: relative;
    }

    &__text {
        margin-bottom: var(--m10);
    }

    &__basket {
        margin-top: var(--m40);
    }

    &__right {
        position: relative;
        height: 500px;
    }

    @media @mediaMd {
        grid-template-columns: 9fr 4fr;
    }

    @media @mediaSm {
        grid-template-columns: 1fr;
    }

    &__macaron {
        .proportional-size();
        position: absolute;
        left: 1%;
        top: -6%;
        z-index: 2;
        width: 100% * 455/469;

        @media @mediaMobile {
            display: none;
        }
    }

    &__macaron-1,
    &__macaron-2 {
        .size(100%);
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;

        &:before {
            .pseudo();
            .size(100%);
            top: 0;
            left: 0;
            background: no-repeat 0 0;
            background-size: contain;
        }
    }

    &__macaron-1:before {
        background-image: url('@{imagePath}ask-block/macaron-1.png');
    }

    &__macaron-2:before {
        background-image: url('@{imagePath}ask-block/macaron-2.png');
    }

    &__circle {
        .size(428px);
        position: absolute;
        top: 140px;
        right: -7px;
        border-radius: 50%;
        background: @cLightGreen;
        pointer-events: none;

        @media @mediaXl {
            display: none;
        }

        @media @mediaMobile {
            display: none;
        }
    }
}
