@import "../../_var";

.order-section {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-gap: var(--grid-gap);

    &__right {
        position: relative;
    }

    &__decor {
        position: absolute !important;
        bottom: -79px;
        right: -168px;

        @media @mediaLg {
            width: 100% !important;
            right: 0;
            bottom: 0;
        }

        @media @mediaSm {
            display: none;
        }
    }

    @media @mediaSm {
        grid-template-columns: 1fr;
    }
}
