@import "../../_var";

.order-form {
    padding: 26px 30px;
    background: @cWhite;
    border-radius: 20px;

    @media @mediaMd {
        padding: 20px;
    }

    @media @mediaXs {
        margin-left: -15px;
        margin-right: -15px;
        padding: 20px;
    }

    &__group {
        position: relative;
        padding-left: 68px;
        padding-bottom: 20px;
        border-bottom: 1px solid @cBordersGrey;
        margin-bottom: 26px;

        &--last {
            border-bottom: none;
            margin-bottom: 0;
        }

        @media @mediaMd {
            padding-left: 0;
        }
    }

    &__group-num {
        .size(48px);
        border-radius: 50%;
        font: 900 var(--fs20) @captionFont;
        display: flex;
        align-items: center;
        justify-content: center;
        background: @cLightGreen;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__group-title {
        font: 900 var(--fs20) @captionFont;
        height: 48px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        text-transform: uppercase;

        @media @mediaMd {
            margin-left: 68px;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 50px;

        @media @mediaMd {
            grid-column-gap: var(--grid-gap);
        }

        @media @mediaXs {
            grid-template-columns: 1fr;
        }
    }

    &__ceil {
        display: flex;
        flex-direction: column;
        margin-bottom: 26px;
    }

    &__subtitle {
        font: 700 var(--fs16)/var(--lh16) @font;
    }

    &__info-text {
        font: 400 var(--fs14)/var(--lh14) @font;

        &--gray {
            color: @cTextGrey;
        }
    }

    &__distance {
        margin-top: 12px;
        font: 400 var(--fs12)/var(--lh12) @font;
        color: @cTextGrey;
    }

    &__distance-icon {
        display: inline-block;
        color: @cGreen;
        vertical-align: sub;
        margin-right: 2px;
    }

    &__address {
        &--open {
            z-index: 7;
        }
    }

    &__address-input {
        position: relative;

        &--open {
            z-index: 3;
        }
    }

    &__submit-wrap {
        display: flex;
        justify-content: flex-end;
    }
}
