@import "../../_var";

.ol, .text-content ol {
    --ol-color: currentColor;
    --ol-marker-color: @cGreen;

    .clear-list();
    counter-reset: number;
    color: var(--ol-color);

    > li {
        position: relative;
        padding-left: 48/20em;

        &:not(:last-child) {
            margin-bottom: .7em;
        }

        &:before {
            counter-increment: number;
            content: counter(number);
            position: absolute;
            left: 0;
            top: 0;
            color: var(--ol-marker-color);
            font-weight: 700;
        }

        &:nth-child(-n + 9) {
            &:before {
                content: '0' counter(number);
            }
        }
    }
}

.ol--grey, .text-content--grey ol {
    --ol-color: @cTextGrey;
    --ol-marker-color: @cTextGrey;
}
