@import "../../_var";

.table-wrap {
    overflow: auto;

    @media @mediaSm {
        .table, table {
            min-width: 500px;
        }
    }
}

.table, .text-content table {
    border-collapse: collapse;
    table-layout: fixed;

    tr {

    }

    th {
        padding-bottom: 16px;
        font-weight: normal;
        text-align: left;
        border-bottom: 10px solid @cGreen;
    }

    td {
        padding: var(--m20) 0;
        vertical-align: top;
        border-bottom: 1px solid @cBgGrey;
    }

    td, th {
        &:not(:first-child) {
            padding-left: var(--m60);
        }
    }
}
