@import "../../_var";

.ul, .text-content ul {
    --ul-color: currentColor;
    --ul-marker-color: @cGreen;

    .clear-list();
    color: var(--ul-color);

    > li {
        position: relative;
        padding-left: 30/20em;

        &:not(:last-child) {
            margin-bottom: .7em;
        }

        &:before {
            .pseudo();
            .size(10/20em);
            top: .8em;
            left: .2em;
            margin: -5/20em;
            border-radius: 50%;
            background: var(--ul-marker-color);
        }
    }
}

.ul--grey, .text-content--grey ul {
    --ul-color: @cTextGrey;
    --ul-marker-color: @cTextGrey;
}
