<template>
    <button class="add-card">
        <span class="add-card__content">
            <span class="add-card__btn" />
            <span class="add-card__text" v-html="text" />
        </span>
    </button>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';

    @Component
    export default class AddCard extends Vue {
        @Prop({default: ''}) text!: string;
    }
</script>
