<template>
    <img :src="src" :srcset="srcSet" :alt="alt" :width="width" :height="height" :class="classes" />
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import Detector from '~/helper/detector';
    import { TBackendImage } from '~/types/images';

    @Component
    export default class BackendImage extends Vue {
        @Prop() image: TBackendImage | undefined;
        @Prop() alt: string | undefined;
        @Prop() classes: string | undefined;

        get src() {
            if (this.image && Detector.hasWebpSupport && this.image.webp) {
                return this.image.webp.src;
            } else if (this.image) {
                return this.image.originalSrc;
            } else {
                return 'javascript:void(0)';
            }
        }

        get srcSet() {
            if (this.image && Detector.hasWebpSupport && this.image.webp) {
                return this.image.webp.srcset ? this.image.webp.srcset : this.image.webp.src;
            } else if (this.image) {
                return this.image.srcset ? this.image.srcset : this.image.originalSrc;
            } else {
                return '';
            }
        }

        get width() {
            if (this.image && this.image.size) {
                return this.image.size.width;
            } else {
                return '';
            }
        }

        get height() {
            if (this.image && this.image.size) {
                return this.image.size.height;
            } else {
                return '';
            }
        }
    }
</script>

