<template>
    <picture :class="classes">
        <source v-if="image.webp" type="image/webp" :srcset="image.webp.srcset ? image.webp.srcset : image.webp.src + ' 1x'" />
        <source v-if="image.srcset" type="image/webp" :srcset="image.srcset" />
        <img :src="image.originalSrc" :alt="alt" :width="width" :height="height" :class="classes" />
    </picture>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import { TBackendImage } from '~/types/images';

    @Component
    export default class BackendPicture extends Vue {
        @Prop() image: TBackendImage | undefined;
        @Prop() alt: string | undefined;
        @Prop() classes: string | undefined;

        get width() {
            if (this.image && this.image.size) {
                return this.image.size.width;
            } else {
                return '';
            }
        }

        get height() {
            if (this.image && this.image.size) {
                return this.image.size.height;
            } else {
                return '';
            }
        }
    }
</script>

