<template>
    <div>
        Hello VUE <br>

        <a :href="link" target="_blank">Здесь</a> практически всё, <span class="internal-css">что может понадобиться</span>

        <hr>
        <h2>Попробуй Vuex</h2>
        <br>
        <a href="https://blog.logrocket.com/vue-typescript-tutorial-examples/#usingvuexwithtypescript" target="_blank"><b>Почитать про Vuex на ts</b></a>
        <br>
        <br>
        <div>Значение из стора {{exampleValue}} </div>
        <input type="button"
               @click.prevent="increment"
               value="inc">

        <input type="button"
               @click.prevent="decrement"
               value="dec">

        <input type="button"
               @click.prevent="reset"
               value="reset">

        <div ref="events"></div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue, Watch, Ref } from 'vue-property-decorator';
    import { namespace } from 'vuex-class'
    const ExampleStore = namespace('ExampleStore');

    @Component
    export default class Example extends Vue {
        @Ref('events') events!: HTMLDivElement;
        @Prop() link: string | undefined;

        @ExampleStore.State
        exampleValue!: number;

        @Watch('exampleValue')
        onExampleValueChange(newValue: number) {
            if (newValue !== 0) {
                this.events.innerHTML += '<br> Изменение';
            } else {
                this.events.innerHTML = '';
            }
        }

        @ExampleStore.Action
        increment!: () => void;

        @ExampleStore.Action
        decrement!: () => void;

        @ExampleStore.Action
        reset!: () => void;

        mounted() {

        }
    }
</script>

<style lang="less" scoped>
    .internal {
        &-css {
            font-weight: bold;
        }
    }
</style>
