<template>
    <div class="pagination">
        <div class="pagination__pages">
            <a href="javascript:void(0);" class="pagination__arrow pagination__arrow--disabled">
                <SvgSymbol name="prev" />
            </a>

            <a href="javascript:void(0);" class="pagination__page pagination__page--current">1</a>
            <a href="javascript:void(0);" class="pagination__page">2</a>
            <a href="javascript:void(0);" class="pagination__page">3</a>

            <span class="pagination__dots">...</span>

            <a href="javascript:void(0);" class="pagination__page">15</a>
            <a href="javascript:void(0);" class="pagination__page">16</a>
            <a href="javascript:void(0);" class="pagination__page">17</a>

            <a href="javascript:void(0);" class="pagination__arrow">
                <SvgSymbol name="next" />
            </a>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue} from 'vue-property-decorator';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class Pagination extends Vue {

    }
</script>
