<template>
    <a href="javascript:void(0);"
       class="btn btn--white btn--scroll-up"
       :class="{'btn--hidden': !isVisible}"
       @click="onClick" >
        <SvgSymbol name="up" />
    </a>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol},
    })

    export default class ScrollUp extends Vue {
        isVisible: boolean = false;

        mounted() {
            window?.addEventListener('load', this.onScroll);
            window?.addEventListener('resize', this.onScroll);
            window?.addEventListener('scroll', this.onScroll);
        }

        beforeDestroy() {
            window?.removeEventListener('load', this.onScroll);
            window?.removeEventListener('resize', this.onScroll);
            window?.removeEventListener('scroll', this.onScroll);
        }

        onClick() {
            window?.scroll({
                top: 0,
                left: 0,
                behavior: 'smooth',
            });
        }

        onScroll() {
            const scrollTop =  window?.scrollY || 0;

            this.isVisible = scrollTop > window.innerHeight;
        }
    }
</script>
