<template>
    <div class="socials"
         :class="{
             ['socials--' + color]: color,
             'socials--in-footer': inFooter,
         }">
        <div v-if="title" class="socials__title" v-html="title"></div>
        <div class="socials__items">
            <a v-for="(item, index) in items"
               :key="index"
               :href="item.url"
               target="_blank"
               class="socials__item">
                <span class="socials__img-wrap">
                    <BackendImage :image="item.picture" :alt="item.pictureAlt" :title="item.pictureTitle" />
                </span>
            </a>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TSocial} from '~/types/TSocial';
    import BackendImage from '~/components/BackendImage.vue';

    @Component({
        components: {BackendImage},
    })
    export default class Socials extends Vue {
        @Prop() title!: string;
        @Prop() color!: string;
        @Prop({default: () => []}) items!: TSocial[];
        @Prop({default: false}) inFooter!: boolean;
    }
</script>
