<template>
    <div class="tabs-nav">
        <div class="tabs-nav__items custom-scrollbar custom-scrollbar--hidden">
            <a
                v-for="(item, index) in navs"
                :key="index"
                :href="item.link"
                class="btn tabs-nav__btn"
                :class="{'tabs-nav__btn--active': item.active}"
                ref="navElements"
            >
                <span class="btn__text" v-html="item.name" />
            </a>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Ref, Vue, Watch} from 'vue-property-decorator';
    import TTabNav from '~/types/tabs/TTabNav';

    @Component
    export default class TabsNav extends Vue {
        @Prop({default: () => []}) navs!: TTabNav[];
        @Prop({default: false}) scrollToActive!: boolean;
        @Ref('navElements') navElements!: HTMLElement[];

        mounted() {
            this.scroll();
        }

        @Watch('activeIndex')
        onActiveIndexChanged() {
            this.scroll();
        }

        get activeIndex(): number {
            return this.navs.findIndex(item => item.active);
        }

        scroll() {
            if (!this.navElements[this.activeIndex]) {
                return;
            }

            this.navElements[this.activeIndex].scrollIntoView({
                behavior: 'smooth',
                block: 'nearest',
            });
        }
    }
</script>
