<template>
    <component :is="tag"
               class="product-chef-photo"
               :class="{'product-chef-photo--link': isLink}"
               :href="isLink ? item.url : false"
               draggable="false">
        <BackendImage :image="item.picture"
                      :alt="item.pictureAlt"
                      :title="item.pictureTitle"
                      draggable="false"
                      loading="lazy" />
    </component>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import BackendImage from '~/components/BackendImage.vue';
    import {TChef} from '~/types/chef/TChef';

    @Component({
        components: {BackendImage},
    })
    export default class ProductChefPhoto extends Vue {
        @Prop({required: true}) item!: TChef;
        @Prop({default: false}) useLink!: boolean;

        get isLink() {
            return this.useLink && this.item.url;
        }

        get tag() {
            if (this.isLink) return 'a';

            return 'div';
        }
    }
</script>
