<template>
    <div class="product-card"
         :class="{
             'product-card--in-list': inList,
             'product-card--on-detail': onDetail,
             'product-card--on-chef': onChef,
             'product-card--edit': editable,
         }">
        <a :href="item.url"
           class="product-card__picture"
           draggable="false"
           @dragstart="$emit('dragstart', $event)">
            <BackendImage :image="item.picture"
                          :alt="item.pictureAlt"
                          :title="item.pictureTitle"
                          draggable="false"
                          :loading="pictureLoading"
                          class="product-card__img" />
        </a>

        <ProductCardChef v-if="showChef && item.chef" :item="item.chef" class="product-card__chef" />

        <div v-if="editable" class="product-card__edit">
            <button class="link link--with-icon link--dashed">
                <SvgSymbol name="edit" class="link__icon" />
                <span class="link__text">Редактировать</span>
            </button>
        </div>

        <div class="product-card__name">
            <a :href="item.url"
               class="link"
               v-html="item.name"
               draggable="false"
               @dragstart="$emit('dragstart', $event)"></a>
        </div>

        <Price class="product-card__price" :value="item.price" />

        <div v-if="item.size" class="product-card__size">{{ item.size }}</div>

        <button v-if="showBtn" class="btn btn--clear product-card__btn">
            <span class="btn__text">Заказать</span>
        </button>

        <div v-if="showText && item.previewText" class="product-card__text" v-html="item.previewText"></div>

        <CountForm v-if="showCountForm" class="product-card__count" />

        <button v-if="editable" class="product-card__remove" @click.prevent="emitDelete">
            <SvgSymbol name="trash" />
        </button>
    </div>
</template>

<script lang="ts">
    import {Component, Emit, Prop, Vue} from 'vue-property-decorator';
    import {TProduct} from '~/types/product/TProduct';
    import BackendImage from '~/components/BackendImage.vue';
    import ProductChefPhoto from '~/components/product/ProductChefPhoto.vue';
    import Price from '~/components/Price.vue';
    import ProductChefLocation from '~/components/product/ProductChefLocation.vue';
    import ProductCardChef from '~/components/chef/ProductCardChef.vue';
    import CountForm from '~/components/forms/CountForm.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol, CountForm, ProductCardChef, ProductChefLocation, Price, ProductChefPhoto, BackendImage},
    })
    export default class ProductCard extends Vue {
        @Prop({required: true}) item!: TProduct;
        @Prop({default: 'lazy'}) pictureLoading!: string;
        @Prop({default: false}) inList!: boolean;
        @Prop({default: false}) onDetail!: boolean;
        @Prop({default: false}) onChef!: boolean;
        @Prop({default: false}) editable!: boolean;

        get showChef() {
            if (this.onDetail || this.editable || this.onChef) return false;

            return true;
        }

        get showText() {
            if (this.inList || this.onDetail || this.editable || this.onChef) return true;

            return false;
        }

        get showCountForm() {
            if (this.inList || this.onChef) return true;

            return false;
        }

        get showBtn() {
            if (this.onDetail || this.editable) return false;

            return true;
        }

        @Emit('delete')
        emitDelete() {}
    }
</script>
