<template>
    <div class="list product-list page__section">
        <div class="content-container">
            <div class="list__grid">
                <div class="list__filter">
                    <ListFilter :filter="filter" :is-open-on-desktop="true" />
                </div>
                <div class="list__right-col">
                    <Search v-model="searchValue" :state="fakeFieldState" :suggests="suggests" />

                    <DistanceFilter />

                    <CatalogNav :items="navItems" class="product-list__nav" />

                    <div class="list__cards list__cards--xs-2">
                        <ProductCard v-for="(item, index) in items"
                                     :key="index"
                                     :item="item"
                                     :in-list="true"/>
                    </div>

                    <Pagination />
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import TFilter from '~/types/filter/TFilter';
    import ListFilter from '~/components/filter/ListFilter.vue';
    import Search from '~/components/search/Search.vue';
    import DistanceFilter from '~/components/filter/DistanceFilter.vue';
    import {TProduct} from '~/types/product/TProduct';
    import TFormField from '~/types/form/TFormField';
    import ProductCard from '~/components/product/ProductCard.vue';
    import {TCatalogCategory} from '~/types/catalog/TCatalogCategory';
    import CatalogNav from '~/components/catalog/CatalogNav.vue';
    import Pagination from '~/components/Pagination.vue';

    @Component({
        components: {Pagination, CatalogNav, ProductCard, DistanceFilter, Search, ListFilter},
    })
    export default class ProductList extends Vue {
        @Prop({default: () => []}) items!: TProduct[];
        @Prop({default: () => []}) filter!: TFilter[];
        @Prop({default: () => []}) navItems!: TCatalogCategory[];

        searchValue: string = '';

        // todo для верстки
        get fakeFieldState(): TFormField {
            return {
                type: 'search',
                placeholder: 'Поиск по названию блюда',
                value: '',
            };
        }

        get suggests(): string[] {
            return this.items.map(item => item.name);
        }
    }
</script>
