<template>
    <div class="product-chef-location">
        <SvgSymbol name="location" class="product-chef-location__symbol" />
        {{ item.distance }}&nbsp;км от&nbsp;вас
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TChef} from '~/types/chef/TChef';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol},
    })
    export default class ProductChefLocation extends Vue {
        @Prop({required: true}) item!: TChef;
    }
</script>
