<template>
    <div class="promo-product">
        <ProductChefPhoto :item="item.chef" class="promo-product__chef-photo" :use-link="true" />

        <div class="promo-product__name">
            <a :href="item.url"
               class="link"
               v-html="item.name"
               @dragstart="$emit('dragstart', $event)"></a>
        </div>

        <Price class="promo-product__price" :value="item.price" />

        <div class="promo-product__chef-details">
            <div class="promo-product__chef-name">
                <a :href="item.chef.url"
                   class="link"
                   v-html="item.chef.name"
                   @dragstart="$emit('dragstart', $event)"></a>
            </div>
            <ProductChefLocation v-if="item.chef.distance" :item="item.chef" />
        </div>

        <div class="promo-product__chef-position">{{ item.chef.position }}</div>

        <button class="btn btn--clear promo-product__btn">
            <span class="btn__text">Заказать</span>
        </button>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TProduct} from '~/types/product/TProduct';
    import BackendImage from '~/components/BackendImage.vue';
    import ProductChefPhoto from '~/components/product/ProductChefPhoto.vue';
    import Price from '~/components/Price.vue';
    import ProductChefLocation from '~/components/product/ProductChefLocation.vue';

    @Component({
        components: {ProductChefLocation, Price, ProductChefPhoto, BackendImage},
    })
    export default class PromoProduct extends Vue {
        @Prop({required: true}) item!: TProduct;
    }
</script>
