@import "../../_var";

.documents-list {
    --columns-count: 3;
    --documents-width: 770px;

    &__group {
        &:not(:first-child) {
            margin-top: var(--m40);
            padding-top: var(--m40);
            border-top: 1px solid @cBgGrey;
        }
    }

    &__title {
        margin-bottom: var(--m20);
    }

    &__items {
        .grid(@columnsCount: var(--columns-count));
        max-width: var(--documents-width);
    }

    &__btn-wrap {
        margin-top: var(--m20);
    }

    &--sm-title {
        .documents-list {
            &__title {
                font-size: var(--fs18);
                line-height: var(--lh18);
            }
        }
    }

    &--lg-margin {
        .documents-list {
            &__title {
                margin-bottom: var(--m35);
            }
        }
    }

    @media @mediaSm {
        --columns-count: 2;
    }

    @media @mediaXs {
        --columns-count: 1;
    }
}
