<template>
    <form v-bind="formData.attributes" class="form" :class="{'form--sending': inSendProgress}">
        <h2 class="h1 add-product-form__title" v-html="title" />
        <div class="form__grid form__grid--two add-product-form__groups">
            <div class="form__grid add-product-form__group">
                <InputLabel v-bind="getFieldLabelParams('category_id')" tag="div">
                    <FormSelect v-model="category_id" :state="getField('category_id')" :has-error="!validation.getField('category_id').valid" />
                </InputLabel>
                <InputLabel v-bind="getFieldLabelParams('name')">
                    <FormInput v-model="name" :state="getField('name')" :has-error="!validation.getField('name').valid" />
                </InputLabel>
                <InputLabel v-bind="getFieldLabelParams('preview_text')">
                    <FormTextarea v-model="preview_text" :state="getField('preview_text')" :has-error="!validation.getField('preview_text').valid" />
                </InputLabel>

                <InputLabel v-bind="getFieldLabelParams('quantity')">
                    <FormInput v-model="quantity" :state="getField('quantity')" :has-error="!validation.getField('quantity').valid" />
                </InputLabel>
                <InputLabel v-bind="getFieldLabelParams('weight')">
                    <FormInput v-model="weight" :state="getField('weight')" :has-error="!validation.getField('weight').valid" />
                </InputLabel>
                <InputLabel v-bind="getFieldLabelParams('cooking_time')">
                    <FormInput v-model="cooking_time" :state="getField('cooking_time')" :has-error="!validation.getField('cooking_time').valid" />
                </InputLabel>
                <InputLabel v-bind="getFieldLabelParams('storage_conditions')">
                    <FormTextarea v-model="storage_conditions" :state="getField('storage_conditions')" :has-error="!validation.getField('storage_conditions').valid" />
                </InputLabel>
            </div>

            <div class="form__grid add-product-form__group">
                <InputLabel v-bind="getFieldLabelParams('calories')">
                    <FormInput v-model="calories" :state="getField('calories')" :has-error="!validation.getField('calories').valid" />
                </InputLabel>

                <div class="form__grid">
                    <InputLabel v-bind="getFieldLabelParams('protein')">
                        <FormInput v-model="protein" :state="getField('protein')" :has-error="!validation.getField('protein').valid" />
                    </InputLabel>
                    <InputLabel v-bind="getFieldLabelParams('fats')">
                        <FormInput v-model="fats" :state="getField('fats')" :has-error="!validation.getField('fats').valid" />
                    </InputLabel>
                    <InputLabel v-bind="getFieldLabelParams('carbohydrates')">
                        <FormInput v-model="carbohydrates" :state="getField('carbohydrates')" :has-error="!validation.getField('carbohydrates').valid" />
                    </InputLabel>
                </div>

                <div>
                    <a href="/profile/useful#how-to-count" class="add-product-form__help link link--uline" target="_blank">Как рассчитать калорийность и БЖУ?</a>
                </div>

                <div class="form__grid add-product-form__cell-group">
                    <InputLabel v-bind="getFieldLabelParams('package')">
                        <FormInput v-model="package" :state="getField('package')" :has-error="!validation.getField('package').valid" />
                    </InputLabel>

                    <InputLabel v-bind="getFieldLabelParams('price')">
                        <FormInput v-model="price" :state="getField('price')" :has-error="!validation.getField('price').valid" />
                    </InputLabel>
                </div>
                <div class="form__grid add-product-form__cell-group">
                    <FormMultiCheckboxTag v-model="tags" :state="getField('tags')" :two-columns="true" v-bind="getFieldLabelParams('tags')" />
                </div>
            </div>
        </div>

        <div class="add-product-form__bottom">
            <FormFile
                v-model="images"
                :state="getField('images')"
                :max="getMaxFiles('images')"
                :error="validation.firstFieldError('images')"
                :existing-pictures="existingPicturesImages"
                :rules="this.formData.validation.images"
                @emitDeletePicture="deletePicture"
            />

            <div class="add-product-form__button-wrapper">
                <div class="form__submit-wrap">
                    <button class="btn btn--green" @click="submit">
                        <span class="btn__text" v-html="this.id ? 'Сохранить' : 'Добавить'" />
                    </button>
                </div>
                <button type="button" @click.prevent="closeForm" class="btn btn--clear">Назад</button>
            </div>
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormSelect from '~/components/forms/fields/FormSelect.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import FormTextarea from '~/components/forms/fields/FormTextarea.vue';
    import FormCheckbox from '~/components/forms/fields/FormCheckbox.vue';
    import FormFile from '~/components/forms/fields/FormFile.vue';
    import FormMultiCheckboxTag from '~/components/forms/fields/FormMultiCheckboxTag.vue';
    import { getJson } from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';
    import {TFormResponse} from '~/types/form/TFormResponse';
    import {showMessagePopup} from '~/helper/common';

    @Component({
        components: {
            FormMultiCheckboxTag,
            FormFile, FormCheckbox, FormTextarea, FormInput, FormSelect, InputLabel, FormSubmit},
    })
    export default class AddProductForm extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        @Prop({default: ''}) title!: string;
        @Prop({default: 0}) editId!: number;

        submitType: string = 'form';
        id: number = 0;
        category_id: string | null = null;
        name: string = '';
        preview_text: string = '';
        storage_conditions: string = '';
        quantity: string = '';
        weight: string = '';
        cooking_time: string = '';
        package: string = '';
        calories: string = '';
        protein: string = '';
        fats: string = '';
        carbohydrates: string = '';
        tags: string[] = [];
        price: string = '';
        images: File[] = [];
        existingPictures: any = [];

        created() {
            if (this.editId !== 0) {
                this.id = this.editId;
                const url = '/profile/get-dish/' + this.editId;
                getJson<TAjaxResponse>(url).then((result) => {
                    if (result.success && result.data) {
                        this.category_id = result.data.category_id;
                        this.name = result.data.name;
                        this.preview_text = result.data.preview_text;
                        this.storage_conditions = result.data.storage_conditions;
                        this.quantity = result.data.quantity;
                        this.weight = result.data.weight;
                        this.cooking_time = result.data.cooking_time;
                        this.package = result.data.package;
                        this.calories = result.data.calories;
                        this.protein = result.data.protein;
                        this.fats = result.data.fats;
                        this.carbohydrates = result.data.carbohydrates;
                        this.tags = result.data.tags;
                        this.price = result.data.price;
                        this.existingPictures = result.data.existingPictures;
                    }
                });
            }
        }

        getMaxFiles(field: string) {
            return this.formData.validation[field]?.fileCount?.params?.max || 1;
        }

        appendFileField(formData: FormData, key: string, data: File[]) {
            for (let i in data) {
                formData.append(key + '.' + i, data[i]);
            }
        }

        deletePicture(index: number) {
            this.existingPictures.splice(index, 1);
        }

        get existingPicturesImages() {
            return this.existingPictures.map(image => {
                return image.src;
            });
        }

        get existingPicturesIds() {
            return this.existingPictures.map(image => {
                return image.id;
            });
        }

        appendAdditionalData(formData: FormData) {
            if (this.id !== 0) {
                formData.append('id', this.id.toString());
            } else {
                formData.delete('id');
            }

            this.existingPicturesIds.forEach(id => {
                formData.append('attachmentsIds[]', id);
            });
        }


        onSubmitSuccess(data: TFormResponse) {
            this.$eventBus.$emit('close-popup');

            if (data.message) {
                showMessagePopup(data.message.title, data.message.text);
            }

            this.closeForm();
        }

        closeForm() {
            this.$eventBus.$emit('close-popup');
            this.$emit('close-edit');
        }
    }
</script>
