<template>
    <form v-bind="formData.attributes" class="form" :class="{'form--sending': inSendProgress}">
        <div class="form__grid">
            <InputLabel v-bind="getFieldLabelParams('phone')">
                <FormPhone v-model="phone" :state="getField('phone')" :has-error="!validation.getField('phone').valid" />
            </InputLabel>
            <InputLabel v-bind="getFieldLabelParams('password')">
                <FormPassword v-model="password" :state="getField('password')" :has-error="!validation.getField('password').valid" />
            </InputLabel>
        </div>

        <div class="auth-form__submit-wrap form__submit-wrap">
            <FormSubmit v-if="hasField('submit')" class="form__submit" :state="getField('submit')" @click.native.prevent="submit" />
            <button class="auth-form__remember link link--with-icon link--dashed" @click.prevent="emitSendResetPassword">
                <SvgSymbol name="key" class="link__icon" />
                <span class="link__text">Напомнить пароль</span>
            </button>
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormPassword from '~/components/forms/fields/FormPassword.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import {TFormResponse} from '~/types/form/TFormResponse';
    import {showMessagePopup} from '~/helper/common';
    import FormPhone from '~/components/forms/fields/FormPhone.vue';
    import {TBasketElement} from '~/types/basket/TBasketRow';
    import route from '~/helper/route';
    import {postJson} from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';

    @Component({
        components: {SvgSymbol, FormPassword, InputLabel, FormSubmit, FormPhone},
    })
    export default class AuthPasswordForm extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        @Prop({default: false}) isForCook!: boolean;
        @Prop({default: false}) basketElement!: TBasketElement;

        phone: string = '';
        password: string = '';

        emitSendResetPassword() {
            this.$emit('emitSendResetPassword');
        }

        onSubmitSuccess(data: TFormResponse) {
            this.$eventBus.$emit('close-popup');

            if (data.message) {
                showMessagePopup(data.message.title, data.message.text);
            }

            if (this.basketElement) {
                if (this.basketElement) {
                    this.makeOrder();
                    return;
                }
            }

            if (data.reload) {
                if (this.isForCook) {
                    setTimeout(() => {
                        window.location.hash = '#become-cook';
                        window.location.reload();
                    }, data.reload);
                } else {
                    setTimeout(() => { window.location.reload(); }, data.reload);
                }
            }
        }

        async makeOrder() {
            const url = route('basket.add');
            const result = await postJson<TAjaxResponse>(url, this.basketElement);

            if (result.success) {
                if (result.redirect) {
                    setTimeout(() => { window.location.href = result.redirect!; }, 0);
                }
            } else {
                if (result.message) {
                    // @ts-ignore
                    showMessagePopup(result.message.title, result.message.text);
                }
            }
        }
    }
</script>
