<template>
    <form v-bind="formData.attributes" class="form" :class="{'form--sending': inSendProgress}">
        <div class="form__grid">
            <InputLabel v-bind="getFieldLabelParams('phone')">
                <FormPhone v-model="phone" :state="getField('phone')" :has-error="!validation.getField('phone').valid" />
            </InputLabel>

            <CodeVerificationInput
                :type="'auth'"
                :phone="phone"
                :label-attrs="getFieldLabelParams('code')"
                :state="getField('code')"
                :has-error="!validation.getField('code').valid"
                v-model="code"
            />
        </div>

        <div class="auth-form__submit-wrap form__submit-wrap">
            <FormSubmit v-if="hasField('submit')" class="form__submit" :state="submitFieldData" @click.native.prevent="submit" />
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormPassword from '~/components/forms/fields/FormPassword.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import {TFormResponse} from '~/types/form/TFormResponse';
    import {showMessagePopup} from '~/helper/common';
    import {postJson, setCsrfToken} from '~/helper/ajax';
    import FormPhone from '~/components/forms/fields/FormPhone.vue';
    import TFormField from '~/types/form/TFormField';
    import CodeVerificationInput from '~/components/forms/fields/CodeVerificationInput.vue';
    import {sendYmGoal} from '~/helper/seo';
    import {TBasketElement} from '~/types/basket/TBasketRow';
    import route from '~/helper/route';
    import {TAjaxResponse} from '~/types/TAjaxResponse';

    @Component({
        components: {SvgSymbol, FormPassword, InputLabel, FormInput, FormSubmit, FormPhone, CodeVerificationInput},
    })
    export default class AuthCodeForm extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        @Prop({default: false}) isForCook!: boolean;
        @Prop({default: false}) basketElement!: TBasketElement;

        phone: string = '';
        code: string = '';
        text: string = 'Отправить код';

        created() {
            this.$eventBus.$on('custom-on-submit-error', this.onSubmitError.bind(this));
        }

        get submitFieldData(): TFormField {
            const text = this.code ? 'Войти' : this.text;

            return {
                'type': 'submit',
                'name': 'submit',
                'label': text,
                'required': false,
                'disabled': false,
                'checked': false,
                'multiple': false,
                'placeholder': '',
                'options': {'label': text},
                'attrs': {'type': 'submit', 'name': 'submit'},
                'value': '',
            };
        }

        async submit(ev: Event) {
            ev.preventDefault();

            let hasInvalidExceptCode = false;
            this.validation.isValid();
            for (let field in this.validation.fieldState) {
                if (field === 'code') continue;

                hasInvalidExceptCode = hasInvalidExceptCode || (!this.validation.fieldState[field].valid);
            }

            if (!hasInvalidExceptCode && !this.code) {
                sendYmGoal('clicknumbersend');
                this.sendCode();
            } else if (!hasInvalidExceptCode) {
                sendYmGoal('clicknumberpodtverdit');
                await this.doSubmit();
            }
        }

        appendAdditionalData(formData: FormData) {
            formData.set('type', 'auth');
        }

        sendCode() {
            this.validation.clearErrors();
            this.$eventBus.$emit('send-verification-code');
            this.text = 'Подтвердить';
        }

        onSubmitSuccess(data: TFormResponse) {
            this.$eventBus.$emit('close-popup');

            if (data.message) {
                showMessagePopup(data.message.title, data.message.text);
            }

            if (data.data!.token) {
                setCsrfToken(data.data!.token);
            }

            if (data.data!.needVerifyPhone) {
                this.$eventBus.$emit('open-popup', {
                    type: 'verify-phone',
                    componentProps: {
                        formData: data.data!.needVerifyPhone,
                    },
                });
            }

            if (this.basketElement) {
                this.makeOrder();
                return;
            }

            if (data.reload) {
                if (this.isForCook) {
                    setTimeout(() => {
                        window.location.hash = '#become-cook';
                        window.location.reload();
                    }, data.reload);
                } else {
                    setTimeout(() => { window.location.reload(); }, data.reload);
                }
            }
        }

        async makeOrder() {
            const url = route('basket.add');
            const result = await postJson<TAjaxResponse>(url, this.basketElement);

            if (result.success) {
                if (result.redirect) {
                    setTimeout(() => { window.location.href = result.redirect!; }, 0);
                }
            } else {
                if (result.message) {
                    // @ts-ignore
                    showMessagePopup(result.message.title, result.message.text);
                }
            }
        }
    }
</script>
