<template></template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue} from 'vue-property-decorator';
    import TFormField from '~/types/form/TFormField';
    import TFormData from '~/types/form/TFormData';
    import FormValidate from 'sx-vue-form-validator';
    import {convertValidator, convertValidatorLaravel} from '~/helper/validation';
    import {ValidatorFieldState} from 'sx-vue-form-validator/src/ValidatorFieldState';
    import {ValidatorRuleState} from 'sx-vue-form-validator/src/ValidatorRuleState';
    import TObjectCollection from '~/types/TObjectCollection';
    import {postJson, postMultipartFormData} from '~/helper/ajax';
    import {showMessagePopup} from '~/helper/common';
    import {TFormResponse} from '~/types/form/TFormResponse';

    @Component
    export default class BaseForm extends Mixins(FormValidate, Vue) {
        @Prop({default: () => {}}) formData!: TFormData;

        inSendProgress: boolean = false;
        submitType: string = 'post';

        created() {
            this['fieldState'] = this['fieldState'] || {};

            for (const fieldName in this.formData.validation) {
                const fieldValidations = this.formData.validation[fieldName];
                const rules = {};
                const message = {};
                const field = this.formData.fields[fieldName];

                if (!field) {
                    continue;
                }

                // собираем валидаторы
                for (const validationName in fieldValidations) {
                    const validatorData = fieldValidations[validationName];

                    let validator;
                    if (this.formData.validationType && this.formData.validationType === 'laravel') {
                        validator = convertValidatorLaravel(validationName, validatorData);
                    } else {
                        validator = convertValidator(validationName, validatorData);
                    }

                    rules[validationName] = validator.rule;

                    if (validator.message) {
                        message[validationName] = validator.message;
                    }
                }

                // backend при requiredIf имеет и required, но front'у он не нужен
                if (rules.hasOwnProperty('requiredIfEmpty')) {
                    delete rules['required'];
                }

                // копипаст из валидатора, т.к. в нем нет методов для добавления валидаторов без декоратора
                const filedState = new ValidatorFieldState(this, fieldName);

                this.validation.fieldState[fieldName] = Vue.observable(filedState);
                this.validation.fieldState[fieldName].rules = rules;

                for (const ruleName in rules) {
                    let ruleState = new ValidatorRuleState(rules[ruleName], message[ruleName]);

                    this.validation.fieldState[fieldName].rules[ruleName] = Vue.observable(ruleState);
                }

                // навешиваем watch на свойства, в которых хранятся значения инпутов
                // класс формы должен в себе содержать свойства для каждого инпута
                this.$watch(fieldName, () => this.validateField(fieldName));
            }
        }

        hasField(fieldName: string): boolean {
            return !!this.getField(fieldName);
        }

        getField(fieldName: string): TFormField | null {
            return this.formData.fields[fieldName];
        }

        getFieldLabelParams(fieldName: string): TObjectCollection {
            const field = this.getField(fieldName);

            if (!field) {
                return  {};
            }

            return {
                label: field.label,
                error: this.validation.firstFieldError(fieldName),
                hasValue: !!this[fieldName],
            };
        }

        validateField(fieldName: string) {
            this.validation.validateField(fieldName);
        }

        async submit(ev: Event) {
            ev.preventDefault();
            this.doSubmit();
        }

        async doSubmit() {
            // Очистка серверных ошибок
            this.validation.clearErrors();

            if (!this.validation.isValid() || this.inSendProgress) {
                for (const fieldName in this.validation.fieldState) {
                    if (!this.validation.fieldState[fieldName].valid) {
                        this.pointToError(fieldName);

                        break;
                    }
                }
                return;
            }

            this.inSendProgress = true;

            const formData = new FormData();
            const actionUrl = this.formData.attributes.action;

            if (!actionUrl) {
                return;
            }

            for (const fieldName in this.validation.fieldState) {
                let fieldValue = this[fieldName];

                if (fieldName === 'submit') {
                    continue;
                }

                if (!this.hasField(fieldName)
                    || fieldValue === null
                    || fieldValue === undefined
                    || (typeof fieldValue === 'string' && fieldValue.length === 0)
                ) {
                    continue;
                }

                if (typeof fieldValue === 'boolean') {
                    fieldValue = fieldValue ? '1' : '0';
                }

                if (Array.isArray(fieldValue) || fieldValue instanceof Map) {

                    fieldValue.forEach(item => {
                        if (item instanceof File) {
                            formData.append(fieldName + '[]', item, item.name);
                        } else {
                            formData.append(fieldName + '[]', item);
                        }
                    });
                } else {
                    if (fieldValue instanceof File) {
                        formData.set(fieldName, fieldValue, fieldValue.name);
                    } else {
                        formData.set(fieldName, fieldValue);
                    }
                }
            }

            this.appendAdditionalData(formData);

            let body: TFormResponse|null = null;

            try {
                if (this.submitType === 'post') {
                    body = await postJson<TFormResponse>(actionUrl, formData);
                } else {
                    body = await postMultipartFormData<TFormResponse>(actionUrl, formData);
                }
            } catch (e) {
                this.inSendProgress = false;
                console.log(e);
                return;
            }

            this.inSendProgress = false;

            // @ts-ignore
            if (body.exception) {
                showMessagePopup('Ошибка', 'Произошла ошибка на сервере. Пожалуйста, попробуйте позже!');

                return;
            }

            // В прод режиме, если не хвататет CSRF токена laravel кидает просто мессадж в ответе, без exception'a
            if (body.message == 'CSRF token mismatch.') {
                showMessagePopup('Ошибка', 'Сессия истекла. Перезагрузите страницу.');

                return;
            }

            if (body.errors) {
                this.onSubmitError(body);

                return;
            }

            if (!body.success) {
                this.onSubmitUnsuccessfully(body);

                return;
            }

            this.onSubmitSuccess(body);
        }

        appendAdditionalData(formData: FormData) {
            // переопределять в наследниках
        }

        onSubmitFail() {
            showMessagePopup('Ошибка', 'Произошла ошибка на стороне сервера, попробуйте позже');
        }

        onSubmitUnsuccessfully(data: TFormResponse) {
            if (data.message) {
                showMessagePopup(data.message.title, data.message.text);
            }
        }

        onSubmitSuccess(data: TFormResponse) {
            this.$eventBus.$emit('close-popup');

            if (data.message) {
                showMessagePopup(data.message.title, data.message.text);
            }

            if (data.reload) {
                setTimeout(() => { window.location.reload(); }, data.reload);
            }

            if (data.redirect) {
                setTimeout(() => { window.location.href = data.redirect!; }, 0);
            }
        }

        onSubmitError(data: TFormResponse) {
            for (const fieldName in data.errors) {
                let errors: string[] = [];

                for (const ruleName in data.errors[fieldName]) {
                    errors.push(data.errors[fieldName][ruleName]);
                }

                this.validation.customError(fieldName, errors.join('. '));
            }
        }

        pointToError(error: string) {
            const el = this.$el.querySelector('[name =' + error + ']') as HTMLInputElement;
            if (!el) {
                return;
            }

            el.focus(/*{preventScroll:false}*/);
            // scroll(0, 100);
        }
    }
</script>
