<template>
    <form v-bind="formData.attributes" class="form" :class="{'form--sending': inSendProgress}">
        <div class="become-cook-form__grid">
            <div>
                <div class="become-cook-form__group">
                    <div class="become-cook-form__group-label" v-html="formSettings['for-cooks-form.about'].text"></div>

                    <div class="form__grid">
                        <InputLabel v-bind="getFieldLabelParams('name')">
                            <FormInput v-model="name" :state="getField('name')" :has-error="!validation.getField('name').valid" />
                        </InputLabel>

                        <InputLabel v-bind="getFieldLabelParams('email')">
                            <FormInput v-model="email" :state="getField('email')" :has-error="!validation.getField('email').valid" />
                        </InputLabel>

                        <InputLabel v-bind="getFieldLabelParams('about')">
                            <FormTextarea v-model="about" :state="getField('about')" :has-error="!validation.getField('about').valid" />
                        </InputLabel>

                        <InputLabel v-bind="getFieldLabelParams('speciality_id')" tag="div">
                            <FormSelect v-model="speciality_id" :state="getField('speciality_id')" :has-error="!validation.getField('speciality_id').valid" />
                        </InputLabel>
                    </div>
                </div>

                <div class="become-cook-form__group">
                    <div class="become-cook-form__group-label" v-html="formSettings['for-cooks-form.categories-label'].text" />

                    <div class="form__grid">
                        <FormMultiCheckbox v-model="categories" :state="getField('categories')" :two-columns="true" v-bind="getFieldLabelParams('categories')" />
                    </div>
                </div>

                <div class="become-cook-form__group">
                    <div class="become-cook-form__group-label" v-html="formSettings['for-cooks-form.kitchen-address'].text" />

                    <div class="form__grid">
                        <InputLabel v-bind="getFieldLabelParams('city_id')" class="become-cook-form__city" tag="div">
                            <FormSelect v-model="city_id" :state="getField('city_id')" :has-error="!validation.getField('city_id').valid"/>
                        </InputLabel>

                        <InputLabel v-bind="getFieldLabelParams('address')" class="become-cook-form__location">
                            <SvgSymbol name="location" class="become-cook-form__location-icon" />
                            <FormInput
                                v-model="address"
                                :disabled="!city_id"
                                :state="getField('address')"
                                :has-error="!validation.getField('address').valid"
                                :class="'become-cook-form__location-input'"
                            />
                            <div v-if="addressSuggests.length" class="input-suggests">
                                <div
                                    v-for="suggest in addressSuggests"
                                    class="input-suggests__item"
                                    :key="suggest"
                                    v-html="suggest"
                                    @click="setAddress(suggest)"
                                />
                            </div>
                        </InputLabel>

                        <a class="link link__text"
                           v-if="formSettings['for-cooks-form.kitchen-example'] && formSettings['for-cooks-form.kitchen-example'].attachment[0]"
                           v-html="formSettings['for-cooks-form.kitchen-example'].text"
                           target="_blank"
                           :href="formSettings['for-cooks-form.kitchen-example'].attachment[0].relativeUrl"
                        />

                        <FormFile
                            v-model="kitchen"
                            :state="getField('kitchen')"
                            :max="getMaxFiles('kitchen')"
                            :error="validation.firstFieldError('kitchen')"
                            :rules="this.formData.validation.kitchen"
                        />
                    </div>
                </div>

                <div class="become-cook-form__group">
                    <div class="become-cook-form__group-label" v-html="formSettings['for-cooks-form.experience'].text" />

                    <div class="form__grid">
                        <InputLabel v-bind="getFieldLabelParams('experience')">
                            <FormInput v-model="experience" :state="getField('experience')" :has-error="!validation.getField('experience').valid" />
                        </InputLabel>
                    </div>
                </div>

                <div class="become-cook-form__group">
                    <div class="become-cook-form__group-label" v-html="formSettings['for-cooks-form.passport'].text" />
                    <div class="become-cook-form__group-text" v-html="formSettings['for-cooks-form.passport'].big_text" />

                    <FormFile
                        v-model="passport"
                        :state="getField('passport')"
                        :max="getMaxFiles('passport')"
                        :error="validation.firstFieldError('passport')"
                        :rules="this.formData.validation.passport"
                    />
                </div>

                <div class="become-cook-form__group">
                    <div class="become-cook-form__group-label" v-html="formSettings['for-cooks-form.sanitary'].text" />
                    <div class="become-cook-form__group-text" v-html="formSettings['for-cooks-form.sanitary'].big_text" />

                    <FormFile
                        v-model="sanitary"
                        :state="getField('sanitary')"
                        :max="getMaxFiles('sanitary')"
                        :error="validation.firstFieldError('sanitary')"
                        :rules="this.formData.validation.sanitary"
                    />
                </div>

                <div class="become-cook-form__group">
                    <div class="become-cook-form__group-label" v-html="formSettings['for-cooks-form.certificate'].text" />
                    <div class="become-cook-form__group-text" v-html="formSettings['for-cooks-form.certificate'].big_text" />

                    <FormFile
                        v-model="certificate"
                        :state="getField('certificate')"
                        :max="getMaxFiles('certificate')"
                        :error="validation.firstFieldError('certificate')"
                        :rules="this.formData.validation.certificate"
                    />
                </div>
            </div>
            <div class="become-cook-form__avatar">
                <FormAvatarInput
                    v-model="avatar"
                    :state="getField('avatar')"
                    :rules="this.formData.validation.avatar"
                    :error="validation.firstFieldError('avatar')"
                    class="become-cook-form__avatar-load"
                >
                    <div class="become-cook-form__avatar-placeholder">
                        <SvgSymbol name="camera" />
                        <div class="become-cook-form__avatar-placeholder-text"
                             v-html="formSettings['for-cooks-form.avatar'].text" />
                    </div>
                </FormAvatarInput>
            </div>
        </div>

        <div class="form__submit-wrap become-cook-form__submit">
            <FormSubmit v-if="hasField('submit')" class="form__submit" :state="getField('submit')" @click.native.prevent="submit" />
        </div>
        <div class="become-cook-form__notify" v-html="formSettings['for-cooks-form.notify'].big_text" />
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Watch, Vue, Prop} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormTextarea from '~/components/forms/fields/FormTextarea.vue';
    import FormMultiCheckbox from '~/components/forms/fields/FormMultiCheckbox.vue';
    import FormFile from '~/components/forms/fields/FormFile.vue';
    import FormAvatarInput from '~/components/forms/fields/FormAvatarInput.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import FormSelect from '~/components/forms/fields/FormSelect.vue';
    import Debounce from '~/decorators/debounce';
    import {getJson} from '~/helper/ajax';
    import TSetting from '~/types/TSetting';
    import {TFormResponse} from '~/types/form/TFormResponse';
    import {showMessagePopup} from '~/helper/common';
    import route from '~/helper/route';

    type TSuggestResult = {
        success: boolean;
        items: string[]
    };

    @Component({
        components: { FormSelect, SvgSymbol, FormAvatarInput, FormFile, FormMultiCheckbox, FormTextarea, InputLabel, FormInput, FormSubmit},
    })
    export default class BecomeCookForm extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        @Prop({default: () => []}) formSettings!: TSetting[];

        submitType: string = 'form';

        name: string = '';
        email: string = '';
        about: string = '';
        speciality_id: string | null = null;
        categories: string[] = [];
        city_id: number = 0;
        address: string = '';
        experience: string = '';
        avatar: File[] = [];
        kitchen: File[] = [];
        passport: File[] = [];
        sanitary: File[] = [];
        certificate: File[] = [];

        addressSuggests: string[] = [];
        lastSuggestQuery = '';

        @Watch('city_id')
        cityChanged() {
            this.lastSuggestQuery = '';
            this.address = '';
        }

        @Watch('address')
        @Debounce({time: 500})
        addressChanged() {
            if (this.lastSuggestQuery.trim() != this.address.trim()) {

                this.lastSuggestQuery = this.address.trim();

                if (this.lastSuggestQuery) {
                    const url = route('location.suggest') + '?city=' + this.city_id + '&address=' + encodeURI(this.lastSuggestQuery);
                    getJson<TSuggestResult>(url).then((result) => {
                        this.addressSuggests = result.items;
                    });
                }
            }
        }

        setAddress(address: string) {
            this.address = address;
            this.lastSuggestQuery = address;
            this.addressSuggests = [];
        }

        getMaxFiles(field: string) {
            return this.formData.validation[field]?.fileCount?.params?.max || 1;
        }

        appendFileField(formData: FormData, key: string, data: File[]) {
            for (let i in data) {
                formData.append(key + '.' + i, data[i]);
            }
        }

        onSubmitSuccess(data: TFormResponse) {
            this.$eventBus.$emit('close-popup');

            if (data.message) {
                if (data.redirect) {
                    showMessagePopup(data.message.title, data.message.text, () => {
                        window.location.href = data.redirect!;
                    }, 'Продолжить');
                } else {
                    showMessagePopup(data.message.title, data.message.text);
                }
            }

            if (data.reload) {
                setTimeout(() => { window.location.reload(); }, data.reload);
            }
        }
    }
</script>
