<template>
    <form v-bind="formData.attributes" class="form" :class="{'form--sending': inSendProgress}">
        <div class="form__grid">

            <InputLabel v-bind="getFieldLabelParams('phone')">
                <FormPhone v-model="phone" :state="getField('phone')" :has-error="!validation.getField('phone').valid" />
            </InputLabel>
        </div>

        <div class="form__privacy" v-html="formData.privacy" />

        <div class="form__submit-wrap">
            <FormReCaptcha
                v-if="formData.fields.recaptcha"
                v-model="recaptcha"
                :field="formData.fields.recaptcha"
            />
            <FormSubmit v-if="hasField('submit')" class="form__submit" :state="getField('submit')" @click.native.prevent="handleClick" />
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormPhone from '~/components/forms/fields/FormPhone.vue';
    import FormReCaptcha from '~/components/forms/fields/FormReCaptcha.vue';
    import {sendYmGoal} from '~/helper/seo';

    @Component({
        components: {
            FormPhone,
            InputLabel,
            FormSubmit,
            FormReCaptcha,
        },
    })
    export default class CallbackForm extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        @Prop() promoCardId!: number;
        phone: string = '';
        recaptcha: string = '';

        appendAdditionalData(formData: FormData) {
            formData.set('promo_card_id', '' + this.promoCardId);
        }

        handleClick(ev) {
            this.submit(ev);
            this.sendMetrics();
        }

        sendMetrics() {
            sendYmGoal('click_promocard_avtorizovatsya');
        }
    }
</script>
