<template>
    <form v-bind="formData.attributes" class="form" :class="{'form--sending': inSendProgress}">
        <div class="form__grid">
            <InputLabel v-bind="getFieldLabelParams('password')">
                <FormPassword v-model="password" :state="getField('password')" :has-error="!validation.getField('password').valid" />
            </InputLabel>

            <InputLabel v-bind="getFieldLabelParams('newPassword')">
                <FormPassword v-model="newPassword" :state="getField('newPassword')" :has-error="!validation.getField('newPassword').valid" />
            </InputLabel>
        </div>

        <div class="form__privacy" v-html="formData.privacy" />

        <div class="form__submit-wrap">
            <FormSubmit class="form__submit" :state="{label: 'Изменить пароль'}" @click.native.prevent="submit" />
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Vue} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormPassword from '~/components/forms/fields/FormPassword.vue';
    import {TFormResponse} from '~/types/form/TFormResponse';
    import {showMessagePopup} from '~/helper/common';

    @Component({
        components: {FormPassword, InputLabel, FormSubmit},
    })
    export default class ChangePasswordForm extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        password: string = '';
        newPassword: string = '';

        onSubmitSuccess(data: TFormResponse) {
            this.$eventBus.$emit('close-popup');

            if (data.message) {
                showMessagePopup(data.message.title, data.message.text);
            }

            if (data.reload) {
                setTimeout(() => { window.location.reload(); }, data.reload);
            }
        }
    }
</script>
