<template>
    <form v-bind="formData.attributes" class="form" :class="['form--sending' ? inSendProgress : '', additionalStyles]">
        <div class="form__grid">
            <StarRating
                v-model="rating"
                :state="getField('rating')"
                :has-error="!validation.getField('rating').valid"
            />

            <InputLabel v-bind="getFieldLabelParams('text')">
                <FormTextarea
                    v-model="text"
                    :state="getField('text')"
                    :has-error="!validation.getField('text').valid"
                />
            </InputLabel>
            <InputLabel v-bind="getFieldLabelParams('name')">
                <FormInput
                    v-model="name"
                    :state="getField('name')"
                    :disabled="getField('name').disabled"
                    :has-error="!validation.getField('name').valid"
                />
            </InputLabel>
        </div>

        <div class="form__submit-wrap">
            <FormSubmit
                v-if="hasField('submit')"
                class="form__submit"
                :state="getField('submit')"
                @click.native.prevent="submit"
            />
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Vue, Prop} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import {showMessagePopup} from '~/helper/common';
    import {TFormResponse} from '~/types/form/TFormResponse';
    import FormTextarea from '~/components/forms/fields/FormTextarea.vue';
    import StarRating from '~/components/forms/fields/StarRating.vue';

    @Component({
        components: {FormTextarea, InputLabel, FormInput, FormSubmit, StarRating},
    })
    export default class CookReview extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        @Prop({default: ''}) additionalStyles!: string;

        rating: number = 5;
        name: string = '';
        text: string = '';

        onSubmitSuccess(data: TFormResponse) {
            this.$eventBus.$emit('close-popup');

            this.rating = 5;
            this.name = '';
            this.text = '';

            this.$nextTick(() => {
                this.validation.clearErrors();
            });

            if (data.message) {
                showMessagePopup(data.message.title, data.message.text);
            }

            if (data.reload) {
                setTimeout(() => { window.location.reload(); }, data.reload);
            }
        }
    }
</script>
