<template>
    <form action="javascript:void(0);" class="count-form">
        <button class="btn btn--clear btn--counter"
                :disabled="localValue === min"
                @click="remove"><span class="minus"></span></button>

        <FormInput :state="fakeFieldState"
                   class="count-form__input"
                   :input-filter="inputFilter"
                   v-model="localValue" />

        <button class="btn btn--clear btn--counter"
                :disabled="localValue === max"
                @click="add"><span class="plus"></span></button>
    </form>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import TFormField from '~/types/form/TFormField';

    @Component({
        components: {FormInput},
    })
    export default class CountForm extends Vue {
        @Prop({default: 1}) min!: number;
        @Prop({default: 99}) max!: number;
        @Prop({default: 1}) interval!: number;
        @Prop({default: 1}) value!: number;

        localValue: number = this.value;

        get fakeFieldState(): TFormField {
            return {
                name: 'count',
                type: 'number',
                value: this.localValue,
            };
        }

        @Watch('value')
        valueWatch(newVal) {
            this.localValue = newVal;
        }

        @Watch('localValue')
        emitChange() {
            if (this.value !== this.localValue) {
                this.$emit('input', this.localValue);
            }
        }

        add() {
            this.localValue += this.interval;
        }

        remove() {
            this.localValue -= this.interval;
        }

        inputFilter(value) {
            value = parseInt(value);

            if (isNaN(value)) {
                value = 1;
            }

            if (value < this.min) value = this.min;

            if (value > this.max) value = this.max;

            return value;
        }
    }
</script>
