<template>
    <form v-bind="formData.attributes" class="form" :class="{'form--sending': inSendProgress}">
        <div class="form__grid">
            <InputLabel v-bind="getFieldLabelParams('name')">
                <FormInput v-model="name" :state="getField('name')" :has-error="!validation.getField('name').valid" />
            </InputLabel>
            <InputLabel v-bind="getFieldLabelParams('phone')">
                <FormPhone v-model="phone" :state="getField('phone')" :has-error="!validation.getField('phone').valid" />
            </InputLabel>
            <InputLabel v-bind="getFieldLabelParams('email')">
                <FormInput v-model="email" :state="getField('email')" :has-error="!validation.getField('email').valid" />
            </InputLabel>
            <InputLabel v-bind="getFieldLabelParams('topic_id')" tag="div">
                <FormSelect v-model="topic_id" :state="getField('topic_id')" :has-error="!validation.getField('topic_id').valid" />
            </InputLabel>
            <InputLabel v-bind="getFieldLabelParams('question')">
                <FormTextarea v-model="question" :state="getField('question')" :has-error="!validation.getField('question').valid" />
            </InputLabel>
        </div>

        <div class="form__privacy" v-html="formData.privacy" />

        <div class="form__submit-wrap">
            <FormReCaptcha
                v-if="formData.fields.recaptcha"
                v-model="recaptcha"
                :field="formData.fields.recaptcha"
            />
            <FormSubmit v-if="hasField('submit')" class="form__submit" :state="getField('submit')" @click.native.prevent="submit" />
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Vue} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormTextarea from '~/components/forms/fields/FormTextarea.vue';
    import FormPhone from '~/components/forms/fields/FormPhone.vue';
    import FormSelect from '~/components/forms/fields/FormSelect.vue';
    import FormReCaptcha from '~/components/forms/fields/FormReCaptcha.vue';

    @Component({
        components: {FormSelect, FormPhone, FormTextarea, InputLabel, FormInput, FormSubmit, FormReCaptcha},
    })
    export default class FeedbackForm extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        name: string = '';
        phone: string = '';
        email: string = '';
        topic_id: string | null = null;
        question: string = '';
        recaptcha: string = '';
    }
</script>
