<template>
    <form v-bind="formData.attributes" class="form" :class="['form--sending' ? inSendProgress : '', additionalStyles]">
        <div class="form__grid">
            <CodeVerificationInput
                :type="'order'"
                :phone="phone"
                :label-attrs="getFieldLabelParams('code')"
                :state="getField('code')"
                :has-error="!validation.getField('code').valid"
                v-model="code"
            />
        </div>

        <div class="form__submit-wrap">
            <FormSubmit
                v-if="hasField('submit')"
                class="form__submit"
                :state="getField('submit')"
                @click.native.prevent="submit"
            />
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Prop} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormPhone from '~/components/forms/fields/FormPhone.vue';
    import CodeVerificationInput from '~/components/forms/fields/CodeVerificationInput.vue';
    import {sendYmGoal} from '~/helper/seo';

    @Component({
        components: {FormPhone, InputLabel, FormInput, FormSubmit, CodeVerificationInput},
    })
    export default class OrderPhoneForm extends BaseForm {
        @Prop({default: ''}) additionalStyles!: string;
        @Prop({default: ''}) phone!: string;

        code: string = '';

        created() {
            this.$eventBus.$on('sent-code-error', this.setCodeError.bind(this));
        }

        mounted() {
            // Сразу отпрапвляем запрос на код
            this.sendCode();
        }

        async submit(ev: Event) {
            ev.preventDefault();

            if (!this.code) {
                sendYmGoal('clicknumbersend');
                this.sendCode();
            } else {
                sendYmGoal('clicknumberpodtverdit');
                await this.doSubmit();
            }
        }

        sendCode() {
            this.validation.clearErrors();
            this.$eventBus.$emit('send-verification-code');
        }

        setCodeError(data) {
            this.onSubmitError(data);
        }

        async doSubmit() {
            this.$eventBus.$emit('order-phone-confirmed', this.code);
        }
    }
</script>
