<template>
    <div class="order-section">
        <div class="order-section__left">
            <form v-bind="formData.attributes" class="form order-form">

                <div class="order-form__group">
                    <div class="order-form__group-num">01</div>
                    <div class="order-form__group-title">Получатель</div>

                    <div class="order-form__row">
                        <div class="order-form__ceil">
                            <InputLabel v-bind="getFieldLabelParams('name')">
                                <FormInput v-model="name" :state="getField('name')" :has-error="!validation.getField('name').valid" />
                            </InputLabel>
                        </div>
                        <div class="order-form__ceil">
                            <InputLabel v-bind="getFieldLabelParams('phone')">
                                <FormPhone v-model="phone" :state="getField('phone')" :has-error="!validation.getField('phone').valid" />
                            </InputLabel>
                        </div>
                    </div>

                    <div class="order-form__ceil">
                        <FormCheckbox v-model="isRecipient" :state="{type: 'checkbox', name: 'isRecipient', 'label' : 'Другой получатель'}" />
                    </div>

                    <SlideUpDown :active="isRecipient">
                        <div class="order-form__row">
                            <div class="order-form__ceil">
                                <InputLabel v-bind="getFieldLabelParams('recipientName')">
                                    <FormInput v-model="recipientName"
                                               :state="getField('recipientName')"
                                               :has-error="!validation.getField('recipientName').valid" />
                                </InputLabel>
                            </div>
                            <div class="order-form__ceil">
                                <InputLabel v-bind="getFieldLabelParams('recipientPhone')">
                                    <FormPhone v-model="recipientPhone"
                                               :state="getField('recipientPhone')"
                                               :has-error="!validation.getField('recipientPhone').valid" />
                                </InputLabel>
                            </div>
                        </div>
                    </SlideUpDown>

                </div>

                <div class="order-form__group">
                    <div class="order-form__group-num">02</div>
                    <div class="order-form__group-title">Детали заказа</div>

                    <div class="order-form__row">

                        <div class="order-form__ceil">
                            <div class="order-form__ceil">
                                <FormRadio v-model="deliveryType" :state="getRadioField('deliveryType', 0)"/>
                            </div>

                            <div class="order-form__ceil">
                                <div class="order-form__info-text order-form__info-text--gray">
                                    {{cookAddress}}
                                </div>
                                <div class="order-form__distance todo">
                                    <SvgSymbol name="location" class="order-form__distance-icon"/> 4.2 км от вас
                                </div>
                            </div>
                        </div>

                        <div class="order-form__ceil">
                            <div class="order-form__ceil">
                                <FormRadio v-model="deliveryType" :state="getRadioField('deliveryType', 1)"/>
                            </div>

                            <div class="order-form__ceil">
                                <InputLabel v-bind="{'label' : 'Город', 'hasValue': true}">
                                    <FormInput :state="{'type': 'text', 'value' : cookCity, 'disabled': true}"/>
                                </InputLabel>
                            </div>

                            <div class="order-form__ceil">
                                <InputLabel v-bind="getFieldLabelParams('deliveryAddress')"
                                            class="order-form__address"
                                            :class="{'order-form__address--open' : addressSuggests.length}">
                                    <FormInput
                                        v-model="deliveryAddress"
                                        :state="{
                                            ...getField('deliveryAddress'),
                                            'disabled': !getRadioField('deliveryType', 1).checked
                                        }"
                                        :has-error="!validation.getField('deliveryAddress').valid"
                                        class="order-form__address-input"
                                        :class="{'order-form__address-input--open' : addressSuggests.length}"
                                    />
                                    <div v-if="addressSuggests.length" class="input-suggests">
                                        <div
                                            v-for="suggest in addressSuggests"
                                            class="input-suggests__item"
                                            :key="suggest"
                                            v-html="suggest"
                                            @click="setAddress(suggest)"
                                        />
                                    </div>
                                </InputLabel>
                            </div>

                            <div class="order-form__info-text"
                                 v-html="getRadioField('deliveryType', 1).descr">
                            </div>

                        </div>
                    </div>

                    <div class="order-form__ceil">
                        <div class="order-form__subtitle">
                            Желаемая дата и время
                        </div>
                    </div>

                    <div class="order-form__row">
                        <div class="order-form__ceil">
                            <InputLabel v-bind="getFieldLabelParams('deliveryDate')">
                                <FormDate
                                    :state="getField('deliveryDate')"
                                    v-model="deliveryDate"
                                    :has-error="!validation.getField('deliveryDate').valid"
                                />
                            </InputLabel>
                        </div>
                        <div class="order-form__ceil">
                            <InputLabel v-bind="getFieldLabelParams('deliveryTime')" tag="div">
                                <FormSelect v-model="deliveryTime"
                                            :state="fieldDeliveryTime"
                                            :has-error="!validation.getField('deliveryTime').valid"/>
                            </InputLabel>
                        </div>
                    </div>
                </div>

                <div class="order-form__group">
                    <div class="order-form__group-num">03</div>
                    <div class="order-form__group-title">Оплата</div>

                    <div class="order-form__ceil">
                        <FormRadio v-for="(ps, index) in paySystems"
                                   :key="'ps-' + ps.value"
                                   v-model="paySystem"
                                   :checked="ps.checked"
                                   :state="getRadioField('paySystem', index)" />
                    </div>

                </div>

                <div class="order-form__group order-form__group--last">
                    <div class="order-form__group-num">04</div>
                    <div class="order-form__group-title">КОММЕНТАРИЙ К ЗАКАЗУ</div>

                    <div class="order-form__ceil">
                        <FormTextarea v-model="comment"
                                      :state="getField('comment')"
                                      :has-error="!validation.getField('comment').valid"/>
                    </div>

                </div>

                <div class="order-form__submit-wrap">
                    <FormSubmit
                        v-if="hasField('submit')"
                        class="form__submit"
                        :state="getField('submit')"
                        @click.native.prevent="submit"
                    />
                </div>
            </form>
        </div>

        <div class="order-section__right">
            <OrderBasket :basket="basket" @clickSubmit="submit"/>

            <div class="order-section__decor decor-man">
                <div class="decor-man__decor-circle"></div>
                <div class="decor-man__decor-man"></div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Mixins, Vue, Prop, Watch} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormTextarea from '~/components/forms/fields/FormTextarea.vue';
    import StarRating from '~/components/forms/fields/StarRating.vue';
    import FormPhone from '~/components/forms/fields/FormPhone.vue';
    import FormRadio from '~/components/forms/fields/FormRadio.vue';
    import TFormField from '~/types/form/TFormField';
    import FormSelect from '~/components/forms/fields/FormSelect.vue';
    import FormDate from '~/components/forms/fields/FormDate.vue';
    import FormCheckbox from '~/components/forms/fields/FormCheckbox.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import Debounce from '~/decorators/debounce';
    import {getJson} from '~/helper/ajax';
    import route from '~/helper/route';
    import {formatDateToServer, prepareServerDate} from '~/helper/datetime';
    import OrderBasket from '~/components/order/OrderBasket.vue';
    import {TBasketByCook} from '~/types/basket/TBasketByCook';
    import {TFormResponse} from '~/types/form/TFormResponse';
    import {sendYmGoal} from '~/helper/seo';
    import SlideUpDown from 'vue-slide-up-down';

    type TSuggestResult = {
        success: boolean;
        items: string[]
    };

    @Component({
        components: {
            FormTextarea,
            InputLabel,
            FormInput,
            FormSubmit,
            StarRating,
            FormPhone,
            FormRadio,
            FormSelect,
            FormDate,
            SvgSymbol,
            OrderBasket,
            FormCheckbox,
            SlideUpDown,
        },
    })
    export default class OrderForm extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        @Prop({}) basket!: TBasketByCook;
        @Prop({}) cookCity!: string;
        @Prop({}) cookAddress!: string;

        name: string = '';
        phone: string = '';
        recipientName: string = '';
        recipientPhone: string = '';
        deliveryAddress: string = '';
        deliveryDate:  Date|string = '';
        deliveryTime: string = '';
        paySystem: string = this.paySystems[0].value;

        addressSuggests: string[] = [];
        lastSuggestQuery = '';
        deliveryType = this.deliveryTypes[0]?.value || '';
        comment = '';
        isRecipient = false;
        fieldDeliveryTime = this.getField('deliveryTime');

        created() {
            this.$eventBus.$on('order-phone-confirmed', this.submitWithCode.bind(this));
        }

        get deliveryTypes() {
            const field = this.getField('deliveryType');
            return field?.valueOptions || [];
        }

        @Watch('deliveryDate')
        deliveryDateWatch() {
            this.reCalcFieldDeliveryTime();
        }

        /**
         * Фильтруем опции времени.
         * Для текущей даты оставлять только интервалы на +3 часа к текущему времени пользователя
         * */
        reCalcFieldDeliveryTime() {
            let res = this.getField('deliveryTime');
            let deliveryDate;
            let date = new Date();
            let today = prepareServerDate(date);

            if (this.deliveryDate instanceof Date) {
                deliveryDate = prepareServerDate(this.deliveryDate);
            } else {
                deliveryDate = this.deliveryDate;
            }

            if (deliveryDate !== today) {
                this.fieldDeliveryTime = res;
                return;
            }

            //@ts-ignore
            if (!res?.options?.value_options) {
                return;
            }

            //@ts-ignore
            let options = res?.options?.value_options || [];

            let nawHour = date.getHours() + date.getMinutes()/60;

            options = options.filter(op => {
                let val = op.value; //строка типа 16:30 - 17:00
                let hourArr = val
                    .split('-')[0]
                    .split(':')
                    .map(s => parseInt(s.trim()));

                let hour = hourArr[0] + hourArr[1]/60;

                return hour - nawHour >= 3;
            });

            if (!options.find(op => op.value === this.deliveryTime)) {
                this.deliveryTime = '';
            }

            this.fieldDeliveryTime =  {
                ...res,
                options: {
                    ...res.options,
                    value_options: options,
                },
            };
        }

        get paySystems() {
            const field = this.getField('paySystem');
            return field?.valueOptions || [];
        }

        @Watch('deliveryAddress')
        @Debounce({time: 500})
        addressChanged() {
            if (this.lastSuggestQuery.trim() != this.deliveryAddress.trim()) {

                this.lastSuggestQuery = this.deliveryAddress.trim();

                if (this.lastSuggestQuery) {
                    const url = route('location.suggest') + '?cityName=' + this.cookCity + '&address=' + encodeURI(this.lastSuggestQuery);
                    getJson<TSuggestResult>(url).then((result) => {
                        this.addressSuggests = result.items;
                    });
                }
            }
        }

        setAddress(address: string) {
            this.deliveryAddress = address;
            this.lastSuggestQuery = address;
            this.addressSuggests = [];
        }

        getRadioField(fieldName: string, index: number): TFormField | null {
            const field = this.getField(fieldName);
            if ((!field || !field.name || !field.valueOptions)) {
                return null;
            }

            return {
                ...field,
                ...field.valueOptions[index],
                checked: field.valueOptions[index].value == this[fieldName],
            };
        }

        appendAdditionalData(formData: FormData) {
            formData.set('deliveryDate', formatDateToServer(this.deliveryDate));
        }

        async submit(ev: Event) {
            if (ev) ev.preventDefault();

            this.validation.clearErrors();

            if (!this.validation.isValid() || this.inSendProgress) {
                for (const fieldName in this.validation.fieldState) {
                    if (!this.validation.fieldState[fieldName].valid) {
                        this.pointToError(fieldName);

                        break;
                    }
                }
                return;
            }

            sendYmGoal('korzinaoformlenue');

            if (APP.isAuth) {
                // Если авторизован - сразу отправляем форму
                this.doSubmit();
            } else {
                // Если нет - показываем попап подтверждения номера телефона
                this.$eventBus.$emit('open-popup', {
                    type: 'order-phone',
                    componentProps: {
                        phone: this.phone,
                        formData: this.formData,
                    },
                });
            }
        }

        async submitWithCode(code: string) {
            this.code = code;
            this.doSubmit();
        }

        onSubmitError(data: TFormResponse) {
            for (const fieldName in data.errors) {
                let errors: string[] = [];

                for (const ruleName in data.errors[fieldName]) {
                    errors.push(data.errors[fieldName][ruleName]);
                }

                this.validation.customError(fieldName, errors.join('. '));
            }

            this.$eventBus.$emit('sent-code-error', data);
        }

        /*onSubmitSuccess(data: TFormResponse) {
            // todo
        }*/
    }
</script>
