<template>
    <form v-bind="formData.attributes" class="form" :class="['form--sending' ? inSendProgress : '', additionalStyles]">
        <div class="form__grid">
            <InputLabel v-bind="getFieldLabelParams('phone')">
                <FormPhone v-model="phone" :state="getField('phone')" :has-error="!validation.getField('phone').valid" />
            </InputLabel>
            <InputLabel v-bind="getFieldLabelParams('email')">
                <FormInput v-model="email" :state="getField('email')" ref="input" :has-error="!validation.getField('email').valid" />
            </InputLabel>

            <InputLabel v-bind="getFieldLabelParams('password')">
                <FormPassword
                    v-model="password"
                    :state="getField('password')"
                    :has-error="!validation.getField('password').valid"
                />
            </InputLabel>

            <CodeVerificationInput
                :type="'register'"
                :phone="phone"
                :label-attrs="getFieldLabelParams('code')"
                :state="getField('code')"
                :has-error="!validation.getField('code').valid"
                v-model="code"
            />
        </div>

        <div class="form__privacy form__privacy--border">
            <!--FormCheckbox class="checkbox" v-model="advertisement" :state="getField('advertisement')" /-->
            <div v-html="formData.privacy" />
        </div>

        <div class="form__submit-wrap">
            <FormSubmit
                v-if="hasField('submit')"
                class="form__submit"
                :state="getField('submit')"
                @click.native.prevent="submit"
                :color="submitcolor"
            />
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Prop} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormPassword from '~/components/forms/fields/FormPassword.vue';
    import FormPhone from '~/components/forms/fields/FormPhone.vue';
    import {showMessagePopup} from '~/helper/common';
    import {TFormResponse} from '~/types/form/TFormResponse';
    import FormCheckbox from '~/components/forms/fields/FormCheckbox.vue';
    import CodeVerificationInput from '~/components/forms/fields/CodeVerificationInput.vue';
    import {sendYmGoal} from '~/helper/seo';

    @Component({
        components: {FormCheckbox, FormPhone, FormPassword, InputLabel, FormInput, FormSubmit, CodeVerificationInput},
    })
    export default class RegistrationForm extends BaseForm {
        @Prop({default: ''}) submitcolor!: string;
        @Prop({default: ''}) additionalStyles!: string;

        email: string = '';
        phone: string = '';
        password: string = '';
        code: string = '';
        advertisement: boolean = true;

        created() {
            this.$eventBus.$on('custom-on-submit-error', this.onSubmitError.bind(this));
        }

        async submit(ev: Event) {
            ev.preventDefault();

            let hasInvalidExceptCode = false;
            this.validation.isValid();
            for (let field in this.validation.fieldState) {
                if (field === 'code') continue;

                hasInvalidExceptCode = hasInvalidExceptCode || (!this.validation.fieldState[field].valid);
            }

            if (!hasInvalidExceptCode && !this.code) {
                sendYmGoal('clicknumbersend');
                this.sendCode();
            } else if (!hasInvalidExceptCode) {
                sendYmGoal('clicknumberpodtverdit');
                await this.doSubmit();
            }
        }

        appendAdditionalData(formData: FormData) {
            formData.set('type', 'register');
        }

        sendCode() {
            this.validation.clearErrors();
            this.$eventBus.$emit('send-verification-code');
        }

        onSubmitSuccess(data: TFormResponse) {
            this.$eventBus.$emit('close-popup');

            this.email = '';
            this.phone = '';
            this.code = '';
            this.password = '';
            this.advertisement = false;

            this.$nextTick(() => {
                this.validation.clearErrors();
            });

            if (data.message) {
                showMessagePopup(data.message.title, data.message.text);
            }

            if (data.reload) {
                setTimeout(() => { window.location.reload(); }, data.reload);
            }
        }
    }
</script>
