<template>
    <form v-bind="formData.attributes" class="form" :class="{'form--sending': inSendProgress}">
        <div class="form__grid">
            <label class="input-label input-label--focus">
                <span class="input-label__text">
                    <span>Аккаунт</span>
                </span>

                <input class="input" disabled :value="email">
            </label>

            <InputLabel v-bind="getFieldLabelParams('password')">
                <FormPassword
                    v-model="password"
                    :state="getField('password')"
                    :has-error="!validation.getField('password').valid"
                />
            </InputLabel>
        </div>

        <div class="form__submit-wrap">
            <FormSubmit v-if="hasField('submit')" class="form__submit" :state="getField('submit')" @click.native.prevent="submit" />
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import FormPassword from '~/components/forms/fields/FormPassword.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import {TFormResponse} from '~/types/form/TFormResponse';
    import {showMessagePopup} from '~/helper/common';

    @Component({
        components: {SvgSymbol, InputLabel, FormPassword, FormSubmit},
    })
    export default class ResetPasswordForm extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        @Prop({default: ''}) email!: string;
        @Prop({default: ''}) token!: string;

        password: string = '';

        get isAuth():boolean {
            return APP.isAuth;
        }

        appendAdditionalData(formData: FormData) {
            formData.set('email', this.email);
            formData.set('token', this.token);
        }

        onSubmitSuccess(data: TFormResponse) {
            this.$eventBus.$emit('close-popup');

            if (data.message) {
                showMessagePopup(data.message.title, data.message.text);
            }

            if (data.reload) {
                setTimeout(() => { window.location.reload(); }, data.reload);
            }
        }
    }
</script>
