<template>
    <form v-bind="formData.attributes" class="form" :class="['form--sending' ? inSendProgress : '', additionalStyles]">
        <div class="form__grid">
            <InputLabel v-bind="getFieldLabelParams('phone')">
                <FormPhone v-model="phone" :state="getField('phone')" :has-error="!validation.getField('phone').valid" />
            </InputLabel>

            <CodeVerificationInput
                :type="'verify'"
                :phone="phone"
                :label-attrs="getFieldLabelParams('code')"
                :state="getField('code')"
                :has-error="!validation.getField('code').valid"
                v-model="code"
            />
        </div>

        <div class="form__submit-wrap">
            <FormSubmit
                v-if="hasField('submit')"
                class="form__submit"
                :state="getField('submit')"
                @click.native.prevent="submit"
            />
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Prop} from 'vue-property-decorator';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormPhone from '~/components/forms/fields/FormPhone.vue';
    import {showMessagePopup} from '~/helper/common';
    import {TFormResponse} from '~/types/form/TFormResponse';
    import CodeVerificationInput from '~/components/forms/fields/CodeVerificationInput.vue';
    import {sendYmGoal} from '~/helper/seo';

    @Component({
        components: {FormPhone, InputLabel, FormInput, FormSubmit, CodeVerificationInput},
    })
    export default class VerifyPhoneForm extends BaseForm {
        @Prop({default: ''}) additionalStyles!: string;

        phone: string = '';
        code: string = '';

        appendAdditionalData(formData: FormData) {
            formData.set('type', 'verify');
        }

        async submit(ev: Event) {
            ev.preventDefault();

            let hasInvalidExceptCode = false;
            this.validation.isValid();
            for (let field in this.validation.fieldState) {
                if (field === 'code') continue;

                hasInvalidExceptCode = hasInvalidExceptCode || (!this.validation.fieldState[field].valid);
            }

            if (!hasInvalidExceptCode && !this.code) {
                sendYmGoal('clicknumbersend');
                this.sendCode();
            } else if (!hasInvalidExceptCode) {
                sendYmGoal('clicknumberpodtverdit');
                await this.doSubmit();
            }
        }

        sendCode() {
            this.validation.clearErrors();
            this.$eventBus.$emit('send-verification-code');
        }

        onSubmitSuccess(data: TFormResponse) {
            this.$eventBus.$emit('close-popup');

            this.phone = '';
            this.code = '';

            this.$nextTick(() => {
                this.validation.clearErrors();
            });

            if (data.message) {
                showMessagePopup(data.message.title, data.message.text);
            }

            if (data.reload) {
                setTimeout(() => { window.location.reload(); }, data.reload);
            }
        }
    }
</script>
