<template>
    <div class="distance-filter todo">
        <div class="distance-filter__wrapper">
            <div class="distance-filter__label">Расстояние до пользователя:</div>
            <div class="distance-filter__items">
                <a
                    v-for="(filter, index) in filters"
                    :key="index"
                    href="javascript:void(0)"
                    class="distance-filter__item link link--with-icon link--dashed"
                >
                    <span class="link__text">{{ filter }}</span>
                </a>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    @Component
    export default class DistanceFilter extends Vue {
        get filters(): string[] {
            return ['до 1 км', 'до 5 км', 'Весь город'];
        }
    }
</script>
