<template>
    <div
        class="list-filter"
        :class="{
            'list-filter--open': isOpen,
            'list-filter--absolute': absolutePosition,
        }"
        v-click-outside="closeFilter"
        @keydown.capture.esc="closeFilter"
    >
        <button v-if="isAdaptive || !isOpenOnDesktop" class="list-filter__btn" @click="toggleFilter">
            <span class="list-filter__btn-icon-wrap">
                <SvgSymbol name="filter" class="list-filter__btn-icon" />
            </span>
            <span class="list-filter__btn-span">Фильтр</span>
        </button>

        <div class="list-filter__content custom-scrollbar custom-scrollbar--hidden">
            <button class="list-filter__btn list-filter__btn--adaptive" @click="toggleFilter">
                <span class="list-filter__btn-span">Фильтр</span>
                <span class="list-filter__btn-icon-wrap">
                    <SvgSymbol name="close-filter" class="list-filter__btn-icon" />
                </span>
            </button>

            <SlideUpDown
                :active="isOpen || isOpenOnDesktop"
                :duration="isAdaptive ? 1 : 500"
                class="list-filter__spoiler"
                :class="{'list-filter__spoiler--outer': !isOpenOnDesktop, 'custom-scrollbar': !isOpenOnDesktop}"
            >
                <div class="list-filter__items">
                    <div v-for="(filterGroup, groupIndex) in currentFilter" :key="groupIndex" class="list-filter__group">
                        <button
                            v-if="filterGroup.label"
                            class="list-filter__label"
                            :class="{'list-filter__label--collapsable': filterGroup.collapsable}"
                            @click.prevent="toggleCollapse(filterGroup, groupIndex)"
                        >
                            <span v-html="filterGroup.label" />
                            <SvgSymbol
                                v-if="filterGroup.collapsable"
                                name="spoiler"
                                class="list-filter__collapse-icon"
                                :class="{'list-filter__collapse-icon--open': collapseState[groupIndex]}"
                            />
                        </button>

                        <SlideUpDown :active="collapseState[groupIndex]" class="list-filter__spoiler">
                            <div v-if="filterGroup.type === 'toggle'" class="list-filter__toggle-group">
                                <label
                                    v-for="(filterItem) in filterGroup.items"
                                    :key="filterItem.value"
                                    class="list-filter__toggler"
                                >
                                    <input
                                        class="radio__input list-filter__toggler-radio"
                                        type="radio"
                                        :value="filterItem.value"
                                        v-model="filterState[filterGroup.name]"
                                    >
                                    <span class="list-filter__toggler-text" v-html="filterItem.label" />
                                </label>
                            </div>
                            <div v-else-if="filterGroup.items" class="list-filter__group-items">
                                <div
                                    v-for="(filterItem) in filterGroup.items"
                                    :key="filterItem.value"
                                    class="list-filter__item"
                                >
                                    <label v-if="filterGroup.type === 'checkbox'" class="checkbox checkbox--small-font">
                                        <input
                                            class="checkbox__input"
                                            type="checkbox"
                                            :value="filterItem.value"
                                            v-model="filterState[filterGroup.name]"
                                        >
                                        <span class="checkbox__label">
                                            <span v-html="filterItem.label" />
                                        </span>
                                        <SvgSymbol name="checkbox" class="checkbox__icon" />
                                    </label>
                                </div>
                            </div>

                            <div v-else-if="filterGroup.range" class="list-filter__group-range">
                                <div class="range">
                                    <div class="range__inputs">
                                        <FormInput :state="{type: 'number', value: filterGroup.range.curMin || '0'}"
                                                   class="range__input"
                                                   :input-filter="clearValue"
                                                   v-model="filterState[filterGroup.name][0]" />

                                        <FormInput :state="{type: 'number', value: filterGroup.range.curMax}"
                                                   class="range__input"
                                                   :input-filter="clearValue"
                                                   v-model="filterState[filterGroup.name][1]" />
                                    </div>

                                    <VueSlider
                                        v-model="filterState[filterGroup.name]"
                                        tooltip="none"
                                        dot-size="16"
                                        height="4px"
                                        :min="filterGroup.range.min"
                                        :max="filterGroup.range.max"
                                        :interval="1"
                                        ref="range"
                                        class="range__slider"/>
                                </div>
                            </div>
                        </SlideUpDown>
                    </div>
                </div>

                <div class="list-filter__btn-wrap">
                    <button class="btn" @click.prevent="applyFilter">
                        <span class="btn__text">Применить</span>
                    </button>
                    <button class="btn btn--grey list-filter__btn-clear" @click.prevent="resetFilter">
                        <SvgSymbol name="refresh" class="btn__icon list-filter__clear-icon" />
                        <span class="btn__text">Сбросить фильтр</span>
                    </button>
                </div>
            </SlideUpDown>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TFilter from '~/types/filter/TFilter';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import SlideUpDown from 'vue-slide-up-down';
    import TObjectCollection from '~/types/TObjectCollection';
    import eventBus from '~/helper/event-bus';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import VueSlider from 'vue-slider-component';

    @Component({
        components: {SvgSymbol, SlideUpDown, FormInput, VueSlider},
    })
    export default class ListFilter extends Vue {
        @Prop({default: () => []}) filter!: TFilter[];
        @Prop({default: false}) absolutePosition!: boolean;
        @Prop({default: false}) isOpenOnDesktop!: boolean;

        currentFilter: TFilter[] = this.filter;
        isOpen: boolean = false;
        isAdaptive: boolean = false;
        collapseState: TObjectCollection<boolean> = {};
        filterState: TObjectCollection<TObjectCollection> = {};

        created() {
            const newState = {};
            this.currentFilter.forEach((filterGroup, index) => {
                this.collapseState[index] = true;

                if (filterGroup.type === 'toggle') {
                    newState[filterGroup.name] = (filterGroup.items || [])
                        .filter(item => item.checked)
                        .map(item => item.value)[0];
                } else if (filterGroup.items) {
                    newState[filterGroup.name] = (filterGroup.items || [])
                        .filter(item => item.checked)
                        .map(item => item.value);
                } else if (filterGroup.range) {
                    newState[filterGroup.name] = [
                        filterGroup.range.curMin || '0',
                        filterGroup.range.curMax,
                    ];
                }
            });

            this.filterState = newState;

            eventBus.$on('resize-watcher', this.onResize);
            eventBus.$on('set-filter', this.doSetFilter);
            eventBus.$on('reset-filter', this.doResetFilter);
        }

        toggleCollapse(filterGroup: TFilter, index: number) {
            if (!filterGroup.collapsable) {
                return;
            }

            this.collapseState[index] = !this.collapseState[index];
            this.collapseState = {...this.collapseState}; // для реактивности
        }

        toggleFilter() {
            this.isOpen = !this.isOpen;
        }

        closeFilter() {
            this.isOpen = false;
        }

        clearValue(value, min, max) {
            value = parseInt(value);

            if (isNaN(value)) {
                value = 0;
            }

            if (value < min) value = min;

            if (value > max) value = max;

            return value;
        }

        onResize({isMd}) {
            this.isAdaptive = isMd;

            // fix при повороте планшета с фокусом в поле фильтра, то в мобильной версии остаётся открытая клавиатура при закрытом фильтре
            if (this.isAdaptive && !this.isOpen) {
                (this.$el.querySelector('input:focus') as HTMLElement)?.blur();
            }
        }

        applyFilter() {
            this.closeFilter();
            this.$emit('applyFilter', this.filterState);
        }

        resetFilter() {
            this.$emit('resetFilter');
        }

        doResetFilter() {
            this.closeFilter();

            const newState = {};
            this.currentFilter.forEach((filterGroup, index) => {
                this.collapseState[index] = true;

                if (filterGroup.type === 'toggle') {
                    newState[filterGroup.name] = '';
                } else if (filterGroup.items) {
                    newState[filterGroup.name] = [];
                } else if (filterGroup.range) {
                    newState[filterGroup.name] = [
                        filterGroup.range.min,
                        filterGroup.range.max,
                    ];
                }
            });

            this.filterState = newState;
        }

        doSetFilter(params) {
            const newState = {...this.filterState};

            for (let key in params) {
                const newValue = params[key];
                const filterGroup = this.currentFilter.filter((group) => group.name === key)[0];
                newState[filterGroup.name] = newValue;
            }

            this.filterState = newState;
        }
    }
</script>
