<template>
    <div class="search-section" v-click-outside="onClickOutside">
        <label class="search-section__input-wrap">
            <SvgSymbol name="search" class="search-section__icon" />
            <FormInput v-model="currentValue" :state="state" class="search-section__input" @keydown.native.esc="clearValue" />

            <transition name="fade">
                <button v-show="currentValue.length" class="cross-btn search-section__clear" @click.prevent="clearValue" />
            </transition>

            <transition name="fade">
                <span v-if="showSuggests && suggests.length && currentValue && currentValue.length > 2" class="search-section__suggests-wrap">
                    <span class="search-section__suggests custom-scrollbar">
                        <button v-for="(item, index) in suggests" :key="index" class="search-section__suggest" @click.prevent="selectSuggest(item, index)" v-html="item" />
                    </span>
                </span>
            </transition>
        </label>
        <button v-if="showBtn" class="btn search-section__btn">
            <span class="btn__text">Найти</span>
        </button>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, VModel, Vue, Watch} from 'vue-property-decorator';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import TFormField from '~/types/form/TFormField';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import {clearHTMLEntites} from '~/helper/common';

    @Component({
        components: {SvgSymbol, FormInput},
    })
    export default class Search extends Vue {
        @Prop({required: true}) state!: TFormField;
        @Prop({default: true}) showBtn!: boolean;
        @Prop({default: () => []}) suggests!: string[];
        @VModel() currentValue!: string;

        showSuggests: boolean = false;

        @Watch('currentValue')
        onCurrentValueChanged() {
            this.showSuggests = !!this.currentValue && this.currentValue.trim().length > 0;
        }

        selectSuggest(item: string, index: number) {
            this.currentValue = clearHTMLEntites(item);

            this.$nextTick(() => {
                this.showSuggests = false;
            });

            this.$emit('select-suggest', index);
        }

        clearValue() {
            this.currentValue = '';
        }

        onClickOutside() {
            this.showSuggests = false;
        }
    }
</script>
