<template>
    <div class="service-feature"
         :class="{'service-feature--support': isSupportItem}">
        <div class="service-feature__picture" v-if="item.image">
            <img :src="item.image" alt="" />
        </div>
        <div class="service-feature__name" v-html="item.name"></div>
        <div v-if="item.text" class="service-feature__text" v-html="item.text"></div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TServiceFeature} from '~/types/about-service/TServiceFeature';
    import BackendImage from '~/components/BackendImage.vue';

    @Component({
        components: {BackendImage},
    })
    export default class ServiceFeature extends Vue {
        @Prop({required: true}) item!: TServiceFeature;
        @Prop({default: false}) isSupportItem!: boolean;
    }
</script>
