<template>
    <div class="service-features-slider">
        <div class="mobile-full-page-slider">
            <VueSlickCarousel
                v-bind="sliderSettings"
                :class="['slider', 'slider--stretch', 'slider--spaced', 'slider--variable-width']"
                ref="slider"
                @reInit="updatePagesDebounced"
                @beforeChange="updatePagesDebounced">
                <div v-for="(item, index) in items"
                     :key="index"
                     class="slider__slide">
                    <ServiceFeature :item="item" />
                </div>
            </VueSlickCarousel>
        </div>

        <CircleDots :current-index="currentPage"
                    :count="totalPages"
                    @select="goTo"/>

        <SliderNav :current="currentPage"
                   :total="totalPages"
                   @prev-click="prev"
                   @next-click="next" />
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Mixins, Prop} from 'vue-property-decorator';
    import BaseSlider from '~/components/slider/BaseSlider.vue';
    import VueSlickCarousel from 'vue-slick-carousel';
    import {BREAKPOINTS} from '~/helper/const';
    import SliderNav from '~/components/slider/SliderNav.vue';
    import CircleDots from '~/components/slider/CircleDots.vue';
    import ServiceFeature from '~/components/about-service/ServiceFeature.vue';
    import {TServiceFeature} from '~/types/about-service/TServiceFeature';

    @Component({
        components: {ServiceFeature, CircleDots, SliderNav, VueSlickCarousel},
    })
    export default class ServiceFeaturesSlider extends Mixins(Vue, BaseSlider) {
        @Prop({default: () => []}) items!: TServiceFeature[];

        sliderSettings = {
            slidesToShow: 3,
            responsive: [
                {
                    breakpoint: BREAKPOINTS.md,
                    settings: {
                        variableWidth: true,
                        slidesToShow: 1,
                    },
                },
            ],
        };
    }
</script>
