<template>
    <div class="catalog-nav">
        <div class="catalog-nav__scroll-wrap custom-scrollbar custom-scrollbar--hidden">
            <div class="catalog-nav__items">
                <a v-for="(item, index) in items"
                   :key="index"
                   :href="item.url || 'javascript:void(0);'" class="catalog-category catalog-nav__item">
                    <div class="catalog-category__name" v-html="item.name"><?= $category['name'] ?></div>
                    <div class="catalog-category__count">{{ item.countText }}</div>
                </a>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import {TCatalogCategory} from '~/types/catalog/TCatalogCategory';

    @Component
    export default class CatalogNav extends Vue {
        @Prop({default: () => []}) items!: TCatalogCategory[];
    }
</script>
