<template>
    <div class="chef-info" :class="{'chef-info--profile': isProfile}">
        <div v-if="!isProfile" class="chef-info__avatar-wrap">
            <div class="chef-info__avatar">
                <BackendImage :image="chefData.avatar" />
            </div>
            <div class="chef-info__labels">
                <ChefLabels class="chef-info__labels-list" :items="chefData.labels" :show-name="true" />
            </div>
        </div>

        <h4 v-if="!isProfile" class="h4 chef-info__name">{{ chefData.name }}</h4>

        <div class="chef-info__tags">
            <div class="chef-info__tags-label">Категории блюд</div>
            <div v-for="tag in chefData.categories" :key="tag.id" class="chef-info__tag btn btn--clear btn--sm chef-card__tag">
                <span class="btn__text" v-html="tag.name" />
            </div>
        </div>

        <div class="chef-info__about">
            <h4 class="h4 chef-info__about-label">О себе</h4>
            <div>{{ chefData.about }}</div>
        </div>

        <div class="chef-info__info">
            <div class="chef-info__info-item">
                <div class="chef-info__info-label">Адрес кухни</div>
                <div class="chef-info__info-value">
                    <SvgSymbol name="location" />
                    <span v-html="chefData.address" />
                </div>
            </div>
            <div class="chef-info__info-item">
                <div class="chef-info__info-label">Специализация</div>
                <div class="chef-info__info-value">{{ chefData.specialization }}</div>
            </div>
            <div class="chef-info__info-item">
                <div class="chef-info__info-label">Сколько лет в&nbsp;деле</div>
                <div class="chef-info__info-value">{{ chefData.experience }}</div>
            </div>
            <div class="chef-info__info-item">
                <div class="chef-info__info-label">Дата регистрации</div>
                <div class="chef-info__info-value">{{ chefData.registerDate }}</div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TChefProfile from '~/types/chef/TChefProfile';
    import BackendImage from '~/components/BackendImage.vue';
    import ChefLabels from '~/components/chef/ChefLabels.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';

    @Component({
        components: {SvgSymbol, ChefLabels, BackendImage},
    })
    export default class ChefInfo extends Vue {
        @Prop({default: {}}) chefData!: TChefProfile;
        @Prop({default: false}) isProfile!: boolean;
    }
</script>
