<template>
    <div class="chef-detail__kitchen__slider">
        <div class="mobile-full-page-slider">
            <VueSlickCarousel
                v-bind="sliderSettings"
                :class="['slider', 'slider--stretch', 'slider--spaced', 'slider--variable-width']"
                ref="slider"
                @reInit="updatePagesDebounced"
                @beforeChange="updatePagesDebounced">
                <div v-for="(item, index) in items"
                     :key="index"
                     class="slider__slide">
                    <div class="profile-chef-kitchen__item">
                        <backend-image class="profile-chef-kitchen__item-image" :image="item.picture" :loading="index < 1 ? 'eager' : 'lazy'" draggable="false" @dragstart.native="preventDrag" />
                    </div>
                </div>
            </VueSlickCarousel>
        </div>

        <SliderNav :current="currentPage"
                   :total="totalPages"
                   :large="true"
                   @prev-click="prev"
                   @next-click="next" />
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Mixins, Prop} from 'vue-property-decorator';
    import BaseSlider from '~/components/slider/BaseSlider.vue';
    import VueSlickCarousel from 'vue-slick-carousel';
    import {BREAKPOINTS} from '~/helper/const';
    import SliderNav from '~/components/slider/SliderNav.vue';
    import BackendImage from '~/components/BackendImage.vue';
    import {TBackendImage} from '~/types/images';

    @Component({
        components: {BackendImage, SliderNav, VueSlickCarousel},
    })
    export default class ChefKitchenSlider extends Mixins(Vue, BaseSlider) {
        @Prop({default: () => []}) items!: {'id':number, 'picture':TBackendImage}[];

        sliderSettings = {
            slidesToShow: 4,
            responsive: [
                {
                    breakpoint: BREAKPOINTS.md,
                    settings: {
                        variableWidth: true,
                        slidesToShow: 1,
                    },
                },
            ],
        };
    }
</script>
