<template>
    <div class="chef-labels">
        <ChefLabel v-for="(item, index) in items"
                   :key="index"
                   :item="item"
                   :show-name="showName"
                   class="chef-labels__item chef-label" />
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TChefLabel from '~/types/chef/TChefLabel';
    import ChefLabel from '~/components/chef/ChefLabel.vue';

    @Component({
        components: {ChefLabel},
    })
    export default class ChefLabels extends Vue {
        @Prop({default: () => []}) items!: TChefLabel[];
        @Prop({default: false}) showName!: boolean;
    }
</script>
