<template>
    <a :href="item.url"
       class="chef-card"
       :class="{
           'chef-card--in-list': inList,
           'chef-card--on-detail': onDetail
       }"
       @dragstart="$emit('dragstart', $event)">

        <ChefLabels v-if="showLabels"
                    :items="item.labels"
                    :show-name="onDetail"
                    class="chef-card__labels" />

        <ProductChefPhoto :item="item" :use-button="false" class="chef-card__photo" />

        <ProductChefLocation :item="item" class="chef-card__location"/>

        <div class="chef-card__name" v-html="item.name"></div>

        <div class="chef-card__position" v-html="item.position"></div>

        <div class="chef-card__tags">
            <button v-for="(tag, index) in item.tags"
                    :key="index"
                    class="btn btn--clear btn--sm chef-card__tag">
                <span class="btn__text" v-html="tag.name"></span>
            </button>
        </div>

        <span v-if="showProfileBtn" class="chef-card__detail-btn">
            <span class=" btn">Перейти в&nbsp;профиль</span>
        </span>
    </a>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TChef} from '~/types/chef/TChef';
    import ProductChefPhoto from '~/components/product/ProductChefPhoto.vue';
    import ProductChefLocation from '~/components/product/ProductChefLocation.vue';
    import ChefLabels from '~/components/chef/ChefLabels.vue';

    @Component({
        components: {ChefLabels, ProductChefLocation, ProductChefPhoto},
    })
    export default class ChefCard extends Vue {
        @Prop({required: true}) item!: TChef;
        @Prop({default: false}) inList!: boolean;
        @Prop({default: false}) onDetail!: boolean;
        @Prop({default: false}) showProfileBtn!: boolean;

        get showLabels() {
            if (!this.item.labels || this.item.labels.length === 0) return false;

            return this.inList || this.onDetail;
        }
    }
</script>
