<template>
    <div class="chefs-map page__section list">
        <div class="content-container">
            <div class="list__grid">
                <div class="list__filter">
                    <ListFilter :filter="filter" :absolute-position="true" />
                </div>
                <div class="list__right-col">
                    <Search v-model="searchValue" :state="fakeFieldState" :suggests="suggests" @select-suggest="onSelectSuggest" />
                    <DistanceFilter />
                </div>
            </div>
        </div>
        <div class="chefs-map__map">
            <YMap :points="items" v-model="curChef">
                <template v-slot="{point}">
                    <ChefCard :item="point" :in-list="true" :show-profile-btn="true" />
                </template>
            </YMap>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import {TChef} from '~/types/chef/TChef';
    import TFilter from '~/types/filter/TFilter';
    import ListFilter from '~/components/filter/ListFilter.vue';
    import Search from '~/components/search/Search.vue';
    import DistanceFilter from '~/components/filter/DistanceFilter.vue';
    import YMap from '~/components/map/YMap.vue';
    import ChefCard from '~/components/chef/ChefCard.vue';
    import TFormField from '~/types/form/TFormField';

    @Component({
        components: {ChefCard, YMap, DistanceFilter, Search, ListFilter},
    })
    export default class ChefsMap extends Vue {
        @Prop({default: () => []}) items!: TChef[];
        @Prop({default: () => []}) filter!: TFilter[];

        curChef: TChef | null = null;
        searchValue: string = '';

        // todo для верстки
        get fakeFieldState(): TFormField {
            return {
                type: 'search',
                placeholder: 'Введите имя повара',
                value: '',
            };
        }

        get suggests(): string[] {
            return this.items.map(item => item.name);
        }

        onSelectSuggest(index: number) {
            this.curChef = this.items[index];
        }
    }
</script>
