<template>
    <div class="product-card-chef">
        <ProductChefPhoto :item="item" class="product-card-chef__photo" :use-link="true" />

        <div class="product-card-chef__name-wrap">
            <div class="product-card-chef__name">
                <a :href="item.url"
                   class="link"
                   v-html="item.name"
                   @dragstart="$emit('dragstart', $event)"></a>
            </div>

            <ProductChefLocation v-if="item.distance" :item="item" class="product-card-chef__location" />
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TChef} from '~/types/chef/TChef';
    import ProductChefPhoto from '~/components/product/ProductChefPhoto.vue';
    import ProductChefLocation from '~/components/product/ProductChefLocation.vue';

    @Component({
        components: {ProductChefLocation, ProductChefPhoto},
    })
    export default class ProductCardChef extends Vue {
        @Prop({required: true}) item!: TChef;
    }
</script>
