<template>
    <div
        class="list-filter"
        :class="{
            'list-filter--open': isOpen,
            'list-filter--absolute': absolutePosition,
        }"
        v-click-outside="closeFilter"
        @keydown.capture.esc="closeFilter"
    >
        <button v-if="isAdaptive || !isOpenOnDesktop" class="list-filter__btn" @click="toggleFilter">
            <span class="list-filter__btn-icon-wrap">
                <SvgSymbol name="filter" class="list-filter__btn-icon" />
            </span>
            <span class="list-filter__btn-span">Фильтр</span>
        </button>
        <div class="list-filter__content custom-scrollbar custom-scrollbar--hidden">
            <button class="list-filter__btn list-filter__btn--adaptive" @click="toggleFilter">
                <span class="list-filter__btn-span">Фильтр</span>
                <span class="list-filter__btn-icon-wrap">
                    <SvgSymbol name="close-filter" class="list-filter__btn-icon" />
                </span>
            </button>
            <SlideUpDown :active="isOpen || isOpenOnDesktop" :duration="isAdaptive ? 1 : 500" class="list-filter__spoiler">
                <div class="list-filter__items">
                    <div v-for="(filterGroup, groupIndex) in filter" :key="groupIndex" class="list-filter__group">
                        <button
                            v-if="filterGroup.label"
                            class="list-filter__label"
                            :class="{'list-filter__label--collapsable': filterGroup.collapsable}"
                            @click.prevent="toggleCollapse(filterGroup, groupIndex)"
                        >
                            <span v-html="filterGroup.label" />
                            <SvgSymbol
                                v-if="filterGroup.collapsable"
                                name="spoiler"
                                class="list-filter__collapse-icon"
                                :class="{'list-filter__collapse-icon--open': collapseState[groupIndex]}"
                            />
                        </button>
                        <SlideUpDown :active="collapseState[groupIndex]" class="list-filter__spoiler">
                            <div v-if="filterGroup.items" class="list-filter__group-items">
                                <div
                                    v-for="(filterItem, index) in filterGroup.items"
                                    :key="filterItem.value"
                                    class="list-filter__item"
                                >
                                    <component :is="getComponentForFilter(filterGroup)" :state="filterItem" />
                                </div>
                            </div>
                            <div v-else-if="filterGroup.range" class="list-filter__group-range">
                                <component :is="getComponentForFilter(filterGroup)" v-bind="filterGroup.range" />
                            </div>
                        </SlideUpDown>
                    </div>
                </div>
                <div class="list-filter__btn-wrap">
                    <button class="btn">
                        <span class="btn__text">Применить</span>
                    </button>
                    <button class="btn btn--grey list-filter__btn-clear">
                        <SvgSymbol name="refresh" class="btn__icon list-filter__clear-icon" />
                        <span class="btn__text">Сбросить фильтр</span>
                    </button>
                </div>
            </SlideUpDown>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TFilter from '~/types/filter/TFilter';
    import FormCheckbox from '~/components/forms/fields/FormCheckbox.vue';
    import FormRadio from '~/components/forms/fields/FormRadio.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import SlideUpDown from 'vue-slide-up-down';
    import TObjectCollection from '~/types/TObjectCollection';
    import FormRange from '~/components/forms/FormRange.vue';
    import eventBus from '~/helper/event-bus';

    @Component({
        components: {FormRange, SvgSymbol, FormCheckbox, SlideUpDown},
    })
    export default class ListFilter extends Vue {
        @Prop({default: () => []}) filter!: TFilter[];
        @Prop({default: false}) absolutePosition!: boolean;
        @Prop({default: false}) isOpenOnDesktop!: boolean;

        isOpen: boolean = false;
        isAdaptive: boolean = false;
        collapseState: TObjectCollection<boolean> = {};

        created() {
            this.filter.forEach((filterGroup, index) => {
                this.collapseState[index] = true;
            });

            eventBus.$on('resize-watcher', this.onResize);
        }

        getComponentForFilter(filter: TFilter) {
            switch (filter.type) {
                case 'checkbox':
                    return FormCheckbox;
                case 'radio':
                    return FormRadio;
                case 'range':
                    return FormRange;
                default:
                    return FormCheckbox;
            }
        }

        toggleCollapse(filterGroup: TFilter, index: number) {
            if (!filterGroup.collapsable) {
                return;
            }

            this.collapseState[index] = !this.collapseState[index];
            this.collapseState = {...this.collapseState}; // для реактивности
        }

        toggleFilter() {
            this.isOpen = !this.isOpen;
        }

        closeFilter() {
            this.isOpen = false;
        }

        onResize({isMd}) {
            this.isAdaptive = isMd;

            // fix при повороте планшета с фокусом в поле фильтра, то в мобильной версии остаётся открытая клавиатура при закрытом фильтре
            if (this.isAdaptive && !this.isOpen) {
                (this.$el.querySelector('input:focus') as HTMLElement)?.blur();
            }
        }
    }
</script>
