<template>
    <div class="catalog-nav" ref="nav">
        <div class="catalog-nav__items" ref="items">
            <div class="" v-for="category in items" :key="category.id">
                <a
                    :href="category.url"
                    class="catalog-category catalog-nav__item"
                >
                    <div class="catalog-category__name" v-html="category.title"/>
                    <div class="catalog-category__count" v-html="category.total"/>
                </a>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Mixins, Prop} from 'vue-property-decorator';
    import {TCatalogCategory} from '~/types/catalog/TCatalogCategory';
    import ScrollBooster from 'scrollbooster';

    @Component({})
    export default class CategoryNav extends Mixins(Vue) {
        @Prop({default: () => []}) items!: TCatalogCategory[];
        @Prop({default: false}) useScrollClass!: boolean;

        isVisible: boolean = false;
        scrollBooster: any;

        intesectionOptions = {
            rootMargin: '0px',
            threshold: 1,
        };

        mounted() {
            // тут рефы, потому в настройки не унес
            this.scrollBooster = new ScrollBooster({
                viewport: this.$refs.nav as Element,
                content: this.$refs.items as Element,
                direction: 'horizontal',
                scrollMode: 'transform',
                emulateScroll: true,
            });

            const observer = new IntersectionObserver(this.touchBooster, this.intesectionOptions);
            observer.observe(this.$refs.nav as Element);
        }

        touchBooster(entries: IntersectionObserverEntry[], observer: any) {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    this.scrollBooster.scrollTo({x: 20});
                    observer.unobserve(entry.target);
                    setTimeout(() => {
                        this.scrollBooster.scrollTo({x: 0});
                    }, 1000);
                }
            });
        }
    }
</script>
