<template>
    <div>
        <div v-for="(compilation, index) in loadedData" :key="compilation.id">
            <div class="main-catalog__section">
                <div class="h1 main-catalog__title">
                    <a v-if="compilation.url" :href="compilation.url" class="h1 main-catalog__title">{{ compilation.name }}</a>
                    <span v-else>{{ compilation.name }}</span>
                </div>

                <ProductsSlider :items="compilation.items" :use-scroll-class="true" />
            </div>

            <div v-if="index === 0" class="main-catalog__section visible-mobile">
                <div class="h1 main-catalog__title">Вкусные предложения</div>
                <div class="main-catalog__slider">
                    <PromoSlider :items="slides" />
                </div>
            </div>
        </div>

        <div v-if="showMore && !hideMore" class="main-catalog__more">
            <button class="btn btn--clear" :class="{'btn--disabled': loading}" @click="loadMore">
                <span class="btn__text">Показать еще</span>
            </button>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Mixins, Prop} from 'vue-property-decorator';
    import ProductsSlider from '~/components/product/ProductsSlider.vue';
    import {TProduct, TPromoProduct} from '~/types/product/TProduct';
    import PromoSlider from '~/components/main/PromoSlider.vue';
    import {getJson} from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';

    type TCompilation = {
        items: TProduct[],
        id: number,
        name: string,
        url: string,
    };

    @Component({
        components: {ProductsSlider, PromoSlider},
    })
    export default class MainCompilations extends Mixins(Vue) {
        @Prop({default: () => []}) compilations!: TCompilation[];
        @Prop({default: () => []}) slides!: TPromoProduct[];
        @Prop({default: false}) showMore!: boolean;

        hideMore: boolean = false;
        loading: boolean = false;
        loadedData = this.compilations;

        async loadMore() {
            this.loading = true;

            const response = await getJson<TAjaxResponse>('/compilations');

            this.loading = false;

            if (response.success) {
                this.hideMore = true;
                this.loadedData = [...this.loadedData, ...response.data as TCompilation[]];
            }
        }
    }
</script>

