<template>
    <div class="promo-compiltations">
        <ProductSearch v-model="searchValue"
                       :suggests="suggests"
                       @select-suggest="onSelectSuggest"
                       :show-btn="true"
                       placeholder-text="Какое блюдо пробуем сегодня?" />
        <div class="promo-compiltation" v-for="compilation in compilations">
            <div class="promo-compiltation__name" v-html="compilation.name"/>
            <div class="promo-compiltation__cards-wrapper">
                <div class="promo-compiltation__card" :style="styles" v-for="item in compilation.items">
                    <a class="promo-compiltation__card-link" :href="item.link">
                        <span class="promo-compiltation__card-img-wrapper">
                            <BackendImage :image="item.picture" alt="" class="promo-compiltation__card-image"/>
                        </span>
                        <div class="promo-compiltation__card-name" v-html="item.name"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue, Watch} from 'vue-property-decorator';
    import {TPromoCard} from '~/types/catalog/TPromoCard';
    import BackendImage from '~/components/BackendImage.vue';
    import TextSearch from '~/components/search/TextSearch.vue';
    import Debounce from '~/decorators/debounce';
    import {buildQueryString, postJson} from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';
    import ProductSearch from '../search/ProductSearch.vue';

    type TCompilation = {
        items: TPromoCard[],
        id: number,
        name: string,
    };
    @Component({components: {TextSearch, BackendImage, ProductSearch}})
    export default class MainPromoCompilations extends Mixins(Vue) {
        @Prop({default: () => []}) compilations!: TCompilation[];
        @Prop({default: '#fff'}) cardColor!: string;
        @Prop({default: '#06c160'}) cardHoverColor!: string;

        searchValue: string = '';
        suggests: string[] = [];

        created() {
            // @ts-ignore
            window.addEventListener('popstate', () => {
                this.load(window.location.href);
            });
        }

        @Debounce({time: 300})
        async searchLoadSuggests(name: string) {
            if (!name.length || name.length < 3) {
                return;
            }

            const response = await postJson<TAjaxResponse>('/menu/suggests', {name});

            if (response.success) {
                this.suggests = response.data!.suggests;
            }
        }

        @Watch('searchValue')
        searchChanged() {
            this.searchLoadSuggests(this.searchValue);
        }

        onSelectSuggest(text: string) {
            this.searchValue = text;

            const queryParams = { search: text};
            const queryString = buildQueryString(queryParams);
            const url = window.location.origin + window.location.pathname + 'menu/?' + queryString;

            this.load(url);
        }

        get styles() {
            return {
                '--promo-button-background-color': this.cardColor ?? 'red',
                '--promo-button-background-hover-color': this.cardHoverColor ?? 'blue',
            }
        }

        async load(url) {
            window.location.href = url;
        }
    }
</script>

