<template>
    <div class="promo-slider"
         :class="{'scroll-class': useScrollClass}">
        <div class="promo-slider__dish-container">
            <div class="promo-slider__plate"></div>
        </div>

        <VueSlickCarousel
            v-bind="sliderSettings"
            :class="['slider', 'promo-slider__slider']"
            ref="slider"
            @reInit="updatePagesDebounced"
            @beforeChange="updatePagesDebounced">
            <div v-for="(item, index) in items"
                 :key="index"
                 class="slider__slide promo-slider__slide">
                <div class="promo-slider__dish-container">
                    <BackendImage class="promo-slider__food"
                                  :image="item.picture"
                                  loading="lazy"
                                  draggable="false" />
                </div>
                <PromoProduct :item="item"
                              class="promo-slider__product"
                              draggable="false"
                              @dragstart="preventDrag"  />
            </div>
        </VueSlickCarousel>

        <CircleDots class="slider__dots"
                    :current-index="currentPage"
                    :count="totalPages"
                    @select="goTo"/>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Mixins, Prop} from 'vue-property-decorator';
    import BaseSlider from '~/components/slider/BaseSlider.vue';
    import VueSlickCarousel from 'vue-slick-carousel';
    import SliderArrow from '~/components/slider/SliderArrow.vue';
    import {TPromoProduct} from '~/types/product/TProduct';
    import BackendImage from '~/components/BackendImage.vue';
    import PromoProduct from '~/components/product/PromoProduct.vue';
    import CircleDots from '~/components/slider/CircleDots.vue';
    import eventBus from '~/helper/event-bus';

    @Component({
        components: {CircleDots, PromoProduct, BackendImage, SliderArrow, VueSlickCarousel},
    })
    export default class PromoSlider extends Mixins(Vue, BaseSlider) {
        @Prop({default: () => []}) items!: TPromoProduct[];
        @Prop({default: false}) useScrollClass!: boolean;

        sliderSettings = {
            infinite: true,
            fade: true,
            speed: 500,
            swipe: true,
            swipeToSlide: false,
        };

        mounted() {
            if (this.useScrollClass) eventBus.$emit('scroll-class-toggle-add', this.$el);
        }
    }
</script>
