<template>
    <div
        class="promo-slider"
        :class="{'scroll-class': useScrollClass}">
        <div class="promo-slider__dish-container">
            <div class="promo-slider__plate"></div>
        </div>

        <VueSlickCarousel
            v-bind="sliderSettings"
            :class="['slider', 'promo-slider__slider']"
            ref="slider"
            @reInit="updatePagesDebounced"
            @beforeChange="updatePagesDebounced">
            <div
                v-for="(item, index) in items"
                :key="index"
                class="slider__slide promo-slider__slide">
                <div class="promo-slider__dish-container">
                    <BackendImage
                        class="promo-slider__food"
                        :image="item.picture"
                        loading="lazy"
                        draggable="false" />
                </div>
                <SecondPromoProduct
                    :item="item"
                    class="promo-slider__product"
                    draggable="false"
                    @dragstart="preventDrag"
                />
            </div>
        </VueSlickCarousel>

        <div class="promo-slider__arrows slider-arrows" v-if="items.length > 1">
            <SliderArrow
                direction="prev"
                block-name="promo-slider"
                @click="prev" />

            <SliderArrow
                direction="next"
                block-name="promo-slider"
                @click="next" />
        </div>

        <CircleDots
            class="slider__dots"
            :current-index="currentPage"
            :count="totalPages"
            @select="goTo"/>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Mixins, Prop} from 'vue-property-decorator';
    import BaseSlider from '~/components/slider/BaseSlider.vue';
    import VueSlickCarousel from 'vue-slick-carousel';
    import SliderArrow from '~/components/slider/SliderArrow.vue';
    import {TSecondPromoProduct} from '~/types/product/TProduct';
    import BackendImage from '~/components/BackendImage.vue';
    import SecondPromoProduct from '~/components/product/SecondPromoProduct.vue';
    import CircleDots from '~/components/slider/CircleDots.vue';
    import eventBus from '~/helper/event-bus';

    @Component({
        components: {CircleDots, SecondPromoProduct, BackendImage, SliderArrow, VueSlickCarousel},
    })
    export default class SecondPromoSlider extends Mixins(Vue, BaseSlider) {
        @Prop({default: () => []}) items!: TSecondPromoProduct[];
        @Prop({default: false}) useScrollClass!: boolean;

        sliderSettings = {
            infinite: true,
            fade: true,
            speed: 1000,
        };

        mounted() {
            if (this.useScrollClass) eventBus.$emit('scroll-class-toggle-add', this.$el);
        }
    }
</script>
