<template>
    <div class="chat-root" ref="chatRoot">
        <div class="chat-root__beta-text content-container">
            Напишите дату, когда хотели&nbsp;бы получить заказ и&nbsp;нажмите кнопку отправить. Уточняющие вопросы задавайте в&nbsp;этом чате.
        </div>
        <TransitionGroup name="fade" class="chat-root__grid" tag="div">
            <div v-show="!isAdaptive || !activeChatId" class="chat-root__list custom-scrollbar" key="list">
                <ChatPreview
                    v-for="item in sortedChats"
                    :key="item.toUserId"
                    :chat="item"
                    :users="users"
                    :my-id="myId"
                    class="chat-root__item"
                    :active="activeChatId === item.toUserId"
                    @click.native="setActiveChat(item)"
                />
            </div>
            <ChatMessages
                v-if="activeChatId"
                :chat="activeChat"
                :users="users"
                :my-id="myId"
                key="chat"
                @sendNewMessage="sendNewMessage"
                @removeProduct="removeProduct"
                @back="setActiveChat()"
            />
        </TransitionGroup>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Ref} from 'vue-property-decorator';
    import TChatUser from '~/types/chat/TChatUser';
    import {TMessage} from '~/types/chat/TMessage';
    import ChatPreview from '~/components/chat/ChatPreview.vue';
    import ChatMessages from '~/components/chat/ChatMessages.vue';
    import eventBus from '~/helper/event-bus';
    import Echo from 'laravel-echo';
    import {postJson, postMultipartFormData} from '~/helper/ajax';
    import TChat from '~/types/chat/TChat';
    import {TAjaxResponse} from '~/types/TAjaxResponse';
    import {scrollTo} from '~/helper/common';
    import Detector from '~/helper/detector';
    import route from '~/helper/route';

    // @ts-ignore
    window.Pusher = require('pusher-js');

    @Component({
        components: {ChatPreview, ChatMessages},
    })
    export default class ProfileChat extends Vue {
        @Prop({default: () => []}) initChats!: {[key: number]: TChat};
        @Prop({default: () => {}}) initUsers!: {[key: number]: TChatUser};

        @Ref('chatRoot') chatRoot!: HTMLDivElement;
        // @Prop({default: () => []}) messages!: TOrderMessage[];
        // @Prop({default: () => []}) orderProducts!: TChatOrderProduct[];

        activeChatId: number | null = null;
        isAdaptive: boolean = false;
        chats = this.initChats;
        users = this.initUsers;

        windowInFocus = true;
        needSendUnread = 0;

        created() {
            eventBus.$on('resize-watcher', this.onResize);

            document.body.classList.add('page--min-ui');

            this.initWebsockerListers();

            const hash = window.location.hash;
            if (hash && hash.length > 2 && hash.substring(0, 2) === '#u') {
                const userId = parseInt(hash.substring(2));

                const foundChat = Object.values(this.chats).filter(chat => chat.fromUserId == userId || chat.toUserId == userId)[0];

                if (foundChat) {
                    this.setActiveChat(foundChat);
                }
            }

            if (!this.activeChatId) {
                if (!Detector.isSm) {
                    this.selectFirstChat();
                }
            }

            // В фотоных вкладках не изменять "прочитанность" сообщений в чате
            window.addEventListener('focus', () => {
                this.windowInFocus = true;
                this.updateUnread(this.needSendUnread);
            }, false);
            window.addEventListener('blur', () => {
                this.windowInFocus = false;
            }, false);
        }

        selectFirstChat() {
            const first = Object.values(this.sortedChats)[0];
            if (first) {
                this.setActiveChat(first);
            }
        }

        initWebsockerListers() {
            const params = {
                broadcaster: 'pusher',
                key: APP.chatParams!.appKey,
                cluster: APP.chatParams!.cluster,
                encrypted: false,
                wsHost: APP.chatParams!.host,
                wsPort: APP.chatParams!.port,
                disableStats: true,
                enabledTransports: ['ws'],
            };
            const echo = new Echo(params);

            echo.channel(APP.chatParams!.channelId)
                .listen('ChatMessageEvent', (event: {data: TMessage}) => {
                    this.addMessageToChat(event.data);
                });
        }

        addMessageToChat(message: TMessage) {
            const chat = this.chats[message.chatUserId];

            chat.messages = [
                ...(chat.messages && chat.messages.length ? chat.messages : []),
                message,
            ];

            if (message.userId == APP.userData?.id) {
                chat.order = [];
            }

            // Признак непрочитанности
            // Если этот чат сейчас открыт
            if (chat.toUserId == this.activeChatId) {
                chat.lastReadId = message.id;

                if (message.userId != APP.userData!.id) {
                    // Если это не моё сообщение - отправить на сервер отметку о прочтении
                    this.updateUnread(chat.toUserId);
                }
            }

            this.chats = {
                ...this.chats,
                [chat.toUserId]: chat,
            };
        }

        get myId() {
            return APP.userData!.id;
        }

        get activeChat() {
            return Object.values(this.chats).filter(chat => chat.toUserId === this.activeChatId)[0];
        }

        onResize({isMd}) {
            this.isAdaptive = isMd;
        }

        updateUnread(chatUserId) {
            if (!chatUserId) return;

            if (this.windowInFocus) {
                postJson('/profile/chat/last-read', {chatUserId});
                this.needSendUnread = 0;
            } else {
                this.needSendUnread = chatUserId;
            }
        }

        get sortedChats() {
            const allChats = Object.values(this.chats);

            return allChats.sort((a: TChat,b: TChat) => {
                if (this.hasUnread(a) !== this.hasUnread(b)) {
                    return this.hasUnread(a) ? -1 : 1;
                } else if ((!a.messages && !b.messages) || (a.messages && b.messages)) {
                    if (!a.messages && !b.messages) return 0;
                    const lastA = a.messages[a.messages.length - 1];
                    const lastB = b.messages[b.messages.length - 1];
                    return lastB.date - lastA.date;
                } else if (!a.messages && b.messages) {
                    return -1;
                } else {
                    return 1;
                }
            });
        }

        hasUnread(chat: TChat) {
            const lastMessage = chat.messages ? chat.messages[chat.messages.length - 1] : null;

            if (chat.lastReadId) {
                if (lastMessage) {
                    return chat.lastReadId < lastMessage.id;
                }
            } else if (lastMessage) {
                return true;
            }

            return false;
        }

        async setActiveChat(chat: TChat | null = null) {
            if (!chat) {
                this.activeChatId = null;
                window.location.hash = '#';
                return;
            }

            window.location.hash = '#u' + (chat.toUserId == this.myId ? chat.fromUserId : chat.toUserId);
            this.activeChatId = chat.toUserId;

            const result = await postJson<TAjaxResponse>('/profile/chat/load', {
                chatUserId: chat.toUserId,
            });

            if (result.success) {
                this.chats = {
                    ...this.chats,
                    [chat.toUserId]: result.data as TChat,
                };
            }

            if (this.chatRoot) {
                scrollTo(this.chatRoot, 0);
            }
        }

        async sendNewMessage(data: { chatUserId: number, message: string, images: File[] | null}) {
            const formData = new FormData();

            formData.append('chatUserId', data.chatUserId.toString());
            formData.append('message', data.message);

            if (data.images && data.images.length) {
                for (let i = 0; i < data.images.length; i++) {
                    formData.append('images[]', data.images[i]);
                }
            }

            await postMultipartFormData('/profile/chat/message', formData);
        }

        async removeProduct(data: {basketId: number}) {
            const url = route('basket.remove');
            const result = await postJson<TAjaxResponse>(url, {
                basketId: data.basketId,
            });

            if (result.success) {
                for (let i in this.chats) {
                    if (!this.chats.hasOwnProperty(i)) continue;

                    if (!this.chats[i].order) continue;

                    for (let j = 0; j < this.chats[i].order.length; j++) {
                        if (this.chats[i].order[j].id == data.basketId) {
                            const order = [...this.chats[i].order];
                            order.splice(j, 1);
                            const chat = {...this.chats[i]};
                            chat.order = order;

                            if (chat.order && chat.order.length || chat.messages && chat.messages.length) {
                                this.chats = {
                                    ...this.chats,
                                    [chat.toUserId]: chat,
                                };
                            } else {
                                const allChats = { ...this.chats };
                                delete allChats[chat.toUserId];
                                this.chats = allChats;
                                this.selectFirstChat();
                            }
                        }
                    }
                }
            }
        }
    }
</script>
