<template>
    <div>
        <div class="profile__section profile__head">
            <div class="profile__avatar-wrap">
                <BackendImage :image="userData.avatar" />
            </div>

            <h4 v-if="userData.fio" class="h4 profile__name">{{ userData.fio }}</h4>
            <h4 v-else class="h4 profile__name">{{ userData.phone }}</h4>

            <div class="profile__address">
                <SvgSymbol name="location" class="profile__address-icon" />
                <span v-if="userData.address">{{userData.address}}</span>
                <span v-else v-html="'Не указан'" />
            </div>
        </div>

        <div class="profile__section">
            <h4 class="h4">О себе</h4>
            <div v-if="userData.about" class="profile__about">{{ userData.about }}</div>
            <div v-else class="profile__about profile__about--empty">Информация не заполнена</div>
            <div class="profile__registration-date">
                <div class="profile__registration-date-label">Дата регистрации</div>
                <div class="profile__registration-date-value">{{ userData.registerDate }}</div>
            </div>
        </div>

        <div class="profile__section form profile__fake-form">
            <h4 class="h4 profile__form-label">Данные для&nbsp;входа</h4>
            <div class="form__grid form__grid--two">
                <div>
                    <InputLabel
                        :label="'Телефон'"
                        :has-value="true"
                        :error="!userData.phoneVerified ? 'Номер телефона не подтверждён!' : null"
                    >
                        <input
                            name="phone"
                            type="tel"
                            disabled="disabled"
                            class="input input--tel input--disabled"
                            :value="userData.phone"
                        >
                    </InputLabel>
                </div>
                <div>
                    <InputLabel
                        :label="'Email'"
                        :has-value="true"
                        :error="!userData.emailVerified ? 'Адрес почты не подтверждён!' : null"
                    >
                        <input
                            name="email"
                            type="text"
                            disabled="disabled"
                            class="input input--tel input--disabled"
                            :value="userData.email"
                        >
                    </InputLabel>
                </div>

                <div v-if="!userData.phoneVerified" class="profile__edit-password">
                    <button class="link link--dashed" @click.prevent="verifyPhone">Подтвердить номер телефона</button>
                </div>

                <div class="profile__edit-password">
                    <button class="link link--dashed" @click.prevent="editPassword">Изменить пароль</button>
                </div>
            </div>
        </div>

        <div class="profile__section">
            <button class="link link--with-icon link--dashed" @click.prevent="doLogout">
                <span class="link__icon">
                    <SvgSymbol name="sign-in" />
                </span>
                <span class="link__text">Выйти</span>
            </button>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Emit, Prop, Vue} from 'vue-property-decorator';
    import TUserData from '~/types/profile/TUserData';
    import BackendImage from '~/components/BackendImage.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import FormPassword from '~/components/forms/fields/FormPassword.vue';
    import FormPhone from '~/components/forms/fields/FormPhone.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import {postJson} from '~/helper/ajax';

    @Component({
        components: {InputLabel, FormInput, FormPhone, FormPassword, SvgSymbol, BackendImage},
    })
    export default class ProfileInfo extends Vue {
        @Prop({default: () => {}}) userData!: TUserData;

        @Emit('editProfile')
        emitEditProfile() {}

        editPassword() {
            this.$eventBus.$emit('open-popup', {
                type: 'change-password',
                componentProps: {},
            });
        }

        verifyPhone() {
            this.$eventBus.$emit('open-popup', {
                type: 'verify-phone',
                componentProps: {
                    formData: this.userData.verifyPhoneForm,
                },
            });
        }

        async doLogout() {
            await postJson('/auth/logout', {});

            window.location.reload();
        }
    }
</script>
