<template>
    <form v-bind="formData.attributes" class="profile" :class="{'form--sending': inSendProgress}">
        <div class="profile-form__section profile-form__head">
            <FormAvatarInput
                v-model="avatar"
                :state="getField('avatar')"
                :rules="this.formData.validation.avatar"
                :error="validation.firstFieldError('avatar')"
                class="profile-form__avatar">
                <BackendImage :image="userData.avatar"/>
            </FormAvatarInput>

            <div class="profile-form__name">
                <div class="profile-form__label">Как вас зовут?</div>
                <InputLabel v-bind="getFieldLabelParams('name')">
                    <FormInput :state="getField('name')"
                               :has-error="!validation.getField('name').valid"
                               v-model="name" />
                </InputLabel>
            </div>

            <div class="profile-form__address-wrapper">
                <div class="profile-form__label">Адрес</div>

                <InputLabel
                    v-bind="getFieldLabelParams('address')"
                    class="profile-form__address">
                    <SvgSymbol name="location" class="profile-form__address-icon" />
                    <FormInput v-model="address"
                               :state="getField('address')"
                               :has-error="!validation.getField('address').valid"
                               :class="'become-cook-form__location-input'" />

                    <div v-if="addressSuggests.length" class="input-suggests">
                        <div
                            v-for="suggest in addressSuggests"
                            class="input-suggests__item"
                            :key="suggest"
                            v-html="suggest"
                            @click="setAddress(suggest)"
                        />
                    </div>
                </InputLabel>
            </div>
        </div>

        <div class="profile-form__section profile-form__section--under-suggest">
            <div class="profile-form__label">Расскажите о&nbsp;себе</div>
            <InputLabel v-bind="getFieldLabelParams('about')">
                <FormTextarea v-model="about"
                              :state="getField('about')"
                              :has-error="!validation.getField('about').valid" />
            </InputLabel>
        </div>

        <div class="profile-form__section profile-form__section--sm">
            <div class="form__grid form__grid--two">
                <div>
                    <div class="profile-form__label">Телефон</div>
                    <InputLabel v-bind="getFieldLabelParams('phone')">
                        <FormPhone
                            v-model="phone"
                            :state="getField('phone')"
                            :disabled="true"
                            :has-error="!validation.getField('phone').valid"
                        />
                    </InputLabel>
                </div>

                <div>
                    <div class="profile-form__label">Email</div>
                    <InputLabel v-bind="getFieldLabelParams('email')">
                        <FormInput v-model="email"
                                   :state="getField('email')"
                                   :disabled="userData.emailVerified"
                                   :has-error="!validation.getField('email').valid"
                        />
                    </InputLabel>
                </div>
            </div>
        </div>

        <div class="profile-form__section form__submit-wrap">
            <FormSubmit v-if="hasField('submit')"
                        class="form__submit"
                        :state="getField('submit')"
                        @click.native.prevent="saveData" />
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue, Watch} from 'vue-property-decorator';
    import TUserData from '~/types/profile/TUserData';
    import BackendImage from '~/components/BackendImage.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import FormAvatarInput from '~/components/forms/fields/FormAvatarInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import FormPhone from '~/components/forms/fields/FormPhone.vue';
    import FormTextarea from '~/components/forms/fields/FormTextarea.vue';
    import FormPassword from '~/components/forms/fields/FormPassword.vue';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import Debounce from '~/decorators/debounce';
    import {getJson} from '~/helper/ajax';
    import route from '~/helper/route';

    type TSuggestResult = {
        success: boolean;
        items: string[]
    };


    @Component({
        components: {
            FormSubmit,
            FormPassword,
            FormTextarea,
            FormInput,
            FormPhone,
            InputLabel,
            FormAvatarInput,
            SvgSymbol,
            BackendImage,
        },
    })
    export default class ProfileEdit extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        @Prop({default: () => {}}) userData!: TUserData;

        submitType: string = 'form';

        addressSuggests: string[] = [];
        lastSuggestQuery = '';

        name: string = '';
        address: string = '';
        about: string = '';
        phone: string = '';
        email: string = '';
        avatar: File[] = [];

        mounted() {
            if (this.userData.fio) {
                this.name = this.userData.fio;
            }

            this.lastSuggestQuery = this.address = this.userData.address;

            if (this.userData.about) {
                this.about = this.userData.about;
            }

            this.phone = this.userData.phone;
            this.email = this.userData.email;
        }

        @Watch('address')
        @Debounce({time: 500})
        addressChanged() {
            if (this.address.trim() == '') {
                this.lastSuggestQuery = '';
                this.addressSuggests = [];
                return;
            }

            if (this.lastSuggestQuery.trim() != this.address.trim()) {

                this.lastSuggestQuery = this.address.trim();

                if (this.lastSuggestQuery) {
                    const url = route('location.suggest') + '?address=' + encodeURI(this.lastSuggestQuery);
                    getJson<TSuggestResult>(url).then((result) => {
                        this.addressSuggests = result.items;
                    });
                }
            }
        }

        setAddress(address: string) {
            this.lastSuggestQuery = address;
            this.address = address;
            this.addressSuggests = [];
        }

        saveData(ev) {
            this.submit(ev);
            this.emitEdit();
        }

    }
</script>
