<template>
    <div class="profile-cook-kitchen">
        <div class="profile-cook-kitchen__item-image">
            <div class="profile-cook-kitchen__list">
                <div v-for="(item) in currentItems" :key="item.id">
                    <div class="profile-cook-kitchen__item">
                        <BackendImage class="profile-cook-kitchen__item-image" :image="item.picture" draggable="false" />
                        <button class="profile-cook-kitchen__remove" @click.prevent="remove(item.id)">
                            <SvgSymbol name="trash" />
                        </button>
                    </div>
                </div>

                <form v-if="currentItems.length < 10">
                    <label class="add-card add-card--kitchen">
                        <input type="file" style="display: none" @input="uploadFile">
                        <span class="add-card__content">
                            <span class="add-card__btn" />
                            <span class="add-card__text" v-html="'Добавить фото'" />
                        </span>
                    </label>
                </form>

                <div v-if="selfError.length > 0" class="add-card">
                    <div class="upload-input__errors">
                        <div
                            v-for="(error, index) in selfError"
                            :key="error + index"
                            class="upload-input__error"
                            v-html="error"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TCookKitchen from '~/types/cook/TCookKitchen';
    import BackendImage from '~/components/BackendImage.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import AddCard from '~/components/AddCard.vue';
    import {fileExt, fileIsImage, fileSize} from 'sx-vue-form-validator';
    import {postJson, postMultipartFormData} from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';
    import {showConfirmPopup} from '~/helper/common';

    @Component({
        components: {AddCard, SvgSymbol, BackendImage},
    })
    export default class ProfileCookKitchen extends Vue {
        @Prop({default: []}) items!: TCookKitchen[];

        selfError: string[] = [];
        currentItems: TCookKitchen[] = this.items;

        async remove(id: number) {
            showConfirmPopup({
                title: 'Удалить фотографию',
                message: 'Вы действительно хотите удалить эту фотографию?',
                callback: async () => {
                    const result = await postJson<TAjaxResponse>('/profile/kitchen/remove', {id});

                    if (result.success) {
                        this.currentItems = result.data as TCookKitchen[];
                    }
                },
                btnOk: 'Удалить',
                btnCancel: 'Отменить',
            });
        }

        async uploadFile(event) {
            const inputFile =  event.target as HTMLInputElement;

            if (!inputFile.files) {
                return;
            }

            const file = inputFile.files[0];
            this.selfError = [];

            const validators = [fileIsImage, fileExt(['jpg', 'png', 'jpeg']), fileSize(5)];
            validators.forEach(validator => {
                const isValid = validator(file);
                if (isValid !== true) this.selfError.push(isValid);
            });
            if (this.selfError.length) return;

            const formData = new FormData();
            formData.append('kitchenPhoto', file);

            const result = await postMultipartFormData<TAjaxResponse>('/profile/kitchen/upload', formData);

            if (result.success) {
                this.currentItems = result.data as TCookKitchen[];
            }
        }
    }
</script>
