<template>
    <div class="profile-grid page__section">
        <TabsNav :navs="navigation"  :active="currentUrl" class="profile-grid__nav" />

        <div class="profile-info">
            <div class="profile">
                <div class="profile__edit-wrap">
                    <button class="profile__edit link link--with-icon link--dashed" @click.prevent="toggleEdit">
                        <SvgSymbol name="edit" class="link__icon" />
                        <span class="link__text" v-html="edit ? 'Отменить' : 'Редактировать'" />
                    </button>
                </div>

                <transition name="fade" mode="out-in">
                    <ProfileInfo
                        v-if="!edit"
                        :user-data="userData"
                        class="profile-info__col"
                        @editProfile="toggleEdit"
                    />
                    <ProfileEdit
                        v-else
                        :user-data="userData"
                        :form-data="formData"
                        class="profile-info__col"
                        @cancelEditProfile="toggleEdit"
                    />
                </transition>
            </div>
            <div v-if="imageSrc" class="profile-info__picture">
                <img :src="imageSrc" alt="">
            </div>

            <div v-if="cookData" class="profile-info__cook cook-profile-root">
                <div class="cook-profile">
                    <div class="cook-profile__head">
                        <h4 class="h4">Данные повара</h4>
                        <div>
                            <a href="javascript:void(0)" class="cook-profile__edit link link--dashed link--with-icon">
                                <SvgSymbol name="edit" class="link__icon" />
                                <span class="link__text" v-on:click="toggleEditCook" v-html="editCook ? 'Отменить' : 'Редактировать'" />
                            </a>
                        </div>
                    </div>

                    <transition name="fade" mode="out-in">
                        <CookInfo v-if="!editCook" :cook-data="cookData" :is-profile="true" />
                        <CookInfoEdit
                            v-else
                            :cookData="cookData"
                            :form-data="cookFormData"
                            class="profile-info__col"
                        />
                    </transition>
                </div>

                <div class="cook-profile-root__kitchen">
                    <h4 class="h4">Моя кухня</h4>
                    <ProfileCookKitchen :items="cookKitchen" />
                </div>

                <div class="cook-profile-root__documents">
                    <DocumentsList
                        :groups="documents"
                        :can-add="true"
                        :blank="true"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import BackendImage from '~/components/BackendImage.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import TUserData from '~/types/profile/TUserData';
    import ProfileInfo from '~/components/profile/ProfileInfo.vue';
    import ProfileEdit from '~/components/profile/ProfileEdit.vue';
    import TFormData from '~/types/form/TFormData';
    import TCookProfile from '~/types/cook/TCookProfile';
    import TCookKitchen from '~/types/cook/TCookKitchen';
    import TDocumentsGroup from '~/types/TDocumentsGroup';
    import CookInfo from '~/components/cook/CookInfo.vue';
    import CookInfoEdit from '~/components/cook/CookInfoEdit.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormPassword from '~/components/forms/fields/FormPassword.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import ProfileCookKitchen from '~/components/profile/ProfileCookKitchen.vue';
    import DocumentsList from '~/components/documents/DocumentsList.vue';
    import TTabNav from '~/types/tabs/TTabNav';
    import TabsNav from '~/components/TabsNav.vue';

    @Component({
        components: {
            TabsNav,
            DocumentsList,
            ProfileCookKitchen,
            FormInput,
            FormPassword,
            InputLabel,
            CookInfo,
            ProfileEdit,
            ProfileInfo,
            SvgSymbol,
            BackendImage,
            CookInfoEdit,
        },
    })
    export default class ProfileForm extends Vue {
        @Prop({default: () => []}) navigation!: TTabNav[];

        @Prop({default: () => {}}) userData!: TUserData;
        @Prop({default: () => {}}) formData!: TFormData;

        @Prop({default: () => {}}) cookData!: TCookProfile;
        @Prop({default: () => []}) cookFormData!: TFormData;
        @Prop({default: () => []}) cookKitchen!: TCookKitchen[];
        @Prop({default: () => []}) documents!: TDocumentsGroup[];

        @Prop({default: ''}) imageSrc!: string;

        edit: boolean = false;
        editCook: boolean = false;

        get currentUrl(): string {
            return window.location.pathname;
        }

        toggleEdit() {
            this.edit = !this.edit;
        }

        toggleEditCook() {
            this.editCook = !this.editCook;
        }
    }
</script>
