<template>
    <div>
        <TabsNav :navs="navigation" :active="currentUrl" class="profile-grid__nav" />
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TTabNav from '~/types/tabs/TTabNav';
    import TabsNav from '~/components/TabsNav.vue';

    @Component({
        components: {
            TabsNav,
        },
    })
    export default class ProfileForm extends Vue {
        @Prop({default: () => []}) navigation!: TTabNav[];

        get currentUrl(): string {
            return window.location.pathname;
        }
    }
</script>
