<template>
    <div class="cook-profile-products">
        <transition name="fade" mode="out-in">
            <div v-if="!inAdd">
                <div class="cook-profile-products__list">
                    <ProductCard v-for="(product) in currentProducts"
                                 :key="product.id"
                                 :item="product"
                                 :editable="true"
                                 @editDish="editDish"
                                 @deleteDish="deleteDish"
                    />
                    <button class="add-card" @click="showAddForm">
                        <span class="add-card__content">
                            <span class="add-card__btn"/>
                            <span class="add-card__text" v-html="'Добавить блюдо'"/>
                        </span>
                    </button>
                </div>
            </div>

            <AddProductForm
                v-else
                :form-data="currentFormData"
                :editId="editId"
                title="Добавить блюдо"
                class="cook-profile-products__form"
                @close-edit="closeEdit"
            />
        </transition>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import BackendImage from '~/components/BackendImage.vue';
    import CookLabels from '~/components/cook/CookLabels.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import CookInfo from '~/components/cook/CookInfo.vue';
    import ProfileCookKitchen from '~/components/profile/ProfileCookKitchen.vue';
    import DocumentsList from '~/components/documents/DocumentsList.vue';
    import {TProduct} from '~/types/product/TProduct';
    import ProductCard from '~/components/product/ProductCard.vue';
    import AddCard from '~/components/AddCard.vue';
    import TFormData from '~/types/form/TFormData';
    import AddProductForm from '~/components/forms/AddProductForm.vue';
    import {scrollTo, showConfirmPopup} from '~/helper/common';
    import {getJson, postJson} from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';

    @Component({
        components: {
            AddProductForm,
            AddCard,
            ProductCard,
            DocumentsList,
            ProfileCookKitchen,
            CookInfo,
            SvgSymbol,
            CookLabels,
            BackendImage,
        },
    })
    export default class ProfileCookProducts extends Vue {
        @Prop({default: () => []}) products!: TProduct[];
        @Prop({default: () => []}) formData!: TFormData;
        @Prop({default: false}) preOpenAdd!: boolean;

        currentProducts: TProduct[] = this.products;
        currentFormData: TFormData  = this.formData;
        inAdd: boolean = this.preOpenAdd;

        isAdaptive: boolean = false;
        editId: number = 0;

        onAddChanged() {
            scrollTo(this.$el, 20);
        }

        deleteProduct(index: number) {
            this.currentProducts.splice(index, 1);
        }

        onResize({isSm}) {
            this.isAdaptive = isSm;
        }

        editDish(data: {product: TProduct}) {
            this.inAdd = true;

            this.editId = data.product.id;
        }

        deleteDish(id: number) {
            showConfirmPopup({
                title: 'Удалить блюдо',
                message: 'Вы действительно хотите удалить это блюдо?',
                callback: async () => {
                    const result = await postJson<TAjaxResponse>('/profile/dish/remove', {id});

                    if (result.success) {
                        this.currentProducts = result.data?.dishes as TProduct[];
                        this.currentFormData = result.data?.formData as TFormData;
                    }
                },
                btnOk: 'Удалить',
                btnCancel: 'Отменить',
            });
        }

        closeEdit() {
            this.inAdd = false;
            this.refreshDishes();
        }

        showAddForm() {
            this.inAdd = true;

            scrollTo(this.$el);
        }

        async refreshDishes() {
            this.editId = 0;
            const result = await getJson<TAjaxResponse>('/profile/get-dishes/ajax');

            if (result.success) {
                this.currentProducts = result.data?.dishes as TProduct[];
                this.currentFormData = result.data?.formData as TFormData;
            }
        }
    }
</script>
