<template>
    <div class="cooks-slider"
         :class="{'scroll-class': useScrollClass}">
        <div class="mobile-full-page-slider">
            <VueSlickCarousel
                v-bind="sliderSettings"
                :class="['slider', 'slider--stretch', 'slider--spaced', 'slider--variable-width']"
                ref="slider"
                @reInit="updatePagesDebounced"
                @beforeChange="updatePagesDebounced">
                <div v-for="(item, index) in items"
                     :key="index"
                     class="slider__slide">
                    <CookCard :cook="item"
                              :with-big-rating="true"
                              draggable="false"
                              @dragstart.native="preventDrag" />
                </div>
            </VueSlickCarousel>
        </div>

        <CircleDots :current-index="currentPage"
                    :count="totalPages"
                    @select="goTo"/>

        <SliderNav :btn="btn"
                   :current="currentPage"
                   :total="totalPages"
                   @prev-click="prev"
                   @next-click="next" />
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Mixins, Prop} from 'vue-property-decorator';
    import BaseSlider from '~/components/slider/BaseSlider.vue';
    import VueSlickCarousel from 'vue-slick-carousel';
    import {BREAKPOINTS} from '~/helper/const';
    import SliderNav from '~/components/slider/SliderNav.vue';
    import {TLink} from '~/types/TLink';
    import CircleDots from '~/components/slider/CircleDots.vue';
    import {TCook} from '~/types/cook/TCook';
    import CookCard from '~/components/cook/CookCard.vue';
    import eventBus from '~/helper/event-bus';

    @Component({
        components: {CookCard, CircleDots, SliderNav, VueSlickCarousel},
    })
    export default class CooksSlider extends Mixins(Vue, BaseSlider) {
        @Prop({default: () => []}) items!: TCook[];
        @Prop() btn!: TLink;
        @Prop({default: false}) useScrollClass!: boolean;

        sliderSettings = {
            slidesToShow: 4,
            responsive: [
                {
                    breakpoint: BREAKPOINTS.md,
                    settings: {
                        variableWidth: true,
                        slidesToShow: 1,
                    },
                },
            ],
        };

        mounted() {
            if (this.useScrollClass) eventBus.$emit('scroll-class-toggle-add', this.$el);
        }
    }
</script>
