<template>
    <form v-bind="formData.attributes" class="form" :class="{'form--sending': inSendProgress}">
        <div class="cook-profile">
            <InputLabel v-bind="getFieldLabelParams('speciality_id')" tag="div">
                <FormSelect v-model="speciality_id"
                            :state="getField('speciality_id')"
                            :has-error="!validation.getField('speciality_id').valid"/>
            </InputLabel>
            <div class="cook-info__tags">
                <div class="cook-info__tags-label">Категории блюд</div>
                <FormMultiCheckbox v-model="categories"
                                   :state="getField('categories')"
                                   :two-columns="true"
                                   v-bind="getFieldLabelParams('categories')"/>
            </div>

            <div class="cook-info__about">
                <h4 class="h4 cook-info__about-label">О себе</h4>
                <InputLabel v-bind="getFieldLabelParams('about')">
                    <FormTextarea v-model="about"
                                  :state="getField('about')"
                                  :has-error="!validation.getField('about').valid"/>
                </InputLabel>
            </div>

            <div class="cook-info__info-form">
                <InputLabel v-bind="getFieldLabelParams('city_id')" class="become-cook-form__city" tag="div">
                    <FormSelect v-model="city_id" :state="getField('city_id')" :has-error="!validation.getField('city_id').valid"/>
                </InputLabel>

                <InputLabel v-bind="getFieldLabelParams('address')" class="become-cook-form__location">
                    <SvgSymbol name="location" class="become-cook-form__location-icon"/>
                    <FormInput
                        v-model="address"
                        :disabled="!city_id"
                        :state="getField('address')"
                        :has-error="!validation.getField('address').valid"
                        :class="'become-cook-form__location-input'"/>
                    <div v-if="addressSuggests.length" class="input-suggests">
                        <div
                            v-for="suggest in addressSuggests"
                            class="input-suggests__item"
                            :key="suggest"
                            v-html="suggest"
                            @click="setAddress(suggest)"
                        />
                    </div>
                </InputLabel>
                <InputLabel v-bind="getFieldLabelParams('experience')">
                    <FormInput v-model="experience"
                               :state="getField('experience')"
                               :has-error="!validation.getField('experience').valid"/>
                </InputLabel>
            </div>
            <div class="cook-info__registation-label">Дата регистрации</div>
            <div class="cook-info__registation-value">{{ cookData.registerDate }}</div>
        </div>
        <FormSubmit v-if="hasField('submit')"
                    class="form__submit"
                    :state="getField('submit')"
                    @click.native.prevent="submit"/>
    </form>
</template>

<script lang="ts">
    import {Component, Mixins, Prop, Vue, Watch} from 'vue-property-decorator';
    import TCookProfile from '~/types/cook/TCookProfile';
    import BackendImage from '~/components/BackendImage.vue';
    import CookLabels from '~/components/cook/CookLabels.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import FormSubmit from '~/components/forms/fields/FormSubmit.vue';
    import FormInput from '~/components/forms/fields/FormInput.vue';
    import InputLabel from '~/components/forms/fields/InputLabel.vue';
    import FormTextarea from '~/components/forms/fields/FormTextarea.vue';
    import FormSelect from '~/components/forms/fields/FormSelect.vue';
    import FormMultiCheckbox from '~/components/forms/fields/FormMultiCheckbox.vue';
    import TExtendComponent from '~/types/TExtendComponent';
    import BaseForm from '~/components/forms/BaseForm.vue';
    import Debounce from '~/decorators/debounce';
    import {getJson} from '~/helper/ajax';
    import route from '~/helper/route';

    type TSuggestResult = {
        success: boolean;
        items: string[]
    };
    @Component({
        components: {SvgSymbol, CookLabels, BackendImage, FormSubmit, FormInput, InputLabel, FormTextarea,FormSelect, FormMultiCheckbox},
    })
    export default class CookInfoEdit extends Mixins<TExtendComponent<BaseForm>>(BaseForm, Vue) {
        @Prop({default: {}}) cookData!: TCookProfile;
        submitType: string = 'form';

        about: string = '';
        speciality_id: string | null = null;
        categories: string[] = [];
        city_id: number = 0;
        address: string = '';
        experience: string = '';

        addressSuggests: string[] = [];
        lastSuggestQuery = '';

        mounted() {
            this.about = this.cookData.about;
            this.speciality_id = this.cookData.specialityId;
            this.categories = this.cookData.categoriesIds;
            this.city_id = this.cookData.city_id;
            this.experience = this.cookData.experienceRaw;

            this.$nextTick(() => {
                this.lastSuggestQuery = this.address = this.cookData.address;
            });
        }

        @Watch('city_id')
        cityChanged() {
            this.lastSuggestQuery = '';
            this.address = '';
        }

        @Watch('address')
        @Debounce({time: 500})
        addressChanged() {
            if (this.address.trim() == '') {
                this.lastSuggestQuery = '';
                this.addressSuggests = [];
                return;
            }

            if (this.lastSuggestQuery.trim() != this.address.trim()) {

                this.lastSuggestQuery = this.address.trim();

                if (this.lastSuggestQuery) {
                    const url = route('location.suggest') + '?city=' + this.city_id + '&address=' + encodeURI(this.lastSuggestQuery);
                    getJson<TSuggestResult>(url).then((result) => {
                        this.addressSuggests = result.items;
                    });
                }
            }
        }

        setAddress(address: string) {
            this.address = address;
            this.lastSuggestQuery = address;
            this.addressSuggests = [];
        }
    }
</script>
