<template>
    <div class="cook-profile-products">
        <div class="cook-profile-products__list" ref="list">
            <ProductCard v-for="product in currentProducts[0]"
                         :item="product"
                         :key="product.id"
                         :editable="false"
                         :on-cook="true"
            />
        </div>

        <template v-if="currentProducts[1] && currentProducts[1].length">
            <SlideUpDown :active="spoilerOpen">
                <div class="cook-profile-products__list cook-profile-products__list--padding">
                    <ProductCard v-for="product in currentProducts[1]"
                                 :item="product"
                                 :key="product.id"
                                 :editable="false"
                                 :on-cook="true"
                    />
                </div>
            </SlideUpDown>

            <div class="cook-profile-products__btn-wrap">
                <button class="btn" @click.prevent="spoilerOpen = !spoilerOpen">{{ toggleText }}</button>
            </div>
        </template>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Ref, Vue, Watch} from 'vue-property-decorator';
    import {TProduct} from '~/types/product/TProduct';
    import ProductCard from '~/components/product/ProductCard.vue';
    import eventBus from '~/helper/event-bus';
    import SlideUpDown from 'vue-slide-up-down';
    import {scrollTo} from '~/helper/common';

    @Component({
        components: { ProductCard, SlideUpDown },
    })
    export default class CookProducts extends Vue {
        @Prop({default: () => []}) products!: TProduct[];
        @Ref('list') listElement!: HTMLElement;

        spoilerSize: number = 8;
        spoilerOpen: boolean = false;

        created() {
            eventBus.$on('resize-watcher', this.onResize);
        }

        @Watch('spoilerOpen')
        onSpoilerOpenChanged() {
            if (!this.spoilerOpen) {
                scrollTo(this.listElement, 70);
            }
        }

        get currentProducts(): TProduct[][] {
            const copyProducts = [...this.products];
            const products = copyProducts.splice(0, this.spoilerSize);

            return [products, copyProducts];
        }

        onResize({isSm, isXs}) {
            if (isXs) {
                this.spoilerSize = 3;
            } else if (isSm) {
                this.spoilerSize = 6;
            } else {
                this.spoilerSize = 8;
            }
        }

        get toggleText(): string {
            return this.spoilerOpen ? 'Скрыть' : 'Показать еще';
        }
    }
</script>
