<template>
    <div v-if="items.length" class="cook-detail__kitchen__slider">
        <div class="mobile-full-page-slider">
            <VueSlickCarousel
                v-bind="sliderSettings"
                :class="['slider', 'slider--stretch', 'slider--spaced', 'slider--variable-width']"
                ref="slider"
                @reInit="updatePagesDebounced"
                @beforeChange="updatePagesDebounced">
                <div v-for="(item, index) in items"
                     :key="index"
                     class="slider__slide">
                    <div class="profile-cook-kitchen__item" @click="showPhotoPopup(item, index)">
                        <BackendImage
                            class="profile-cook-kitchen__item-image"
                            :image="item"
                            :loading="index < 1 ? 'eager' : 'lazy'"
                            draggable="false"
                            @dragstart.native="preventDrag"
                        />
                    </div>
                </div>
            </VueSlickCarousel>
        </div>

        <SliderNav :current="currentPage"
                   :total="totalPages"
                   :large="true"
                   @prev-click="prev"
                   @next-click="next" />

        <Tinybox
            v-model="showIndex"
            :images="galleryImages"
            loop
            no-thumbs
        />
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Mixins, Prop} from 'vue-property-decorator';
    import BaseSlider from '~/components/slider/BaseSlider.vue';
    import VueSlickCarousel from 'vue-slick-carousel';
    import {BREAKPOINTS} from '~/helper/const';
    import SliderNav from '~/components/slider/SliderNav.vue';
    import BackendImage from '~/components/BackendImage.vue';
    import {TBackendImage} from '~/types/images';
    // @ts-ignore
    import Tinybox from 'vue-tinybox';

    @Component({
        components: {BackendImage, SliderNav, VueSlickCarousel, Tinybox},
    })
    export default class CookKitchenSlider extends Mixins(Vue, BaseSlider) {
        @Prop({default: () => []}) items!: TBackendImage[];

        showIndex: null|number = null;

        sliderSettings = {
            slidesToShow: 4,
            responsive: [
                {
                    breakpoint: BREAKPOINTS.md,
                    settings: {
                        variableWidth: true,
                        slidesToShow: 1,
                    },
                },
            ],
        };

        get galleryImages() {
            return this.items.map(item => {
                return {
                    src: item.original,
                    thumbnail: item.src,
                };
            });
        }

        showPhotoPopup(item: TBackendImage, index: number) {
            this.showIndex = index;
        }
    }
</script>
