<template>
    <div class="cook-labels">
        <CookLabel v-for="(item, index) in items"
                   :key="index"
                   :item="item"
                   :show-name="showName"
                   class="cook-labels__item cook-label" />
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TCookLabel from '~/types/cook/TCookLabel';
    import CookLabel from '~/components/cook/CookLabel.vue';

    @Component({
        components: {CookLabel},
    })
    export default class CookLabels extends Vue {
        @Prop({default: () => []}) items!: TCookLabel[];
        @Prop({default: false}) showName!: boolean;
    }
</script>
