<template>
    <div class="cooks-map page__section list">
        <div class="content-container">
            <div class="list__grid">
                <div class="list__filter">
                    <ListFilter :filter="filter" :absolute-position="true" @applyFilter="applyFilter" @resetFilter="resetFilter" />
                </div>
                <div class="list__right-col">
                    <CookSearch v-model="searchValue" :suggests="searchSuggests.suggests" @select-suggest="onSelectSuggest" />
                    <DistanceFilter />
                </div>
            </div>
        </div>

        <div class="cooks-map__map">
            <div ref="mapDiv" class="map"></div>
        </div>

        <div style="display:none;" ref="cookCard">
            <CookCard
                v-if="detailData && detailData[currentCookId]"
                :cook="detailData[currentCookId]"
                :in-list="true"
                :show-profile-btn="true"
            />
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Ref, Vue, Watch} from 'vue-property-decorator';
    import {TCook, TCookReference} from '~/types/cook/TCook';
    import TFilter from '~/types/filter/TFilter';
    import ListFilter from '~/components/filter/ListFilter.vue';
    import CookSearch from '~/components/search/CookSearch.vue';
    import DistanceFilter from '~/components/filter/DistanceFilter.vue';
    import CookCard from '~/components/cook/CookCard.vue';
    import { namespace } from 'vuex-class';
    import TMapMarker from '~/types/map/TMapMarker';
    import {buildQueryString, postJson} from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';
    import Debounce from '~/decorators/debounce';
    import {Placemark} from 'yandex-maps';
    import PlacemarkLayoutFactory from '~/partials/map/PlacemarkLayoutFactory';
    import BalloonLayoutFactory from '~/partials/map/BalloonLayoutFactory';

    const CooksStore = namespace('CooksStore');

    type TSearchSuggests = {
        suggests: {[key: string]: string};
        markers: {[key: string]: TMapMarker};
    }

    @Component({
        components: {CookCard, DistanceFilter, CookSearch, ListFilter},
    })
    export default class CooksMap extends Vue {
        @Prop({default: () => []}) items!: TMapMarker[];
        @Prop({default: () => []}) filter!: TFilter[];
        @Prop({default: () => []}) suggestText!: string;

        @Ref('mapDiv') mapDiv!: any;
        @Ref('cookCard') cookCard!: any;
        mapIsReady: boolean = false;
        map: any;
        mapCluster: any;
        mapPoints: {[key: number]: any} = {};
        currentCookId: number = 0;
        currentPointObject: any;

        // Работа со стором
        @CooksStore.State
        detailData!: TCookReference;
        @CooksStore.Action
        loadData!: (payload: number) => void;
        @CooksStore.Action
        setCookData!: (payload: TCook[]) => void;

        currentFilter: any = {};
        currentItems: TMapMarker[] = [];

        searchSuggests: TSearchSuggests = {
            suggests: {},
            markers: {},
        };
        searchValue: string = '';

        filterCache: {[key: string]: TMapMarker[]} = {};

        created() {
            this.currentItems = this.items;
            this.searchValue = this.suggestText;

            this.setFilterCache(window.location.search, this.items);

            // @ts-ignore
            window.addEventListener('popstate', () => {
                // todo выставление в фильтр значений из ссылки
                if (this.getFilterCache(window.location.search)) {
                    this.currentItems = this.getFilterCache(window.location.search);
                }
            });
        }

        mounted() {
            this.initYandexMapScript();
        }

        @Watch('searchValue')
        searchChanged() {
            if (this.searchValue.length === 0) {
                if (this.currentFilter.cook) {
                    this.applyFilter({});
                }
            } else {
                this.searchLoadSuggests(this.searchValue);
            }
        }

        @Watch('currentItems')
        updateMapPoints() {
            if (this.mapIsReady) {
                this.placeAllPoints();
            }
        }

        @Watch('detailData')
        detailDataLoaded() {
            if (this.mapIsReady && this.currentCookId && this.detailData[this.currentCookId] && this.currentPointObject) {
                this.updateBalloonContent();
            }
        }

        @Debounce({time: 300})
        async searchLoadSuggests(name: string) {
            if (!name.length || name.length < 3) {
                return;
            }

            const response = await postJson<TAjaxResponse>('/cooks/suggests', {name});

            if (response.success) {
                this.searchSuggests.suggests = response.data!.suggests as {[key: string]: string};
                this.searchSuggests.markers = response.data!.markers as {[key: string]: TMapMarker};
                this.setCookData(response.data!.cooks as TCook[]);
            }
        }

        onSelectSuggest(key: string) {
            if (!this.searchSuggests.markers[key]) return;

            this.$eventBus.$emit('reset-filter');

            const filterData = { cook: key };
            this.currentFilter = filterData;
            const queryString = buildQueryString(filterData);
            const queryStringFull = (queryString ? '?' + queryString : '');
            history.pushState(filterData, '', '/cooks' + queryStringFull);

            this.currentItems = [this.searchSuggests.markers[key]];
            this.setFilterCache(queryStringFull, [this.searchSuggests.markers[key]]);

            this.$nextTick(() => {
                const first = this.mapCluster.getGeoObjects()[0];
                if (first) {
                    first.balloon.open();

                    setTimeout(() => first.balloon.open(), 250); // Чтобы спозиционировать карту так, чтобы балун входил полностью
                }
            });
        }

        async resetFilter() {
            this.$eventBus.$emit('reset-filter');
            this.applyFilter({});
        }

        async applyFilter(filterData) {
            this.currentFilter = filterData;
            const queryString = buildQueryString(filterData);
            const queryStringFull = (queryString ? '?' + queryString : '');
            this.searchValue = '';

            history.pushState(filterData, '', '/cooks' + queryStringFull);

            if (this.getFilterCache(queryStringFull)) {
                this.currentItems = this.getFilterCache(queryStringFull);

            } else {
                const response = await postJson<TAjaxResponse>('/cooks/filter', filterData);

                if (response.success) {
                    const markers = response.data as TMapMarker[];
                    this.currentItems = markers;
                    this.setFilterCache(queryStringFull, markers);

                    document.querySelector('.js-total-count')!.innerHTML = markers.length.toString();
                }
            }
        }

        getFilterCache(queryString: string) {
            return this.filterCache[queryString];
        }

        setFilterCache(queryString: string, data: any) {
            this.filterCache[queryString] = data;
        }

        initYandexMapScript() {
            const js = document.createElement('script');
            js.type = 'text/javascript';
            js.addEventListener('load', () => {
                // @ts-ignore
                window.ymaps.ready(this.initYandexMap.bind(this));
            });

            js.src = '//api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=' + APP.yandexKey;
            document.body.appendChild(js);
        }

        initYandexMap() {
            this.mapIsReady = true;

            this.map = new window.ymaps.Map(this.mapDiv, {
                center: [55.75399399999374, 37.62209300000001],
                zoom: 7,
                controls: ['zoomControl', 'geolocationControl', 'fullscreenControl'],
            });

            this.placeAllPoints();
        }

        placeAllPoints() {
            if (!this.mapCluster) {
                this.mapCluster = new window.ymaps.Clusterer({
                    preset: 'islands#greenClusterIcons',
                });
                this.map.geoObjects.add(this.mapCluster);
            } else {
                this.mapCluster.removeAll();
            }

            const iconContentLayout = (new PlacemarkLayoutFactory()).create(window.ymaps);
            const balloonContentLayout = (new BalloonLayoutFactory()).create(window.ymaps);

            const points: Placemark[] = [];
            for (let i = 0; i < this.currentItems.length; i++) {
                if (!this.currentItems[i].map) continue;

                // Создание геообъекта с типом точка (метка).
                const point = new window.ymaps.Placemark(
                    this.currentItems[i].map,
                    {},
                    {
                        balloonLayout: balloonContentLayout,
                        iconLayout: iconContentLayout,
                    },
                );

                point.events.add('balloonopen', (e) => {
                    this.currentPointObject = e.get('target');
                    this.currentCookId = this.currentItems[i].id;
                    if (!this.detailData[this.currentItems[i].id]) {
                        this.currentPointObject.properties.set('balloonContent', '<div class="cook-loader"></div>');
                        this.loadData(this.currentItems[i].id);
                    } else {
                        this.updateBalloonContent();
                    }
                });

                point.events.add('balloonclose', () => {
                    this.currentPointObject = null;
                    this.currentCookId = 0;
                });

                points.push(point);
                this.mapPoints[this.currentItems[i].id] = point;
            }

            this.mapCluster.add(points);

            this.map.setBounds(this.map.geoObjects.getBounds(), {checkZoomRange:true, zoomMargin:9});
        }

        updateBalloonContent() {
            this.$nextTick(() => {
                this.currentPointObject.properties.set('balloonContent', this.cookCard.innerHTML);
                this.currentPointObject.balloon.open();
            });
        }
    }
</script>
