<template>
    <div class="cook-reviews">
        <div v-for="review in reviews" :key="review.id" class="cook-reviews__review">
            <div class="cook-reviews__review-top">
                <div class="cook-reviews__avatar">
                    <BackendImage class="cook-reviews__avatar-img" :image="review.user.avatar" alt="" />
                </div>
                <div class="cook-reviews__top-right">
                    <div class="cook-reviews__top-text">
                        <div class="cook-reviews__author">{{ review['user']['name'] }}</div>
                        <div class="cook-reviews__date">{{ review['date'] }}</div>
                    </div>
                    <div class="cook-reviews__top-rating">
                        <Rating :rating="review['rating']" />
                    </div>
                </div>
            </div>
            <div class="cook-reviews__content">
                {{ review['text'] }}
            </div>
        </div>

        <div v-if="loading || totalPages > page" class="cook-reviews__show-more">
            <button class="btn btn--grey" :disabled="loading" @click="showMore">Показать ещё</button>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';
    import TCookReview from '~/types/cook/TCookReview';
    import BackendImage from '~/components/BackendImage.vue';
    import Rating from '~/components/Rating.vue';
    import {getJson} from '~/helper/ajax';
    import {TAjaxResponse} from '~/types/TAjaxResponse';

    @Component({
        components: { BackendImage, Rating },
    })
    export default class CookReviews extends Vue {
        @Prop({default: []}) reviews!: TCookReview[];
        @Prop({default: 0}) totalPages!: number;
        @Prop({default: 0}) cookId!: number;

        page: number = 1;
        loading: boolean = false;

        async showMore() {
            this.loading = true;

            this.page++;
            const response = await getJson<TAjaxResponse>(`/cooks/${this.cookId}/reviews?page=${this.page}`);

            if (response && response.success) {
                this.loading = false;
                this.reviews = [...this.reviews, ...(response.data as TCookReview[])];
            }
        }
    }
</script>
