<template>
    <div class="cook-label"
         :class="{
             'cook-label--hidden-name': !showName,
             'cook-label--open': isOpen,
         }"
         :style="{'--item-color': item.color}">
        <div class="cook-label__icon">
            <BackendImage :image="item.icon" />
        </div>

        <div class="cook-label__name-wrap">
            <span class="cook-label__name">{{ item.name }}</span>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TCookLabel from '~/types/cook/TCookLabel';
    import BackendImage from '~/components/BackendImage.vue';

    @Component({
        components: {BackendImage},
    })
    export default class CookLabel extends Vue {
        @Prop({required: true}) item!: TCookLabel;
        @Prop({default: false}) showName!: boolean;

        isOpen: boolean = false;

        toggle() {
            this.isOpen = !this.isOpen;
        }
    }
</script>
