<template>
    <div v-if="!cook" class="cook-loader" />
    <div
        v-else
        class="cook-card"
        :class="{
            'cook-card--in-list': inList,
            'cook-card--on-detail': onDetail
        }"
        @dragstart="$emit('dragstart', $event)"
    >

        <CookLabels
            v-if="showLabels"
            :items="cook.labels"
            :show-name="onDetail"
            class="cook-card__labels"/>

        <ProductCookPhoto
            :image="cook.picture"
            :url="cook.url"
            :use-link="true"
            :use-button="false"
            class="cook-card__photo"
        />

        <div class="cook-card__location">
            <div class="cook-card__rating" v-if="cook.reviewsCount > 0">
                <Rating :avg-rating="cook.rating" :modifier="withBigRating ? 'big-text' : null" :show-number="true" :review-count="cook.reviewsCount" />
            </div>
            <ProductCookLocation :item="cook" class=""/>
        </div>

        <div class="cook-card__name"><a :href="cook.url" v-html="cook.name"/></div>

        <div class="cook-card__position" v-html="cook.position"/>

        <div class="cook-card__phone" v-if="phone">
            <SvgSymbol name="phone-no-fill" class="cook-card__address-symbol" />
            <a class="cook-card__address-value link"  :href="'tel:' + phone" v-html="phone"></a>
        </div>

        <div class="cook-card__address">
            <SvgSymbol name="location" class="cook-card__address-symbol" />
            <div class="cook-card__address-value" v-html="cook.address"></div>
        </div>

        <div class="cook-card__tags">
            <a
                v-for="(tag, index) in cook.tags"
                :key="index"
                :href="tag.url"
                class="btn btn--hover-dark-grenn btn--sm cook-card__tag"
            >
                <span class="btn__text" v-html="tag.name"></span>
            </a>
        </div>

        <span v-if="showProfileBtn" class="cook-card__detail-btn">
            <a :href="cook.url" class="btn">Перейти в&nbsp;профиль</a>
        </span>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TCook, TCookReference} from '~/types/cook/TCook';
    import ProductCookPhoto from '~/components/product/ProductCookPhoto.vue';
    import ProductCookLocation from '~/components/product/ProductCookLocation.vue';
    import CookLabels from '~/components/cook/CookLabels.vue';
    import { namespace } from 'vuex-class';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import Rating from '~/components/Rating.vue';

    const CooksStore = namespace('CooksStore');

    @Component({
        components: {CookLabels, ProductCookLocation, ProductCookPhoto, SvgSymbol, Rating},
    })
    export default class CookCard extends Vue {
        @Prop({required: true}) cook!: TCook;
        @Prop({default: false}) phone!: number;
        // @Prop({required: true}) id!: number;
        @Prop({default: false}) inList!: boolean;
        @Prop({default: false}) onDetail!: boolean;
        @Prop({default: false}) showProfileBtn!: boolean;
        @Prop({default: false}) withBigRating!: boolean;

        // Работа со стором
        @CooksStore.State
        detailData!: TCookReference;
        @CooksStore.Action
        loadData!: (payload: number) => void;

        get showLabels() {
            if (!this.cook || !this.cook.labels || this.cook.labels.length === 0) return false;

            return this.inList || this.onDetail;
        }
    }
</script>
