<template>
    <div class="cook-info" :class="{'cook-info--profile': isProfile}">
        <div v-if="!isProfile" class="cook-info__avatar-wrap">
            <div class="cook-info__avatar">
                <BackendImage :image="cookData.avatar" />
            </div>
            <div class="cook-info__labels">
                <CookLabels class="cook-info__labels-list" :items="cookData.labels" :show-name="true" />
            </div>
        </div>

        <div v-if="!isProfile" class="cook-info__name">
            <h4 class="h4 cook-info__name-header">{{ cookData.name }}</h4>
            <Rating :avg-rating="cookData.rating" :show-number="true" :review-count="reviewCountText" />
        </div>

        <div class="cook-info__tags">
            <div class="cook-info__tags-label">Категории блюд</div>
            <a v-for="tag in cookData.categories"
               :key="tag.id"
               :href="tag.link"
               class="cook-info__tag btn btn--clear btn--sm"
            >
                <span class="btn__text" v-html="tag.name" />
            </a>
        </div>

        <div class="cook-info__about">
            <h4 class="h4 cook-info__about-label">О себе</h4>
            <div>{{ cookData.about }}</div>
        </div>

        <div class="cook-info__info">
            <div v-if="cookData.address" class="cook-info__info-item">
                <div class="cook-info__info-label">Адрес</div>
                <div class="cook-info__info-value">
                    <SvgSymbol name="location" />
                    <span v-html="cookData.address" />
                </div>
            </div>
            <div v-if="cookData.speciality" class="cook-info__info-item" >
                <div class="cook-info__info-label">Специализация</div>
                <div class="cook-info__info-value">{{ cookData.speciality }}</div>
            </div>
            <div v-if="cookData.experience" class="cook-info__info-item">
                <div class="cook-info__info-label">Сколько лет в деле</div>
                <div class="cook-info__info-value">{{ cookData.experience }}</div>
            </div>
            <div v-if="cookData.registerDate" class="cook-info__info-item">
                <div class="cook-info__info-label">Дата регистрации</div>
                <div class="cook-info__info-value">{{ cookData.registerDate }}</div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import TCookProfile from '~/types/cook/TCookProfile';
    import BackendImage from '~/components/BackendImage.vue';
    import CookLabels from '~/components/cook/CookLabels.vue';
    import SvgSymbol from '~/components/SvgSymbol.vue';
    import Rating from '~/components/Rating.vue';
    import {wordForm} from '~/helper/common';

    @Component({
        components: {SvgSymbol, CookLabels, BackendImage, Rating},
    })
    export default class CookInfo extends Vue {
        @Prop({default: {}}) cookData!: TCookProfile;
        @Prop({default: false}) isProfile!: boolean;

        get reviewCountText(): string {
            return this.cookData.reviewsCount + ' отзыв' + wordForm(this.cookData.reviewsCount, ['', 'а', 'ов']);
        }
    }
</script>
