<template>
    <div class="product-card-cook">
        <ProductCookPhoto v-if="item.picture" :image="item.picture" :url="item.url" class="product-card-cook__photo" :use-link="true" />

        <div class="product-card-cook__name-wrap">
            <div class="product-card-cook__name">
                <a :href="item.url"
                   class="link"
                   v-html="item.name"
                   @dragstart="$emit('dragstart', $event)"></a>
            </div>

            <ProductCookLocation v-if="item.distance" :item="item" class="product-card-cook__location" />

            <div v-if="item.reviewsCount > 0">
                <Rating :avg-rating="item.rating" :show-number="true" :review-count="item.reviewsCount" />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import ProductCookPhoto from '~/components/product/ProductCookPhoto.vue';
    import ProductCookLocation from '~/components/product/ProductCookLocation.vue';
    import {TProductCook} from '~/types/cook/TProductCook';
    import Rating from '~/components/Rating.vue';

    @Component({
        components: {ProductCookLocation, ProductCookPhoto, Rating},
    })
    export default class ProductCardCook extends Vue {
        @Prop({required: true}) item!: TProductCook;
    }
</script>
