@import "../../_var";

// содержимое кнопки нужно оборачивать в .btn__text, .btn__icon или иную обёртку с z-index > 1
.btn {
    --btn-bg-color: @cGreen;
    --btn-border-color: @cGreen;
    --btn-color: @cWhite;

    --btn-hover-bg-color: @cWhite;
    --btn-hover-border-color: @cGreen;
    --btn-hover-color: @cGreen;

    --btn-disabled-bg-color: @cBgGrey;
    --btn-disabled-border-color: @cBgGrey;
    --btn-disabled-color: @cWhite;

    --btn-border-width: 1px;
    --btn-border-radius: 100px;
    --btn-height: 46px;
    --btn-icon-gap: 10px;

    .clear-link();
    .clear-button();
    .transit(~'opacity, border-color, background-color, color');
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: var(--btn-bg-color);
    border: var(--btn-border-width) solid var(--btn-border-color);
    color: var(--btn-color);
    height: var(--btn-height);
    border-radius: var(--btn-border-radius);
    padding: 0 19px 4px;
    overflow: hidden;
    font: 600 var(--fs16) @font;
    white-space: nowrap;
    text-align: center;
    user-select: none;
    flex-shrink: 0;

    // fix на сафари криво отрабатывал overflow:hidden, у кнопок по ховеру были квадратные края
    transform: translateZ(0);
    backface-visibility: hidden;

    .hover({
        color: var(--btn-hover-color);
        border-color: var(--btn-hover-border-color);
        background-color: var(--btn-hover-bg-color);
    });

    &--loading {
        opacity: 0.5 !important;
    }

    &__text + &__icon,
    &__icon + &__text {
        margin-left: var(--btn-icon-gap);
    }

    // Модификаторы стейта
    &--disabled,
    &:disabled,
    &.slick-disabled {
        pointer-events: none;
        color: var(--btn-disabled-color);
        border-color: var(--btn-disabled-border-color);
        background-color: var(--btn-disabled-bg-color);
    }

    // Модификаторы цвета
    &--clear,
    &--clear-white {
        --btn-disabled-bg-color: transparent;
        --btn-disabled-border-color: @cBgGrey;
        --btn-disabled-color: @cBgGrey;
    }

    &--clear {
        --btn-bg-color: transparent;
        --btn-border-color: @cGreen;
        --btn-color: @cGreen;

        --btn-hover-bg-color: @cGreen;
        --btn-hover-border-color: @cGreen;
        --btn-hover-color: @cWhite;
    }

    &--clear-white {
        --btn-bg-color: transparent;
        --btn-border-color: @cWhite;
        --btn-color: @cWhite;

        --btn-hover-bg-color: @cWhite;
        --btn-hover-border-color: @cWhite;
        --btn-hover-color: @cGreen;
    }

    &--grey {
        --btn-bg-color: @cBgWhite;
        --btn-border-color: @cBordersGrey;
        --btn-color: @cTextBlack;

        --btn-hover-bg-color: @cGreen;
        --btn-hover-border-color: @cGreen;
        --btn-hover-color: @cWhite;
    }

    &--white {
        --btn-bg-color: @cWhite;
        --btn-border-color: @cWhite;
        --btn-color: @cGreen;

        --btn-hover-bg-color: @cGreen;
        --btn-hover-border-color: @cWhite;
        --btn-hover-color: @cWhite;
    }

    &--hover-dark-grenn {
        --btn-hover-color: @cWhite;
        --btn-hover-border-color: @cDarkGreen;
        --btn-hover-bg-color: @cDarkGreen;
    }

    // Кнопка меню в шапке
    &--menu {
        .size(42px);
        padding: 0;
    }

    // Стрелки в слайдерах
    &--arrow {
        .size(var(--arrow-size));
        padding: 0;
    }

    // Модификаторы размера
    &--sm {
        --btn-height: 26px;
        padding: 0 10px;
        font: 400 var(--fs12) @font;
    }

    &--lg {
        --btn-height: 54px;
        --btn-border-width: 2px;
        padding: 0 40px;
        font: 700 var(--fs20) @font;
    }

    // Кнопка обратной связи
    &--feedback {
        .size(100px);
        flex-direction: column;
        padding: 10px;
        font: 600 var(--fs12)/1.2 @font;
        white-space: normal;

        svg {
            stroke-width: 2px;
        }

        .btn {
            &__text {
                margin-left: 0 !important;
                margin-top: 6px;
            }
        }

        @media @mediaLg {
            .size(78px);
            font-size: 10px;
        }

        @media @mediaMobile {
            // Полностью скрывается на мобилке и появляется в другом месте (в панели меню)
            display: none;
        }
    }

    // Кнопка обратной связи в меню на мобилке
    &--feedback-menu {
        --btn-border-color: @cWhite;
        --btn-border-width: 2px;

        display: none;
        .size(42px);
        padding: 5px;
        margin-left: var(--m10);

        svg {
            .size(100%);
            margin-left: -10%;
        }

        @media @mediaMobile {
            display: block;
        }
    }

    // Кнопка "Наверх"
    &--scroll-up {
        .size(78px);
        padding: 0;

        @media @mediaMobile {
            .size(42px);
        }
    }

    // Кнопки в поле выбора количества
    &--counter {
        .size(24px);
        padding: 0;
    }


    // Теги
    &--tag {
        --btn-bg-color: @cWhite;
        --btn-border-color: @cBordersGrey;
        --btn-color: @cGreen;

        --btn-hover-bg-color: @cGreen;
        --btn-hover-border-color: @cGreen;
        --btn-hover-color: @cWhite;
    }

    // Helpers
    &--hidden {
        pointer-events: none !important;
        opacity: 0 !important;
    }

    &--static {
        pointer-events: none;
    }
}
