@import "../../_var";

.circle-dots {
    --slider-dots-bg: @cTextGrey;
    --primary-color: @cGreen;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--m40) auto 0;
    height: 10px;

    &__dot {
        .size(6px);
        .transit(~'background, width, height, margin');
        position: relative;
        margin: 0 10px;
        background: var(--slider-dots-bg);
        border-radius: 50%;
        padding: 0;
        flex-shrink: 0;
        border: none;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        &--active {
            background: var(--primary-color);
        }

        &--bold {
            .size(10px);
        }

        &:not(.circle-dots__dot--sibling) {
            .size(0);
            margin: 0;
        }

        .hover({
            background: var(--primary-color);
        }, {
            background: var(--primary-color);
        });
    }

    @media @mediaDesktop {
        display: none;
    }
}
