@import "../../_var";

.custom-scrollbar {
    --scrollbar-track-color: @cWhite;
    --scrollbar-thumb-color: @cGreen;
    --scrollbar-size: 4px;
    --scrollbar-size-ff: thin;
    --scrollbar-gap: 0px;

    -webkit-overflow-scrolling: touch; // добавляет скроллу инертность

    // FF
    //noinspection CssUnknownProperty
    scrollbar-width: var(--scrollbar-size-ff);
    //noinspection CssUnknownProperty
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);

    // Chrome
    &::-webkit-scrollbar {
        .size(calc(var(--scrollbar-size) + 2 * var(--scrollbar-gap)));
        cursor: default;
    }

    &::-webkit-scrollbar-button {
        .size(0);
    }

    &::-webkit-scrollbar-thumb {
        border: var(--scrollbar-gap) solid var(--scrollbar-track-color);
        background-clip: padding-box;
        border-radius: 2px;

        &, &:hover, &:active {
            background: var(--scrollbar-thumb-color);
        }
    }

    &::-webkit-scrollbar-track {
        border: none;

        &, &:hover, &:active {
            background: var(--scrollbar-track-color);
        }
    }

    &::-webkit-scrollbar-track-piece {
        background: var(--scrollbar-track-color);
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

// вынесено отдельно, чтобы extend у body не захватывал эти стили
.custom-scrollbar--hidden {
    --scrollbar-track-color: transparent;
    --scrollbar-thumb-color: transparent;
    --scrollbar-size: 0;
    ----scrollbar-size-ff: none;

    //noinspection CssUnknownProperty
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        .size(0);
    }
}

.custom-scrollbar--green {
    --scrollbar-track-color: @cGreen;
    --scrollbar-thumb-color: @cWhite;
}
