@import "../../_var";

.label {
    display: inline-block;
    background: @cBgGrey;
    border-radius: @borderRadius;
    padding: 4px 10px;
    font: 700 var(--fs14)/var(--lh14) @font;

    &--light-green {
        background-color: @cLightGreen;
    }
}
