@import "../../_var";

.menu-icon {
    --menu-icon-width: 16px;
    --menu-icon-height: 10px;
    --menu-icon-line-width: 2px;

    .clear-link();
    .size(var(--menu-icon-width), var(--menu-icon-height));
    .transit(~'opacity, color');
    display: block;
    position: relative;
    z-index: 2;
    transform: translateZ(0);

    i {
        .size(var(--menu-icon-width), var(--menu-icon-line-width));
        .transit(transform);
        position: absolute;
        top: calc(50% - var(--menu-icon-line-width)/2);
        left: 0;
        display: block;
        background: currentColor;
        border-radius: 1px;
        will-change: transform;

        &:nth-child(1) {
            transform: translateY(calc(-.5 * var(--menu-icon-height)));
        }

        &:nth-child(3) {
            transform: translateY(calc(.5 * var(--menu-icon-height)));
        }
    }

    &--cross {
        i {
            &:nth-child(1) {
                transform: rotate(45deg) scale(1.4);
            }

            &:nth-child(2) {
                transform: scale(0);
            }

            &:nth-child(3) {
                transform: rotate(-45deg) scale(1.4);
            }
        }
    }
}
