@import "../../_var";

.plus,
.minus {
    --sign-line-width: 2px;

    .size(14px);
    position: relative;

    &:before,
    &:after {
        .pseudo();
        .size(100%, var(--sign-line-width));
        top: calc(50% - 1px);
        left: 0;
        background: currentColor;
        border-radius: 2px;
    }
}

.plus {
    &:before {
        transform: rotate(90deg);
    }
}

.minus {
    &:before {
        display: none;
    }
}
