@import "../../_var";

.slider-arrows {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(2, max-content);

    &--large {
        justify-content: space-between;
    }

    @media @mediaXs {
        grid-gap: var(--m10);
    }
}
