@import "../../_var";

.symbol {
    display: block;
    fill: currentColor;
    flex-shrink: 0;

    &-phone,
    &-feedback {
        fill: transparent;
        stroke: currentColor;
        stroke-width: 2px;
    }

    &-password {
        fill-rule: evenodd;
        clip-rule: evenodd;
    }
}


